[2021-07-21 15:15] #1311 closed

[2021-07-21 23:43] swcurran commented on #1313
Ah -- I've never heard of that before, and when you mentioned it, I thought it was in a custom resolver.  When did that get added to the universal resolver and for what purpose?

So you are saying that in the did:sov, I need to add an additional service back that is identical to what is there for "endpoint", but:

- uses "profile" instead of "endpoint",
- adds "/profile.jsonld" to the end of the A

[2021-07-22 05:32] Marco77577 opened #1328 "Can I Force Wallet to Construct Proof from a Single Credential?"
The Trinsic wallet allows to construct proofs from attributes of multiple credentials.

For example, if I have two credentials for parking, one from yesterday, valid 10 hours, and one from today, valid 2 hours, I could construct a proof containing today's date (attribute from the second credential), but being valid 10 hours (attribute from first credential). Of course, this is not how it's suppose

[2021-07-22 06:09] domwoe commented on #1313
The endpoint ATTRIB can be a (stringified) object. In the example above the ATTRIB data is the following
[code]
The did-sov driver will map all entries in the endpoint object to services. This allows to add additional service endpoints, if no custom properties are required.

[2021-07-22 11:49] michaelwiles opened #1329 "No OperationId's in the openapi.json"
So I'm generating client stubs with [openapi generator](https://github.com/OpenAPITools/openapi-generator) from the [openapi.json](https://github.com/hyperledger/aries-cloudagent-python/blob/main/open-api/openapi.json)...

But when doing that I discovered there are no operationId's in the file.

This means my methods that are generated are quite clumsily named.

Is this file generated? if so can t

[2021-07-22 12:36] #1312 closed

[2021-07-22 15:38] swcurran commented on #1329
@jcourt562 -- please weigh in here on what is best to be done. I know you are looking at this same issue.

[2021-07-22 15:43] esune commented on #1328
@Marco77577 when you generate the proof-request you would group the names of the attributes that must come from the same credential together using the `names` array, rather than the `name` property. Example:
[code]

This is standard Indy behaviour, I believe.

[2021-07-22 15:50] esune commented on #1326
The answer provided by @phearaeun is correct, thank you! 👍🏻

If there are other questions please feel free to reopen the issue.

[2021-07-22 15:50] #1326 closed

[2021-07-22 15:52] esune commented on #1279
Closing due to inactivity, please reopen if necessary.

[2021-07-22 15:52] #1279 closed

[2021-07-22 15:57] esune commented on #1321
@santidediego you need to provide `both` headers for the `Bearer` token for the subwallet **AND** the `api-key` for the main wallet when executing requests to a tenant. This is a bit misleading in my opinion, @TimoGlastra might have additional insight on why this is required, rather than only using the bearer token for the tenant.

[2021-07-22 15:58] esune commented on #1243
Closing due to inactivity. Please reopen if deemed necessary.

[2021-07-22 15:58] #1243 closed

[2021-07-22 15:59] esune commented on #1288
@afrancoc2000,  @ianco can you please confirm we can close this issue, since #1289 was merged?

[2021-07-22 16:21] ianco commented on #1288
Closing this issue, please open a new issue if there are any further problems

[2021-07-22 16:21] #1288 closed

[2021-07-22 19:18] dbluhm opened #1330 "Cannot specify inbound transport through environment variable"
At present, I don't think it is possible to specify `--inbound-transport` through the accompanying environment variable `ACAPY_INBOUND_TRANSPORT`. This stems from this argument being both an "append" and "nargs > 1" argument. The ConfigArgParse library does not accept a list of lists at the current version in use by ACA-Py or in the most recent release (1.5.1 at the time of writing).

I have a PR

[2021-07-22 21:23] jcourt562 commented on #1329
So I noticed operation Ids were never included in the output from ACA-py but never raised it because I thought it was intentional.

For my part I went the way of writing a simple TS utility that allows the merging of OperationIds into the openapi.json file prior to doing the codegen step if people wanted to go that way, the Typescript SDK we release provides this utility.

I think if you provide o

[2021-07-22 21:49] jcourt562 commented on #1329
So I should also comment on the `generated` question.  The openapi.json file is generated by the scripts/generate-open-api-spec utility.  However this is not automatically done on each build.  This was originally created so that differences in APIs could be seen before people committed changes or performed releases.  At that point there were issues around random ordering of parameters etc that wer

[2021-07-22 22:01] swcurran commented on #1329
@jcourt562 -- there is good content here, but I'm thinking it will get lost in this issue.  How about adding a "UsingOpenAPI.md" (or something like that) document is this, where you capture the ideas in here and experience you are having, to help others?

[2021-07-22 22:03] jcourt562 commented on #1329
I can do that.  Let me get the 0.7.0 generation off my plate and I will open a PR.

[2021-07-23 06:41] michaelwiles commented on #1329
Thanks all...

@jcourt562 I am generating python bindings via a new openapi generator - when I saw the "weird" methods that were being generated is when I noticed the operationId's are not present.

Best case is that these operationId's can be added to the code so that they're embedded and are thus not generated and don't have to be manually added - though I suspect [aiohttp-apispec](https://aioht

[2021-07-23 06:50] jcourt562 commented on #1329
@michaelwiles I would still suggest you automate this to some extent.  Take a look at the merge Typescript utility at https://github.com/sudoplatform-labs/sudo-di-cloud-agent-js/blob/main/src/operationids-merge.ts and https://github.com/sudoplatform-labs/sudo-di-cloud-agent-js/blob/main/src/operationids-merge.ts

Hopefully you would be able to use those as is if you have node installed or create a

[2021-07-23 12:43] santidediego commented on #1321
Do you mean even if you are not using `api-key` for the API? In my case I am doing the testing with an unprotected API, so I was only using the token for the subwallets.

I was indeed able to run the demo controller with multitenancy, the issue only happens with the OpenAPIDemo

[2021-07-23 16:11] esune commented on #1321
Sorry, I missed that detail. No, if you don't have an api-key set for the agent you should not need to specify one. I will have to check the behaviour locally as all of the instances we use are generally api-key protected.

[2021-07-23 21:47] afrancoc2000 commented on #1288
Confirmed :)

[2021-07-25 15:48] docmanni opened #1332 "Error in present-proof-2.0/records/{pres_ex_id}/send-request"
When trying out the v2.0 version of present-proof, I have successfully sent a proposal (/present-proof-2.0/send-proposal) as prover, and want to send a cred request on the verifier side by using present-proof-2.0/records/{pres_ex_id}/send-request. This throws an error in the agent of the verifier:

[code]

When looking at the code, I see that request_data is not being set when the chain of method

[2021-07-25 16:00] swcurran commented on #1332
I think the issue is that verifier must assemble the presentation request itself -- the one from the proposal is not used automatically. as part of the request.  That sounds like what you have found in the code.

We can dig further if needed, but please try that.

[2021-07-25 19:00] docmanni commented on #1332
Thanks for your very fast help! This indeed worked. Does this mean that the API command .../{pres_ex_id}/send-request should not be used? If so, does that lead to a "dangling" proposal if the prover initiates the whole presentation process?

[2021-07-25 19:12] swcurran commented on #1332
No -- that should be used.  The proposal is used for two things:

- for the holder to initiate a presentation exchange
- for the holder to provide a counter proposal to the request from the verifier (e.g. "You asked for a BBS+ credential, but I have an Indy AnonCreds one"

In both cases, the verifier should send construct and send the request that it means to send -- it should not just pass on wha

[2021-07-25 19:28] swcurran opened #1333 "Review the demo for the defaults set when AIP 20 is used"
When `run_demo --aip 20` is used some options seem to be missing, including at least the following.  Please review all the options and adjust them as needed.

- `use_did_exchange` (aka `--did-exchange`) should be `true`
- the new style message type (using `https://didcomm.org`) should be used, not the old `did:sov:...`

Those I found to be missing.  Other things that should be set:

- use the V2 C

[2021-07-25 19:38] swcurran commented on #1333
Likewise, if the user selects `--aip 10`, we should set the AIP 1.0 options:

- `use_did_exchange` should be `false`
- we should not use the new style message type prefix (although that is arguable)
- use the V1 Credential Exchange protocols (RFC 0036/0037)

There might be others, but good enough for now.

It would be nice in the usage to show the allowed (or at least the format) options for AIP -

[2021-07-25 22:03] docmanni commented on #1332
Ok, now I understand! Again, many thanks for your help, much appreciated! I will close the thread as I consider it solved.

[2021-07-25 22:03] #1332 closed

[2021-07-26 07:36] Marco77577 commented on #1328
Indeed, this works like a charm. Thank you very much.

Are all possible arguments to the REST API documented somewhere? I could not find the option to do it this way anywhere.

[2021-07-26 15:25] esune commented on #1328
I think the documentation on this end is a bit lacking - to my knowledge. I'll have to refer you to @swcurran about this.

[2021-07-26 15:38] ianco commented on #1328
The documentation about the Indy proof request will be in the indy-sdk repository somewhere (https://github.com/hyperledger/indy-sdk)

[2021-07-26 15:49] esune commented on #1328
Thanks @ianco

I am going to close the issue since it should now be resolved, please feel free to reopen if deemed appropriate.

[2021-07-26 15:49] #1328 closed

[2021-07-26 21:05] swcurran commented on #1328
I think the request is for documentation about the ACA-Py Admin API itself.  The best is the OpenAPI file that is generated from ACA-Py.  That said, some of the arguments to the Admin API calls are data structures from other components (like Indy AnonCreds) and for those, you have to look at those projects for the documentation.

Anyway -- hopefully you found what you need.

[2021-07-27 06:33] Marco77577 commented on #1328
I found it with your help, thank you.

However, the Swagger interface just lists an "example" JSON body. This example body does not show all options that can be set. It is somewhat difficult to look for all the options, if you don't even know if they are (already) present.

[2021-07-27 23:11] swcurran opened #1335 "Evaluate effort to support WACI/PEX using ACA-Py"
In theory, much of what is needed to support WACI/PEX already exists in ACA-Py:

- DIDComm 2 envelopes
- Aries Out of Band Protocol (I think)
- Present Proof V2 Aries Protocol
- BBS+ verifiable credentials
- DIF Presentation Exchange

In theory, the only missing component is an implementation of the pre-1.0 version of the DIDComm protocol -- between the DIDComm envelope and the Aries protocols.

T

[2021-07-28 19:25] #1327 closed

[2021-07-29 12:17] Rounak210 opened #1336 "Issue while sending credential to mobile wallet"
![image](https://user-images.githubusercontent.com/85231262/127489555-90a527a1-be55-4ad7-a9e2-a9d79ca8e5a1.png)

Issue while executing /connections/send-offer/

[2021-07-29 15:04] phearaeun opened #1337 "Reconnect to mediator never receives `granted` status"
I observed that the agent is always able to get `granted` status for the first invitation. If we try to reconnect with a new invitation, we never get `granted` status from the mediator.

What is the best practice for reconnecting to mediator?

[2021-07-29 16:12] swcurran commented on #1337
@burdettadam @dbluhm ^^^^  Thoughts on this?

[2021-07-29 18:22] esune commented on #1336
That error is a failed delivery of a webhook for a connection. Is `http://dev-proof-of-account-service:8081/webhooks/topics/connections/` able to receive POST requests (in particular from the agent service)?

[2021-07-29 18:59] tomaaron opened #1338 "Provision with existing empty database"
Hello,

is there any way to provision into an existing empty database? I've been trying to wrap my head around this for quiet some time because it isn't always the case that you're granted superuser for the DBMS. Any help would be appreciated!

[2021-07-29 19:24] ianco commented on #1338
This should work with the latest aca-py release, if you use the published docker image:

https://hub.docker.com/layers/bcgovimages/aries-cloudagent/py36-1.16-1_0.7.0/images/sha256-8bd108e69eecb3a758d02e6dca79a020f5239ebb79c0c7607c5de2c2401de1b2?context=explore

This includes updates to the indy-sdk postgres driver to allow this exact requirement.

[2021-07-30 06:50] icc-vela commented on #1192
Dear @swcurran @esune

Apologies for the lateness, I have been on holidays. I have tested the new image (not the RC but the final version as I saw it was already out) with the current database and the common tasks have dramatically improved:

bcgovimages/aries-cloudagent:py36-1.15-0_0.5.2
[code]

bcgovimages/aries-cloudagent:py36-1.16-1_0.7.0
[code]

I am closing the issue as with this new image t

[2021-07-30 06:50] #1192 closed

[2021-07-30 15:37] swcurran commented on #1192
Excellent!  Thanks for the follow up.

Well done, @andrewwhitehead !!

[2021-07-30 18:22] Rounak210 opened #1340 "How to get Credential_revocation_id"
I am setting up revocation_registry in my Aca-Py. Can anyone please tell me, how to fetch credential_revocation_id?? while executing credential-revocation.

POST /issue-credential/revoke?rev_reg_id=<revocation_registry_id>
     &cred_rev_id=<credential_revocation_id>&publish=<true|false>

[2021-07-30 18:49] swcurran commented on #1340
Generally, you have to collect it when you issue the credential. You should then save it in whatever database you are linking the issued credential to the entity to whom you issued the credential.

[2021-08-02 06:08] jcourt562 commented on #1329
@michaelwiles there is now a "UsingOpenAPI.md" in the repo.  If this is satisfactory could you close this issue as I don't have permissions to do so but the issue creator would have.

[2021-08-02 06:48] #1329 closed

[2021-08-02 07:58] tomaaron commented on #1338
Can confirm this worked! Thank you.

[2021-08-02 11:42] tomaaron commented on #1338
I'm sorry can't confirm that it's working. The user needs to permission for CREATE DB ;(

[2021-08-02 12:00] Rounak210 commented on #1340
@swcurran , There are no parameter with "Cred_rev_id" while issuing credential. Are you talking about "revocation_id" ?? .Kidnly have a look once. Thanks!!

![image](https://user-images.githubusercontent.com/85231262/127858542-4fcf2ca4-9e9f-4c9b-880f-d16c270fc377.png)

[2021-08-02 13:23] ianco commented on #1338
Can you provide some information about what you have done?  How did you create the database and what startup parameters are you providing to aca-py?

[2021-08-02 15:02] Rounak210 commented on #1340
![image](https://user-images.githubusercontent.com/85231262/127882395-e190d07c-8576-43b7-8f1c-d09cc99244f0.png)
Thanks for the help, I think revocation_id is the cred_rev_id.

[2021-08-03 07:54] vitalrev commented on #977
implemented from andrewwhitehead so that trust_env is every time true

[2021-08-03 07:54] #977 closed

[2021-08-03 08:09] vitalrev opened #1341 "Support setting ZMQ socks proxy"
Both libraries (indy-sdk and indy-vdr) are prepared to configure the ZMQ socks proxy.

Support setting and handling ZMQ socks_proxy in **INDY-VDR**:
Issue (open): https://github.com/hyperledger/indy-vdr/issues/62
Pull Request (in review): https://github.com/hyperledger/indy-vdr/pull/63

Support setting and handling ZMQ socks_proxy in **INDY-SDK**:
Issue (just closed): https://github.com/hyperledge

[2021-08-03 12:45] DineshRajj commented on #488
Hi @naman20sharma I am also facing the same issue where exactly I have to add the agent name in the code? Any hints?

Thanks in Advance

[2021-08-03 14:33] swcurran commented on #1340
Good stuff.  You have to keep both the "cred_rev_id" and "rev_reg_id" and provide them at revocation time. Unfortunate that the name of the field varies in the usage...  :-(

[2021-08-03 14:33] #1340 closed

[2021-08-04 17:38] dbluhm commented on #1337
@phearaeun could you clarify what you mean by "reconnecting" to the mediator? After you've established a connection with the mediator and requested mediation and received it, that agent does not need to "reconnect" at least in the DIDComm sense. If the mediation clients (the agents granted mediation) are cloud agents and have an endpoint accessible to at least the mediator, the mediator will immed

[2021-08-05 07:56] vitalrev commented on #1341
implemented

[2021-08-05 07:56] #1341 closed

[2021-08-05 08:58] srbms23 opened #1343 "Change webhook state once connection is created ?"
Currently I am using agent together with Webhooks. What I have noticed is that "state" that is part of the JSON that is sent to the Webhook URL is not changed once new connection is created. It is done only after I use that Connection_id to, for example, Issue credential, send Proof Request or something similar. I tried to create connection using lissi, trinsic, esatus wallets but it is always the

[2021-08-05 12:08] JovanShandro opened #1344 "Multi-tenancy mode: wallets are not recreated upon restart when using postgres storage"
Hello! Sorry if this has already been asked but I couldn't find anything on it.

I am trying to start a multi tenant agent and also use postgres for storing the wallets. The command I am using to start the agent is:

[code]

Every functionality works fine as I have tried creating multiple wallets, create connections between them etc. In the postgres database one database is created per wallet, how

[2021-08-05 14:06] phearaeun commented on #1337
In dev mode, after the service restarted, I have to connect the agent to the mediator again. Every new request will never receive granted status as the first request.

Yes, I agree with this but if we accidentally connect to the mediator again, we can't receive the granted status from the new request. My solution now is to check first if the agent already connected to the mediator, we don't connec

[2021-08-05 16:59] swcurran commented on #1344
Heads up on this -- @TimoGlastra @dbluhm

@shaangill025 -- when you are back online, could you please take a look at this and see if you can spot anything?  Thanks!

[2021-08-05 17:15] swcurran commented on #1343
The issue is you get the state of the webhook at the time the webhook is fired, and so it is active. Unfortunately, the connection protocol (RFC 0160) that is used by AIP 1.0 and the web wallets are talking about, and it does not automatically move the state to active until it is used.  This rectified in the did-exchange protocols (RFC 0023) (which is basically connections V2), but that doesn't he

[2021-08-05 17:17] esune commented on #1344
@JovanShandro we are using the multi-tenant wallet and postgres without issues in [aries-vcr-issuer-agency](https://github.com/bcgov/aries-vcr-issuer-agency). You can see the startup parameters we use in [this docker-compose](https://github.com/bcgov/aries-vcr-issuer-agency/blob/main/docker/docker-compose.yml#L5-L35): at first glimpse other than needing the `--auto-provision` flag you also seem to

[2021-08-06 07:50] JovanShandro commented on #1344
@esune Thank you! Just adding the missing flags worked!

[2021-08-06 07:50] #1344 closed

[2021-08-06 12:13] srbms23 commented on #1343
Hi @swcurran ,
I am using `--auto-accept`. I can try without it but I am not sure that I understand your idea completely. Want is meant with "then have the controller send the "response" message (after the request), so you at least know the user has accepted the invitation" because in my case I have Wallet and Agent with a controller? Do you mean that I show QR code with invitation url, scan it wi

[2021-08-06 12:19] dbluhm commented on #1330
My PR has been merged so this is now just awaiting a release with the fix.

[2021-08-06 12:24] Rounak210 opened #1345 "Consensus is Impossible Error"
![image](https://user-images.githubusercontent.com/85231262/128509439-e897c51a-d439-443f-9e61-75e0bc4bb3d2.png)
Can anyone provide any feedback regarding this error?. I am using ACA-Py version 1.16-0_0.6.0 .
@swcurran can you please look into this issue once.??
Getting this error while issuing credential. Any help would be appreciated. Thanks!!.

[2021-08-06 12:52] swcurran commented on #1343
The problem you are having is that there is no event/webhook at the inviter side to say "the connection is active".

This is a problem in the protocol defined in RFC 0160 that unfortunately cannot be changed.  So since you are stuck with RFC 0160 (and you are -- it's what the mobile agents are using until AIP 2.0 gets deployed), you get no events on the inviter side after the inviter sends the "re

[2021-08-07 09:40] mloepfe opened #1346 "Problems with TAA acceptance handling"
I'm just implementing the TAA acceptance handling in an acapy controller (Django Web App).

I found some problems in how acapy is handling the acceptance:

1.) there is no proper input validation of the json body in the "ledger_accept_taa()" function. If the Input json body does not contain the expected three values (version, text, mechanism) an exception will be raised which results in an 500 Ser

[2021-08-09 15:41] swcurran commented on #1346
Yup...those are all reasonable complaints.  I assume if 2 is accepted with bad data, you get an error when do actually go to write to the ledger?

A PR would be great :-)

[2021-08-10 08:00] mloepfe commented on #1346
Ok, I try to get a dev env for acapy  up and running and implement some unit tests and fixes.

[2021-08-11 11:11] MaticDiba opened #1349 "Multitenancy with a single database and multiple profiles"
We are trying to use ACA-Py with multitenancy enabled (using Askar with Postgres for storage). The current implementation of multitenancy is limiting for our use case because it creates a new database for each tenant agent. This is problematic with a growing number of possible tenants.

We need a solution where each tenant wallet could be stored in the same database. One approach would be to enabl

[2021-08-11 15:42] #1337 closed

[2021-08-12 16:32] phearaeun opened #1351 "Can not create schema and cred def with multitenancy"
I am trying to create schema and cred def with multitenancy but I receive only `Unauthorized`.
I also tried to create default sub wallet to get the token so that I can submit schema and create cred def for the next purpose but I received the following:

[code]
Error: cannot submit schema without public did.

Any help is appreciated!

[2021-08-12 20:48] swcurran commented on #1349
@andrewwhitehead , @TimoGlastra  -- any comments on this?  I know this has been discussed. Did we get to the start of a design for this?  Andrew -- pretty sure we talked about this when we were in Utah at the last Connect-a-thon :-).

Did Kiva do something like this and could that design be leveraged?

[2021-08-13 07:13] JovanShandro commented on #1351
@phearaeun You have to first create a public DID for the sub wallet. The way to do that is:
POST /wallet/did/create which creates a local DID. Then you have to register this DID to the ledger. If you are using http://dev.greenlight.bcovrin.vonx.io/ then just go on 'Register from DID' and add the DID and the Verkey. Once this is done you just:
POST /wallet/did/public and add the DID as a parameter.

[2021-08-13 07:23] JovanShandro opened #1353 "Multitenancy Scalability"
Hello!

Just some background information: We are a team of developers who want to use Aries python for our use-case. We want the solution to be able to scale at least to 100,000 users or even 1,000,000. Ideally we should be able to set up a single agent for each user, however to facilitate the transition from the old model of centralized systems the initial idea was to offer to host the agents for

[2021-08-13 08:02] TimoGlastra commented on #1353
Hi @JovanShandro,

In theory you should be able to use multi-tenancy for hosting a lot of tenants at the same time. I think the main limit is the number of concurrent wallets being used at a given time. You could host multiple ACA-Py next to each other using the same underlying database to reduce the load for the agents. However, there is no optimization to efficiently handle . Meaning that messag

[2021-08-13 13:47] #1351 closed

[2021-08-14 02:31] phearaeun opened #1354 "Base wallet connects to mediator: `Unauthorized`"
With multitenancy, the base wallet has a mediator set in order that other sub wallets can be registered at mediator via base wallet.
However, it returns `Unauthorized` while trying to connect base wallet to the mediator.

What should I do in order to connect successfully with multitenancy?

Here is what I have read: [Multitenancy](https://github.com/hyperledger/aries-cloudagent-python/blob/main/Mu

[2021-08-16 06:43] srbms23 commented on #1343
Hi @swcurran,

Sorry for late response.
I tried to use agent without "--auto...". Here is an example how I usually start my agent:

`PORTS="8020 11000" ./scripts/run_docker start --label Alice --inbound-transport http 0.0.0.0 8020 --outbound-transport http --admin 0.0.0.0 11000 --admin-insecure-mode --genesis-url http://dev.greenlight.bcovrin.vonx.io/genesis  --seed Alice00000000000000000000000000

[2021-08-18 06:31] xtrycatchx opened #1357 "aca-py args to set AIP level"
My apologies is advance if my question seems silly

when running `./bin/aca-py start <...some args>` , its currently in `aip 2.0` . Is there a way to specify `aip 1.0` when starting the cloudagent locally? By the way, I'm running purely as a mediator.

I know that when running the demo we can do something like `./run_demo faber --aip 10`. May I know if there's a way to provide the same aip 1.0 set

[2021-08-18 19:08] bbmarley opened #1358 "got Error!!! DID register to ledger using admin API on Multitenancy ACAPY_Agent"
Getting an error !!!

I'm using Multitenancy ACAPY_Agent to Register DID to the ledger
(If I used http://localhost:9000 for register DID to ledger manually its working fine but I need to register using Admin API)

- I created a Sub-wallet using `/multitenancy/wallet` got token as response
- Using the Response token of subwallet API I created local DID using `/wallet/did/create` got DID and Verkey

[2021-08-18 22:35] swcurran commented on #1343
I think I know what is going on.  The Alice Faber demo in the Alice Faber API demo cover this.  Specifically, look at [this step](https://github.com/hyperledger/aries-cloudagent-python/blob/main/demo/AriesOpenAPIDemo.md#tell-alices-agent-to-accept-the-invitation) as part of the Establish connection flow.  When not using "--auto", Alice has to both receive and accept the invitation, and then wait f

[2021-08-19 14:35] romanzoun opened #1361 "How to see the reason, why a proof request is not verified"
This relates to https://github.com/hyperledger/indy-sdk/issues/2419

Hey

We have installed the revocation and it works. So we issue credentials and we have a demo application to login with this credentials via a proof request.

Than we revoke the credentials and the login fails....

state: verified
verified: false --> something went wrong

But how to get a message from aries, that this is because

[2021-08-20 12:04] Fethbita opened #1362 "Underscore in endpoint is not allowed"
In the cases where the agent and the controller are deployed as a docker stack, the name of the agent contains underscore (`_`) however the regex used in the endpoint validation doesn't allow this.

For example if the name of the stack is `user-one`, the name of the running container will be `user-one_agent` and it will contain an underscore. Same with `user-two`, which will be `user-two_agent`.

[2021-08-20 16:55] swcurran opened #1365 "Getting 400 Response on connectionless presentation on calling /verifiy-presentation"
Issue created from this question on Hyperledger Chat: https://chat.hyperledger.org/channel/aries-cloudagent-python?msg=7qeKFQtQcwnHimKR8

We are trying to verify a connectionless proof which state has been set to “presentation_received”. We are using the release 0.7.0 of aca-py (also tried with 0.6.0) to spin up an agent, accompanied by the tails server for revocation functionality.

We use the fo

[2021-08-21 01:49] #1354 closed

[2021-08-23 06:31] dnaicker opened #1367 "Error when posting to: https://trinsic-mediator-agent-southafrica.azurewebsites.net/"
When running the agent demo for revocation with the following steps:

1. start ngrok 8020
2. start indy-tails agent for revocation of verifiable credentials connects to separate revocation registry
3. start faber agent
4. connect via trinsic or mobile app

I receive the following errors upon start-up and upon issuing credential:

### Startup of demo agent

![image](https://user-images.githubuserco

[2021-08-23 14:12] ianco commented on #1361
There is a separate API in aca-py to check if a credential is revoked (not sure offhand exactly what the API is but it's on the aca-py swagger page).

I don't think you can get a specific reason why a proof request fails (this comes from indy-sdk, it is not an aca-py feature).

[2021-08-23 14:23] chandankumar22 opened #1369 "connection state is not changing at invitee side, (stuck at request state, even when connection is accepted)"
I have cloned this repo and instantiated two agents, say, Issuer and Holder.
1. From issuer side, I have created an open invitation by executing **/connections/create-invitation** Admin API, in return of which, following response was received
[code]

2. From holder side, I received the invitation by executing **/connections/receive-invitation** Admin API, in return of which, following response was

[2021-08-23 14:39] romanzoun commented on #1361
Thank you,

Currently I start the verifier cloudagent with the "--auto-verify-presentation" flag....Do you think, if I use the
POST: proof_request/{pres_ex_id}/verify
I get in the error_msg the message, if its revoked?

So if we verify manually, we can get the reason?

[2021-08-23 14:50] #1369 closed

[2021-08-23 14:51] chandankumar22 commented on #1369
found that inbound for holder was not configured correctly. I corrected it and then it worked

[2021-08-23 15:27] ianco commented on #1361
No. The verification of the proof involves a bunch of math, and either it verifies or not.  I don't think there is any way to get the reason

[2021-08-23 16:27] swcurran opened #1370 "Timezone handling in W3C Standard VC Credentials and Proofs"
Two issues have come up with time handling in ACA-Py around timestamps related to W3C Standard VCs and VPs:

1. By default, the python ISO date formatter does not include the timezone and we should include the timezone. Please update places where we are writing date to include a timezone in all cases.
2. The ISO860 format, as required in the W3C VC Spec., does not require a timezone. As such, in r

[2021-08-23 19:17] smithbk opened #1372 "HTTP request hangs with return_route header"
In testing the issuance flow (AIP v1) where ACAPy is the issuer and the IBM agent is the holder, the HTTP request which the holder makes to ACAPy in order to deliver the final ACK hangs.  In other words, when the IBM agent sends the HTTP reque3st containing the ACK to complete the issuance flow, the ACAPy agent never sends an HTTP response.  However, when I change my IBM agent to NOT send the retu

[2021-08-23 20:49] swcurran commented on #1372
@ianco can you look at this one?  Or at least given an assessment of how quickly a fix is needed?

Thanks!

[2021-08-23 21:58] swcurran commented on #1367
@ianco  -- can you please take a quick look at this?  Thanks

[2021-08-24 07:25] TimoGlastra commented on #1372
Wouldn't this be somehow expected?

From the return route RFC:

Because there is no message to be returned, the connection is kept alive (which is a desirable feature when you want to do e.g. long polling). Another way to solve would be to close the HTTP connection on the IBM holder side, or by not including the return routing when no response is expected.

This will have impact on how mobile agen

[2021-08-24 17:39] smithbk commented on #1372
I think only messagepickup/1.0/noop should be long polled.

The reason I say this is because otherwise it puts more of a burden on the sender to know when a return_route should be added or not.  In some cases, the sender may want to send a message which may or may not terminate the thread.  Only the receiver knows for certain if the thread is complete or if/when it will send another message on the

[2021-08-24 18:54] #1370 closed

[2021-08-25 12:34] Fethbita commented on #1328
@esune How would we go about the `requested_predicates` if we want to achieve the same thing? If I use the names array for requested_attributes, and I also request predicates, I can still submit different credentials. However I don't know if this is why, but the submitted proof does not verify. If I choose the same credential, it verifies successfully. If the names attribute is used, does Indy imp

[2021-08-30 09:42] sairanjitAW commented on #1052
@dbluhm Is the process the same for picking up the messages from WebSockets in mobile agents as above?

[2021-08-30 13:32] dbluhm commented on #1052
When you open a websocket from mobile agent to the mediator, you must send a message to signal two different things to the mediator: that this socket is associated with the connection identified by the messages recipient/sender keys and that this socket is available for returning future messages to that connection. The message generally used is the same one I described above, a trustping with `"~t

[2021-08-31 07:47] sairanjitAW commented on #1052
@dbluhm
I am a little bit confused about the workflow of HTTP and WS
Do we have to do the whole process with the single transport like connect mediator with HTTP, mediation request with HTTP and pull messages with HTTP, or can do something like connect mediator and mediation request with HTTP and pull messages with web socket?
I tried the second way but was not able to get a response after updatin

[2021-08-31 15:40] jeffdem commented on #1358
Hi bbmarley, in my opinion, you need a STEEWARD wallet already register on the ledger and use his BEARER to use the API /ledger/register-nym to register nym of others wallets

[2021-08-31 18:38] #329 closed

[2021-08-31 18:39] #742 closed

[2021-08-31 18:55] swcurran commented on #1335
Andrew -- any progress on this?  Perhaps you could take a quick look before ACA-Pug tomorrow?

Thanks

[2021-08-31 19:03] #1268 closed

[2021-08-31 19:08] #1126 closed

[2021-08-31 19:11] swcurran commented on #1147
This has been implemented, so closing this.  Not sure where we are in testing this @masojus and @esune , but we think it is done.

[2021-08-31 19:11] #1147 closed

[2021-08-31 19:16] swcurran commented on #1365
I know you are buried, @ianco , but a ping on this issue when you get a chance.

[2021-08-31 19:23] #341 closed

[2021-08-31 19:23] #438 closed

[2021-08-31 19:27] #771 closed

[2021-08-31 19:28] swcurran commented on #39
A fascinating find...we're still having issues with this, I think.  Closing this issue in favour of remaining, more focused issues.

[2021-08-31 19:28] #39 closed

[2021-08-31 19:30] #3 closed

[2021-08-31 19:31] #783 closed

[2021-08-31 20:33] swcurran commented on #1328
I think the question is -- how can I have multiple predicates and be assured that they are from the same credential.  Likewise, how can I have a combination of names and predicates and be assured that the combination are all from the same credential?

AFAIK, those capabilities are not supported.  The "names" concept was a relatively late addition, and I don't think it was extended to the predicate

[2021-08-31 21:43] #1362 closed

[2021-09-01 03:08] ianco commented on #1365
OK will take a look

[2021-09-01 03:45] dnaicker opened #1381 "modules not found errors when running aca-py for the first time"
after building or installing aca-py the following modules not found when running
`aca-py --version` or `aca-py --help`

[code]

resolved by installing each missing dependency individually:

[code]

please could this be added to the install script?

[2021-09-01 09:38] Fethbita commented on #1328
Yes, Stephen is actually correct, but as far as I can understand there is an issue or a bug. So to give an example:

If I am using a credential with 3 fields, 2 fields to be used as an attribute and 1 field as a predicate, and issue these two to the prover:
[code]

[code]
And ask for a proof requesting field1, field2 and pred_field>5 from verifier:
[code]
When the prover sends fields with "bbbbb"

[2021-09-01 15:17] ianco commented on #1365
The verify function checks the state of the connection record to make sure it's in the "ready" state.

I don't think this check is necessary at all - if we're verifying a presentation it means we've already *received* the presentation, so the connection state is irrelevent.

I'm going to remove this check from both the v1 and v2 "verify_proof" routes.

[2021-09-01 16:18] #736 closed

[2021-09-01 16:18] #521 closed

[2021-09-01 16:51] ianco commented on #1365
Fixed in:  https://github.com/hyperledger/aries-cloudagent-python/pull/1383

[2021-09-01 17:13] esune commented on #1328
I remember @ianco mentioning that for some predicate operations involving value comparisons the field used in the predicate also needs to be presented as an attribute in order to be able to disclose/process the value. Maybe this is the case? Could you try adding the field used in the predicate to the attribute list and see if you get a different result in the proof validation?

[2021-09-01 17:31] ianco commented on #1328
As far as I know the attributes and predicates can be presented from different credentials and the proof should verify (regardless of whether you use "name" or "names").  "names" should enforce that the attributes (or predicates) come from the same credential, only for the attributes within that "names" array (not between attributes and credentials).

The thing @esune is referring to above ("I rem

[2021-09-02 08:54] blu3beri opened #1384 "proof request without specifying `requested_predicates`"
Currently, when using the Swagger UI, I can send a proof request, with v1, without setting the `requested_predicates`. This results in a 200, while it should fail as [indy_prover_search_credentials_for_proof_req](https://github.com/hyperledger/indy-sdk/blob/57dcdae74164d1c7aa06f2cccecaae121cefac25/libindy/src/api/anoncreds.rs#L1231) specifies that `requested_predicates` is not optional. This would

[2021-09-02 15:41] solidnerd opened #1385 "Support for Prometheus Metrics"
Hey,
there are two ways of supporting Prometheus metrics.

1. Instrument the  ACA-Py directly with a [Prometheus Client Library](https://github.com/prometheus/client_python) or using [OpenTelemetry](https://github.com/open-telemetry/opentelemetry-python)
2. Building an external [Prometheus Exporter](https://prometheus.io/docs/instrumenting/writing_exporters/)  to scrape the ACA-PY API and exposing

[2021-09-02 16:01] solidnerd opened #1386 "Docker Image v0.7.1 is missing"
Currently I can't find any release on Docker Hub can you help me here ?

[2021-09-02 16:09] swcurran commented on #1386
@esune -- where are the docs to build/release a new image?  Thanks

[2021-09-02 16:34] WadeBarnes commented on #1386
https://github.com/bcgov/aries-cloudagent-container, but I see you've already built and published it.

[2021-09-02 16:38] swcurran commented on #1386
Should be there now, and published.  Please re-open if there is an issue.

Thanks!

[2021-09-02 16:38] #1386 closed

[2021-09-02 17:14] ianco commented on #1372
![acapy-receive-inbound](https://user-images.githubusercontent.com/1852309/131887713-c4583551-4254-4580-8f5d-388dcc8ddc5e.jpg)

Not sure how legible this is, but it's the basic aca-py flow for receiving and processing a message

To close an inbound return route I suggest one of 2 options:

- add a method to the Responder class to close a return route (i.e. return 200 status)
- add something in the

[2021-09-02 17:34] domwoe commented on #1361
Nothing that ACA-Py can fix. The underlying libraries do not provide more information than proof is valid or not

[2021-09-02 18:34] andrewwhitehead opened #1388 "Use contextvars for managing dependency injection"
If we increase the minimum required Python version to 3.7, then we can support the use of [contextvars](https://docs.python.org/3/library/contextvars.html). I'm not sure what an implementation would look like yet, but this should allow us to easily inject dependencies without explicitly passing in Context-type objects every time.

[2021-09-02 21:13] swcurran commented on #1361
So the answer is to put the question to the underlying code -- indy-sdk and/or indy-credx, and ursa.

Closing this issue as an ACA-Py question.

[2021-09-02 21:13] #1361 closed

[2021-09-02 22:02] swcurran commented on #1372
For fun I made a plantuml version of the drawing above — @ianco please review:

![acapy-message-handler](https://user-images.githubusercontent.com/1018050/131922023-6e096ecf-0cfb-417f-ac28-bbbd6c1ad041.png)

I’m thinking this should go in the ACA-Py docs?

[code]

[2021-09-02 22:31] ianco commented on #1372
@startuml

participant "Inbound\nMessage\nHandler" as oag
participant "http\nTransport" as ht
participant "Internal\nTransport\nManager" as itm
participant "Inbound\nSession" as is
participant "Conductor" as con
participant "Dispatcher" as disp
participant "Responder" as resp
participant "Message\nProtocol\nHandler" as mh

oag -> ht: "inbound_message_handler()"
ht->itm: "create_session()"
itm -> i

[2021-09-02 22:34] ianco commented on #1372
![VPF1JiCm38RlUOgg9pZi1JXCa-001oGqE4wgGcej4OqJ4XU9jyUfiwwTDcwD_w-__JljBfDEDFf1gSWFphYeaPhs1J_3YFq1No5dVOG3Fcli1qXjetCJz76DMw9um8-aCSUGQ88iNLeI9DJ3WcDxZUmkhexyZI7UUGWNKAYyXXu3zgEX81ucu5f-SZbgChRswFcu1lR0es1VzGIN-ho0jnGec32iL-6jKehtqMosdFYXQPqC](https://user-images.githubusercontent.com/1852309/131924699-0b55f081-0a31-4763-9b7a-0151e576d246.png)

[2021-09-03 10:56] safwanAhman commented on #1094
hey im getting the same issue, i was wondering if you have resolved this?

[2021-09-03 10:58] romanzoun opened #1391 "Zero Knowledge poof on non numeric data / predicates on non numeric data"
Hey

I have a demo, where I issue birthday as date and not the age in the credentials.

I want to make a predicate, that checks if the age is over 18, but based on the date.

Currently the checks worked only on integer data.

What is a good way to implement this?

I have an idea to change the schema, that day, month and year is separate attribute and then send three predicates on that.
like

[code

[2021-09-03 11:51] edbkei commented on #1094
it´s the same status as before, with refreshed machine. But apparently, it went a little further.

ubu20w@DESKTOP-CT0HBV1:~/aries-cloudagent-python/demo$ ./run_demo faber --revocation
Preparing agent image...
sha256:726309c7c1a6b362ea4e6dfbdb84d23bdae232ecf2d048f6678e66ffbc70fc08
Trying to detect ngrok service endpoint
ngrok not detected for agent endpoint
172.28.56.26
Starting [faber] agent with

[2021-09-03 14:22] ianco commented on #1094
How are you running the indy ledger and revocation registry?

(It looks like the agent is failing to upload the tails file to the revocation registry)'

[2021-09-03 14:25] ianco commented on #1391
We have an issue to add this functionality to the demo:  https://github.com/hyperledger/aries-cloudagent-python/issues/1291

[2021-09-03 15:12] romanzoun commented on #1391
ok, and how you want to solve it? I need something for now that I can use :)

I also think about to extend my schema to have birthday-date and another autogenerated field, like "numeric-birthdate", that puts puts the date as Long.

Is it possible to hide some attrubutes from the wallet, for such autogenerated data?

[2021-09-03 15:25] ianco commented on #1391
The solution described in the ticket I linked should work (disclaimer: I haven't tried it yet).

... change the "age" attribute to be "DateOfBirth" and use the "DateInt" recommended format as outlined in this recently merged PR to Aries RFCs:  https://github.com/hyperledger/aries-rfcs/pull/687

[2021-09-03 15:35] romanzoun commented on #1391
Thank you very much, I'll try to do so :)

[2021-09-03 15:35] #1391 closed

[2021-09-03 15:36] edbkei commented on #1094
cd von-network
./manage up

[2021-09-03 15:50] ianco commented on #1094
Are you running a revocation registry (tails server)?

https://github.com/hyperledger/aries-cloudagent-python/tree/main/demo#revocation

https://github.com/hyperledger/aries-cloudagent-python/blob/main/demo/AliceGetsAPhone.md#run-an-instance-of-indy-tails-server

[2021-09-03 16:03] edbkei commented on #1094
No, I was not running it. I really missed that.

It´s OK  now.

Sorry for any inconvenience.

Thanks.

[2021-09-03 16:09] edbkei commented on #1094
git clone https://github.com/bcgov/indy-tails-server.git
ubu20w@DESKTOP-CT0HBV1:~$ cd indy-tails-server
ubu20w@DESKTOP-CT0HBV1:~/indy-tails-server$ cd docker
ubu20w@DESKTOP-CT0HBV1:~/indy-tails-server/docker$ ./manage build
ubu20w@DESKTOP-CT0HBV1:~/indy-tails-server/docker$ ./manage start
ubu20w@DESKTOP-CT0HBV1:~$ cd von-network
ubu20w@DESKTOP-CT0HBV1:~/von-network$ ./manage up
Creating von_node2_

[2021-09-03 18:04] dbluhm commented on #1052
The second method you described is what we commonly use. To clarify, the keylist update message was sent over WS with `"~transport": {"return_route": "all"}`?

[2021-09-03 18:06] sairanjit commented on #1052
yes It was sent over ws only

[2021-09-03 18:43] #1094 closed

[2021-09-03 20:17] swcurran commented on #1385
@ianco — given you did some work on tracing and collection, are you able to provide some feedback on this one?  Or a suggestion for someone else who could suggest something.

@solidnerd — perhaps a topic to raise on Hyperledger chat and/or to discuss at a User Group meeting.

[2021-09-03 20:39] swcurran commented on #1381
Did you install with PyPi?  Or just clone the repo?

Instructions for running locally are here if you used PyPi: https://github.com/hyperledger/aries-cloudagent-python/blob/main/DevReadMe.md#locally-installed. — sounds like perhaps we are missing a step in that guidance?

We strongly encourage using Docker when testing and developing as it greatly simplifies getting past issues like this.  Guidanc

[2021-09-05 13:54] dnaicker opened #1396 "/issue-credential-2.0/send-proposal error 'NoneType' object has no attribute 'handler'"
Using /issue-credential-2.0/send-proposal with connection_id displays the error: `'NoneType' object has no attribute 'handler'`

Post data utilised:

 -H "Content-Type: application/json" -d '{
  "comment": "I want this",
  "connection_id": "3bf39a11-6e77-4f66-8435-a48642dfe95e",
  "credential_preview": {
    "@type": "issue-credential/2.0/credential-preview",
    "attributes": [
      {
        "m

[2021-09-05 19:03] dnaicker commented on #1381
Thank you Stephen, I will take a look at the docker file.

I was using pip3 to install and also trying to run the aca-py file from source.

[2021-09-06 06:59] mwensveen-ebpi opened #1397 "marshmallow.exceptions.ValidationError: {'_schema': ['Value for description.code must be issuance-abandoned']}"
Issue created based on https://chat.hyperledger.org/channel/aries-cloudagent-python?msg=xZ7RwjjJNwdxpKzsF

Our ACA-PY agent (version 0.7.0) is connected to the BCOVRIN TEST (--genesis-url http://test.bcovrin.vonx.io/genesis).
When sending a credential to a user that uses connect.me we receive an error. Which is to be expected, as connect.me does not use the bcovrin test network.
But the the proble

[2021-09-06 16:38] dnaicker opened #1398 "No ledger available when not using '--wallet-type indy' for agent startup"
Was just wondering if this is a common error, when I use `--wallet-type indy` to startup agent I get ledger pool timeout error.

- If I remove` --wallet-type indy`, the aries cloud agent starts up although when publishing to ledger it says `Error 403 ledger not found`

- This error also appears when calling: `schemas_send_schema raise web.HTTPForbidden(reason=reason) aiohttp.web_exceptions.HTTPFor

[2021-09-07 03:46] dnaicker commented on #1398
[Steps to ACA-PY.pdf](https://github.com/hyperledger/aries-cloudagent-python/files/7118736/Steps.to.ACA-PY.pdf)

I attached a file with steps to reproduce. I just left out cloning and starting the von-network with ./manage start --logs

[2021-09-07 03:50] dnaicker commented on #1398
Updated doc with von-network steps

[Steps to ACA-PY.pdf](https://github.com/hyperledger/aries-cloudagent-python/files/7118751/Steps.to.ACA-PY.pdf)

[2021-09-07 09:08] dnaicker commented on #1398
when running `curl -X GET "http://localhost:11000/schemas/created" -H "accept: application/json"`

the following error is returned:

    return await handler(request)
  File "/home/denver/.local/lib/python3.6/site-packages/aries_cloudagent/admin/server.py", line 199, in debug_middleware
    return await handler(request)
  File "/home/denver/.local/lib/python3.6/site-packages/aiohttp_apispec/middle

[2021-09-07 09:16] dnaicker commented on #1398
I noticed a previous github issue regarding BaseLedger that impacts the same line of code: https://github.com/hyperledger/aries-cloudagent-python/issues/518

Fix that was merged:
https://github.com/hyperledger/aries-cloudagent-python/pull/533

It is definitely the '--wallet-type indy' that is causing an issue, is there a work around?

[2021-09-07 16:11] #1381 closed

[2021-09-07 18:40] dnaicker opened #1399 "OpenAPI demo accept-request error can't connect to host ip"
Running the docker openapi demos with: https://github.com/hyperledger/aries-cloudagent-python/blob/main/demo/AriesOpenAPIDemo.md

after using the following posts

copied the `conn_id `from the logs for Faber and used separate `conn_id ` for and Alice from post response

when using Faber's `conn_id `it shows an error for accept-request

I also get an error Fabers side:
`2021-09-07 18:30:24,697 arie

[2021-09-07 20:46] ianco commented on #1291
Fixed in PR https://github.com/hyperledger/aries-cloudagent-python/pull/1395

[2021-09-08 03:07] dnaicker commented on #1399
When I try play.with.docker.online and run the OpenAPI demo, at the accept-request copying the connection_id for faber from the log files to the OpenAPI REST accept-request call, it shows this error:

[2021-09-08 04:52] dnaicker commented on #1399
I came across this error reported in the github issues that contained WalletItemNotFound, related to ACA-Py agents having multiple calls, not sure if it is related: https://github.com/hyperledger/aries-cloudagent-python/issues/557

[2021-09-08 05:11] dnaicker commented on #1399
Looking on older repository this could also be the issue: https://github.com/hyperledger/aries-acapy-controllers/issues/17

![image](https://user-images.githubusercontent.com/7840952/132450006-c6b2610c-b908-471c-a00d-30b09cafb5f7.png)

Not too sure how to configure the parameters

[2021-09-08 05:16] dnaicker commented on #1398
When using '--wallet-type indy' I get connection pool errors.

I tried to resolve by installing indy-node and indy-plenum.

Version mismatches between prompt_toolkit occured and I messed up my pip and python installs.

I had to refresh my ubuntu vm and start again.

I am now using the docker demo images and trying to resolve those errors: 'wallet item not found' for accept-request api call for iss

[2021-09-08 07:54] dnaicker commented on #1398
when starting up agents I am now using `--genesis-url http://dev.greenlight.bcovrin.vonx.io/genesis` this resolved the issues for me although for local installations of indy node this might not assist

[2021-09-08 08:28] dnaicker opened #1401 "seqNo null returned when creating schema"
when trying to create` credential id seqNo is null: "seqNo":null` returned from creating schema first and `credential id `can't be created and is returning  `error 400 schema does not exist`

post

result

post

result

[2021-09-08 14:07] Fethbita commented on #1328
@ianco I am actually using aca-py on both sides. Still not quite sure why the verification fails when the names for attributes and predicates are included.

[2021-09-08 21:40] ianco commented on #1401
I'm not able to reproduce - I tested the above curl commands with a local instance of aca-py and von-network and was able to create the schema and cred def successfully.

@dnaicker can you provide more info about how you have your local environment setup?

[2021-09-08 22:03] ianco commented on #1385
The current event tracing and collection is primarily to track the message processing in a thread (for example during a credential exchange protocol) - part of this is tracking the time required to processes each step, so there is some overlap with what Prometheus does, but it is not a complete match.

From my (limited) knowledge of Prometheus you configure it to watch endpoints (such as the aca-p

[2021-09-08 22:09] ianco commented on #1384
I suspect that if you're able to submit a proof request without specifying `requested_predicates`, then it's getting added in automatically at some stage.

Do you feel this is a critical issue?  I'm reluctant to recommend any changes to the v1.0 API since it's already pretty widely used.

[2021-09-08 22:11] ianco commented on #1367
Is this still an issue?  It looks like the error is being generated by the Trinsic endpoint  https://trinsic-mediator-agent-southafrica.azurewebsites.net/

(The error `Unexpected response status 500, caused by: Internal Server Error` means that this is the response aca-py is receiving from the remote agent.)

[2021-09-08 22:20] ianco commented on #1358
For aca-py to write to the ledger, it needs a DID in its wallet that is already registered on the ledger, with a role (like STEWARD  or ENDORSER) with privileges to write to the ledger.  The aca-py wallet's public DID is used to sign the transaction that is sent to the ledger.  The error message `wallet "mywallet" has no public DID` means that your agent doesn't have a DID that can write to the le

[2021-09-08 22:24] ianco commented on #1357
I did a quick search and I don't think aca-py has this option available.  (aca-py supports both aip's, so I'm not sure a flag is actually necessary)

(FYI you can get a list of all available args by running something like `./bin/aca-py start --help`)

[2021-09-08 22:26] ianco commented on #1345
Hi, are you still getting this error?  It looks like a connection issue between the aca-py agent and the indy ledger (or a problem with the ledger nodes getting out of sync)

[2021-09-09 05:33] dnaicker commented on #1401
Hi @ianco

My current setup is: Ubuntu 18 on Windows 10 with WSL2 and Docker

I utilised the following steps to install pacakges and libraries for local setup:

------------
start von-network (optional non-functional ledger pool not found) or connect to bcovrin (works but schema id seqNo: null)

------------
startup issuer and holder agents

------------
create did alice issuer

-d '{"seed": "Alic

[2021-09-09 05:41] dnaicker commented on #1367
Its been a while since I had this setup. I am not sure if it is still returning this error.  I tried to get a qr code generated but not using the initial steps outlined, but using the other demo steps for aca-py agent, to see if the error still persists, I started using bcovrin instead of sovrin, unsure which exact tutorial documentation I was following, it was related to revocations as a special

[2021-09-09 10:22] acuderman opened #1402 "Plain-text DIDComm messages are sent to the external outbound queue"
When using an external outbound queue. messages are not packed before they are pushed to the queue. That causes problems (apart from the security) when the recipient is a multitenant Aca-py agent since the relay can not figure out who is the recipient of the message.

[Messages should be packed in the similar way they are being when using the internal queue](https://github.com/hyperledger/aries-cl

[2021-09-09 13:05] paulbastian opened #1403 "Aca-py not respecting NO_PROXY variables"
Running Aca-py behind company firewalls requires proxy settings, at the same time internal services must be excluded from these proxy routes. Usually this is done by using environment variables HTTP_PROXY, HTTPS_PROXY and NO_PROXY. Both HTTP_PROXY and HTTPS_PROXY are currently respected by aioHttp and since 0.6.0 imported into aca-py behavior by using the `trust_env=True`. NO_PROXY is not regarded

[2021-09-09 13:18] paulbastian commented on #1403
As a quick fix, you can mount a patched client.py as a volume if working with docker containers:
https://gist.github.com/paulbastian/add8c12cc47509f3b41cb726287e05b5

[2021-09-09 15:30] #1365 closed

[2021-09-09 15:43] ianco commented on #1401
Hi @dnaicker , thanks for all the details!

For the local scenario, I think you have a disconnect between running von-network in docker vs running all the aca-y agents locally.  Docker containers use an internal docker IP which is not visible to processes running on the local machine.

You can fix this easily by passing your local IP to von-network on startup, for example:

`./manage start 192.168

[2021-09-09 16:10] ianco commented on #1343
Hi @srbms23

You can try out the aca-py agent communicating with a mobile agent (we usually test with Trinsic or esatus) using this demo:  https://github.com/hyperledger/aries-cloudagent-python/blob/main/demo/AliceGetsAPhone.md

If you run the faber agent using the `--events` option then it will display the webhooks received by the faber agent during each protocol.

For the connection protocol, th

[2021-09-09 16:27] ianco commented on #1399
The error `Cannot connect to host 192.168.56.102:8020` means that the two agents can't connect with each other and therefore can't exchange messages.  Both agents (when you start with `./run_demo ...`) run in docker containers, so they should be able to connect using the internal docker network IP (which is `192.168.56.102` in this case).  I'm not sure why they can't but it's likely a docker issue

[2021-09-09 16:30] ianco commented on #1398
Same issue as your other issues (I think) - when you run a local von-network, if you are running the agents in docker containers (for example `./run_demo faber`) then you start von-network like `./manage start --logs`

However if you are running aca-py on your local machine (like `aca-py start ...`) then you need to start von-network with your local IP, like `./manage start <your IP> --logs`

[2021-09-09 16:54] dnaicker commented on #1399
Thank you @ianco the explanation helps a lot.

[2021-09-09 16:54] #1399 closed

[2021-09-09 16:55] dnaicker commented on #1401
Thank you @ianco!

[2021-09-09 18:43] swcurran commented on #1397
Taking a look at the RFC, the handling in ACA-Py is technically correct. Per the [paragraph in this section of the Issue Credential RFC](https://github.com/hyperledger/aries-rfcs/tree/main/features/0453-issue-credential-v2#states), the code should be “issuance-abandoned”.  As such, this is a bug in the connect.me implementation.

On the ACA-Py side — is ACA-Py doing the right thing, or should we b

[2021-09-09 18:51] andrewwhitehead commented on #1397
Technically that's the only supported error code, but we should probably just log a warning if something else is received.

[2021-09-09 18:55] swcurran commented on #1397
Thanks.  @shaangill025 — could you please take this one?  Low priority compared to the rest of what you are doing.  Hit this one when you have a bit of opening or want a change of pace.

Thanks!

[2021-09-09 22:21] ianco commented on #1372
OK from a more detailed review of the code, it looks like aca-py *should already* send an HTTP 200 response even if there is no explicit response message.

This is the method that handles an HTTP request from another agent `inbound_message_handler()`:

https://github.com/hyperledger/aries-cloudagent-python/blob/main/aries_cloudagent/transport/inbound/http.py#L71

You can see that there is logic to

[2021-09-09 22:25] ianco commented on #1372
... unless there is some other error that is crashing aca-py and preventing the response.

@smithbk can you send the aca-py logs for this scenario?   `--log-level debug`

[2021-09-10 05:37] dnaicker commented on #1401
Hi @ianco ,

I tried the above, and get a timeout ledger error with the following steps:

wifi address

von start

------------
agents start

------------
genesis file on http://192.168.8.105:9000/genesis

{"reqSignature":{},"txn":{"data":{"data":{"alias":"Node2","blskey":"37rAPpXVoxzKhz7d9gkUe52XuXryuLXoM6P6LbWDB7LSbG62Lsb33sfG7zqS8TK1MXwuCHj1FKNzVpsnafmqLG1vXN88rt38mNFs9TENzm4QHdBzsvCuoBnPH7rpYY

[2021-09-10 13:45] ianco commented on #1401
Hi @dnaicker , sorry I'm not sure what is happening.  The IP in your genesis file is "192.168.65.3" even though you start with a different IP ("192.168.8.105")

The timeouts/connection errors are due to this IP mismatch, but I'm not sure what's causing it.

[2021-09-10 14:34] Rounak210 commented on #1345
@ianco, yes sometimes while sending credentials onto the mobile wallet, I get this error. However, if I try it again, then the error gets resolved.

[2021-09-10 14:36] ianco commented on #1345
Which mobile wallet and ledger are you using?

[2021-09-10 14:36] Rounak210 commented on #1336
@esune, it is able to receive post requests as other than sending credential to the wallet, all the webhook calls works fine

[2021-09-10 15:00] dnaicker commented on #1401
@ianco is there a full proof instructions that i could follow to get a ledger running? i have tried https://github.com/hyperledger/aries-acapy-controllers/blob/main/AliceFaberAcmeDemo/README.md

i tried akiff manji aca-py controllers repo and the ledger and examples work flawlessly: https://github.com/hyperledger/aries-acapy-controllers/blob/main/AliceFaberAcmeDemo/README.md, i am trying to see ho

[2021-09-10 16:10] ianco commented on #1401
Hi @dnaicker all the aca-py demo's have been tested, both with a local von-network as well as a remote ledger (such as the bcorvin ledgers).  @amanji 's controller demo's use the same underlying aca-py agent so if they are working then the aca-py demo's should work as well.

It looks like you are getting errors running a local ledger, so I suggest to focus on getting the demo's working using `LEDG

[2021-09-10 17:00] dnaicker commented on #1401
@ianco i am using bcovrin but the seqNo:null response is blocking me from completing the creation of schema credential id and then doing the issue credential steps, which is why i wanted to get the local ledger working so that i could somehow overcome that error

...with akiff the entire demo runs perfectly, i looked at the script and its referencing a lot of global vars which i cant find and ip p

[2021-09-10 17:29] ianco commented on #1401
Hi @dnaicker I'm not able to reproduce the `seqNo:null` error, I'm able to run `LEDGER_URL=http://dev.greenlight.bcovrin.vonx.io ./run_demo faber` and then create schemas and cred defs with no issues.

[2021-09-10 17:31] dbluhm commented on #1402
Addressed by #1408

[2021-09-10 17:31] #1402 closed

[2021-09-10 17:32] dnaicker commented on #1401
thanks @ianco will try again

[2021-09-12 22:49] esune commented on #1336
In order to try help you we will need more details about your setup (where is the ledger how are you running the agents, which mobile wallet are you using) and details/how to reproduce the issue.

[2021-09-13 08:10] blu3beri commented on #1384
I am testing it currently with AFJ in React Native and the issue is that I do not recieve the requested_predicates at all. This is what I receive decoded from base64 `{"name": "Proof request", "nonce": "1", "requested_attributes": {"additionalProp1": {"name": "a"}}, "version": "1.0"}`.

I do not think that is a major issue, but it does seem that ACA-Py does not add the `requested_predicates` field

[2021-09-13 10:52] AnasAlamin opened #1410 "demo Faber agent not issuing credentials"
i'm trying to issue a credential in Faber agent demo, but it's not issuing even though i established a connection.

[2021-09-13 13:37] ianco commented on #1410
@AnasAlamin can you please provide more details?

[2021-09-13 13:43] AnasAlamin commented on #1410
i'm following the demo provided in the link below,
https://www.youtube.com/watch?v=AomoHvw4lgc

i was able to issue credentials and it was all working great, but for the latest version it stopped issuing credentials.
i tried different mediators, different test genesis files and even different RNMA versions but it's not working.

[2021-09-13 13:52] swcurran commented on #1384
@ianco -- can you look into this, please?

[2021-09-13 13:58] ianco commented on #1384
Yep on it.

[2021-09-13 14:00] ianco commented on #1410
Are you testing with BiFold or a different mobile agent?

I haven't tried BiFold but the demo was working recently (last week) with other mobile apps (esatus and trinsic).

[2021-09-13 15:39] ianco commented on #1384
I was able to submit w 1.0 proof request without specifying EITHER requested attributes or predicates.

When I call `/present-proof/records/<pres_ex_id>/credentials` I get a wallet error from Indy.

I'll update the input schema for creating a presentation request to make the requested attributes and predicates required.

[2021-09-13 16:26] ianco commented on #1384
See PR:  https://github.com/hyperledger/aries-cloudagent-python/pull/1411

[2021-09-13 16:31] blu3beri commented on #1384
Thanks!

[2021-09-13 21:15] #1397 closed

[2021-09-14 06:45] AnasAlamin commented on #1410
any news...?

[2021-09-14 11:09] Rounak210 opened #1412 "Credential not getting issued for ACA-PY version 0.6.0"
Currently facing this issue while trying to issue credential onto the ledger,

requests.exceptions.HTTPError: 400 Client Error: Error when issuing credential: Error: Invalid structure. Caused b
y: UrsaCryptoError: Invalid len of bytes representation for PoingG2. CommonInvalidStructure. for url: http://dev-t
hrift-agent:5001/issue-credential/records/3e9555b6-412b-4b6a-b388-554c869dbe7b/issue

Any h

[2021-09-14 13:08] TimoGlastra commented on #1384
@solidnerd this is the issue with proof request. PR #1411 should make the `requested_predicates` required

[2021-09-14 14:46] swcurran commented on #1410
Pretty sure the issue is on the Bifold side.  AFAIK, a change occurred there and recent releases (from late last week) were affected.

[2021-09-14 15:02] seriousManual opened #1414 "Schema creation fails after upgrade to 0.7.1"
We're currently in the process of upgrading from 0.5.6 to 0.7.1

One of the first issues that came up is that it now is no longer possible to create a schema using the `POST /schemas`
I'm just using the Swagger UI to execute the request with the default example parameters:

![image](https://user-images.githubusercontent.com/1330022/133282577-ff357774-eb13-40b3-901a-a8ed83105871.png)

This is the e

[2021-09-14 15:09] seriousManual commented on #1414
FWIW:
the setup in general is in a functioning state, establishing and setting up of connections is working, as well as the exchange of messages:

![image](https://user-images.githubusercontent.com/1330022/133283947-4f5f4d15-1b7d-4c75-bd44-4c2fbc0c05a8.png)

[2021-09-14 15:29] swcurran commented on #1414
@ianco , can you please take a quick look. Perhaps related to the Endorser?

[2021-09-14 15:40] ianco commented on #1414
@seriousManual can you provide more info about your setup?  You are correct this error should not happen when creating a schema (it may happen if creating a credential definition though).

I've tested the schema create in the version you are running and it works for me.

[2021-09-14 22:06] seriousManual commented on #1414
Thanks for the fast response, really appreciate it!
What setup details are you interested in in particular?

The container we're running is part of a docker-compose setup, its setup looks like this:

![image](https://user-images.githubusercontent.com/1330022/133340236-ce54a623-5a16-4314-afba-c3cab41bdb61.png)

[2021-09-14 22:32] ianco commented on #1414
Hi @seriousManual thanks for the info, that is helpful.

Can you provide a full log file for the create schema use case?

Specifically, can you start with a "clean" environment and:
- start up the ledger in a "new" state
- check the ledger browser (http://localhost:9000 if you are running von-network) to verify the ledger contents
- start up your faber agent with a "clean wallet" (please use the `

[2021-09-15 07:32] seriousManual commented on #1414
Thank you @ianco !

It actually did not occur to me that the error may not be related to the schema *creation* but to a subsequent process that is involved.
It looked into it and your in fact right, the error does not happen when creating the schema (it is created allright). After schema creation our UI is triggered to refresh its state, when it then tries to update the created schemas, the reques

[2021-09-15 07:32] #1414 closed

[2021-09-15 11:09] srbms23 commented on #1343
Hi @ianco,

Thanks for your time and help.
I tried to start the demo and see how it works before digging into the code but with these commands `TAILS_NETWORK=docker_tails-server LEDGER_URL=http://test.bcovrin.vonx.io ./run_demo faber --aip 10 --revocation --events` I get the following error:

[code]

I followed each step as in link above. Is there something else I should do/try?

[2021-09-15 13:28] swcurran commented on #1414
@seriousManual -- there is a document [Using Open API](https://github.com/hyperledger/aries-cloudagent-python/blob/main/UsingOpenAPI.md) about code generation.  Would it be helpful to add your comments to that document?

Glad this got resolved.

Thanks

[2021-09-15 13:38] ianco commented on #1343
Hi @srbms23 , check the aca-py/demo version you are running, I just tested your command on the latest version of code from `main` and it runs fine.

[2021-09-15 14:56] seriousManual commented on #1414
Not sure, the issue only applies to users of `openapi-typescript-codegen`.
Since `@ula-aca/aries-cloudagent-interface` which you are referring to in the documentation is much more widely used it is unlikely that too many people are running into this...

If you like I can create a PR with some notes though!

[2021-09-15 18:16] #1031 closed

[2021-09-16 14:59] acuderman opened #1417 "Askar wallet sessions result in a deadlock"
When using Askar wallet type combined with Postgres storage and calling some endpoints at the same time, deadlocks happen. The issue is that the session (DB connection) is acquired at the start of the request and is not dropped until the end. That would be ok (not performance-wise, since this limits the number of concurrent requests to the number of max DB connections) but there are some cases whe

[2021-09-17 07:38] #1384 closed

[2021-09-17 15:01] Fethbita commented on #1412
If you are using revocation, are you sure that the tails server is accessible?

[2021-09-17 15:56] JosselinGN opened #1418 "Subtitute CL by BBS+ Signature"
Good Morning everybody,

Our goal is to replace the signature type, i.e. replace CL with BBS+ Signature.
After several research, we have seen that there are code implementations of the BBS+ Signature in "aries-cloudagent-python".
Could you tell me more? Is there a way to do this subtitution ? If yes, how ?

Thank you very much !

[2021-09-17 16:04] Rounak210 commented on #1412
The tail server is up and running but when i try to access it, it is showing 404 Not Found error.

[2021-09-17 16:19] Fethbita commented on #1412
So you might have created your credential definition and posted the tails file to the tails server but maybe restarted the tails server so now it is unreachable. Can you try to find out your registries using the `/revocation/registries/created` endpoint and post the files again using the `/revocation/registry/{rev_reg_id}/tails-file` endpoint.

[2021-09-17 17:39] Rounak210 commented on #1412
x-special/nautilus-clipboard
copy
file:///home/rounak/Desktop/Screenshot%20from%202021-09-17%2023-07-17.png

[2021-09-17 18:58] Rounak210 commented on #1412
![image](https://user-images.githubusercontent.com/85231262/133840085-4979a659-c1ef-4140-bcbf-29572bf4dba9.png)
Currently showing that my tail server is uploaded

[2021-09-20 08:30] Fethbita commented on #1412
What happens if you recreate the credential definition and try to issue from that one? Do you still get the error?

[2021-09-20 13:01] etschelp opened #1419 "Webhook URL configuration parameter looses its api key"
I have aca-py deployed with the api key set in the webhook url, for example `--webhook-url http://localhost:8080/something#mykey`. This causes aca-py to sent an _x-api-key_ header when calling the webhook. Since 0.7.0 this still works but as soon as the controller becomes unavailable for a short time e.g. restart, or is not available when aca-py starts up the header is not set any more. To be more

[2021-09-20 13:42] ianco commented on #1419
I'll look into this

[2021-09-20 22:26] ianco commented on #1419
OK there's an issue going on but I don't think its related to web hooks.

(As an aside there *is* a potential to erase the webhook api key, but it's related to the admin config endpoint, not message re-tries.  See PR:  https://github.com/hyperledger/aries-cloudagent-python/pull/1420  So ... I don't think this is what's causing the BPA issue.)

When I added some debugging and ran a test (connect BP

[2021-09-20 22:31] ianco commented on #1419
It looks like (in the logs above) the agents are advertising their endpoints as `127.0.0.1` rather than their "public facing" service names

[2021-09-20 22:38] ianco commented on #1419
... when I fixed the aca-py agent endpoints, everything seems to work fine:

[code]

[2021-09-21 10:13] etschelp commented on #1419
I do not think this is what is causing the issue. I have the first aca-py connected to a BPA in my IDE like `BPA_WEBHOOK_URL=http://192.168.1.5:8080/log` also I'm running with security enabled `BPA_SECURITY_ENABLED=true`.

I can produce this behaviour by simply shutting down the BPA in the IDE. As soon as there is a connection between two agents there is a ping job running, so another agent is con

[2021-09-21 11:41] AnasAlamin commented on #1410
pretty sure something has changed from this side as well.
after your comment i got to make it work with the old version of BiFold, but now i can't even establish a connection neither from the old version of BiFold, nor the latest version

[2021-09-21 13:07] ianco commented on #1419
@etschelp thanks for the info.

Can you upload the aca-py log for this test (with `--log-level debug`)?

[2021-09-21 14:16] etschelp commented on #1419
See the following log:

[log.txt](https://github.com/hyperledger/aries-cloudagent-python/files/7203763/log.txt)

[2021-09-21 15:26] ianco commented on #1419
This is the issue:

[code]

See my comment above re PR # 1420

[2021-09-21 15:32] etschelp commented on #1419
Thanks a lot for figuring that out. This makes a lot of sense, as the BPA loads the admin config directly after startup hence erasing the api key.

[2021-09-21 23:51] swcurran opened #1421 "Add support for Present Proof V2.1 -- receiving multiple presentations in a single protocol instance"
Recently, v2.1 of the Present Proof protocol was added.  We'd like to see it supported in ACA-Py -- at least as a verifier, and (at minimum for testing purposes) as a holder.

See the changes made to the protocol [here (merged)](https://github.com/hyperledger/aries-rfcs/tree/main/features/0454-present-proof-v2#21---add-ability-to-request-multiple-presentations) and [here (PR)](https://github.com/h

[2021-09-23 22:10] swcurran commented on #1418
Sorry for the delay in responding.

BBS+ Signatures is in ACA-Py. Today, there are no wallets that support it, but you can do it ACA-Py to ACA-Py and ACA-Py to AF-Go. Work is beginning on support for BBS+ in Aries Framework JavaScript, and from there into wallets.

To try it out in ACA-Py, take a look at the demo using this guidance:

https://github.com/hyperledger/aries-cloudagent-python/blob/mai

[2021-09-23 22:10] #1418 closed

[2021-09-24 14:16] Nabil-oussa commented on #1418
Hello @swcurran think you very much for your response and help. Our purposes is to have BBS+ in ACA–Py instead CL signature as in credential-definitions function as in this JSON
{
"credential_definition_id": "4kfmXB6jB2jB5Knt7uskb6:3:CL:8326:Vacc 1"
}
The question how we can configure the wallet’s ACA-Py to support the BBS+ signature. Thanks!

[2021-09-27 12:56] yunxi-zhang commented on #1054
Hello @swcurran , is there any updates/progress on this ticket since my last comments?

[2021-09-30 07:02] rpobulic opened #1427 "Selective Disclosure check in pres_exch_handler.py not working"
I believe I stumbled on a bug in aries-cloudagent-python/aries_cloudagent/protocols/present_proof/dif/pres_exch_handler.py in current main branch.
I am getting an DIFPresExchError at line 1233.
I followed the logic and printed out values at line 1375:

cred_dict:
{
  "@context": [
    "https://www.w3.org/2018/credentials/v1",
    "https://w3id.org/security/bbs/v1",
    {
      "MedicalPass": {

[2021-09-30 18:38] swcurran commented on #1427
@shaangill025 --- can you please take a look at this when you get a chance?

[2021-09-30 23:01] ianco commented on #1238
Updated the high-level design to include a section describing how the event bus will be used:

https://hackmd.io/51flx8CVS1ypyOjEqVl1tg?view#Implementation-Details

[2021-10-01 14:56] swcurran commented on #1427
@rpobulic -- can you please verify #1430 addresses this issue?  Thanks!

@shaangill025 -- thanks!

Nice work on providing great data for the investigation.

[2021-10-01 17:29] rpobulic commented on #1427
I am not getting the DIFPresExchError anymore.
Everything works fine with field paths down to 3 levels deep, like "$.credentialSubject.Patient.address". But if any field is 4 levels deep, like "$.credentialSubject.Patient.address.city", I get no fields in the presentation. No error is raised, just the presentation has no credential:

        "pres": {
          "dif": {
            "@context": [

[2021-10-01 17:33] shaangill025 commented on #1427
@rpobulic If possible, can you share the credential JSON?

[2021-10-01 18:24] rpobulic commented on #1427
I have noticed a small bug in my credential context. After correcting it, I am getting the DIFPresExchError again. I will try to provide you in 30 min the same Python variable content as before.

[2021-10-01 18:52] rpobulic commented on #1427
I printed out values at line 1375:

cred_dict:
[code]

extracted_dict:
[code]

extracted_dict.keys():
[code]

nested_field_paths:
[code]

nested_attr_values:
[code]

The error is raised because "@type" is not in {"address","@id"} !

This is the body of the send-request endpoint:
[code]

This is the credential:
[code]

[2021-10-01 19:08] rpobulic commented on #1427
I do not know if it is relevant, but the null from the local Patient context in the credential context
[code]
is missing in the cred_dict varibale:
[code]
That null deletes other previously defined context, before applying a local context only for the Patient object. That is neccessary as there are conflicts between the mandatory VC context and the FHIR context we use for our medical data.

[2021-10-01 22:17] shaangill025 commented on #1427
@rpobulic Can you confirm if the following from the 2 `cred_dict` you provided are correct, in particular, `type` v/s `@type`:
[code]
[code]

[2021-10-01 23:07] rpobulic commented on #1427
The difference was caused by the change I made in the credential, in the Patient context by adding a null line:
[code]
The mandatory context https://w3id.org/security/bbs/v1 expands "type" to "@type". I am not sure why this happened after I added null to the context in the credential, but as I wrote before, this null did not reach the cred_dict variable, which may be a bug. When I expand the crede

[2021-10-02 16:24] shaangill025 commented on #1427
@rpobulic Appreciate the info, I have pushed changes that I believe should resolve these issues.
Regarding path `$.credentialSubject.Patient.address.city`, I think this should be `$.credentialSubject.Patient.address[0].city` instead. There was a bug when we try to verify such presenation as the `derived_cred` changes `address` from `list` to `dict`, I have addressed this in latest commit.

[2021-10-02 21:38] swcurran commented on #1054
Nothing yet - sorry.  The information needs to go into the [aries-askar](https://github.com/hyperledger/aries-askar) repo, with a pointer from here to that repo.

Since the aries-askar design is based on that of the "indy-wallet" in the [indy-sdk](), here are some docs from the indy-sdk repo that might kickstart this effort:

- [Design - Wallet Storage](https://github.com/hyperledger/indy-sdk/tree

[2021-10-03 06:56] rpobulic commented on #1427
Sorry for missing [0]! I installed your latest commit, and that case now works fine. I will continue with testing more complex cases today and report the results.

[2021-10-03 15:01] rpobulic commented on #1427
As confirmed before, works fine now with 4-level field path:
$.credentialSubject.Patient.address[0].city

But, I get an empty presentation (no error) if I use any of the following 4-level field paths with the same credential:
$.credentialSubject.Patient.name.family
$.credentialSubject.Patient.name.given[0]

[2021-10-03 16:28] shaangill025 commented on #1427
Looking at the `credential` issued, shouldn't it be `$.credentialSubject.Patient.name[0].family`. The presentation does not include any credential, as the `json_path` match is not being made.
[code]

[2021-10-03 16:44] rpobulic commented on #1427
Sorry again, you are right, it works OK!
I will continue testing with more complex cases (and be more careful with arrays :-)
I will report in a couple of hours.

[2021-10-03 18:30] rpobulic commented on #1427
I have tried with another credential with request
[code]
and got the error at line 1322 again. I followed the logic and printed out the values at line 1349.

field:
[code]

credential:
[code]
There are two credentials of that type in the wallet:
[code]

[2021-10-03 20:14] shaangill025 commented on #1427
@TimoGlastra, if the `json_path` is `$.credentialSubject.Observation[0].effectiveDateTime` then with the `reveal_doc (JSONLD frame)` generated [link below, sorry tinyurl is not working rn] it gets all objects in `Observation` and not the first one which is not correct. Any suggestion on what changes can be made to the `reveal_doc`.

[https://json-ld.org/playground/#startTab=tab-framed&json-ld=%7B%

[2021-10-04 16:06] ianco opened #1432 "Event Bus - add persistence and error queue"
Add a persistence mechanism to the event queue.  Currently events are stored in an in-memory queue, which is lost if the agent re-starts, and is not available between agent instances in a scaled environment (such as OpenShift).  The event_bus "wait_for_event" feature won't necessarily work in a scaled environment (can't ensure that a response will return to the same instance of the agent that init

[2021-10-05 07:36] shaangill025 commented on #1427
@rpobulic Can you try again with the latest commit? I tried with the above provided `credentials` and `presentation_request` and it is working.

[2021-10-05 08:31] tomaaron commented on #1385
This is _exactly_ a match! If you already have the event tracking in place, then Prometheus' job is to expose these metrics for other services to be consumed(e.g. Grafana to visualize these metrics)

Exactly, this is called blackbox monitoring.

My recommendation is to build a external Prometheus exporter so in a Kubernetes-based setup the exporter could run as side-car container. This separation

[2021-10-05 08:31] rpobulic commented on #1427
I confirm that my latest test now works. I will continue with more complex tests an report the results in a couple of hours.

[2021-10-05 08:46] rpobulic commented on #1427
Tested with same request, just used wildcard for index:
[code]
That raised error:
[code]

[2021-10-05 08:49] tomaaron commented on #1338
Yes, I've created a gist with a `docker-compose` https://gist.github.com/tomaaron/62b9af5c37992356f820c0ed0fcebd3a

[2021-10-05 19:43] shaangill025 commented on #1427
@rpobulic I tested with `$.credentialSubject.Observation[*].effectiveDateTime`, `$.credentialSubject.Observation[0].effectiveDateTime`, `$.credentialSubject.Observation` and `$.issuer`. You can now also provide your own `reveal_doc` [`JSON-LD frame`] in the `/present-proof-2.0/records/{pres_ex_id}/send-presentation` `request body`.

[2021-10-06 04:50] rpobulic commented on #1427
These are the 3 credentials I am testing against:
[response_1633495277013.txt](https://github.com/hyperledger/aries-cloudagent-python/files/7290857/response_1633495277013.txt)

This is the ultimate query, but I am not 100% sure about the syntax and the way filters function:
[RequestProofLabReport.txt](https://github.com/hyperledger/aries-cloudagent-python/files/7290865/RequestProofLabReport.txt)

[2021-10-08 09:18] guidam21 opened #1435 "Visibilty of the fields of a proof request for the Verifier"
Hi, I have some interrogations regarding the visibility of the fields in the different exchanged objects. Indeed, i have a scenario where Isend a proof request with "{{VERIFIER_HOST_URL}}/present-proof/send-request", then I check the proof requests of the Verifier with "{{VERIFIER_HOST_URL}}/present-proof/records". As the proof request was not yet "accepted" by the prover, I would expect the "requ

[2021-10-08 15:22] #1435 closed

[2021-10-08 18:24] shaangill025 commented on #1427
@rpobulic Latest commit should fix all issues.
I tested with credentials in `response_1633495277013.txt` and the ultimate query. The presentation includes no credential as each requirement in `submission_requirements` are evaluated as an `AND` and since no credentials meets both these requirements they are not included.

Another thing, `from_nested` is an `either or [XOR]` when applied.

I think t

[2021-10-08 20:22] ianco opened #1436 "Proof validation issue due to built-in /presentation/{pres_ex_id}/credentials endpoint limits"
When creating new tails files eventually the proof validation fails with this error:

[code]

Start faber with a small tails file `TAILS_FILE_COUNT=5 ./run_demo faber --revocation` and start alice as normal `./run_demo alice`

Faber agent creates a cred def with 2 tails files.

Issue a credential from faber to alice and then ask for proof - proof succeeds.  Revoke the credential and then ask for p

[2021-10-08 21:41] ianco commented on #1436
Upon some testing it fails eventually with this error, even with no revocation enabled.

[2021-10-08 21:53] ianco commented on #1436
Upon further further testing it is a limitation on the `/presentation/{pres_ex_id}/credentials` endpoint (for both `v1` and `v2`

By default this will only fetch the first `10` credentials, so the response may miss matching credentials for some requested attributes or predicates.

[2021-10-08 23:24] ianco commented on #1436
See PR https://github.com/hyperledger/aries-cloudagent-python/pull/1437

[2021-10-09 04:18] rpobulic commented on #1427
@shaangill025 my submission_requirements are constructed to combine data from two claims - one described by the Patient Input Descriptor and one from those described by PCR or IgG. As documented at https://identity.foundation/presentation-exchange/#input-evaluation , "If all of the previous validation steps are successful, mark the candidate input as a match for use in a Presentation Submission.",

[2021-10-09 09:17] rpobulic commented on #1427
I have tested different submission requirements. I was always getting empty results with rule "all".
The rule "pick" without a count behaved like rule "all" should.
I tried to make a workaround for the problem of top level requirements being combined with AND instead of OR by nesting them. It works with just one level of nesting, but when I tried two levels
[code]
I got error
[code]

[2021-10-09 09:25] shaangill025 commented on #1427
I just fixed this with `support multi level nested req` commit.
[commit](https://github.com/hyperledger/aries-cloudagent-python/pull/1430/commits/09e5d6b6f9e0a79f5f16bcd5dfb0949cb43be534)

Regarding submission_requirements being evaluated independently and `all pick rule`, I am still looking into these.

[2021-10-09 10:03] rpobulic commented on #1427
I confirm that double nesting works now!

[2021-10-12 17:47] rpobulic commented on #1427
Looking into examples, I deduce that the DIF definitions are using "number of Input Descriptors" is synonymous with "number of inputs" (which actually means number of claims):
*If Submission Requirement Object has a from property, this directs the processing entity to submit inputs from the set of Input Descriptors with a matching group string. In the first example that follows, the Submission Req

[2021-10-13 08:37] kkamyczek opened #1440 "Issue when connecting two agents with WS protocol."
I have run two agents:

PORTS="8030:8030 8031:8031" ./scripts/run_docker start \
   --endpoint ws://192.168.0.104:8030 \
   --label alice.agent \
   --inbound-transport ws 0.0.0.0 8030 \
   --outbound-transport ws \
   --admin 0.0.0.0 8031 \
   --admin-insecure-mode \
   --wallet-type indy \
   --wallet-name alice.agent420695 \
   --wallet-key alice.agent420695 \
   --preserve-exchange-records \

[2021-10-13 15:00] seriousManual opened #1441 "ACA-PY answers requests with wrong response"
We are currently investigating an issue that has occured when we were testing our setup together with a standard wallet app from the appstore.

The Setup:
We are using the ACA-PY 0.7.1. The attached controller is setup in a way so that when a connection has been created, the controller is automatically issuing a credential to the requesting party.

The  Issue:
We were cooperating with the app's de

[2021-10-13 15:08] ianco commented on #1440
See PR https://github.com/hyperledger/aries-cloudagent-python/pull/1442

[2021-10-14 10:53] #1419 closed

[2021-10-14 13:22] acuderman opened #1443 "Creating mediation request fails when using multi use invitation"
When using Did-Exchange multi-use invitation combined with caching, Mediation request after the connection is established fails in approximately 10% - 30% of cases with the following error: `Invalid mediation request: no active connection`

After some debugging, I found out that in some cases multi-use invitation is loaded instead of a derived one-time invitation, which causes a `no active connect

[2021-10-14 16:28] Nabil-oussa opened #1444 "Presentation exchange XXXXX in done state (must be request-received)"
Hi everyone ! I'm testing the tuto "How to Issue JSON-LD Credentials using Aca-py", "Credential-Specific Contexts" https://github.com/hyperledger/aries-cloudagent-python/blob/main/demo/AliceWantsAJsonCredential.md. I'm blocked in submit the following to Alice's /request-presentation-2.0/{pres_ex_id}/send-presentation. It return this reponse 400: Presentation exchange dc2b55ee-e5bf-4ce7-b13d-1a967f

[2021-10-14 22:32] #1440 closed

[2021-10-15 13:31] swcurran commented on #1443
Yes -- support for central caching is a need in ACA-Py.  We've had some progress made on it in the past (based on Redis) but the work didn't quite get completed.  We have that as a backlog item that really needs to be addressed and we're trying to see how to get it done.

[2021-10-15 15:41] ianco opened #1447 "Add endorser support to updating DID attributes"
Problem description from @TimoGlastra :

We're currently testing a setup where we let an endorser submit a new DID to the ledger, but then want to use that DID as the public DID on an ACA-Py agent. When we start ACA-Py it will automatically try to update the endpoint on the ledger (which is a desired feature because we want the endpoint on the ledger), but currently rejects with the following erro

[2021-10-16 02:56] dnaicker commented on #62
It is 2021 and none of the changes that @SmithSamuelM  mentioned has been done

1. The docker setup is now the defacto way to do things yet the other setup installation methods are still mentioned in documentation and on external blogs
2. Its not easy to debug remotely using docker
3. As far as I can tell the python library dependencies aren't version specific and are still causing errors
4. Devel

[2021-10-18 08:40] acuderman opened #1449 "Base record dates are not in standard ISO format"
Base record includes fields `created_at` and `updated_at`.  Dates are stored in the following format `2021-09-13 11:44:26.796518Z`. Is there any reason standard `T` delimiter is not used instead of space? Example: `2021-09-13T11:44:26.796518Z`. In the JSON-LD proof (created property), the `T` delimiter is already used.

There is an [explicit delimiter change in the code](https://github.com/hyperle

[2021-10-20 10:45] acuderman commented on #1449
@swcurran @ianco @andrewwhitehead Does maybe any of you have an opinion on this?

The format we suggest is also specified in https://datatracker.ietf.org/doc/html/rfc3339#section-5.6

[2021-10-20 14:24] johnburton9 opened #1451 "Aries Agent: Exception: Timed out waiting for agent process to start"
Hi,
  I am going through the Aries Cloud Agent Python Demos.

  Using Windows 10, with the von-network successfully running in Docker on http://localhost:9000/

When I execute ./run_demo faber it registers the faber.agent and DID but then throws an exception. The following is the exception. Any thoughts/ideas?
Shutting down agent ...
Faber      |
Faber      | Shutting down
Faber      | 2021-10-20

[2021-10-20 14:29] ianco commented on #1451
The agent is not able to connect to the ledger, and is timing out.

You can try this command which will connect to a public ledger:  `LEDGER_URL=http://test.bcovrin.vonx.io ./run_demo faber`

[2021-10-20 15:05] #1451 closed, assigned to nobody

[2021-10-21 08:13] TimoGlastra opened #1452 "Access profile on plugin initialization"
We're currently writing a plugin for ACA-Py that needs access to the profile and storage on startup and having a hard time finding a clean approach to this. The setup method only takes the InjectionContext, no profile, and the routes registration also doesn't get a profile.

How we currently solved is by adding a new endpoint and then calling that from the setup method. This is not ideal but gives

[2021-10-21 08:14] TimoGlastra commented on #1452
cc @dbluhm. You know a lot about plugins and event busses :)

[2021-10-21 10:32] chheunpheara opened #1454 "Cannot queue message for delivery, no supported transport"
I know I have asked same questions on the chat room. But I still can't get it to work.
Now, I post the issue here and hope I could get some helps.

My purpose was to interconnect bifold to aca-py mediator and connect to other invites of other aca-py.
So I'll have the following:
1. Bifold agent
2. An aca-py Mediator
3. A Demo aca-py agent

So on startup the bifold can make successful connection to

[2021-10-21 14:53] etschelp opened #1455 "Proof request with none_revoked restriction returns valid=true even though the credential has been revoked"
I tested this with the latest Lissi wallet and aca-py 0.7.2-rc0.

Steps to reproduce.

1. aca-py is started with a configured tails server, a cred def with revocation registry is created
2. Connect aca-py with the Lissi wallet
3. Issue a credential
4. Revoke the credential
5. Send a proof request with none_revoked restriction and a timestamp that is after the revocation from step 4
6. Lissi wallet

[2021-10-25 07:52] romanzoun opened #1456 "Aca-Py Endorsement in Sovrin MainNet?"
Hello

I have a question: Is it possible to use a aca-py agent as andorser on Sovrin MainNet? Currently we use builder and Staging, but someone said, on MainNet the aca-py protocol is not implemented yet.

Regards, Roman

[2021-10-25 13:59] acuderman opened #1457 "Proof presentation with constraint filters not working as expected"
## Integer number
I tested number constraints inside the proof requests and It doesn't work as expected. In the process the verifier agent throws an error:
[code]
The problem is that the expected [credential value type in the proof presentation is number](https://github.com/hyperledger/aries-cloudagent-python/blob/main/aries_cloudagent/protocols/present_proof/dif/pres_exch_handler.py#L753), but in

[2021-10-26 06:56] #1454 closed, assigned to nobody

[2021-10-27 10:31] yunxi-zhang opened #1458 "ACA-Py running as AWS ECS Fargate task can't connect to either Sovrin BuilderNet/a local von-network in an Azure VM"
Hello, I'm running ACA-Py on my AWS ECS Fargate as a task container that tries to connect to both the Sovrin BuilderNet and my own von-network running as containers in my **Azure VM**, but it keeps getting error and shutting down. The errors look similar in both situation.

Below shows the details:
**Environment:**
- AWS ECS Fargate, Platform version 1.4.0
- Task memory (MiB)8192
- Task CPU (unit)

[2021-10-28 14:19] yunxi-zhang opened #1460 "ACA-Py can't publish a private DID to Von-network"
Hello, I've upgraded my local VON-network to its latest version. After turning on multi-tenancy feature in ACA-Py, I can't publish a private DID to VON-network, which was not an issue when I used an old version of VON-network. Below shows the steps of how to reproduce the issue.

**Environment:**
ACA-Py version: 0.6.0

Step 1: Turn on the VON-network by using the ./manage up command.
Step 2: Run a

[2021-10-28 23:19] Jsyro opened #1462 "Storing a Credential with a negative numeric string value causes Marshmallow.exceptions.ValidationError"
As the holder, after a credential offer is accepted, as aca-py is storing the credential, encoded values go through a marshmallow validator and a `marshmallow.exceptions.validationError` gets thrown.
[code]

A positive number string like `'44'` will not cause this issue, and including any letter character like `'-125 E'` will also not occur as it cannot be casted to a numeric python value (int/flo

[2021-10-29 20:45] JamesKEbert commented on #1455
@etschelp fairly specific question for you--are you specifying a timestamp for the credentials in the requestedCredentials property for creating the Indy Proof `"timestamp": Optional<number>`?
[code]
In my troubleshooting if this field is not provided & the credential being presented is revocable then no timestamp will be passed in the identifiers of the proof and then additionally ACA-Py will ass

[2021-10-30 00:14] ianco commented on #1455
Aca-py is dropping revocation constraints for presented credentials that are non-revocable, because indy-sdk will fail validation in this scenario.  However the current logic is not correct ...

[2021-10-30 18:06] dbluhm commented on #1452
I fumbled the reopening of this issue (sorry) but while I've already triggered notifications: do we want to track the provision event addition as a feature request within this issue and keep it open until implemented?

[2021-10-31 23:08] swcurran opened #1466 "Add v2.0 of the Discover Features Protocol - AIP 2.0"
Please add the [Discover Feature v2.0](https://github.com/hyperledger/aries-rfcs/tree/b3a3942ef052039e73cd23d847f42947f8287da2/features/0557-discover-features-v2) protocol.  Although AFAIK there is not a big difference between v1.0 and v2.0 versions, we normally copy the current version to create the new version and evolve the new version from there -- retaining support for the new version.

### N

[2021-11-01 09:17] webknjaz commented on #1403
FYI aiohttp v3.8 has been released this night.

[2021-11-01 09:48] yunxi-zhang commented on #1458
Thanks for the response @ianco  and @swcurran. I've got questions on opening the IP and port numbers.

So far, when I run my **VON-network** in my Azure **VM1,** I've never opened the port range 9701-9708 to the Internet (i.e. specify them in the **inbound rules** of **VM1**), but ACA-Py agents running other Azure VMs can always connect to my VON-network. So,

Q1.When you mentioned opening this po

[2021-11-01 09:52] yunxi-zhang commented on #1460
@ianco, Endorsor is the only valid option I can see in the VON-network Web UI. In this case, how can I use Trustee or Steward?

Actually, I don't remember I had to create a public DID as an Endorsor previously to make multi-tenancy work before.

![image](https://user-images.githubusercontent.com/16185797/139653619-e0951a5f-a804-4215-b23d-5bcc9996d486.png)

[2021-11-01 10:59] etschelp opened #1467 "/present-proof-2.0/send-proposal expects the wrong model for the indy type"
The class [V20PresProposalByFormatSchema](https://github.com/hyperledger/aries-cloudagent-python/blob/31659902475de16118d8322f3cbc9c74f0b85ef5/aries_cloudagent/protocols/present_proof/v2_0/routes.py#L117) links to IndyProofRequestSchema (which is the full proof request) instead of IndyPresPreview which is the desired model for a presentation proposal when using the indy type.

[2021-11-01 11:38] WadeBarnes commented on #1460
Default Auth Rules (https://github.com/hyperledger/indy-node/blob/master/docs/source/auth_rules.md) to help clarify which roles can perform various operations.

[2021-11-01 13:26] swcurran commented on #1467
That changed in V2 of Present Proof. In V2 the Indy proposal attachment is a presentation request.

[2021-11-01 13:26] #1467 closed

[2021-11-01 13:28] swcurran commented on #1403
@shaangill025 -- can you please look at this. Andrew had been on it.

Thanks!

[2021-11-01 13:59] yunxi-zhang commented on #1460
Hello @WadeBarnes, not sure how this table could help resolve my issue. By combining below rows together, looks like an Endorsor has a privilege to write a DID to the ledger.

![image](https://user-images.githubusercontent.com/16185797/139683143-25e77d77-d782-4e8a-8512-2f334d0c1891.png)
![image](https://user-images.githubusercontent.com/16185797/139683152-6f195373-8e21-43c1-b9fe-03a1fd0c3b71.png)

[2021-11-01 14:54] TimoGlastra commented on #1372
Just ran into this issue myself, so adding some info.

@ianco it will never reach

[code]

because a few lines above it waits for a message:

https://github.com/hyperledger/aries-cloudagent-python/blob/31659902475de16118d8322f3cbc9c74f0b85ef5/aries_cloudagent/transport/inbound/http.py#L99

This could be useful for long polling, but it also means the http request won't finish until a message should

[2021-11-01 15:11] etschelp commented on #1467
Ah i see, my bad. But still I do not get this to work, so from my naive understanding I now have to send a very specific proof request as a proposal, that will probably be translated back into another proof request from the verifier that the prover will answer with the matching credential.  So I'm sending:

[code]

The proofing aca-py accepts this, but the verifier throws the following exception:

[2021-11-01 20:33] shaangill025 commented on #1466
Looking at the existing `Discover feature v1.0`, there is an endpoint `/features` under `server tag` to query supported features for that agent. So, if Bob (:5002) needs to know about Alice's (:5001) supported protocols, Bob calls this endpoint (:5001) directly (not via Admin API). There are elements like `QueryHandler` and `prepare_disclosed` that are implemented but not used which I think are re

[2021-11-01 20:42] shaangill025 commented on #1466
I will appreciate a clarification on this:
[code]
Does this mean:
1. Disclosure contains all protocols matched by `abc.*` and all goal codes matched by `aries.*` found within the filtered protocols matched by `abc.*`?
2. Disclosure contains all protocols matched by `abc.*` and all goal codes matched by `aries.*` evaluated independently?

[2021-11-02 12:13] swcurran commented on #1466
Thanks for the summary.  Some followup:

- This comment `So, if Bob (:5002) needs to know about Alice's (:5001) supported protocols, Bob calls this endpoint (:5001) directly (not via Admin API).` from your assessment seems really strange.  No Admin API call?  If not -- that definitely needs to be added.  I know the Aries Toolbox uses the Feature Discovery query, so not sure how that works.  Very o

[2021-11-02 12:25] WadeBarnes commented on #1460
It's actually this line that is relevant to what you are attempting:
![image](https://user-images.githubusercontent.com/10504350/139845320-209d7e5f-4263-45db-af69-294fcbed8c2a.png)

It confirms the default rules allow an ENDOCER to write an unprivileged DID (a DID with NO role) to the ledger.

[2021-11-02 12:32] WadeBarnes commented on #1460
Connecting to a locally running instance of `von-network` using the containerized in `indy-cli` and running `ledger get-auth-rule` confirms it's using that same rule:
[code]

[2021-11-02 12:36] WadeBarnes commented on #1460
This indicates the code should be able to write a DID to the ledger provided it is not being assigned a role.  If the DID you are trying to write to the ledger has a role assigned it will fail, as an ENDORCER cannot write a privileged DID to the ledger.

[2021-11-02 12:54] yunxi-zhang commented on #1460
@WadeBarnes, when running the commend `ledger get-auth-rule` in the indy-cli, I've got below error.
![image](https://user-images.githubusercontent.com/16185797/139850336-1d8d56bc-262c-45c2-95a7-aab8f59c8477.png)

Does it mean the Indy-cli has to connect to the ledger pool first? Where can I find the guidance on how to do it?

[2021-11-02 13:04] WadeBarnes commented on #1460
You need to at least register the ledger with the `indy-cli`; https://github.com/bcgov/von-network/blob/master/docs/Indy-CLI.md#register-the-network-ledger-with-the-indy-cli-environment

and then connect to the pool before issuing the command:
[code]

Full documentation in how to use the containerized `indy-cli` can be found here; https://github.com/bcgov/von-network/blob/master/docs/Indy-CLI.md

[2021-11-02 13:12] yunxi-zhang commented on #1460
Thanks for the guidance. I can get the table now. However, I don't understand the semantics of each attribute along with its value in the **Constraint** column and the **New Value** column. Do you have a doc explaining what they mean?
![image](https://user-images.githubusercontent.com/16185797/139852877-c05449c8-9c92-494d-a858-398b74bcd8a7.png)
![image](https://user-images.githubusercontent.com/16

[2021-11-02 13:31] WadeBarnes commented on #1460
Roles (from here; https://github.com/hyperledger/indy-node/blob/master/docs/source/requests.md#nym):
    - None (common USER)
    - "0" (TRUSTEE)
    - "2" (STEWARD)
    - "101" (ENDORSER)
    - "201" (NETWORK_MONITOR)

[2021-11-02 13:32] WadeBarnes commented on #1460
![image](https://user-images.githubusercontent.com/10504350/139856693-c90cdcf7-00d4-40dd-a9a5-d5022124ba46.png)
is saying the same thing as
![image](https://user-images.githubusercontent.com/10504350/139856783-7aa19149-0e48-498b-b4c6-fbb287cf9f69.png)

[2021-11-02 13:34] WadeBarnes commented on #1460
This is just confirming that the `auth_rules` for your locally running instance of `von-network` will allow and ENDORCER to write a non-privileged DID to the ledger.

[2021-11-02 14:32] yunxi-zhang commented on #1460
@WadeBarnes, how can I understand the relationship amongst  **Old Value**, **New Value** and **Constraint** columns for below roles in my table? E.g. `-` in the **Old Value** column, `101` in the **New value** column and have values of **0** and **1** for **role** attribute in the **Constraint** column?

![image](https://user-images.githubusercontent.com/16185797/139866907-3b4e15fb-64f9-40aa-b5be-

[2021-11-02 14:38] WadeBarnes commented on #1460
This rule indicates you need the signature of either a "0" (TRUSTEE) or a "2" (STEWARD) in order to write a new DID with the role of "101" (ENDORSER) to the ledger.  Since it's a new DID ("ADD") the old value is irrelevant (`-`) since it does not exist.

[2021-11-02 14:39] shaangill025 commented on #1466
Sounds good, maybe this can be indicated inside the `RFC 0557` document, under [disclosure message section](https://github.com/hyperledger/aries-rfcs/tree/main/features/0557-discover-features-v2#disclosures-message-type), that a proactive disclosure message should look like:
[code]

[2021-11-02 14:52] yunxi-zhang commented on #1460
Thanks @WadeBarnes, this makes sense now. If the role does mean any one of the ENDORSER, TRUSTEE AND STEWARD can add a new DID with no role to the ledger, it somehow contradicts to what I've experimented so far. Could you or your team help test this multi-tenancy feature by publishing a private DID to a public DID on the VON-network and see if it works?

[2021-11-02 14:54] WadeBarnes commented on #1460
@ianco, are you able to help a bit from here?

[2021-11-02 15:04] shaangill025 commented on #1466
Sounds good, from an implementation point of view (after a second thought), defining of `goal_code` should happen in `controller` for applicable protocols and then we implement a `GoalCodeRegistry` on the lines of `ProtocolRegistry` to support `goal_code_matching_query` and `register_goal_codes` functions. I will need a central registry or list of `goal_code` for ACA-Py to support to proceed in th

[2021-11-03 07:44] etschelp opened #1474 "/present-proof-2.0/send-proposal throws exception on the verifying side"
I'm trying to send a indy proof proposal via /present-proof-2.0/send-proposal, as I learned this endpoint now expects a proof request vs the v1 proposal. So to replicate the v1 behavior I'm sending a very specific proof request that describes my intended proposal as close as possible. So this is my payload:

[code]

This works on the proofing side, but the verifier logs the following exception:

[

[2021-11-03 18:14] ianco commented on #1462
See PR https://github.com/hyperledger/aries-cloudagent-python/pull/1475

Tested out negative encodings and doesn't seem to cause any issues

[2021-11-04 10:49] estrehle opened #1477 "Acme Controller Workshop: Unclear instructions for issuing work credential"
I am working through the Acme Controller Workshop. First: A big thanks to everyone who contributed! I find it very easy to follow and I am learning a lot along the way.

One step left me scratching my head, though. In Section "Issuing Alice a Work Credential", what should I do with this piece of code?
[code]
Should I copy-paste this? Where?

[2021-11-04 11:03] yunxi-zhang commented on #1458
Hello @ianco  and @swcurran, could you provide answers to my questions above? Thanks!

[2021-11-04 11:55] shaangill025 commented on #1457
1. Regarding **Integer number** issue, this should be fixed in PR#1430.

2. Regarding **Float number ** issue, this error (`must be real number, not str`) is triggered when deriving the credential. I tested the `reveal_doc` in JSON-Playground and it seems to be correct. I will raise an issue regarding this.

3. > Regarding range validation. It works if we specify the same paths multiple times with

[2021-11-04 14:16] ianco commented on #1477
Hi @estrehle I think that is old code, I'll remove it from the instructions.

[2021-11-05 12:56] teyahdavis opened #1479 "/present-proof/send-request 403 error"
Hi, I'm running agents in v.0.7.1 on an Azure VM, connected to Sovrin's BuilderNet.

Trying to call /present-proof/send-request on my verifier agent with body:
[code]

But got a **403: Connection c5cd3e9b-31c6-4a12-aa5d-a387f5520c55 not ready** error in Postman, and **aries_cloudagent.core.conductor WARNING Cannot queue message for delivery, no supported transport in CLI**, could anyone support wi

[2021-11-05 13:03] acuderman commented on #1457
Thanks, this sounds good. Yes Ideally all credentials that match one of the schemas would be returned, so that the holder has the ability to decide which one to use (the order should not matter).

What about the issue I described [here](https://github.com/hyperledger/aries-cloudagent-python/issues/1457#issuecomment-952864881). Is the validation that the credential's schema in proof presentation ma

[2021-11-05 16:03] shaangill025 commented on #1457
I wasn't able to replicate this issue, schema filtering is working as expected. For me with `"uri": "https://w3id.org/test#test"` the presentation includes no credential.

[2021-11-08 09:03] acuderman commented on #1457
That's true, but if Aca-py is slightly modified on the holder side, in order to send the credential inside proof presentation even though schema doesn't match. The validator agent will not notice that. We cant assume that all agents will be harmless.

I prepared an example: https://github.com/acuderman/aries-cloudagent-python/pull/3/files

When the demo is run (Alice and Faber), the proof is still

[2021-11-08 09:56] yunxi-zhang commented on #1458
Hello @ianco  and @swcurran , could you provide answers to my questions above? In addition, are you aware of any other port numbers that will be used when an ACA-Py agent tries to connect to either a remote VON-network or Sovrin BuilderNet?

[2021-11-08 13:15] ianco commented on #1458
Hi @yunxi-zhang I'm not an expert on indy node or the required ports or network settings, I suggest you can open ports until you can get a successful connection, or ask the question on the indy-node channel in Hyperledger Rocketchat

[2021-11-08 13:30] ianco commented on #1479
Hi @teyahdavis , this error could be caused by lots of factors.  There could be connection issues between aca-py and the ledger, could be a TAA issue (I think with buildernet you have to accept TAA but not with a local VON network), or "other".

Check the aca-py log files for any error messages, there could be an error during the startup/initialization which is affecting this operation

[2021-11-08 15:12] yunxi-zhang commented on #1458
Apologies to keep asking you, @ianco, thought you knew the details. Thanks for the guidance, i've raise this in the indy-node channel.

[2021-11-08 15:19] WadeBarnes commented on #1458
`aca-py` agents are clients, they connect to the client IPs and ports of the nodes on an indy network.  Only node-to-node communication is performed over the node IPs and ports.

[2021-11-08 15:31] yunxi-zhang commented on #1458
Thanks for your answer @WadeBarnes, appreciate it.

Got another question on whether the IPs listed in the BuilderNet's genesis file will be updated constantly?

[2021-11-08 15:49] WadeBarnes commented on #1458
The IPs and ports listed in a genesis do not change very often, however that does not really matter since your `aca-py` agent uses the genesis file to establish an initial connection with the network whenever it starts, once the connection is established your agent will get the full list of all of the nodes on the network directly from the network's pool configuration.  To clarify, the genesis fil

[2021-11-08 16:02] WadeBarnes commented on #1458
To provide an answer to your question in rocket.chat about which IPs and ports need to be open for your agent to connect to a given ledger:

Outgoing Requests Only - A node will never try to establish a connection with your agent:
- Open to all external IPs, your not going to know the IPs of all of the nodes on the network (other than the few listed in the genesis file) ahead of time, and nodes ca

[2021-11-08 16:23] yunxi-zhang commented on #1458
Thanks for answers @WadeBarnes. What impacts will be on the ACA-Py agents if they can't connect to the rest of the nodes whose IPs are not listed in the genesis file?

[2021-11-08 16:29] WadeBarnes commented on #1458
You could run into performance and availability (leger pool timeout) issues.

[2021-11-08 16:32] yunxi-zhang commented on #1458
thanks for your answers @WadeBarnes :-).

[2021-11-08 16:32] #1458 closed

[2021-11-08 16:50] shaangill025 commented on #1457
This should be addressed now in PR #1430.

[2021-11-08 17:03] yunxi-zhang opened #1480 "Credential definition not in wallet"
Hello,

I'm running an ACA-Py agent (**V0.6.0** and using **SQLite** as the default wallet) in my AWS ECS cluster, which connects to the Sovrin's BuilderNet. I can create a credential schema successfully, but when I tried to create a credential definition, I've got the below error.

`400: Credential definition PK6fouNGpMe6FBzK2pfrGn:3:CL:6927:passport is on ledger default but not in wallet Authori

[2021-11-08 17:29] WadeBarnes commented on #1480
The credential definition has been written to the ledger but it does not exist in your wallet.  This can happen if you have been testing with the same schema version and already written the data to the ledger and now you are trying to do the same with another instance of the agent using the same DID and Verkey, or you deleted the wallet at some point after creating the transactions on the ledger.

[2021-11-08 18:28] #1457 closed, assigned to shaangill025

[2021-11-09 08:02] estrehle commented on #1477
@ianco Thanks for getting back! I played around a bit and found out that I actually need to copy-paste this code right after the previous code bit. Otherwise we're missing a definition for `schema_id` and `cred_def_id` which are used later. I'll suggest a fix and create a PR.

[2021-11-09 12:14] teyahdavis commented on #1479
Thanks @ianco !

In my verifier aca-py logs, i'm just seeing:
[code]

and there don't seem to be any problems with the startup - it seems like the problem is with the verifier agent because my issuer and holder were able to communicate and issue/store a credential etc.

[2021-11-09 13:26] acuderman commented on #1457
@shaangill025 Thanks! Went through the cases and looks good.

Would It also make sense that a problem report is created in case that the Verifier throws: `DIFPresExchError`?

[2021-11-09 13:52] ianco commented on #1479
It looks like the connection between your verifier and holder/prover isn't in active state.  Try the `/connections` endpoint and see what state your connection is in

[2021-11-09 16:39] teyahdavis commented on #1479
when my verifier creates a connection request and my holder receives it, the state I can see is: request

generally I don't have to do anything other than receive it for it to be active?

[2021-11-09 17:04] ianco commented on #1479
On the verifier side, you are creating an invitation.  On the holder side, you have to receive and then request the connection.  And then on the verifier side you have accept the connection request.  (There is another "acknowledge connection" step but this one is optional and not properly specified in the RFC)

Depending on what "auto" flags you specify on aca-py startup, some of these steps may h

[2021-11-09 17:23] teyahdavis commented on #1479
each of my agents have --auto-accept-invites \ --auto-accept-requests \ flags, is there something else it might be?

[2021-11-09 17:37] ianco commented on #1479
These should work, what do you get from the `/connections` endpoint?

[2021-11-09 17:40] teyahdavis commented on #1479
verifier:
[code]

holder:
[code]

[2021-11-09 17:46] ianco commented on #1479
Looks like the holder has sent the connection request, but the verifier hasn't received it (status is still `invitation`)

Possibly the invitation is getting sent with the wrong endpoint?  (should be the endpoint of the verifier)   In which case the holder thinks they've sent the connection request but it never made it to the verifier

[2021-11-09 18:19] teyahdavis commented on #1479
the steps I'm taking to make the connection are:
**verifier** - /connections/create-invitation
**holder** - /connections/receive-invitation

I'm copying the invitation {} body from the response from the verifier and literally just sending it in the holder receive invitation.

I've double-checked the endpoints and they seem to be correct, just confused as this is what I've done for the issuer and h

[2021-11-09 18:21] ianco commented on #1479
If the holder isn't able to connect to the issuer I'd expect some kind of error message in the log file.

Can you past the "banner" that's displayed on startup from each agent, as well as the contents of your invitation?

[2021-11-09 18:24] teyahdavis commented on #1479
invite contents:
[code]

by banner do you mean
![image](https://user-images.githubusercontent.com/74596899/140982427-5be68c56-8a63-466d-aa2d-69713bbed832.png)
or something else?

[2021-11-09 18:26] teyahdavis commented on #1479
wait I've found the problem, it was a copy/paste mistake in the verifier's startup command!

[2021-11-09 18:35] #1479 closed

[2021-11-09 18:35] ianco commented on #1479
Aha!  Good work!

[2021-11-10 09:51] yunxi-zhang commented on #1460
Hello @ianco, could you and your team to help test if this is an issue in the current ACA-Py implementation?

[2021-11-10 13:40] ianco commented on #1460
@yunxi-zhang I was able to test this successfully in aca-py multitenant mode:

- run the alice and faber demo in multitenant mode:  `./run_demo faber --multitenant` and `./run_demo alice --multitenant`
- open the swagger page for faber's agent `http://localhost:8021`
- authorize by providing the `Bearer ...` token for faber's sub-wallet
- (note that the public DID for faber's sub-wallet is created

[2021-11-10 14:52] TimoGlastra opened #1485 "fields.Int generated `int32` in swagger, but some fields are larger than int32"
Integers in schemas are marked as `Fields.Int` in ACA-Py. The swagger UI generated automatically marks this as an `int32`, which is not sufficient for some numbers ACA-Py uses (mostly time based related to TAA and Revocation). This is an example of the swagger ACA-Py generated:

[code]

The maximum value here will overflow for `int32`. This is at least happening in the following schemas:

- IndyPr

[2021-11-10 15:15] acuderman opened #1486 "Proof requests without the "is_holder" constraint conclude in invalid proof validation"
When the proof request doesn't include the `is_holder` constraint, the verifier responds with `verified: false`, but It should respond with true. The same thing happens if the directive is "preferred" instead of "required".

### Reproduction steps:
- Remove [is_holder constraint](https://github.com/hyperledger/aries-cloudagent-python/blob/main/demo/runners/faber.py#L331) or change the directive to

[2021-11-10 16:04] yunxi-zhang commented on #1480
Thanks for the clarification @WadeBarnes. Postgres is the target DB I'll use, just using the SQLite for testing purpose. This issue is gone after my ACA-Py can connect to Sovrin's BuilderNet properly and accepted the TAA.

[2021-11-10 16:04] #1480 closed

[2021-11-10 16:13] yunxi-zhang commented on #1460
Thanks for the response @ianco. I see the API you use to publish a private DID to be a public one is `/ledger/register-nym`, but the one I've used is `wallet/did/public?did=Cv3gHFy7PXbF5agXhv49Hh`. Is the api I used not the right one any more, or does it become deprecated?

[2021-11-10 16:24] TimoGlastra opened #1487 "ACA-Py returns 200 with "schema": null when no schema found"
When a schema is not found when calling the `/schemas/{schema_id}` endpoint, ACA-Py returns the following json with a `200` response code.

[code]

Shouldn't this return a `404` error? Or is this on purpose? Not sure how things not found on the ledger should be processed

[2021-11-10 17:49] ianco commented on #1460
Hi @yunxi-zhang , the `wallet/did/public?did=..` api registers which DID in the wallet will be used as the public DID.  In order to use this API you first have to publish the DID to the ledger (this API doesn't do that).  Do creating a new public DID in a wallet is a 3 step process:

1. Create the new DID
2. Publish the DID to the ledger
3. Register the DID in the wallet as the public DID

In orde

[2021-11-10 17:50] #1477 closed

[2021-11-11 09:51] yunxi-zhang commented on #1460
Thanks @ianco. I'm not sure how I should do for this step **(note that the public DID for faber's sub-wallet is created with ENDORSER role)** as mentioned in your answer.

I put my understanding to creating a public DID for a sub wallet by using general an ACA-Py (not the faber demo) as shown in steps below,
1. Create a public DID (with an endorsor role) for the base wallet in an ACA-Py agent - by

[2021-11-11 13:38] ianco commented on #1460
Just like the error message says, you need to have a public DID in your wallet, i.e. registered on the ledger with appropriate role (ENDORSER or higher) in order to write a DID to the ledger.  This is a ledger constraint, not an aca-py constraint.

[2021-11-12 06:00] rpobulic commented on #1427
@swcurran , has DIF been contacted for clarification?

[2021-11-12 09:29] yunxi-zhang commented on #1460
I did register a public DID in my agent's wallet as shown in step 1, is this not the right way?

[2021-11-12 13:10] ianco commented on #1460
Step 1 creates the "base wallet", but your step 5 is executing in the context of the sub-wallet, which has no public DID.

[2021-11-12 13:59] yunxi-zhang commented on #1460
Thanks for your answer @ianco. Think the bit I'm struggling with is how I can create a public DID for the sub-wallet. My goal here is to create a public DID for each sub wallet assuming I'll have multiple sub wallets in an Issuer agent, and each sub wallet will be a different issuer.

[2021-11-12 15:18] ianco commented on #1460
You need to have an agent that has the authority to write DID's on the ledger.  You can create a sub-wallet for this purpose, or use a separate instance of aca-py.  We often use a separate instance of aca-py (separate from the multi-tenant instance) as this instance can also act as an Endosrer.  (You *could* do this with another sub-wallet, but we find it's easier to manage this with a separate ac

[2021-11-15 09:24] yunxi-zhang commented on #1460
Following your suggestions @ianco, I've tested with two agents. Agent 1 runs **an Endorsor** which has **a public DID**, as this DID has been registered with an **endorsor role** in the **VON-network's Web UI**.
![image](https://user-images.githubusercontent.com/16185797/141755598-37754bd1-a6e5-4e3c-ab46-25ccd4d82083.png)
Agent 2 runs a multi-tenancy ACA-Py with a sub wallet 1 (please ignore its n

[2021-11-15 15:06] ianco commented on #1460
Agent 2 *can't* publish their own DID transaction.  They need another agent to publish their DID.  Once the DID is published on the ledger then Agent 2 can make it their public DID.  Once Agent 2 has a public DID then they can either (depending on their DID role) write their own transactions to the ledger (schema, cred def etc) *or* they can ask an Endorser to endorse their transactions and then p

[2021-11-16 09:29] yunxi-zhang commented on #1460
Thanks for your answer @ianco, this makes sense and it works. Really appreciate all your help here :-).

[2021-11-16 10:38] #1460 closed

[2021-11-16 14:57] a1s-tech opened #1495 "Multitenancy: Unauthorized error on restart"
When restarting the agent, all calls related to an existing wallet fail. This is the log:

[code]
In the current setup I am using `bcgovimages/aries-cloudagent:py36-1.16-1_0.7.1` with `postgres:13` and the following config:

[code]
All operations work just fine with a running agent: creating wallets, invitations, relationships, credentials, etc.
However, once the agent is restarted, it doesn't rec

[2021-11-16 19:34] TimoGlastra commented on #1495
Not sure if this has something to do with It, but you're not setting the `wallet-type` property. If not set ACA-Py will default to the `in_memory` wallet, which loses all data after a restart. However as you say the wallets exist in the database I'm not sure if this could be it

[2021-11-16 20:13] ianco commented on #1495
Not able to reproduce.  I started an aca-py agent in multitenant mode, created a sub-wallet, tested access to the sub-wallet using the swagger page (authenticate using bearer token)

Then I restarted the agent, re-authenticated and was able to access the wallet again.

I used an external postgres database to store wallets (left this running while I restarted the aca-py agent)

@a1s-tech I can shar

[2021-11-16 20:30] a1s-tech commented on #1495
@TimoGlastra I will check the `wallet-type` property; indeed, the error seems to come from `in_memory.get_record`.
Thanks for the suggestion!

[2021-11-16 20:33] a1s-tech commented on #1495
@ianco yes, please share. Much appreciated.

[2021-11-16 20:43] ianco commented on #1495
See the following two files (renamed to `*.txt` to satisfy github):

[postgres-indy-args-local.yml.txt](https://github.com/hyperledger/aries-cloudagent-python/files/7549699/postgres-indy-args-local.yml.txt)
[faber-local-multitenant.sh.txt](https://github.com/hyperledger/aries-cloudagent-python/files/7549700/faber-local-multitenant.sh.txt)

1. run a local von-network (`./manage start 192.168.0.11 -

[2021-11-17 05:23] shaangill025 commented on #1486
@acuderman Can you test the requested updates [in PR #1493]?

[2021-11-17 11:01] acuderman commented on #1486
@shaangill025 Thanks for the update. It works now if the holder sets `holder_did` when creating the credential request, but doesn't otherwise.

### Reproduction steps:
- Remove [is_holder constraint](https://github.com/hyperledger/aries-cloudagent-python/blob/main/demo/runners/faber.py#L331) constraint
- Replace [this line](https://github.com/hyperledger/aries-cloudagent-python/blob/main/demo/runn

[2021-11-17 13:55] a1s-tech commented on #1495
@ianco Your example worked as expected.
In my setup I added `wallet-type: indy` and removed `seed` (this combination generated other errors). Now all is good.

Thank you @TimoGlastra  & @ianco for your assistance.

[2021-11-17 13:55] #1495 closed

[2021-11-17 14:19] santidediego opened #1497 "error: [Errno 36] File name too long when installing aca-py 0.7.X"
When installing **aca-py 0.7.X** both with _pip_ and _python setup.py install_, I got an error:

`error: [Errno 36] File name too long: 'build/bdist.linux-x86_64/egg/aries_cloudagent/vc/tests/dids/__pycache__/did_zUC72Q7XD4PE4CrMiDVXuvZng3sBvMmaGgNeTUJuzavH2BS7ThbHL9FhsZM9QYY5fqAQ4MB8M9oudz3tfuaX36Ajr97QRW7L`

Same commands work for me in **aca-py 0.6.X**

[2021-11-17 14:25] shaangill025 commented on #1486
This is expected, if there is no `holder_did` set or `$.credentialSubject.id` for the credential, then the presentation is not signed as it will not be possible to verify this.

If you would still like to sign such a presentation then you will have to specify the `signing DID` in the request body (example below) for `/present-proof-2.0/records/{pres_ex_id}/send-presentation` endpoint.
[code]

[2021-11-17 15:04] swcurran commented on #1497
@shaangill025 -- can you please take a look at this?  Anything we can do for that?

[2021-11-17 15:22] theowlsden opened #1498 "ACA-Py throws error 500: No instance provided for class: IndyHolder"
## Issue
When running an ACA-py instance for a holder (no public DID etc), when trying to get credentials the instance throws an error 500:
"500 Internal Server Error

Server got itself in trouble"

When you look into the logs of the container it logs:
Traceback (most recent call last):
  File "/home/indy/.pyenv/versions/3.6.13/lib/python3.6/site-packages/aiohttp/web_protocol.py", line 422, in _ha

[2021-11-17 15:32] deoalade opened #1499 "Inconsistency in proof presentation in v 0.7.1"
HI all,

I’ve recently been working with Hyperledger Aries (versions 0.6.0 & 0.7.1) & have generally found it to be a really amazing framework.

However I notice there seems to be some inconsistencies resulting in errors when executing some of the API calls for the Acapy agents in version 0.7.1.

For instance I am sometimes successfully able to run a full sequence of schema/credential definition,

[2021-11-17 15:47] acuderman commented on #1486
Okay, thanks for the explanation. In this case, looks good.

[2021-11-17 15:58] shaangill025 commented on #1497
On my end, I tried with `Windows with pip 20.3.3`, `Ubuntu with pip 9.0.1` and `Mac with pip 21.3.1` and `aries-cloudagent-0.7.2` installed successfully with no errors.

[2021-11-17 16:08] santidediego commented on #1497
Solved by upgrading _pip_. Thanks

[2021-11-17 16:08] #1497 closed

[2021-11-17 18:55] #1486 closed

[2021-11-17 19:10] ianco commented on #1498
You need to specify `--wallet-type indy` to use indy credentials

[2021-11-17 19:13] ianco commented on #1499
@deoalade  Can you include the contents of the aca-py log for this error?  Especially if there is a stack trace in the log ...

[2021-11-18 03:18] dbluhm opened #1502 "Update outbound queue docs"
The outbound queue implementation and documentation have grown out of sync. The Documentation should be updated to reflect the current implementation.

[2021-11-18 10:06] estrehle opened #1503 "Suggestion: Add OpenAPI doc for Administration API Webhooks"
I am developing an Aries controller in TypeScript. The OpenAPI doc for the Administration API is very useful as a template when creating request and response types.

Would it be possible to also provide an OpenAPI doc for the Administration API Webhooks? That is, an OpenAPI specification of the Webhook API expected by the Aries agent?

So far I have only managed to find the prose description in th

[2021-11-18 15:30] swcurran commented on #1503
Good question.  AFAIK, the Web Hook API is higher level in that there is not a specific definition per message type in all protocols.  Maybe that's a good thing -- maybe not.  If we have to have per protocol endpoints on the Admin API side, why not on the web hook side?

That said -- I'm not up to date on the precise state of the webhooks.  @ianco @shaangill025 -- thoughts on this?  @jcourt562 ?

[2021-11-18 17:04] ianco commented on #1503
There is one webhook endpoint, but the webhook URL that is actually called by aca-py will contain the `<topic>`, which is basically the message type.  The payload is basically the protocol state and attached message (whatever message is received at that stage of the protocol, as far as I recall offhand).  The attached message may be different per protocol state.  I don't think aca-py expects any r

[2021-11-18 17:29] estrehle commented on #1503
Thanks @ianco! So far I implemented an endpoint for `/topic/connections`. From experimentation I figured that the Aries agent seems to send payloads of type `ConnRecord` to that endpoint (as defined in the [Admin API spec](https://github.com/hyperledger/aries-cloudagent-python/blob/255fc1e116b243ad64760a383169440df12e748b/open-api/openapi.json#L4931-L5046)). But from your comment I gather that the

[2021-11-18 17:40] ianco commented on #1503
I believe the webhook payload will include the message received at that stage of the protocol.  So it's not "basically anything", because all the messages are defined in the respective RFC's.

I agree the docs for webhooks could be better :-( ... There is an example of a generic approach to handling webhooks in the alice/faber demo - the endpoint is defined here:  https://github.com/hyperledger/ar

[2021-11-18 21:20] jcourt562 commented on #1503
My understanding corresponds with Ian.  Unfortunately it is only a read understanding atm.  A hook server is the next on my list of things to add to the MacOS SDK we release along with persistent postgres DB configuration.

Thanks

From: Ian Costanzo ***@***.***>
Date: Friday, 19 November 2021 at 3:40 am
To: hyperledger/aries-cloudagent-python ***@***.***>
Cc: John Court ***@***.***>, Mention ***@

[2021-11-19 15:29] teyahdavis opened #1505 "Schema/Credential Definition Error - Multi Tenancy Enabled"
Hi, I'm running 4 agents in v.0.6.0 with a Local Von-Network on an Azure VM.

I've used an Endorser agent to publish the DID of the Issuer agent's subwallet to the ledger, and when using the Bearer token, the Issuer is able to successfully establish a connection with my Holder agent, however, when I try to create a Credential Definition (from the Issuer agent) I'm getting the following errors:
[co

[2021-11-19 15:47] ianco commented on #1505
@teyahdavis  Can you list the steps you use to create the credential definition?  Remember you need to create a schema first (or use a schema that is already created on the ledger)

[2021-11-19 15:52] teyahdavis commented on #1505
Sure, I created schema by:

1. **Issuer** `/schemas` POST with body:
[code]
Response was:
[code]

[2021-11-19 15:54] teyahdavis commented on #1505
Then credential definition request was `/credential-definitions` POST with body:
[code]

[2021-11-19 16:33] ianco commented on #1505
Hi @teyahdavis , I tried creating a schema/cred def based on your templates and everything worked for me:

- started a local von network and tails server
- started an agent using the faber demo (`./run demo faber --revocation --multitenant`)
- using the swagger page `http://localhost:8021` created a sub-wallet and then authenticated using that bearer token
- created a new local DID, published to l

[2021-11-19 18:45] swcurran opened #1506 "Oddity in the "vc" module when generating ReadTheDocs docs -- a bug?"
A number of documentation warnings are generated in the ACA-Py read-the-docs documentation when the ACA-Py module "vc" is not mocked out.  Sometimes such warnings are an indication of a problem in the code, so I think this is worth a review.   To replicate the problem:

1. Follow the steps in the [ReadMe](https://github.com/hyperledger/aries-cloudagent-python/blob/main/docs/README.md) in the docs

[2021-11-19 18:46] swcurran commented on #1506
A little one for you @shaangill025 before a larger one that is coming.

[2021-11-20 16:56] swcurran opened #1507 "Document how to do the steps of RFC 496 - Transition from Connections to DID Exchange"
Please verify and document how to transition in ACA-Py from Connections to DID Exchange per [RFC 496](https://github.com/hyperledger/aries-rfcs/tree/main/features/0496-transition-to-oob-and-did-exchange), including (but not limited to...):

- What version of ACA-Py is needed for Step 1, 2?
- What settings (config parameters) are needed to transition for each step.
- Is [RFC 627](https://github.com

[2021-11-22 15:26] theowlsden commented on #1498
Thank you, that fixed it. Is there a way to make that error more descriptive?

[2021-11-22 22:35] swcurran commented on #1427
My apologizes -- I've not submitted the issue.  I was on vacation for a while and have not gotten back to this.  It will try to get this done (but it is unfortunately not top of my list), so it would be better if either of you that have more information submit an issue to here: https://github.com/decentralized-identity/presentation-exchange/issues

Sorry to have dropped the ball on this.

[2021-11-22 22:53] shaangill025 commented on #1427
I will submit the issue there and post the link here, @swcurran and @rpobulic, if needed, you can add to it.

[2021-11-23 07:17] ffendt opened #1511 "OOB invitation not deleted when using `use_existing_connection`"
When having an active connection between two agents and using the `use_existing_connection` flag when receiving another invitation from the inviter using the Out-Of-Band protocol, the invitation doesn't get deleted at the inviter. I would expect the invitation to be deleted in the database of the inviter.

Steps to reproduce (which will hopefully make my very long sentence above more understandabl

[2021-11-23 13:49] DennisVonDerBey opened #1512 "Corrupted input (present-proof request) breaks the output API (present proof records)"
We just noticed while testing out the Askar wallet type with BBS+ activated, that corrupted input on the `/present-proof-2.0/send-request` endpoint can break the `/present-proof-2.0/records` API endpoint.

`/present-proof-2.0/send-request'
Request Payload:
[code]

Don't ask me how the `_schema` ended up in there, that's a fail on our side. But if you send this request and then fetch the records:

[2021-11-23 17:41] swcurran opened #1513 "Create an implementation and documentation for addressing the "in-memory queue" issue in ACA-Py"
A concern that is known to exist in ACA-Py is the use of in-memory queues for in-bound and outbound message processing. The initial implementation of ACA-Py included in-memory queues. As we have deployed ACA-Py in container orchestrated environments, we've known that these queues represent an issue for supposedly "immutable containers".  When (for example) Kubernetes needs to evacuate a server in

[2021-11-23 17:53] #1466 closed

[2021-11-23 19:18] #1506 closed

[2021-11-23 21:36] yunxi-zhang opened #1514 "Two ACA-Py running as containers in my laptop can't communicate with each other"
Hello,

I've tried to run two ACA-Py agents as containers in my laptop for testing purpose, but they fail to communicate with each other. I wonder whether ACA-Py is designed to communicate with each other when they are running in the same machine? Below shows the environment I use.

- OS: Mac OS 11.6.1
- Docker version: 20.10.8
- ACA-Py docker image: bcgovimages/aries-cloudagent:py36-1.16-0_0.6.0

[2021-11-23 21:40] ianco commented on #1514
You can't use `localhost` for the endpoint for an aca-py that is running in a docker container.  You need to use an IP or host name that is available within the internal docker network.

Options are - use the internal docker IP; use `host.docker.internal` (doesn't work on all platforms); or use ngrok (or similar) to expose you agent's endpoints publicly.

[2021-11-23 22:26] esune commented on #1455
@ianco is this still an open issue, or should we close it now?

[2021-11-23 22:29] ianco commented on #1455
Should be fixed with https://github.com/hyperledger/aries-cloudagent-python/pull/1465

I'll close it

[2021-11-23 22:29] #1455 closed

[2021-11-24 11:22] estrehle commented on #1514
You could also use Docker Compose. On execution, Docker Compose creates a shared network where Docker containers can find each other by container name.

Below is an example `docker-compose.yml`. Run it with `docker-compose up --build --remove-orphans`.

The key lines are the two `ACAPY_ENDPOINT: "http://<container_name>:<ACAPY_PORT>"`. Notice that we do not need to expose the inbound endpoints `80

[2021-11-24 11:43] estrehle commented on #1503
@jcourt562 I agree that the Webhook API lives on the controller server and not ACA-py. But in my view an OpenAPI specification would make the life of webhook developers so much easier.

An example where the OpenAPI documentation would be helpful. Say I have a webhook for `/topic/connections`, check the incoming payloads for `state === 'active'` and trigger some business logic if the condition is s

[2021-11-24 14:06] chriamue commented on #438
Dear community, this issue is already closed. Can somebody link a file that documents the log-levels or give an example how to change the default WARNING.
There is a command line parameter called `log-level`, but this seems only to handle `debug`, `info` and `warning`.
Other level fall back to warning.

[2021-11-24 15:12] swcurran commented on #438
@chriamue -- I recommend you open a new issue on how to use the `log-level` and anything else need to get logs.  You might try searching in the issues and on rocketchat for previous discussions and add a PR to doc it.  Sorry it's a pain to find.

[2021-11-24 15:38] swcurran commented on #1503
I agree that it would be good to have.  I think it is a bootstrapping / maintenance problem.  The Admin API has to have an OpenAPI specification, where as we could get away with the webhook being "just an endpoint". In fact, it is (more or less) exactly as big as the Admin API, as it includes all the messages that could come back. So we left the problem for all controller developers.

That said, I

[2021-11-24 16:19] yunxi-zhang commented on #1514
Thanks for your help @ianco  and @estrehle, using either internal IPs or the docker compose file does work.

[2021-11-24 16:19] #1514 closed

[2021-11-24 22:59] shaangill025 commented on #1512
@DennisVonDerBey I will appreciate it if you can give this a quick test.

[2021-11-25 10:53] lukwil opened #1520 "Delete wallet only DIDs"
Hi,

We did some more extensive performance testing with version 0.7.1 since our last issue here (#1232). For reference see the graph below.

To be exact, we did full end to end tests with 20 requests/minute, with emulated end user wallets as well as a mediator service and aca-py cloudagents for the issuing side. At some point in time (around 1200 credentials issued), we were somehow reaching a pe

[2021-11-25 16:35] swcurran commented on #1520
This is awesome -- thanks for contributing this.

One thing that I would like to see tried if possible, is running the entire scenario with the "shared components" (e.g. indy-vdr, indy-shared-rs and aries-askar) instead of the indy-sdk.  While that won't address the "delete" issue, it would be extremely interesting to us to have an "apples-to-apples" comparison of an indy-sdk and shared components

[2021-11-25 17:08] shaangill025 commented on #1511
@ffendt PR #1521 (more details), deletes stale `ConnRecords` which were last updated at least 3 hours back. The trigger for this  is creating an OOB invitation, so whenever a new OOB invitation is created then this cleanup is performed. Does this strategy sound reasonable?

[2021-11-25 17:28] ianco commented on #1520
Yes you just need to specify `--wallet-type askar` and it will run with the shared components.

(Note that the integration tests and AATH tests can also be run with the askar components, by specifying this parameter)

[2021-11-25 23:55] bartekus commented on #1349
My recommendation here would be to have a look at https://postgrest.org and also https://aws.amazon.com/blogs/database/multi-tenant-data-isolation-with-postgresql-row-level-security/ for the specifics about achieving multi-tenancy that has scalability as well as security as their main objectives.

By externalizing the data layer to a easily manageable API interface and relying on Postgres row-leve

[2021-11-26 06:32] ffendt commented on #1511
@shaangill025, thanks for the quick PR. I'll close this issue for now.

[2021-11-26 06:32] #1511 closed

[2021-11-26 10:09] lukwil commented on #1520
First of all thanks for your fast answers! I tried Askar before (but still in 0.7.0rc0) and did not see any significant improvements. But we will give that a try in our more "close to production" test environment. Concerning your question @swcurran about access to our setup - I will clarify whether that is possible 👍🏻

[2021-11-26 16:55] edbkei opened #1522 "AttributeError: 'NoneType' object has no attribute 'notify'"
This happens in a VM (Ubuntu 20.04.3 LTS) in a platform provided by Google Cloud. This is a very fresh implementation after new git clone on von-network and aries-cloudagent-python. Then, running ./run_demo faber, this happens:

eduardo@eduardoito:~/aries/aries-cloudagent-python/demo$ ./run_demo faber
Preparing agent image...
sha256:739adae5f285d5e9ed031fd83efe7d97df17d08588bb2ec99bf572d069903ea3

[2021-11-26 18:16] ianco commented on #1522
Are you using "x.x.x.x" as an IP or are you redacting your log file?

[2021-11-26 18:43] edbkei commented on #1522
yes. It was due to  security reason, just in case.

[2021-11-26 19:03] edbkei commented on #1522
This issue was found due to a fault in SSL/TLS as reported wrongly at https://github.com/bcgov/von-network/issues/187, indeed it should be reported herein, as it is related to aries-cloudagent-python. Briefly describing what happened is that I have an VM created in university cloud environment, where I installed aries-cloudagent, when executing run_demo faber results "OpenSSL SSL_connect: SSL_ERRO

[2021-11-26 21:09] ianco commented on #1522
The root cause is that Faber isn't detecting that the aca-py agent has started up.  Could be a timing issue, or a network-related issue (although the aca-py agent is started as a sub-process, so not sure why there would be a network issue).

When faber starts their agent they poll the `http://10.128.0.2:8021/status` endpoint to confirm that aca-py has finished its startup.

You can try extending t

[2021-11-26 21:24] edbkei commented on #1522
as it may take time to analyze, I would like to share .pcap file. As it is 79MB, I would like to request you an repository to upload.

[2021-11-28 20:46] edbkei commented on #1522
Hi,

I´ve doubled the START_TIMEOUT as below:
START_TIMEOUT = float(os.getenv("START_TIMEOUT", 60.0)) # 30.0
at ~/aries-cloudagent-python/demo/runners/support/agent.py

and the things improved a lot, now it is possible to connect faber2alice,
send credential, and make proof. It delays a little more to bring the invitation data, so
the start_time might be in between of 30..60s.

Nevertheless, when

[2021-11-28 22:38] edbkei commented on #1522
after some more simulations, START_TIMEOUT needs to be set to 60s.
at coroutine _terminate, timeout should be set to 2.0 instead of 0.5s.

[2021-11-29 10:37] ffendt opened #1524 "Multiple explicit Out-Of-Band invitations with public DID"
Current state:
Inviter throws exceptions when receiving connection requests to explicit public Out-Of-Band invitations, when there is more than one explicit public Out-Of-Band invitation in state `invitation`. The connection isn't established and stays in state `invitation`.

Desired state:
Inviter can create multiple explicit public Out-Of-Band invitations and invitees can receive them when they

[2021-11-30 20:16] shaangill025 commented on #1524
@ffendt The fix is ready if you want to give it a quick test.

[2021-12-01 07:44] ffendt commented on #1524
@shaangill025 Looks good, I can't reproduce the problem with the fixes from your PR. Thank you very much.

I'll close this issue and subscribe to the PR to retest if there are any major code changes.

[2021-12-01 07:44] #1524 closed

[2021-12-01 20:24] #1512 closed

[2021-12-02 09:51] acuderman opened #1529 "credentialSchema is not shared with the verifier"
When the presented BBS+ credential includes the `credentialSchema` property, It is not added to the presentation exchange record as expected.

### Reproduction steps:
- Add `credentialSchema` property to the [credential](https://github.com/hyperledger/aries-cloudagent-python/blob/main/demo/runners/faber.py#L160) with value:
[code]
- Run demo agents:
[code]
- Issue credential and send proof request

[2021-12-04 14:11] Mohitv opened #1531 "Error retrieving ledger genesis transactions"
The following is the log where this error is coming while running command: "./run_demo alice"
aiohttp.client_exceptions.ClientConnectorError: Cannot connect to host 192.168.65.3:9000 ssl:default [Connect call failed ('192.168.65.3', 9000)]

I have set up von network using docker and it is using the network name "von_von" while agent container(created when using ./run_demo alice)uses network named

[2021-12-05 01:49] Mohitv commented on #1531
I was able to use von_von network for agent and that solved the communication issue

[2021-12-05 01:49] #1531 closed

[2021-12-05 17:41] TimoGlastra opened #1532 "Allow to accept TAA using startup parameters"
Currently it is not possible to automatically accept the TAA using startup parameters. It is possible if you have an interactive tty, but this is not always the case in server environments. If you know which ledger you're going to interact with, it would be possible to set the aml mechanism in the acapy startup parameters to be able to automate the complete startup process.

With the new multi-led

[2021-12-06 01:28] marcinkiewiczblazej commented on #1144
Currently I'm trying to setup mediator using ACA-Py (with `aries-acapy-plugin-toolbox`) with AFJ react native. And it seems that the issue is still open. When negotiating connection I see this line in logs:

[code]

What happens next is that on the React native side I'm getting a timeout as the response is not delivered from mediator. @TimoGlastra is there a way to pass the config so that `didcomm

[2021-12-06 07:25] TimoGlastra commented on #1144
Could it be related to this issue? You don't need the didcomm transport queue support in ACA-Py, it should work without.

@dbluhm does this sound familiar with the issue you were running into?

https://github.com/hyperledger/aries-cloudagent-python/pull/1469#issuecomment-984233912

[2021-12-06 07:37] tech-gaurav opened #1533 "how to create multiple wallets under same network"

[2021-12-06 14:07] dbluhm commented on #1144
Yes, this sounds like the issue we were experiencing. @marcinkiewiczblazej is this on ACA-Py version 0.7.2?

[2021-12-06 14:39] swcurran commented on #1144
I just merged #1469 .  Could you please try again with the current main branch?

[2021-12-06 14:56] swcurran commented on #1532
The TAA is only needed for writing to a ledger.  My assumption has been that a single instance of ACA-Py for issuing will only be writing to a single ledger, and so the current mechanism for handling the TAA were sufficient (e.g. not really impacted for multi-ledger).

That said, having a start-up parameter to say "accept-indy-taa" seems like a good idea.  I think I sort of assumed it was already

[2021-12-06 16:41] shaangill025 commented on #1529
@TimoGlastra I have discovered an issue with `pyld` `normalize` which is used to generate `document_statements` here:
https://github.com/hyperledger/aries-cloudagent-python/blob/fa749d249a38ab2e5df96d4992ea2ced542290a5/aries_cloudagent/vc/ld_proofs/suites/bbs_bls_signature_proof_2020.py#L97

For this credential ([link](https://tinyurl.com/y5vbu7v7)), the `document_statements` generated by `pyld` i

[2021-12-06 16:55] TimoGlastra commented on #1529
Hmm, haven't tested with credential schemas when writing this. @shaangill025 could you add test that reproduces this error?  That will make it easy for me to debug

[2021-12-06 17:34] marcinkiewiczblazej commented on #1144
I was checking out main repository few days ago, so no specific version. I'm running M1 Mac, so there are some additional problems I'm resolving on the way most of them are caused by no binary distributions for `linux/arm64`. So I have to build them from scratch.

Today I've tested it with latest main branch. And it helped a bit. So now messages are delivered, but I'm getting an error on  a reques

[2021-12-06 18:08] shaangill025 commented on #1529
@TimoGlastra This test reproduces the issue:
https://github.com/hyperledger/aries-cloudagent-python/blob/1f59a056bbf7a489fcefb25510a16832fc165ee5/aries_cloudagent/vc/ld_proofs/suites/tests/test_bbs_bls_signature_2020.py#L89

[2021-12-07 00:18] ianco opened #1536 "Predicate range checks break due to over aggressive fraud detection"
If you are doing a range check using predicates (e.g. "age >= 19 AND age <= 65") aca-py rejects this due to over aggressive fraud detection in the indy verifier class.

[2021-12-07 00:18] ianco commented on #1536
@swcurran I'm working on a fix for this, I'd like to get it into the `0.7.3` release ...

[2021-12-07 00:20] ianco commented on #1533
@tech-gaurav can you describe your use case, or the issue you are running into?  There is no issue creating multiple wallets

[2021-12-07 00:31] shaangill025 opened #1537 "Proposal: DIF PE v2.0 support in ACA-Py"
# DIF PE v2.0 Implementation in ACA-Py
- Links to specification
  - [v2.0](https://identity.foundation/presentation-exchange), current status is `working group draft`
  - [v1.0](https://identity.foundation/presentation-exchange/spec/v1.0.0), currently supported in ACA-Py

## Major differences from v1.0
- `schema` has been removed from `input_descriptors`<br/>
This has been replaced with an optiona

[2021-12-07 00:43] swcurran commented on #1536
Sounds good -- I'll hold off on the release.

[2021-12-07 02:14] ianco commented on #1536
Fixed in PR https://github.com/hyperledger/aries-cloudagent-python/pull/1538

[2021-12-07 23:41] andrewwhitehead commented on #1520
It may be possible to use the `--public-invites` flag to establish these connections without creating a new peer DID for each instance. This should avoid the overhead of creating the thousands of DIDs and filtering them on each request. There is a security trade-off due to the nature of the current DIDComm envelope formats – future exposure of the private key for the agent's public DID would allow

[2021-12-08 09:00] DaevMithran opened #1539 "Credential record state not updated after revocation"
There should be a credential_revoked state for credential records, currently we have to use a seperate api to know the revocation status and the state of credential records remain in credential_issued even after revocation. The update should also reflect in the credential records.

[2021-12-08 10:12] TimoGlastra commented on #1537
Is the idea to support both v1 and v2 concurrently?

[2021-12-08 12:31] stevendonline opened #1540 "timestamp data type and format issue in AdminAPI"
In ACA-Py Administration API swagger.json, the time data format e.g timestamp or range etc have "int32" as "format" value, however the "maximum" value is 18446744073709551615 which needs long or int64 to support, this has caused problems with some api tools e.g NSwag when generating api client.

        "IndyRequestedCredsRequestedPred": {
            "properties": {
                "cred_id": {

[2021-12-08 12:35] TimoGlastra opened #1541 "cannot create connection with self when using oob with didexchange protocol"
I can't seem to make a connection with myself (the same agent) when using the OOB + didexchange protocol. It works fine when using OOB + connections protocol. May not be the most common use case to create connections with yourself, but it can useful for testing.

Create an OOB using the following body:

[code]

then receive the invitation (with auto accept enabled on both sides) and an error will

[2021-12-08 12:45] TimoGlastra commented on #1540
I've run into the same issue @stevendonline. See also my other issue here: https://github.com/hyperledger/aries-cloudagent-python/issues/1485

We currently maintain a patch file that we regenerate for every release of ACA-Py where we fix issues with the generated openapi: https://github.com/didx-xyz/aries-cloudcontroller-python/blob/main/generator/data/openapi.patch with the output file here: http

[2021-12-08 13:10] stevendonline commented on #1540
Thank you @TimoGlastra for the prompt response. Answers like this really help!

[2021-12-08 13:41] TimoGlastra opened #1542 "didexchange fetches all connection records to determine whether a connection can be reused"
As I understand the didexchange implementation at the moment, it fetches all connection records to be able to determine if a connection can be reused. It needs `their_public_did` which is not a tag, thus requiring a `post_filter`.

When dealing with a lot of connections this will probably making reusing connections quite slow.

Same happens with `invitation_msg_id`

[2021-12-08 14:11] swcurran commented on #1542
@shaangill025 / @andrewwhitehead -- can you please take a look at this? Can we add the "their_public_did" as a tag so that we can do an efficient query of the connection set?

[2021-12-08 14:18] swcurran commented on #1540
Thanks @TimoGlastra . Some questions from that explanation:

- Do the patches get pushed back into ACA-Py?  Do they need to?
- Should the maximum be removed or changed?
- Would it be useful the tools that you and Indicio run to be internal to ACA-Py?  Can the community benefit from that?
- There is a document in the repo - [UsingOpenAPI.md](https://github.com/hyperledger/aries-cloudagent-python/bl

[2021-12-08 14:20] swcurran commented on #1541
Looks like a fun one for you, @ianco .  We need this for OrgBook BC, right?

[2021-12-08 14:25] swcurran commented on #1537
Right now, the idea is just document what the differences are and the changes that will be required when a move to v2 is made.  As a team, we're mostly focusing on AnonCreds right now, so this is a placeholder for others that might want to implement this, or for us when there is more of a need for supporting DIF PE and W3C VCs in general.

Whether to support just V2 or both concurrently will depen

[2021-12-08 14:46] ianco commented on #1541
Yep lots of fun!  (FYI OrgBook uses the connections v1 protocol to self-connect so not impacted by this issue)

[2021-12-08 17:03] TimoGlastra commented on #1540
I've done a few minor updates over the past months, but not all of them are merged back. I think we _should_ do it, just haven't gotten around to it. Mainly because I would also like to tackle the optionality issue then (a lot of response type properties are marked as optional even though they are always present, making the generated object less useful) which would take more time.

Yes! I think ho

[2021-12-08 17:38] andrewwhitehead commented on #1542
Is the `their_did` tag not sufficient?

[2021-12-08 17:49] TimoGlastra commented on #1542
`their_did` contains the peer did, the connection is only bootstrapped using the public did

[2021-12-08 19:06] ianco commented on #1541
The difference between the 2 protocols is that didexchange sets the `request_id` on both connection records (invitee and inviter) whereas the connections protocol only sets the `request_id` on the invitee.  With with a didexchange self-connection you wind up with 2 records in the same wallet with the same `request_id`.

[2021-12-08 19:28] ianco commented on #1541
See https://github.com/hyperledger/aries-cloudagent-python/pull/1544, still needs some testing, I'm not familiar enough with the protocols offhand to know if this is a viable solution.

[2021-12-09 07:51] DaevMithran commented on #1539
Agreed. That's a valid point. As we are supporting revocation in two ways either using cred_ex_id or rev_reg_id. The first approach will work only if the credential record is in the ACA-Py secure storage, So we can change the state of credential record to credential_revoked only when the credential record is in the ACA-Py secure storage.
I'll create a PR for this. Thank you for the response.

[2021-12-09 09:44] TimoGlastra opened #1546 "Support ARM based docker images"
I've recently bought an ARM mac and the experience hasn't been great. Opening this issue to keep track of the status of supporting ARM based images for ACA-Py.

There has been some work done by other Hyperledger maintainers, and also the work in [von-network](https://github.com/bcgov/von-network/issues/182) which looks very promising. I'm currently developing on an ubuntu droplet because it was ca

[2021-12-09 09:48] PaulWen opened #1547 "DatabasePerWalletStrategy + Postgres Storage fails to Recreate Wallet"
I am using the following parameters to start up the AcaPy and let it recreate the wallet:

[code]

Running it the first time against an empty Postgres DB the database "wallet_db" will be successfully created and initialized.
Running it the second time it **does not look like the wallet is actually deleted and recreated**.

First, postgres logs do not show any "DROP" statements as the [Indy SDK cod

[2021-12-09 16:16] ianco commented on #1541
@andrewwhitehead @TimoGlastra  any thoughts?  An alternative is to qualify the "find by request_id" query to filter based on the connection role (inviter vs invitee)

[2021-12-09 16:48] swcurran commented on #1546
I think this issue belongs in here: https://github.com/bcgov/aries-cloudagent-container, which is the source of the images.  Looks like we should be able to do that in the script used to produce the tagged releases.  I'll take a look at that when we create the 0.7.3 release tag.  Does that sound right?

I'm going to open a separate issue on how/where ACA-Py images should be published.  I suspect i

[2021-12-09 16:51] swcurran opened #1548 "How and to where should ACA-Py Container Images be published?"
Currently, container images for ACA-Py are produced from this repo: https://github.com/bcgov/aries-cloudagent-container, and published to Docker Hub here: https://hub.docker.com/r/bcgovimages/aries-cloudagent.

Is it time to:

1. Put the script/process to create the images into the ACA-Py repo vs. a separate one
2. Publish the images to a Hyperledger repo vs. a BCGov one?

Opinions welcome on this

[2021-12-09 17:51] #1542 closed

[2021-12-09 18:26] WadeBarnes commented on #1548
I think the image(s) should be published as part of the ACA-Py release process, and I'm leaning toward the images living in the [Hyperledger Docker Hub](https://hub.docker.com/u/hyperledger/).  The other option would be publish the images in the `ghcr.io` repository linked to the project.

@ryjones, Do you have any strong preferences to [Hyperledger Docker Hub](https://hub.docker.com/u/hyperledger

[2021-12-09 19:25] ryjones commented on #1548
@WadeBarnes please us github packages. It's free and it works. [here is an example of how it works in another Hyperledger project](https://github.com/hyperledger/firefly/blob/main/.github/workflows/docker_release.yml)

[2021-12-09 22:03] ianco commented on #1547
The `--recreate-wallet` works with the `aca-py provision ...` command, so if you run something like this it should drop & recreate your wallet:

[code]

(not 100% sure about the parameters, your mileage may vary)

Note that this is a fairly risky parameter to use, if you've already created credential definitions on the ledger, and you drop & recreate your wallet with the same seed/did, then there'

[2021-12-10 16:17] dbluhm opened #1549 "Regression: Askar must be installed"
Somewhere in recent changes, importing Askar specific elements was not correctly  shielded from being loaded at all times. These imports should only be made when these elements are actually used. This has resulted in the following error when an image is constructed without Askar installed:

[code]

[2021-12-10 16:18] dbluhm commented on #1549
@swcurran I think we should prioritize fixing this for 0.7.3 release.

[2021-12-10 17:00] swcurran commented on #1549
@andrewwhitehead please investigate ASAP so we can get this into 0.7.3.

[2021-12-11 04:07] #1549 closed

[2021-12-11 09:00] naman20sharma opened #1552 "Unable to use HTTPS for ACA-Py Agent"
### Unable to use HTTPS for the agent
Hi,
I've been trying to run an agent with below configuration, but I want it to run on HTTPS instead http. The agent's Wallet-DID Endpoint is also listed as `https://127.0. 0.1:8060` which I confirmed used admin swagger apis.
[code]

**Error while connecting with this agent**
I've received the `ERR_SSL_PROTOCOL_ERROR` on the Connection invitation url.

Can I a

[2021-12-12 16:27] nebucaz opened #1554 "Errors when running faber demo with --revocation"
Trying to follow the script at [The Alice/Faber Python demo](https://github.com/hyperledger/aries-cloudagent-python/tree/main/demo#the-alicefaber-python-demo). When running the faber-agent in the [play with von](http://play-with-von.vonx.io) environment with the recovation option (`./run_demo faber --revocation `), errors are thrown on both sides:

Starting Faber:

[code]

Alice, receiving a proof

[2021-12-12 22:46] swcurran commented on #1554
I think the key error in the stack above is this: `f"Tails file for rev reg {revoc_reg_id} " f"failed to upload: {reason}"`

Did you start a tails server or specify that you were using a public tails server?  I think the fail happened in trying to load a file to the tails server when creating the revokable credential type.

[2021-12-13 06:25] nebucaz commented on #1554
@swcurran Sorry, I probably missed following line in the [instructions](https://github.com/hyperledger/aries-cloudagent-python/tree/main/demo#the-alicefaber-python-demo) to run the tails server:

You need to run a revocation registry in order to support revocation - the details are described in the [Alice gets a Phone ](https://github.com/hyperledger/aries-cloudagent-python/blob/master/demo/AliceG

[2021-12-13 06:25] #1554 closed

[2021-12-13 07:13] PaulWen commented on #1547
Also in the context of `aca-py provision` the wallet does not seem to be recreated. Instead, I am receiving the error `Error: Wallet with this name already exists`

[code]

[2021-12-13 08:49] naman20sharma opened #1555 "Error Creating Wallet indy.error.CommonIOError"
### Error: IO error Caused by: Permission denied (os error 13)
Hi,
I tried to run an agent Alice using a docker-compose file, and receiving following errors :

[code]
I've attached the docker-compose file:
[docker-compose.txt](https://github.com/hyperledger/aries-cloudagent-python/files/7702235/docker-compose.txt)

**For ACA-Py Image**
I'm using [Aries-Cloudagent-Container](https://github.com/bcgo

[2021-12-13 15:25] edbkei commented on #1522
Regarding to TLS header empty in University Environment, that it could be proxy/firewall setting. Indeed, it happens because when during dockerfile.demo at docker run --rm bcgovimages/von-image36-1.15-1 /bin/bash, it may happen that MTU size may not fit VxLAN policy of local IT environment. In my case, it was limited to 1450 bytes. The procedure made was to change /etc/docker/daemon.json by introd

[2021-12-13 15:25] #1522 closed

[2021-12-14 15:34] frostyfrog commented on #1552
I believe that the IP is required for binding purposes. As far as connecting and interacting with the ACA-Py agent, you should be able to use a FQDN instead of an IP address by specifying an endpoint. For example: `--endpoint https://mydomain.example.com/`

From my experience, the cloud agent seems to be typically run through a docker container and uses an nginx reverse proxy (also in a container)

[2021-12-15 11:42] estrehle opened #1559 "What does the "start-introduction" command do?"
I am unsure what happens when I call the `/connections/{conn_id}/start-introduction` admin endpoint.

My steps:
- Set up three Aca-Py agents: Agent 1, Agent 2 and Agent 3
- Connect Agent 1 and Agent 2 via DID Exchange Protocol 1.0
- Connect Agent 1 and Agent 3 via DID Exchange Protocol 1.0
- As Agent 1, call `/connections/{connection_id}/start-introduction` with `connection_id` equal to Agent 1's

[2021-12-15 15:49] naman20sharma commented on #1552
@frostyfrog cloud agent is running through a docker container only. My concern is exposing the port `8060` to the web, as in current configuration I have to do that. How to use an nginx reverse proxy here to avoid exposing that port? In my case, I have to connect with a mobile agent as well with this web agent.

[2021-12-15 17:29] chetanapujari opened #1560 "Running Alice Faber Demo locally in Docker on windows 10"
I am following the instruction mentioned in
https://github.com/hyperledger/aries-cloudagent-python/tree/main/demo#running-in-docker
When I try to start faber agent using
  ./run_demo faber
I am getting the following error:

Starting [faber] agent with args [--port 8020]
ERROR:runners.support.agent:****Error loading genesis transactions:****
Traceback (most recent call last):
  File "/home/indy/.py

[2021-12-15 18:47] swcurran commented on #1560
Likely you did not start an instance of von-network (a local instance of Indy). Please check the instructions to make sure you did that step.  You can also run the demo without running a local instance of an Indy ledger by using an external ledger with this command:

` LEDGER_URL=http://dev.greenlight.bcovrin.vonx.io ./run_demo faber`

It just sets an environment variable before running the demo c

[2021-12-17 17:16] frostyfrog commented on #1552
I'm not certain how to setup an nginx reverse proxy myself since most of my reverse proxy experience lies with lighttpd outside of a docker container. I do know that the proxy is also able to run within a docker container, just like the aries-cloudagent, and I'm almost certain that there's plenty of guides online to help you set one up.

[2021-12-18 00:09] swcurran opened #1567 "Exception when resolving a DID when multi-ledger support is active"
Resolving a did from a ledger that is not the main (production and write set to true) ledger raises the exception below, and a recent PyDID change (#1562) didn't resolve the issue. From the exception, the guess is that the value that is handed over to pydid is empty.

My next bet is that it's related to the ledger resolution in indy.py https://github.com/hyperledger/aries-cloudagent-python/blob/3f

[2021-12-20 10:57] acuderman opened #1568 "JSON-ld contexts are not handled correctly"
While issuing JSON-LD credentials we have come up with an issue which I also replicated in the [demo](https://github.com/acuderman/aries-cloudagent-python/pull/4):

- If the credential has been issued for the specific type, all of the following requests can use It, independently of the context. In the demo, this is [the second credential](https://github.com/acuderman/aries-cloudagent-python/pull/4

[2021-12-20 16:54] shaangill025 commented on #1567
Not able to replicate this:
Used this config
[code]
Startup
[code]
On local von network, added a new DID `P9qHs8EYhyZPpKLUReNAWA` from seed `00000000000000000000000000000099` that is not added to other networks. Then executed `/ledger/did-verkey` with DID `P9qHs8EYhyZPpKLUReNAWA` and it successfully resolves it to `localVON`

[2021-12-20 17:33] shaangill025 commented on #1567
I think I have found the cause of the problem within `DIDResolver`. I will provide details here soon.

[2021-12-20 19:59] shaangill025 commented on #1567
@etschelp I would appreciate it if you can check if this fixes the issue.

[2021-12-21 06:29] chetanapujari commented on #1560
It's working now, thank you.

[2021-12-21 15:53] #1560 closed

[2021-12-21 15:58] #1567 closed

[2021-12-21 19:36] watkinspd opened #1571 "No connection re-use with OpenAPI Demo via Docker Faber-Alice Out of Band Invitations (OOB)"
Two potential issues:

**1: Unable to re-use connections with OOB in Faber-Alice OpenAPI demo.**
I am excercising the Aries OpenAPI Demo using the following guide:
[https://github.com/hyperledger/aries-cloudagent-python/blob/main/demo/AriesOpenAPIDemo.md](https://github.com/hyperledger/aries-cloudagent-python/blob/main/demo/AriesOpenAPIDemo.md)

I am running the demo via Docker Desktop MacOS. I am

[2021-12-21 20:27] swcurran commented on #1571
@ianco -- can you please take a look? Perhaps we need some docs on how to reuse connections in Alice/Faber?

[2021-12-21 20:33] jwnicholas99 opened #1572 "HTTPMethodNotAllowed exception when Alice's agent tries to accept the invitation"
While following the steps in the [Aries OpenAPI Demo](https://github.com/hyperledger/aries-cloudagent-python/blob/main/demo/AriesOpenAPIDemo.md#using-the-openapiswagger-user-interface), I get the following error at the "Tell Alice's Agent to Accept the Invitation" step when running the demo in Docker:

[code]

I do not get this error when running in a browser. What results in this error?

**Reprod

[2021-12-21 20:51] ianco commented on #1571
To get the reuse I believe (off the top of my head) you need to startup aca-py with the `--public-did` parameter (or something like that), which we don't do for the demo agents.

Would you like me to add this parameter?  Or add a new param to alice/faber for example `./run_demo faber --allow-public-did`?

[2021-12-21 21:10] swcurran commented on #1571
First step is to help Peter achieve what he is trying to do.  Once that is working and you have a good handle on how the reuse can be achieved, please think about how to convey it to others.  Note sure how best to do that -- perhaps a doc, but I was thinking perhaps Alice-Faber.  Since I don't know exactly how it works, I'm not sure.

[2021-12-21 23:55] ianco commented on #1571
Regarding #2, the `label` is always set by the agent, so for example faber will always set the `label` on their side of the connection and alice will set the `label` on her side.  I believe the `label` is shared with the other agent on the connection, so if I am alice I will see a `their_label` on the connection which is whatever faber set their `label` to (and vice versa).

The `alias` on the oth

[2021-12-21 23:56] ianco commented on #1571
Regarding #1, this requires the aca-py agent to start up with the `--public-invites` parameter.  I'll add this to the alice/faber demo agents, however in the meantime you can add this parameter to your local demo code here:  https://github.com/hyperledger/aries-cloudagent-python/blob/main/demo/runners/support/agent.py#L335

[2021-12-22 04:28] jcourt562 opened #1575 "OPTIONS requests should be allowed without requiring x-api-key"
To support direct access to ACA-py ADMIN interface from a browser SPA it is necessary to consider CORS processing.

Currently aiohttp_cors is setup to allow any origin in setup.py.  This means that if the --admin-insecure-mode argument is used, a Single Page web Application (SPA) can be served from anywhere and successfully talk to ACA-py.

If the --admin-api-key argument is provided to support mi

[2021-12-22 08:01] acuderman commented on #1568
The quoted issue can only be reproduced using the contexts with the `@import` statement. If the import is removed, then It works as expected.

[2021-12-22 11:42] Iraia26 opened #1577 "schemas api error"

[2021-12-22 11:42] #1577 closed

[2021-12-22 21:52] watkinspd opened #1578 "OpenAPIDemo LEDGER_URL environment variable not available to run_demo script"
Running MacOS Monterey 12.1

When using the [demo instructions for docker for the OpenAPIDemo](https://github.com/hyperledger/aries-cloudagent-python/blob/main/demo/AriesOpenAPIDemo.md#running-in-docker) I found that the `$LEDGER_URL` environment variable was NULL within the `./run_demo` script.

This was causing the demo to fail. The docker container would try to start but would fail to obtain th

[2021-12-23 08:18] DaevMithran opened #1579 "Upload tails file method should create new tails file if path doesn't exist"
When a tails file path of rev_reg_id doesn't exist in the tails server it should create a new path for the rev_reg_id and upload the tails file. Currently it is just throwing an error

[2021-12-23 13:10] DaevMithran opened #1580 "Tails file upload fails when revocation tag has a white space"
The tails file location after publishing a credential definition is not considering the white spaces in revocation tags, which leads to fail in uploading tails file but publishes the credential definition on the ledger

[2021-12-23 18:22] ianco commented on #1571
@swcurran protocol question - if Faber sets `use_public_did` on their invite, and then Alice sets `use_existing_connection` when she receives the invite, then Alice will reuse her existing connection (upon the second invite).

However how does Faber know?  As far as I can tell Alice correctly picks up the existing connection, but Faber has an outstanding invite that doesn't seem to get any respons

[2021-12-23 18:28] swcurran commented on #1571
The message from Alice has a pthid from the invitation that she received.  So Faber can tell both the connection on which the message was received (has to, to be able to read it) and, via the pthid, the invitation to which it is connected. From there, @shaangill025 recently added some functionality to remove the hanging invite, and the controller should know what to do once the connecting process

[2021-12-23 18:30] ianco commented on #1571
@swcurran yes thanks, I'll dig into the demo code to see what's going on

[2021-12-23 22:23] ianco commented on #1571
Hmmm I think there's a bug in aca-py.  I can see Alice sending the "connection reuse" message and Faber receives it, however I don't think there's a webhook for a re-used connection, so the Faber controller doesn't ever find out that the connection was reused.

Same on the Alice side - Alice gets the "reuse accepted ack" message but there is no webhook.

[2021-12-23 22:40] shaangill025 commented on #1571
Currently, there is no webhook emitted for connection reuse on either side, I can add this in right away if required. So basically, I will have to call `profile.notify` with `acapy::webhook::connection_reuse_accepted` topic and payload like:
[code]

[2021-12-23 23:03] ianco commented on #1571
Hi @shaangill025 , that would be great!  I was just digging into the code, but it sounds like you know what needs to be done so would probably be quicker for you.  I suggest that the web hook payload should contain each attribute individually, in addition to what is in the comment:

[code]

[2021-12-24 10:35] DaevMithran commented on #1579
Closing this issue as it is related to #1580 .

[2021-12-24 10:35] #1579 closed

[2021-12-26 15:18] swcurran commented on #1578
By default the `run_demo` script assumes that a local instance of an Indy network is being used, and that the user has started an instance of `von_network`.  For the OpenAPIDemo, the Greenlight Dev Indy network is used, as outlined in the Getting Started. To use that, you prefix the commands with setting the LEDGER_URL as noted in the instructions you reference -- `LEDGER_URL=http://dev.greenlight

[2021-12-26 15:18] #1578 closed

[2021-12-28 04:20] #1572 closed

[2021-12-30 23:34] #1575 closed

[2022-01-03 09:19] estrehle opened #1582 "Can I re-use a Peer DID in another connection?"
Upon receiving an invitation, the ACA-Py agent generates a new Peer DID as `my_did`. Is it instead possible to re-use an existing Peer DID (not a public DID) from my wallet?

I have a business case where I want two of my contacts to know that they are both connected to the same agent (i.e., me).

[2022-01-03 13:27] etschelp commented on #1567
yes, looks good.

[2022-01-03 15:06] etschelp commented on #1567
Sorry, I have to specify. Works with wallet type indy, wallet type askar is broken and throws:

[code]

[2022-01-04 00:18] shaangill025 commented on #1567
@etschelp Can you test with PR #1583? I believe I have fixed all `Askar` related issues.

[2022-01-04 09:29] etschelp commented on #1567
Looks good

[2022-01-04 16:36] yunxi-zhang opened #1584 "CORS issue when calling a specific POST API from my frontend app"
I run ACA-Py agents as docker containers by using the official ACA-Py docker images: bcgovimages/aries-cloudagent and run my frontend apps to connect to each agent. My frontend app can call the majority of the APIs of ACA-Py agents successfully, but when calling this specific POST api: `/present-proof-2.0/records/{pres_ex_id}/send-presentation`, I've got an CORS issue as shown below.
`Access to XM

[2022-01-04 16:55] swcurran commented on #1582
@andrewwhitehead @shaangill025 -- thoughts on this?

As implemented today, I don't think that is possible, but there is no Aries protocols reason for this not to be supported.

I know a common discussion in the community has been an enterprise agent using the same public DID as the DID for all connections (e.g. don't use a peer DID at all). I think (but am not sure) if that is supported today in A

[2022-01-04 18:19] swcurran commented on #1584
@shaangill025 -- is this one that you can look at?  I don't think anything we've done on 0.7.3 would have dealt with this.

[2022-01-04 18:23] shaangill025 commented on #1582
I think the following approach will meet this requirement:
- updating `recieve_invitation` (`OOBManager`, `ConnectionManager` and `DIDXManager`) to accept an `optional peer_did` parameter and pass that to `create_request` (`ConnectionManager` and `DIDXManager`) where if this specified we use to `get_local_did` and set it as connection.my_did.
- This is a per-connection approach and is based upon t

[2022-01-04 18:28] swcurran commented on #1582
Would that cause any issues in knowing from whom a message came?  That is, what do we do to find the connection from which a message has been received?  If we use the peer DID, or the public key of the peer DID, would we know from which connection the message was received?

[2022-01-04 20:14] shaangill025 commented on #1582
I am testing it with draft PR #1585, haven't found any issue yet. @andrewwhitehead I will appreciate your feedback.

[2022-01-05 02:39] shaangill025 commented on #1584
@yunxi-zhang I can't replicate the CORS issue, I tested `/present-proof/records/{pres_ex_id}/send-presentation` (`v6.0`, `v7.0`, `v7.1`, `v7.2`, `v7.3rc0`) and `/present-proof-2.0/records/{pres_ex_id}/send-presentation` (`v7.0`, `v7.1`, `v7.2`, `v7.3rc0`).

From the screenshot above, there is no endpoint `present-proof/send-request/..../send-presentation`, the correct endpoint is `/present-proof/r

[2022-01-05 09:13] estrehle commented on #1582
@swcurran @shaangill025 Thanks for taking this on! I'll take a look at the PR and test it for my use case. I want to selectively use the same peer DID for specific connections, and I would manage the logic behind that in a custom Aries controller.

My use case is about managing access to documents hosted by a third party:
- Alice owns a document (e.g., her high school diploma)
- This document is h

[2022-01-05 10:54] vidp1 commented on #1457
Hello @shaangill025,

was this issue raised? If yes could you please provide the issue number, so we can track it.

Thank you!

[2022-01-05 12:21] acuderman commented on #1529
@TimoGlastra @shaangill025 Thank you for taking a look. Are there any updates regarding the issue?

[2022-01-05 13:23] yunxi-zhang commented on #1584
thanks @shaangill025 , my mistake. I thought I used the right api in my frontend, but I put the wrong one there. Thanks for helping here.

[2022-01-05 13:23] #1584 closed

[2022-01-05 13:42] konda-kalyan opened #1586 "Inconsistent behavior when issuing multiple credentials in sequential. Some of the requests/issuances are failing with error "400 Revocation registry metadata not found"."
Inconsistent behavior when issuing multiple credentials in sequential. Some of the issuances are failing with error "400 Revocation registry metadata not found".

Agent version: 0.7.2
Wallet-type: askar
Agent API invoking from Controller: /issue-credential/records/{credential_exchange_id}/issue

Note that issue is not consistent and happening only when we use wallet type as askar (when we tested w

[2022-01-05 15:12] shaangill025 commented on #1568
I tested with `latest` and can't replicate the issue.
**Steps followed**
- Started 2 agents, `Alice` and `Bob` (`--auto-respond-credential-offer` `--auto-respond-credential-request`) and setup a connection between them
- Alice issues the following credential to Bob and Bob stores it.
`/issue-credential-2.0/send-offer` request body
[code]
- Alice issues the following credential to Bob and Bob store

[2022-01-05 15:48] swcurran commented on #1586
@andrewwhitehead -- can you please take a look at this one?  Thanks,

[2022-01-06 07:10] shaangill025 commented on #1568
@acuderman Can you test with PR #1587, now it shouldn't issue the credential and instead, send a problem report back.

[2022-01-06 09:47] acuderman commented on #1568
@shaangill025 The logic seems to be working ok.

 I would suggest that the type check is also included in the create offer API. [Create offer API already checks for missing context attributes](https://github.com/hyperledger/aries-cloudagent-python/blob/main/aries_cloudagent/protocols/issue_credential/v2_0/formats/ld_proof/handler.py#L405). By adding this the issuer gets feedback at the start of th

[2022-01-06 13:50] DibyenduBag opened #1588 "issuing of credentials is unsuccessful when done in a sequential manner with wallet type as 'Askar'"
Facing problems while issuing credentials in a sequential manner. Some of the transactions is resulting in below error and credentials are not getting issued successfully
_ERROR:asyncio:Task exception was never retrieved
future: <Task finished coro=<AriesAgent.handle_issue_credential() done, defined at /home/indy/demo/runners/agent_container.py:143> exception=KeyError('state',)>
Traceback (most re

[2022-01-06 18:42] andrewwhitehead commented on #1582
@estrehle  I don't think that would provide the desired security at the moment. Theoretically a peer DID can be verified (ie. ensuring that the other party possesses the key used to derive the peer DID), but at the moment this is not checked. Since the DID document itself is sent during the connection process, any party could choose to use the Bob-Alice peer DID with their own key.

[2022-01-06 19:04] shaangill025 commented on #1568
@acuderman I have made the requested updates.

[2022-01-07 01:59] konda-kalyan commented on #1588
Just to add more info.... This error is coming from Alice controller. We have Alice as Holder from Alice Faber Demo.

[2022-01-07 04:59] konda-kalyan commented on #1588
Below are the logs (after adding debug messages in handle_issue_credential() function in demo/runners/agent_container.py file.
For the credential_exchange_id = ab21163a-eb2c-4b29-b7a2-9a64df5b0c45, the credential is issued succeeded and for the credential_exchange_id = af43fc28-ee12-4464-95ab-f879d91da239, it got failed after request_sent state.

Sorry for huge amount of logs. I tried to attach th

[2022-01-07 07:59] acuderman commented on #1568
@shaangill025 Thanks! Ran a test. Looks good

[2022-01-07 08:16] estrehle commented on #1582
Thanks for pointing this out! I was not aware of this ... apparently I missed that in the protocol description.

[2022-01-07 16:10] dbluhm opened #1590 "RevocationError reason kwarg"
While working with revocation on 0.7.3-rc0, I ended up in a situation where there was an issue writing to the tails server (this might be as mundane as just a connectivity issue) but, in the process, when that error was reported another error occurred:

[code]

This appears to be a result of converting some code from being in an HTTP handler to being in an event handler with some residual `reason=

[2022-01-10 05:45] konda-kalyan commented on #1588
@swcurran, @andrewwhitehead: Can we request you to check this issue please?

[2022-01-10 14:54] TimoGlastra commented on #1568
The issue seems like a problem with the pyld library itself. If you use drivings license context it somehow caches the result and will use that when a type cannot be found.

See this repl.it for a reproduction of the issue separate from ACA-Py: https://replit.com/@TimoGlastra/ContextIssue#main.py

If you uncomment line 18 in main.py and run it again it will work correctly because you use the passp

[2022-01-10 16:38] #1590 closed

[2022-01-11 00:34] swcurran commented on #1552
Closing this -- outside the scope of ACA-Py.  We'd welcome a PR with documentation about this if it could be helpful to others.

[2022-01-11 00:34] #1552 closed

[2022-01-11 00:36] swcurran commented on #1571
This was addressed in #1581

[2022-01-11 00:36] #1571 closed

[2022-01-11 00:54] swcurran commented on #1588
@andrewwhitehead is going to take a look.  Is this a duplicate of #1586 -- e.g. should we close one of them?

[2022-01-11 00:57] swcurran commented on #1548
When this gets done, please update the guidance in PUBLISHING.md (currently describes the aries-cloudagent-container approach).

How do we get people currently using the docker/bcgovimages transitioned over to using the new Hyperledger images?

[2022-01-11 00:58] swcurran commented on #1548
Also -- this issue should also address #1546 when the update is made.

[2022-01-11 00:59] swcurran commented on #1539
Addressed by #1545

[2022-01-11 00:59] #1539 closed

[2022-01-11 01:01] swcurran commented on #1536
#fix

[2022-01-11 01:01] #1536 closed

[2022-01-11 01:04] swcurran commented on #1507
@shaangill025 -- we are going to be talking about this at the Aries Working Group meeting on Wednesday morning of this week.  Could you please spend a little time on Tuesday (Jan 11) on this and give me an update?  I'd like to be able to report on exactly where we are with this.

Thanks!

[2022-01-11 02:57] konda-kalyan commented on #1588
Thanks @swcurran.

Both #1586 and #1588 are happening in same scenario. However, initially, we were getting the error mentioned in #1586, and later on we started seeing the error which is mentioned in this issue.

We believe, we are missing something while running the agents (issuer and holder). This is the first time we are running 7.2 version agent. Is there any .md file that provides detailed c

[2022-01-11 11:27] TimoGlastra opened #1594 "How are connection and did exchange response signatures verified against the invitation recipient keys?"
I'm currently implementing signed attachment in AFJ for use in DIDExchange. I'm leaning heavily on the aca-py implementation, but can't figure out where the response message diddoc signature verkeys are being matched against the invitation recipient keys.

For the connection protocol looking at the signature decorator [`verify` method](https://github.com/hyperledger/aries-cloudagent-python/blob/70

[2022-01-11 11:35] TimoGlastra opened #1595 "pthid not assigned correctly when conneting implicitly to public did"
When connecting implicitly to a public did and sending a didexchange request the `pthid` of the request message is assigned to the public did of the other agent (`did:sov:xxx`)

However, according to the didexchange protocol the `pthid` must be a DID URL pointing to the service that is used for the implicit invitation:

Example request message (see `~thread.pthid`):

[code]

[2022-01-11 19:21] swcurran commented on #1580
Not sure where the error is happening (ACA-Py or Indy Tails Server), but it would be good to get this resolved.

[2022-01-11 19:26] swcurran commented on #1594
@shaangill025 -- once you have a break in the persistent queues work, please look at this.

[2022-01-11 20:10] swcurran commented on #79
Process is not too bad and documented in PUBLISHING.md

[2022-01-11 20:10] #79 closed

[2022-01-11 20:10] #104 closed

[2022-01-11 20:10] swcurran commented on #104
Closing...

[2022-01-11 20:11] #165 closed

[2022-01-11 20:13] swcurran commented on #352
Work on endorsers has largely been completed.

[2022-01-11 20:13] #352 closed

[2022-01-11 20:14] swcurran commented on #365
Closing this as alternatives to this are being worked. Push notifications will probably go into the aries-mediator-service repo.

[2022-01-11 20:14] #365 closed

[2022-01-11 20:16] swcurran commented on #418
Closing this due to inactivity. If we think this is needed, please reopen.

[2022-01-11 20:16] #418 closed

[2022-01-11 20:27] swcurran commented on #544
Closing this issue.  We have partially addressed this in the Indy Multi-Ledger feature recently added to ACA-Py. Further, we'll deal with this properly with the Indy DID Method.

[2022-01-11 20:27] #544 closed

[2022-01-11 20:30] swcurran commented on #557
Closing this issue. It may come up again as we work on Persistent Queues, but for now we'll leave it.

[2022-01-11 20:30] #557 closed

[2022-01-11 20:32] swcurran commented on #650
Closing this as additional capabilities are available for dealing with revocation. And it really should be the controller that is tracking issued credentials that are revoked.

[2022-01-11 20:32] #650 closed

[2022-01-11 20:34] swcurran commented on #733
Closing this as a non-ACA-Py issue.  We could document it, but...it's here at least.

[2022-01-11 20:34] #733 closed

[2022-01-11 20:35] swcurran commented on #743
A feature has recently been added to ACA-Py to enable this ("their-public-did" tag), so we can support the OOB "reuse" capability. Closing.

[2022-01-11 20:35] #743 closed

[2022-01-11 20:36] swcurran commented on #745
Closing this. We'll deal with new issues in the Askar context.

[2022-01-11 20:36] #745 closed

[2022-01-11 20:38] swcurran commented on #753
Closing this issue as I think we have made adequate progress on this.  Please reopen or add a new version of the issue updated with later releases if appropriate.

[2022-01-11 20:38] #753 closed

[2022-01-11 20:39] swcurran commented on #754
I think this is covered in the docs. Closing.

[2022-01-11 20:39] #754 closed

[2022-01-11 20:39] swcurran commented on #769
Closing.

[2022-01-11 20:39] #769 closed

[2022-01-11 20:40] swcurran commented on #773
Closing this as I think we have adequate support. Please reopen or add a new issue if there is more to cover.

[2022-01-11 20:40] #773 closed

[2022-01-11 20:43] #794 closed

[2022-01-11 20:45] swcurran commented on #804
Duplicate of #1513. Closing.

[2022-01-11 20:45] #804 closed

[2022-01-11 20:46] swcurran commented on #806
Closing issue.

[2022-01-11 20:46] #806 closed

[2022-01-11 20:47] swcurran commented on #813
Closing this -- it's worked elsewhere, so perhaps something local?

[2022-01-11 20:47] #813 closed

[2022-01-11 20:48] swcurran commented on #817
Not sure what to do with this. Closing -- please reopen if appropriate.

[2022-01-11 20:48] #817 closed

[2022-01-11 20:49] #819 closed

[2022-01-11 20:49] #828 closed

[2022-01-11 20:50] swcurran commented on #832
Hopefully you found out about this.

[2022-01-11 20:50] #832 closed

[2022-01-11 20:50] swcurran commented on #844
Closing -- all the components are much richer now. :-)

[2022-01-11 20:50] #844 closed

[2022-01-11 20:51] swcurran commented on #847
We have integration testing in ACA-Py now (thanks @ianco !!). Closing.

[2022-01-11 20:51] #847 closed

[2022-01-11 20:52] swcurran commented on #855
@ianco -- any thoughts on this?  Seems like a good idea.

[2022-01-11 20:52] swcurran commented on #881
We have DID Exchange working in Aries Agent Test Harness with AF-Go, so closing this issue.

[2022-01-11 20:52] #881 closed

[2022-01-11 20:53] swcurran commented on #920
Closing this. Re-add if / when this becomes crucial.

[2022-01-11 20:53] #920 closed

[2022-01-11 20:54] swcurran commented on #922
Not sure what the issue was. The Acme demo has been updated, so this might have been addressed. Please re-open if appropriate.

[2022-01-11 20:54] #922 closed

[2022-01-11 20:55] swcurran commented on #927
Closing.  This is being worked as issue #1513.

[2022-01-11 20:55] #927 closed

[2022-01-11 20:55] #929 closed

[2022-01-11 20:58] swcurran commented on #940
I'm going to close this issue.  However, in doing that, I'll flag @shaangill025 about this issue as he works on the persistent queue implementation, as he is probably working in the same area.  Does this play into what you are doing?

Please reopen if appropriate.  I can see that this might still be an issue.

[2022-01-11 20:58] #940 closed

[2022-01-11 21:00] swcurran commented on #947
Lots has happened since this. Closing this. When adding performance issues, it would be super helpful if the core devs could get more access to the scenario -- e.g. a minimal sample of the use case or pair programming to look at what's going on in real-time.

[2022-01-11 21:00] #947 closed

[2022-01-11 21:03] swcurran commented on #950
Closing this issue as I think the ACA-Py part of this is dealt with. If not, please reopen, or add a newer issue that is updated to current state.

[2022-01-11 21:03] #950 closed

[2022-01-11 22:10] shaangill025 commented on #1507
ACA-Py report - RFC0496
https://hackmd.io/@gbeoESqjRxm7oQacVc_3OQ/r1RXkPihK

[2022-01-11 22:20] swcurran commented on #1001
@andrewwhitehead -- could you review this and let me know what could/should be done about this? What can be passed in the `{}`s, and should we expose this as needing to be available to controllers using ACA-Py?

@shaangill025 -- does this play into the state proofs work you were looking at when you did the multi-ledger support?

Thanks

[2022-01-11 22:21] #1011 closed

[2022-01-11 22:22] swcurran commented on #1014
Totally agree, but unfortunately right now there is not a lot we can do in ACA-Py.  Where it makes sense we have added checks on data structures, but ultimately this is an issue in Indy, and until Indy improves the error handling as they occur, there is little we can do.