[2020-06-03 06:45] mahendra-panchal commented on #535
Ok I understood thanks for the clarification.

So In faber/alice demo, alice is holder, just want to understand why they are validating `credential_acked`( https://github.com/hyperledger/aries-cloudagent-python/blob/master/demo/runners/alice.py#L84).

[2020-06-03 06:49] mahendra-panchal commented on #535
basically I am storing credentially manually ( Store APIs ).

Let me apply `--auto-store-credential` and check.

[2020-06-03 10:13] sklump commented on #535
Note that the issuer is running the software too - this is the issuer, receiving the holder's ack.

[2020-06-03 10:18] sklump commented on #535
On storage of the credential, the holder's operation marks the credential exchange record state as "credential_acked" (https://github.com/hyperledger/aries-cloudagent-python/blob/634ea6c5af4da2dddd3e2cc356526f88aa4c5150/aries_cloudagent/protocols/issue_credential/v1_0/manager.py#L655) and saves it
https://github.com/hyperledger/aries-cloudagent-python/blob/634ea6c5af4da2dddd3e2cc356526f88aa4c5150/

[2020-06-03 13:02] mahendra-panchal commented on #535
Understand the flow, and working as expected.

Thanks @msjeong482 @sklump for your support.

[2020-06-03 13:02] #535 closed

[2020-06-04 23:16] esune opened #544 "Proof-Request is successful when presenting credential from different ledger, but "same" issuer DID and schema"
### How to reproduce

**Given:**
- **LedgerA** and **LedgerB**
- **IssuerA** registered on **LedgerA**
- **IssuerB** registered on **LedgerB**
- **IssuerA** and **IssuerB** possess the same DID (e.g.: same issuer entity on two different Ledgers)
- **IssuerA** and **IssuerB** issue credentials tied to a schema with the same **schema_name**, **schema_version** and attributes

**When:**
- A credentia

[2020-06-05 02:01] sklump commented on #544
If corresponding issuers used the same seed to generate DIDs then their key pairs will be the same in the wallet. Recommend rotating public DID key pairs with random seeds (I.e. via Admin API) and trying again?

[2020-06-05 15:35] swcurran commented on #544
I think it is current expected behaviour, perhaps deserving a note. Until the larger issue of being able to recognize multiple ledgers, this could continue.  An agent has no concept of multiple ledgers - just "the ledger".  Thus, it assumes when it needs an object off the ledger, and it already has it in it's wallet, there is no need to go to the ledger.  Since in this case, the identifier of the

[2020-06-05 16:29] esune commented on #544
I don't see it as odd. Unless I am missing something, I actually think it may become common that the same organization will use the same DID on multiple ledgers in order to be more recognizable (a bit like having multiple web domains with the same name, on different top-level domains.

As discussed offline - if I understood correctly - the verifier should not be caching information when processing

[2020-06-07 14:10] swcurran opened #545 "Evolve the handling of revocation registries into ACA-Py and away from the controller"
The current ACA-Py implementation leaves a lot for the controller to do in managing the details of Indy revocation registries.  Define what can be done to reduce the effort on the controller and move more of that management into ACA-Py.

An initial very naive proposal is [here](https://hackmd.io/_BYKvL71T3W4ECele9BZuQ) that we can start from.  Feel free to add comments and update that document and

[2020-06-08 09:30] MoSoltani opened #546 "No Signatures in credentials"
Hello everybody,

when I send credentials to an endpoint and the status is stored in wallet i miss the signatures.

There is only listed fields are:

- referent
- schema_id
- cred_def_id
- rev_reg_id
- cred_rev_id

Thanks and regards,
Mohammad

[2020-06-08 11:27] sklump commented on #546
The signatures are in the credential, not the metadata.

[2020-06-08 11:36] sklump commented on #546
Once a credential is in the wallet, it does not leave the wallet. What you are seeing is a synopsis of the credential. The signatures are in the credential, in the wallet.

[2020-06-08 15:21] #546 closed

[2020-06-08 15:27] MoSoltani commented on #546
Hi Stephan,
Is there any possibility to read out the signatures?

[2020-06-08 16:43] sklump commented on #546
No: Indy doesn't do that. You can present a proof.

[2020-06-10 09:48] MoSoltani opened #552 "Max. 10 stored credentials"
Hi all,

when I issue credentials to someone up to the state "saved in Wallet" everything works fine till 10 credentials are saved. From the 10th one the new credentials get stored, but another one from the get automatically deleted. So the max credentials at the moment I can save are 10.

Anyone an idea?
Regards,
Mohammad

[2020-06-10 10:29] MoSoltani commented on #552
Update:
When I then delete existing credentials, then it shows me again credentials which has been saved. So the credentials are not getting deleted. It would mean that the GET /credentials only fetch 10 records.

[2020-06-10 10:43] MoSoltani commented on #552
I have found the problem. The standard seems to be 10 credentials. The API can get the "count" argument. But where can I change the standard?

[2020-06-10 10:51] sklump commented on #552
Specify `count` URL parameter to deviate from the default.

[2020-06-11 15:42] #552 closed

[2020-06-12 16:06] ianco commented on #104
Yes ...  if the credential exchange protocol (or proof request) cannot complete for whatever reason the initiating agent needs to receive a problem report.

[2020-06-12 16:22] ianco opened #556 "ACA-PY support Readiness, Liveliness and Shutdown for OpenShift pod management"
Add endpoints for Readiness and Liveliness tests.

- Liveliness check should always return True and should be able to be handled at any time.
- Readiness check should return false until a (TBD) internal state where the instance is ready to accept requests from other agents or from the admin interface about things other than readiness and liveliness.

Support shutdown signal from openshift or other

[2020-06-12 16:26] ianco opened #557 "ACA-PY provide appropriate handling if agent API method is called twice with same parameters"
Due to the retry logic in aca-py, agents are getting called multiple times with the same parameters/protocol exchange, even if work has been completed on a previous call.  This is resulting in 500 server error and spurious error messages.

Examples are provided in comments.

Ensure that these situations result in problem reports (if unrecoverable errors).

[2020-06-12 16:27] ianco commented on #557
Example stack trace:

2020-06-11 17:42:27,094 aries_cloudagent.core.dispatcher ERROR Handler error: credential_exchange_store
Traceback (most recent call last):
  File "/home/indy/.pyenv/versions/3.6.9/lib/python3.6/site-packages/aries_cloudagent/protocols/issue_credential/v1_0/routes.py", line 709, in credential_exchange_store
    V10CredentialExchange.STATE_CREDENTIAL_RECEIVED
AssertionError
202

[2020-06-12 16:28] ianco commented on #557
Example stack trace:

Traceback (most recent call last):
  File "/home/indy/.pyenv/versions/3.6.9/lib/python3.6/site-packages/aries_cloudagent/protocols/issue_credential/v1_0/routes.py", line 704, in credential_exchange_store
    context, credential_exchange_id
  File "/home/indy/.pyenv/versions/3.6.9/lib/python3.6/site-packages/aries_cloudagent/messaging/models/base_record.py", line 213, in retri

[2020-06-12 21:16] sklump commented on #557
Would it be possible to get a stack trace with current master? This code has changed significantly over the last couple of weeks.

[2020-06-15 10:03] sklump commented on #557
I don't know how it's possible to know what events are due to glitches in the matrix and what are events due to having been called twice.

I could generate problem reports on all internal-looking errors - would that address the issue?

[2020-06-19 17:07] anhem115 opened #566 "Can't make connection between faber demo and digital wallet"
I'm trying to create the connection between the faber demo and my digital wallet Streetcred but there is some error when I tried to do that.

I'm using the `http://test.bcovrin.vonx.io/` for the ledger

# First: I started my ngrok for the faber agent at port 8021:
```ngrok http http://localhost:8021```
# Then I run the faber demo with the agent endpoint
```AGENT_ENDPOINT=http://b72cd1316825.ngrok.

[2020-06-19 18:37] WadeBarnes commented on #566
Make sure the mobile app is connected to the *Bcovrin Test Network* in the settings.

[2020-06-19 18:44] anhem115 commented on #566
Yeah, I'm sure that it connects to the Bcovrin Test Network, otherwise I will message like Network mismatch

[2020-06-19 20:12] anhem115 commented on #566
Sorry, it's my bad, I use the ngrok for the wrong endpoint, I should create ngrok for the Inbound  port not the Administrative port.

[2020-06-19 20:12] #566 closed

[2020-06-19 22:15] esune opened #567 "Admin Swagger UI not available when using api-key"
### How to reproduce

Start an instance of aca-py using the following command:
[code]
This will start aca-py and activate its admin interface, expose it on port 5000 and protect requests targeting it using the specified api-key.

**Expected result:**
Navigating to http://localhost:5000 in the web browser results in the Swagger UI being displayed. Requests made through the UI will not work unless t

[2020-06-19 22:30] msembinelli commented on #567
I think this mainly because the swagger doc route is also protected.

I used a chrome extension called `ModHeader` and I was able to set the api key and view the swagger

[2020-06-19 22:43] esune commented on #567
Thanks @msembinelli, that is a good suggestion!

I **personally** would prefer if the doc route was unprotected in view mode, and requested an api-key could be entered in the swagger UI directly (see [here](http://petstore.swagger.io) as an example).

It may not be possible or easy to implement in our case though, I haven't looked into it yet - maybe @andrewwhitehead, @nrempel or @sklump  can weig

[2020-06-19 23:20] msembinelli opened #568 "Setting `wallet_scheme` for postgres storage not working correctly"
Hi All,

## Background

I am currently using the `bcgovimages/aries-cloudagent:py36-1.14-1_0.5.1` dockerhub image to stand up an instance of aries cloudagent. My understanding is the version of libindy/indysdk that comes with this image is version 1.14.0.

As a result of our infrastructure with postgres, we cannot use the default postgres scheme that creates a database per wallet, so we opted for

[2020-06-19 23:24] msembinelli commented on #567
No problem @esune , I banged my head against the wall at this one for awhile.

I agree that adding the auth button to input the token on swagger would be a much desired change.

As for unprotecting the route, maybe this is something that can be turned on with a debug parameter (so not as to use it in production)?

[2020-06-20 15:03] WadeBarnes commented on #568
The source for `von-image` is here; https://github.com/PSPC-SPAC-buyandsell/von-image.  There is a link to the source on the Docker Hub page; https://hub.docker.com/r/bcgovimages/von-image.

The source for `` is here; https://github.com/bcgov/aries-cloudagent-container.  Similarily there is a link to the source on the Docker Hub page; https://hub.docker.com/r/bcgovimages/aries-cloudagent.

Example

[2020-06-20 18:24] msembinelli commented on #568
Hi @WadeBarnes Thanks for the info, I'll take a look through and write back if I have any issues.

I did end up testing a local deployment and got everything working so it may have something to do with postgres roles/permissions of the admin/db users. I was able to get tracing turned on for the postgres plugin so I'm able to better debug it now.

[2020-06-22 14:41] eorituz commented on #88
Unfortunately, the issue still persists @swcurran.
I'm running in the same error on my RPi 4 as arner and zzx02. While using the latest versions/releases of indy-sdk, python3-indy and aries-cloudagent:
[code]
Could you point me/us towards the fix?

[2020-06-22 15:53] msembinelli commented on #568
Closing this as I solved my own issue.

Aries cloud agent is expecting escaped JSON strings, which can be a huge pita if you are using kubernetes k8 yaml files. In the end I had to use a configmap or a secret resource to properly pass the JSON, rather than defining it in the k8 file itself.
[code]

The second larger issue in my opinion, is that the plugin requires that you have an admin DB user wi

[2020-06-22 15:53] #568 closed

[2020-06-22 16:04] andrewwhitehead commented on #568
@ianco

[2020-06-22 16:10] WadeBarnes commented on #568
@msembinelli, If I had of known you were using k8s, I would have pointed you at our OpenShift deployment configurations;
- https://github.com/bcgov/orgbook-configurations/blob/master/openshift/templates/agent/agent-deploy.yaml
- https://github.com/bcgov/von-bc-registries-agent-configurations/blob/master/openshift/templates/agent/agent-deploy.yaml

[2020-06-22 16:34] msembinelli opened #569 "Check for storage_config and storage_credentials are in proper escaped JSON format"
This is in reference to #568

I think it would be a huge timesaver to people working with k8 yaml files to deploy acapy if the postgres plugin intialization code did some check to see that the `storage_config` and `storage_credentials` passed in are in the proper format (escaped JSON string) before calling out to the static library. The error returned on bad parameters is error `210` and that does

[2020-06-22 16:43] WadeBarnes commented on #88
@eorituz, The related `Raspberry-Pi-Indy` repositories are here; https://github.com/zzx02?tab=repositories.  The related tutorial is here; https://wiki.hyperledger.org/display/INTERN/Collaboration%3A+Raspberry+Pi+Indy+Agent

That said, running all of this on bare metal can be a challenge to say the least.  I'm working with (providing guidance) another fellow on a containerized implementation for t

[2020-06-22 16:43] msembinelli commented on #569
Will try and submit a PR for this soon.

[2020-06-22 17:23] #524 closed

[2020-06-22 17:24] #518 closed

[2020-06-22 17:25] andrewwhitehead commented on #521
Status code handling has been improved but we might still want some changes around missing ledger connections

[2020-06-22 17:25] #530 closed

[2020-06-22 17:25] #520 closed

[2020-06-22 17:40] WadeBarnes commented on #88
@eorituz, The new [Hyperledger Chat](https://chat.hyperledger.org/) channel is `#aries-embedded`

[2020-06-22 17:53] andrewwhitehead commented on #512
I believe this was a temporary issue that is resolved now

[2020-06-22 17:53] #512 closed

[2020-06-22 17:55] #472 closed

[2020-06-22 20:05] #569 closed

[2020-06-23 18:50] #567 closed

[2020-06-23 18:50] #427 closed

[2020-06-23 22:19] swcurran commented on #545
@sklump -- would you be able to take this one?  I've updated the [HackMD document](https://hackmd.io/_BYKvL71T3W4ECele9BZuQ) based on recent conversations such as on the ACA-Pug call two weeks ago.  It would be really nice to get this done.

What do you think?

[2020-06-24 10:47] sklump commented on #545
I can take this, probably starting in earnest the 2nd week of July.

[2020-06-24 11:57] MoSoltani opened #575 "Store/Backup wallet after stopping Container"
Hi all,

after stopping the container for Alice or other users and restart the container a new wallet is created, so all the received credentials and created connections are not more available.

Is there any possibility to backup the wallet and restore it in the container?

Thanks and regards,
Mohammad

[2020-06-25 18:46] esune opened #578 "Add option to protect webhook endpoint with api-key"
The `WEBHOOK_URL` used by aca-py to talk back to the controller doesn't have many options to add security.

The only way to secure the webhook endpoint currently is to add path-based security to the url (adding the api-key to the URL).
A more common and secure way would be to support adding an api-key to the request headers targeting the `WEBHOOK_URL`.

[2020-06-26 20:04] Sarangc1203 opened #580 "Querying about a schema using its seq# doesn't work."
Querying about a schema using its seq# still doesn't work.
The SwaggerUI doesn't accept an integer input.
I also tried using the curl request:
[code]
It gives me this error:
[code]

_Originally posted by @Sarangc1203 in https://github.com/hyperledger/aries-cloudagent-python/pull/223#issuecomment-647133947_

[2020-06-26 20:53] sklump commented on #580
![by-seqno](https://user-images.githubusercontent.com/9336556/85900239-7ce85100-b7cd-11ea-8dee-b9752bdf64d1.png)

It's fine. Try latest master.

[2020-06-26 21:26] ianco opened #581 "aca-py - Handle the scenario when the wallet database is not available"
If the wallet database recycles (as can happen on openshift) the aca-py agent goes into an unrecoverable state.  Every request will error out with a StorageError.

Openshift doesn't recognize that the agent is in a bad state so doesn't restart the service.

Either auto-recover the database connection, or recognize the issue and notify openshift to restart the service.  (Possibly by incorporating a

[2020-06-26 22:30] swcurran commented on #581
Cool -- I assume this means that you replicated this?  Obvs, if the ACA-Py instance can recover locally that would be best as we would not lose the in-memory queue of work to be processed.

Another solution is to cluster the database so that we don't (well, call it rarely) have the issue of the database not being available.  Then we can do best efforts on the ACA-Py side knowing that the scenario

[2020-06-29 08:45] eorituz commented on #88
The timestamp error is fixed with https://github.com/hyperledger/indy-sdk/pull/2210
The issue was with a wrong cast in the python wrapper.
CC @arner

[2020-06-29 12:52] WadeBarnes commented on #88
@eorituz, Thanks for the update on the resolution.

[2020-06-30 11:51] TelegramSam opened #583 "Register Additional Message Handler"
When writing a plugin, I'd like to register an additional handler for a particular type of message. Currently the architecture first resolves an inbound message to a message type, and the message type designates a single handler. I'd like to register a handler that will also receive the inbound message for processing, but that flow is not currently possible.

Specifically, I'm working on the toolb

[2020-06-30 13:01] swcurran commented on #583
@andrewwhitehead @nrempel

[2020-06-30 14:32] arner commented on #88
In this thread, I linked two dockerfiles that I created for dockerizing it (will need some updating by now, I haven't looked into it since this bug came up). Feel free to use them and let me know if you find more people working on it, running your own agent on a Pi can be great for exploring and testing.

[2020-06-30 19:22] WadeBarnes commented on #88
@arner, We started a channel here ^

[2020-06-30 19:58] nrempel commented on #583
If I understand correctly, you are looking for something like middleware? Basically you want to plug into the lifecycle and read from the message before it reaches its destined handler?

[2020-06-30 20:12] nrempel opened #584 "Don't rely on local tails file location when revoking credential"
When revoking a credential, we rely on the tails file location previously written to a temporary directory: https://github.com/hyperledger/aries-cloudagent-python/blob/master/aries_cloudagent/protocols/issue_credential/v1_0/manager.py#L734

This is bad because the directory is temporary and the tails file has likely already been stored at a permanent location (possibly on an external server).

We

[2020-07-02 17:23] TelegramSam commented on #583
No, I want to add an additional handler that operates in addition to the destined handler.

[2020-07-02 17:37] swcurran commented on #583
The tricky part of this is whether the extra handler should kick in before, after or instead of the existing handler.  I've built a system before that offered such a flexible mechanism.  The good part is that it covered all possible scenarios and so was very helpful. Bad part was that in the way we did it, the code become horribly convoluted. I suspect in a modern system it could be done in a much

[2020-07-02 18:04] TelegramSam commented on #583
At present, I'd be pretty happy with a way to register a 'secondary' handler that didn't interfere with the operation of the 'primary' handler. If a more generalized solution is desirable, we could discuss a more full solution.

This is inside a plugin, so I'd think the plugin would have a mechanism to register the additional handlers.

[2020-07-02 18:22] swcurran commented on #583
@nrempel -- is that enough to know what is needed?  I know you have a ton of knowledge about the handler and were in there recently regarding the minor/major version handling.  My instinct is to do this right and provide a way to have the before/replace/after capabilities, but defer on that detail to others.

I see two ways to proceed:

- You do a bit now on editing the issue description (the firs

[2020-07-04 12:02] Sarangc1203 commented on #477
@swcurran Did anyone follow-up on this issue? Right now, the send-offer is basically issuing the requested attributes in the proposal, but it would be better if, at this stage, the issuer gets to decide what values he/she is willing to provide. Some sort of negotiation maybe? This can simply be dealt with by giving the issuer the authority to finalize the values.

[2020-07-05 17:19] Sarangc1203 commented on #580
Yeah, it's working now. Thanks!

[2020-07-06 11:27] sklump commented on #477
The issuer does get to decide credential attribute values. Only on configuration setting `--auto-respond-credential-proposal` does aca-py feed proposal values into the offer without a manual step requiring controller intervention.

[2020-07-06 11:44] Sarangc1203 commented on #477
After the holder sends a proposal, the next step is issuer sending an offer. As far as I understand from the SwaggerUI, the issuer directly sends an offer to the holder using /issue-credential/records/{cred_ex_id}/send-offer which just responds to the received proposal without giving an option to tell the holder at this stage what values the issuer is ready to provide in the credential. There is a

[2020-07-06 11:45] #580 closed

[2020-07-06 11:47] sklump commented on #477
Yes: the operator should find the cred ex record by its ID and determine whether the preview values are OK.

If they are OK, the operator can send the bound offer via /issue-credential/records/{cred_ex_id}/send-offer. Otherwise, the operator can make a free offer (i.e., one not bound to a proposal) with new values and then it is up the holder how to respond to that offer.

[2020-07-06 16:50] sklump commented on #584
I can take this one

[2020-07-06 16:58] sklump commented on #584
What would you think of copying/moving the tails file from the temporary location to a permanent location? They are potentially huge and I'd prefer not to have to wait on downloading them if possible.

[2020-07-06 21:10] nrempel commented on #584
@sklump I think that's a good approach. I had a thought that we could move the file to a configured "cache" location from the temporary location. Then when revoking, if the cache is empty, the tails file could be downloaded from the tails server.

[2020-07-06 21:23] nrempel commented on #583
I think this is a useful feature.

The reason I ask about middleware is because we could offer lifecycle hooks as the message travels through the system which allows you to read or modify the message. This would include the required functionality to effectively run an additional handler (you could bind to the onComplete lifecycle hook or something).

If we just wanted add handlers to existing mess

[2020-07-06 22:45] esune commented on #584
+1 to this. Thinking about our deployed agents (e.g.: OpenShift) would it make sense to have the location (optionally) configured using an environment variable? Or were you thinking of establishing a path that will always be used for this type of stuff (tails files)?

[2020-07-07 10:23] sklump commented on #584
I was thinking of adapting the von-anchor approach of putting them in a subdirectory (by rev-reg-id) within ~/.indy_client ($INDY_HOME). Von-anchor separates first by cred def id, but in the end I don't think the extra tree depth bought us anything.

[2020-07-07 15:58] esune commented on #584
As long as it is a directory that is well-defined/documented and can be independently mounted to a persistent volume when running agents in the cloud I think it will be okay 👍

[2020-07-07 17:10] domwoe opened #589 "Different types of endpoints (services) for public DIDs"
ACA-PY currently only uses one type of endpoint for local, as well as public DIDs. If we use the DIF indy resolver driver to resolve an Indy DID, then it generates a DID doc with one entry in the service array of type 'endpoint'. (See: https://uniresolver.io/1.0/identifiers/did:sov:HR6vs6GEZ8rHaVgjg2WodM)

We'd like to define multiple services/endpoints for a public DID (published on the ledger).

[2020-07-08 15:52] anhem115 opened #591 "About the tag in credential definition"
Scenario:
  I successfully created a credential definition A (in both ledger and wallet). I lost my agent wallet (accidentally deleted), so I recreated my agent DID from my seed. And because the credential definition can't be recovered, so I have to add a different tag (not the `default` tag) to create another credential definition? Otherwise I will get the error:

[code]

because the the credenti

[2020-07-08 18:14] sklump commented on #591
The old cred def is garbage once the private key controlling it is lost. A new cred def needs a new identifier - since everything else is the same, you must use a new tag.

[2020-07-08 18:44] anhem115 commented on #591
Thank you for clarifying!

[2020-07-08 18:44] #591 closed

[2020-07-08 19:59] ianco opened #592 "Error encountered in openshift"
Traceback (most recent call last):
  File "/home/indy/.pyenv/versions/3.6.9/lib/python3.6/site-packages/aiohttp/web_protocol.py", line 418, in start
    resp = await task
  File "/home/indy/.pyenv/versions/3.6.9/lib/python3.6/site-packages/aiohttp/web_app.py", line 458, in _handle
    resp = await handler(request)
  File "/home/indy/.pyenv/versions/3.6.9/lib/python3.6/site-packages/aiohttp/web_mid

[2020-07-08 21:14] sklump commented on #592
Hey, you're right. My mistake, I think. If you like I can look into it tomorrow.

There really is no thread_id in ConnectionRecord. There is in other kinds of records - maybe only protocol records?

[2020-07-08 21:17] sklump commented on #592
A little finessing with `internal_error()` and `send_problem_report()` in issue-credential v1.0 routes.py ought to fix it, 15 minutes tomorrow first thing in the morning if you can wait that long.

[2020-07-08 21:19] ianco commented on #592
ok @sklump I'll leave it for you

[2020-07-08 21:22] ianco commented on #592
I notice the logic is slightly different in proof request handling, probably makes sense to look at that one at the same time and update to be consistent with the credential error handling.

[2020-07-09 11:48] nodlesh opened #594 "ACA-Py Admin API requiring JSON data for credential preview on issue and store when cred_ex_id is already given."
### Issue

Using the ```issue``` and ```store``` operations on the ACA-Py admin API, one would expect that the credential preview or any other credential data is not needed to pass to the operation. This is because the protocol has already been established by the send-offer, and the credential can then be referenced with the credential exchange id (cred_ex_id).  The ```issue``` operation requires

[2020-07-09 11:51] nodlesh commented on #594
@swcurran Added this issue, but I don't have the privileges to add a ```bug``` or ```enhancement``` tags.

[2020-07-09 12:42] sklump commented on #592
https://github.com/hyperledger/aries-cloudagent-python/pull/595

[2020-07-09 13:01] sklump commented on #594
I can take this.

[2020-07-09 14:50] swcurran commented on #594
Thanks @sklump. I think the it should be possible to pass the data on this, just not required.  Is that how you see it?

[2020-07-09 14:58] sklump commented on #594
No: the credential values are necessarily what was on offer or else a bait-and-switch is possible from a shady issuer.

[2020-07-09 14:59] sklump commented on #594
Since we now (correctly) insist on putting them in the offer, we should have removed them at that time from the issue. Clear?

[2020-07-09 15:04] swcurran commented on #594
I'm going to post to the community about.  The scenario I worry about is if/when we support other than Indy credentials that we'll need the data back.

[2020-07-09 15:04] sklump commented on #594
Sure, at that time we can add it in as an option.

[2020-07-09 15:08] sklump commented on #594
I expect that will be in about half a world war, and by then we will not be on v1.0 of the protocol.

[2020-07-09 15:11] sklump commented on #594
https://github.com/hyperledger/aries-cloudagent-python/pull/596

[2020-07-10 07:27] Howlla opened #599 "No API endpoint available to fetch my name/label"
If my controller wants to know what the name of my agent is, i.e. the `their_label` field after a connection is established then it doesn't have any way.
I suggest integrating it in the /status call.

[2020-07-10 13:00] severus-sn4pe opened #600 "Self-Issued credentials don't get stored automatically and agent gets stuck"
I try to issue credentials to myself. My agent and controllers are based on the demo-agent for alice/faber.
For the self-issueing, I have a connection to myself and use that to send the credential to myself.
From my controller I call the api endpoint `issue_credential/send`  to send the credential.

**What happens:**
After calling `issue_credential/send` the agents proceeds through the different s

[2020-07-10 14:03] sklump commented on #600
I can probably take this early next week, but if someone can look into it today then please do.

[2020-07-10 21:32] anhem115 opened #603 "Update/Revoke for a credential"
Scenario:
I have issued a credential to user. Then users want to update a field in their data (e.g. home address), so I will issue a new credential with their new home address, but I also have to revoke their old credential.

Currently, I need both `rev_reg_id` and `revocation_id` to revoke a credential. I could get the `rev_reg_id` from the response of the proof request, but I don't know where co

[2020-07-10 22:06] sklump commented on #603
The old credential has a cred_rev_id field. Also, the issuer in aca-py returns it when it creates the credential; the controller is supposed to store the rev reg id and cred rev id on issue.

[2020-07-10 22:10] swcurran commented on #603
FYI - the team is currently working on making the handling of this much easier for the controller -- should be ready on the main branch in the next few days.  @sklump has nailed it though that it is the responsibility of the controller to keep the data from the issue event so that the the controller can trigger the revocation via the admin API.

[2020-07-11 00:06] anhtranEH commented on #603
If the controller has to manage the revocation id, I"m not sure whether I could retrieve a revocation_id from the presentation_exchange_id which I received from my wallet? Or anything from the response of my wallet?

[2020-07-11 01:23] sklump commented on #603
1) it's  credential exchange you're after, not a presentation exchange
2) by default the credential exchange gets purged as soon as the holder accepts and acks the credential
3) the issuer revokes in any case, not the holder: if the issuer retained credential exchange records (which include credentials) then it would violate the W3C credential role design: holders hold, issuers issue, verifiers ve

[2020-07-11 13:06] ianco opened #604 "Aca-py - if the agent gets an error on the credential ack callback the message never gets requeued and the controller never receives an ack"
Expected behaviour - if aca-py gets an error on a callback (or other message) it will retry until it succeeds (or up to a specified number of retries)

Actual - for the credential ack, this is not happening.  The agent will only try to send the ack callback once, if there is an error the agent will delete the credential exchange record and will not retry to send the ack callback.

(Note - I suspec

[2020-07-11 13:07] ianco commented on #604
BC Reg agent log:

[code]

[2020-07-11 13:08] ianco commented on #604
Controller log:

[code]

[2020-07-11 16:22] anhtranEH commented on #603
Thank for the clarification, so the issuers should not hold any credential exchange record, but they will store the revocation id for each issued credential? Im still a bit unclear about my scenario, after my users prove themselves with the credential, they wants to update their information (update their credential). I could easily issue a new credential, but I cant determine which revocation id w

[2020-07-12 12:53] swcurran commented on #603
When your controller issues the first credential, it will need to store the necessary information to revoke the credential with the data you keep about the entity to whom you issued the credential. When you need to reissue the credential to that entity, you revoke the existing credential and issue a new one.

[2020-07-12 14:53] anhem115 commented on #603
Thank you for the clarification. This is actually what I will implement to
determine the correct revocation id. But I wonder whether it could create
any correlation since I will store it as a tuple of (revocation_id,
[user_info]), so next time the user send the presentation, I could match
these data with the [user_info].

On Sun, Jul 12, 2020, 7:53 AM Stephen Curran <notifications@github.com>
wrot

[2020-07-12 16:37] swcurran commented on #603
This does not create correlation across verifiers.  The revID is only known to the issuer and the holder.  The holder proves to the verifier that their credential is not revoked without sharing the revID (a unique identifier) to the verifier.  The issuer and the holder know, but that's a given - by definition they have to know that information for revocation to work at all.

[2020-07-12 17:09] anhtranEH commented on #603
Thank @sklump and @swcurran a lot for your answer. There is no risk of correlation between issuer and holder as that's a given for the revocation to work. The risk of correlation is a term for verifiers only.

[2020-07-12 17:14] swcurran commented on #603
Good stuff.  BTW - to be a little more precise the "proof of non-revocation" is a zero knowledge proof, hence the no sharing of the revocation ID.

[2020-07-12 17:14] #603 closed

[2020-07-13 11:38] sklump commented on #600
Could you kindly share your demo code modifications? It seems to work OK through the admin API.

[2020-07-13 17:44] severus-sn4pe commented on #600
I added the agent code to a fork of the base repo, see here: https://github.com/severus-sn4pe/aries-cloudagent-python/commit/1d3ee9d694e11154afbabf165672775ead49d31c

Basically I just register two schemas and creddefs, and then the controller calls `issue_credential/send` for a credential based on one of those credential definitions.

[2020-07-13 17:48] severus-sn4pe commented on #600
Instead of calling the function from a controller, I stored the parameters in a file and called `issue_credential/send` through the admin API and I get the same result.

Here is an example of the body I sent in the admin API call:
[code]

the connection with the id `942d369d-0e91-4bf9-938b-8eb8726d129b` is the connection the agent has to himself.
When I send that credential body through another co

[2020-07-13 19:30] sklump commented on #600
I don't want an example. I don't want to reconstruct what might be your code. I want to know what your code is.

[2020-07-13 19:31] sklump commented on #600
OK, I will take another look tomorrow morning

[2020-07-13 21:04] Sarangc1203 commented on #171
Just putting this out here for others who face a similar issue.
@swcurran Seems like the error was with configuring the ledger. Somehow location of the genesis file was incorrect and hence `server.anchor.AnchorException: No genesis file or URL defined` error in the VON's log. I haven't personally tried running it locally, but I faced a similar issue when I used their docker script to run the demo.

[2020-07-13 23:53] swcurran commented on #171
I'll give a try on mine again.  It's worked in the past but haven't run it in awhile. I'm Ubuntu 18.04 as well so hopefully will see consistency.

[2020-07-14 09:30] severus-sn4pe commented on #600
I published the complete application, in case you need more details about the case: https://github.com/severus-sn4pe/sovrin-poc-network. it contains all settings for running the indy network and three agents.

When the agents are started, a controller can be found at http://localhost:9941/work_experience/list, after creating an entry in CV data, we can create a credential based on the information

[2020-07-14 10:53] sklump commented on #600
[code]

[2020-07-14 19:22] Sarangc1203 opened #606 "Enhancement - Add optional seed parameter to /wallet/did/create"
#50 asked about having an API to generate a DID - from a random seed. #178 added a ledger endpoint for nym registration. So when trying to implement an onboarding system for most of the use cases, it would be logical to give an option to generate DID by using a seed.

Use case:
An organization that did not choose to register its DID when it started the agent, in future, may want to register its DI

[2020-07-14 19:51] swcurran commented on #606
The devs will likely chime in, but this shouldn't be done because this is the equivalent of sending a private key over an HTTP connection.  Reasonable to do on a sandbox test network, but a very bad idea in production.

[2020-07-15 03:59] #409 closed

[2020-07-15 03:59] #343 closed

[2020-07-15 04:00] #137 closed

[2020-07-15 04:00] #335 closed

[2020-07-15 04:03] swcurran commented on #556
@sklump -- can you look at this one?  There are two unknowns with this related to the readiness endpoint.

1. At what point is an ACA-Py instance sufficiently operational that it can accept requests to be processed?
2. How to handle shutting down gracefully, as noted above.

Let me know if you need background on the OpenShift requirements for the two endpoints.

Let me know.

[2020-07-15 04:20] anhem115 opened #607 "Network mismatch error"
Scenario:
1) I have issued a credential with revocation support to my Identity wallet:
  create credential definition, create revocation registry, get the tail file, update the tail file url, publish it to `test.bcovrin.vonx.io`, also update that tail file url at the indy-tail-ledger successfully, and issued the credential to my wallet.
2) Then I make a simple proof request to my wallet, when I pr

[2020-07-15 12:09] sklump commented on #606
The admin API purposefully leaves seeds off the wire, exactly as @swcurran writes.

[2020-07-15 12:44] WadeBarnes commented on #607
@esune, This is a known issue; correct?  Do you have some details you could provide?

[2020-07-15 12:53] #606 closed

[2020-07-15 13:36] anhem115 commented on #607
I have just found the reason, I used the wrong timestamp in the proof
request! I used an old timestamp instead of getting the current timestamp.
For example:

{
  requested_attributes: ...
  non_revoked: {
    to: 12345, --> should be current timestamp
  }
}

On Wed, Jul 15, 2020, 7:44 AM Wade Barnes <notifications@github.com> wrote:

[2020-07-15 13:48] swcurran commented on #607
Good stuff - closing.

[2020-07-15 13:48] #607 closed

[2020-07-15 14:15] sklump commented on #589
I'd prefer to keep the endpoint update API call in exactly one place. I'm lightly refactoring the wallet API to accommodate your rocket chat issue (provisioning fails to update public did metadata in wallet for command-line endpoint), which might nudge things a bit. Work in progress.

[2020-07-15 18:38] sklump commented on #589
What does the design imagine for endpoint types? User-defined, the sky's the limit, or possible values 'endpoint' and 'profile' (plus possibly others, finitely many). If finite, I'd like to see an enum? Otherwise, this looks good to me.

[2020-07-16 06:25] domwoe commented on #589
I expect there will be a service type registry (maybe hosted at W3C) at some point. So I think it will be a reasonably small set of service/endpoint types. Hence, I'd agree that an enum would be the better choice and we don't pollute the ledger with mistyped endpoints.

[2020-07-16 06:27] domwoe commented on #589
@sklump Would you fix the issue about setting the endpoint in the local wallet? Then I'll prepare a pull request concerning the endpoint type.

[2020-07-16 10:47] sklump commented on #599
https://github.com/hyperledger/aries-cloudagent-python/pull/611 addresses

[2020-07-16 13:00] severus-sn4pe commented on #600
The issue did get resolved by updating acapy to latest commit on master.

[2020-07-16 13:00] #600 closed

[2020-07-16 15:42] #599 closed

[2020-07-18 19:19] Sarangc1203 commented on #568
I was trying to set up my wallet using postgres by:

[code]

But I keep getting this error: `IO error during storage operation: IO error`.
My complete logs are:
[code]

Does anyone have an idea about what the problem might be?

[2020-07-20 14:47] #594 closed

[2020-07-20 14:48] #592 closed

[2020-07-20 21:54] ianco commented on #604
Update - the problem is that the outbound queue will stop processing if the only outstanding events in the queue are in "retry" status.

[2020-07-20 21:57] ianco commented on #604
I think it's getting stuck in this loop:  https://github.com/hyperledger/aries-cloudagent-python/blob/master/aries_cloudagent/transport/outbound/manager.py#L391

`await self.outbound_event.wait()` ... so the "retry" events in the queue have to wait for an external event to trigger the queue to process

[2020-07-21 03:12] ianco commented on #568
@Sarangc1203 this issue is closed so you should probably open a new issue (I think your error is different than the issue that was originally logged anyways).

When you open a new issue, can you also describe how you are starting your local indy network and postgres database?  The aca-py agent you are starting is running in a docker container so it may or may not be having issues connecting to you

[2020-07-21 13:08] Howlla opened #617 ""state" of credential should be updated once revoked"
The "state" of credential after GET `issue-credentials/records/` remains `credential_acked`even after revocation.
This should be updated to "revoked" to help improve useability.

[2020-07-21 14:27] sklump commented on #617
Typical operation is to purge cred ex records after issue. You should not keep these around unless you are debugging: they contain raw credentials that are meant to be the property of the holder, in the holder wallet. Therefore by revocation time, they ought not exist to have any state.

[2020-07-21 16:45] swcurran commented on #617
Further - the holder need not be notified of the revocation.  There is not a good way defined in Aries to inform the Holder that their credential has been revoked.  There is a proposed protocol for that, but little conversation about it in the community.  That will come as we start to use revocation more and more.

[2020-07-21 16:46] swcurran commented on #617
Good discussion, but closing this to keep the volume of issues down.

[2020-07-21 16:46] #617 closed

[2020-07-22 10:05] #584 closed

[2020-07-22 10:27] #604 closed

[2020-07-22 14:55] swcurran opened #625 "Add startup option to switch to new format DID Message types -- use HTTPS instead of did:sov"
In prior work we implemented Step 1 of the DID Message type change over, enabling the receipt of DID messages using either message type format -- https or did:sov.  For the next step in the process, please add a startup option that causes the ACA-Py instance to use the https version when sending messages.

As part of that work, please make sure that two ACA-Py instances can communicate when one is

[2020-07-22 23:22] nrempel opened #626 "Non-indy tests fail"
Several non-indy tests are failing

[2020-07-22 23:23] nrempel opened #627 "Run non-indy test suite as part of circleci integration"

[2020-07-23 09:57] hoannguyen26196 commented on #532
i got same proplem. Could you show the solution more clearly ? Thank you for your help.

[2020-07-23 10:05] RimAbdallah commented on #532
the reply of Mr sklump helped solve my problem. make sure you have created the revocation registry and updated the tails file via the issuer and your proof request have a non_revoked non-revocation interval.

for more info -->  https://github.com/hyperledger/indy-sdk/blob/6ecf3dded79fde74206ec0939d2dda179784768c/wrappers/python/indy/anoncreds.py#L1127.

[2020-07-23 10:20] sklump commented on #626
Oh! I had thought the indy tests were a superset, all this time.

[2020-07-23 10:21] hoannguyen26196 commented on #532
i have created the revocation registry and updated the tails file via the issuer.  but i can not change non_revok.from and non_revoke.to. Their value are always is 1595499372.

[2020-07-23 10:26] RimAbdallah commented on #532
the "1595499372" is a UNIX epoch you can use an online epoch converter to get the equivalent of the date you want.

[2020-07-23 10:36] hoannguyen26196 commented on #532
Thank you so much. You save my day.

[2020-07-23 19:08] nrempel commented on #626
I thought so too. The failing tests are run in both suites but were only failing in the non-indy tests. I'm not sure why exactly but I had to make some large-ish modifications to the way imported modules were being mocked to get them to run.

[2020-07-27 20:13] domwoe commented on #589
Hey @sklump

I had sometime to work on this today. I've introduced an Enum. I've put it [here](https://github.com/BoschDigitalSolutions/aries-cloudagent-python/blob/feat-endpoint-type/aries_cloudagent/ledger/util.py) for a lack of a better central place. From my point of view it belongs to the ledger but it is not indy specific.

I'm struggling with an issue however. Tests are always failing becau

[2020-07-28 10:43] sklump commented on #589
Module `ledger.util` is a fine place for the enum. I am leery about `EndpointType.ALL` - can an endpoint have multiple types? If so it ought to be a collection (I lean toward a set here) of `EndpointType`, no? Lastly, forgive the pedantry but why are `"endpoint"` and `"all"` all lower-case but `"Profile"` and `"LinkedDomains"` camel-case? I recommend snake-case here like record states (i.e., `"end

[2020-07-28 20:46] domwoe commented on #589
Thanks @sklump. That was helpful!

I understand your feedback on lower-case/camel-case. The reason is, that in JSON-LD land types are typically defined as camel-case (see https://identity.foundation/.well-known/resources/did-configuration/#example-7), and the indy/sov driver of the universal resolver maps this endpoint_type to the type of the service. Generally, it would like to change the endpoin

[2020-07-29 10:00] sklump commented on #589
Adding another method here would be best I think, to retain backward compatibility

[2020-07-29 13:04] domwoe commented on #589
I've created a pull request [PR #634](https://github.com/hyperledger/aries-cloudagent-python/pull/634)

[2020-07-29 16:20] nrempel opened #635 "Alice demo fails"
[code]

[2020-07-29 16:45] #635 closed

[2020-07-29 17:33] ianco opened #638 "Update health/liveliness endpoints to check agent execution status"
The health/liveliness checks should detect if the agent has reached a state where it cannot process requests.

One example is as follows - when the agent is in this state *every* requests returns this error:

[code]

[2020-07-29 23:15] #626 closed

[2020-07-29 23:36] nrempel commented on #508
We don't currently have anything like that set up.

Since we do most of our development in a docker environment, for that to work we would need to mount the local working code as a volume in the [Dockerfile](https://github.com/hyperledger/aries-cloudagent-python/blob/master/docker/Dockerfile.run) and watch the filesystem for changes and restart the process with something like watchdog or [hupper]]

[2020-07-30 15:24] sklump commented on #638
Could this be an indicator of the failure of the retry-close (https://github.com/hyperledger/aries-cloudagent-python/pull/541 and https://github.com/hyperledger/aries-cloudagent-python/pull/542) strategy we threw in and forgot about?

[2020-07-30 21:33] ianco opened #642 "Update tails server documentation and test on PWD"
Update docs here:

https://github.com/hyperledger/aries-cloudagent-python/blob/master/demo/AliceGetsAPhone.md

Also update run_demo script to remove any env vars that are no longer used

Also test with tails server on PWD and issuing to mobile with revocation

[2020-07-30 21:45] ianco commented on #642
Also review demo code to remove any unused env vars, for example in:

https://github.com/hyperledger/aries-cloudagent-python/blob/master/demo/runners/support/agent.py#L213

[2020-07-30 21:50] ianco commented on #642
This code in the `run_demo` script auto-detects the ngrok name of the tails server, and doesn't work with the latest changes:

https://github.com/hyperledger/aries-cloudagent-python/blob/master/demo/run_demo#L212

[2020-07-30 21:53] ianco commented on #638
Hmmm thanks for the reminder, I'll take a look.

2 issues then:

1.  Is this change causing our ledger issue?
2. If we have a ledger issue, we need to "go offline" and ask openshift to restart the aca-py pod

[2020-08-03 12:11] TimoGlastra opened #646 "Make comment property optional in (issue-credential) messages"
ACA-Py requires the `comment` property for at least the `propose-credential` and `offer-credential` messages (maybe also other messages / protocols?). However this is not required per the RFC.

When interacting with the .NET framework this is now handled using an empty string, but it would be nice to be able to leave the comment out.

[code]

[2020-08-03 12:30] sklump commented on #646
It isn't mandatory: leave it out and it will be fine. What it can't be is present with a null value. The standard says it's a string if present, if I remember correctly. I will take a look and adjust it Tuesday if necessary.

[2020-08-03 12:34] TimoGlastra commented on #646
ah that makes sense.

I'll also open an issue on the .NET side to not include the property if the value is `null`.

Thanks

[2020-08-03 12:40] TimoGlastra opened #647 "Ignore id property in credential preview sub message"
This issue came to surface when testing interoperability between framework .NET and ACA-Py.

Framework .NET includes an `@id` property in the [Credential Preview](https://github.com/hyperledger/aries-rfcs/tree/bb42a6c35e0d5543718fb36dd099551ab192f7b0/features/0036-issue-credential#preview-credential) sub message. This is not in line with the RFC, but from what I understand, fields that are not men

[2020-08-04 11:55] sklump commented on #647
Where do Aries RFC standards instruct implementations to ignore extra fields please? Aca-py is strict everywhere and introducing this novelty will invite a revamp of all sub-messages in all protocols to weaken the effect of having a standard at all.

[2020-08-04 12:17] TimoGlastra commented on #647
Maybe I'm incorrect, that's just the general feeling I got from reading the RFCs. After searching trough the RFC repo I can't find it stated explicitly for all fields, only decorators and version mismatches.

I think this line in the decorators RFC threw me off:

[2020-08-04 13:17] sklump commented on #646
https://github.com/hyperledger/aries-cloudagent-python/pull/649 allows for null values in protocol message comments.

[2020-08-04 13:46] swcurran commented on #647
It's in the Protocols RFC in the Semver section - https://github.com/hyperledger/aries-rfcs/tree/master/concepts/0003-protocols#semver-rules-for-protocols

[2020-08-04 14:13] sklump commented on #647
@swcurran what I get from that text is that it is OK to add new optional fields or to deprecate existing fields when bumping a minor version, not that implementations should ignore extra fields for an existing version.

I'm trying to figure out if we need to revamp our whole approach. I think it could mean small code changes with enormous semantic and testing implications if we have to accept what

[2020-08-04 14:18] swcurran commented on #647
My understanding is that when @nrempel did the "minor/major" version handling, this was part of it.

But you raise a great point - should we accept extra fields if we know the claimed version of the message?  If it is a higher minor version then clearly yes, but if it is one we know what should be done?  My understanding from the discussions around the "protocols" RFC was yes, we should ignore tho

[2020-08-04 14:21] sklump commented on #647
I can do up a prototype and see what damage there is to mitigate. I may be overreacting.

[2020-08-04 14:29] TimoGlastra commented on #647
Either way, I think we should update the protocols RFC to explicitly state whether extra fields MAY, SHOULD or MUST be ignored / accepted as this clearly creates ambiguity.

[2020-08-04 14:49] guilherme-funchal opened #650 "Revoked credential"
What changes in credentials after being revoked? How can I test if it is revoked?

[2020-08-04 15:13] sklump commented on #650
The issuer updates an accumulator on the ledger to include the credentials revocation identifier.

Proof of non-revocation as of a timestamp is part of the proof of credential ownership. To prove ownership and non-revocation, the verifier sends a proof request with a non-revocation interval and the holder creates a proof on a timestamp within that interval. The proof verifies only if the credentia

[2020-08-05 11:41] Sarangc1203 opened #652 "API to query the current role of our agent"
It would be beneficial from the controller's point of view to know what the my role (corresponding the current set public DID) is so that we can separate out application specific functionalities according to them.

[2020-08-05 12:38] swcurran commented on #652
What set of roles are you talking about?

[2020-08-07 02:32] zbbgit opened #655 "ERR:Tails file failed to upload: Payment Required"
when test the demo(https://github.com/hyperledger/aries-cloudagent-python/blob/master/demo/AliceGetsAPhone.md#run-an-instance-of-indy-tails-server)，run the cmd (TAILS_NETWORK=docker_tails-server LEDGER_URL=http://test.bcovrin.vonx.io ./run_demo faber --revocation --events),  there is a Exception: Error: 500: Tails file failed to upload: Payment Required,

why and how to solve ，thanks ！

Faber

[2020-08-07 14:18] swcurran commented on #655
OK - I'm dying to know about this one -- "payment required"???  @nrempel ?

[2020-08-07 15:56] nrempel commented on #655
@zbbgit Can you share the logs from the running instance of `indy-tails-server`?

[2020-08-10 01:07] zbbgit commented on #655
root@iZ2vcekg07cyl1x0potmotZ:~/rev-reg-demo/indy-tails-server/docker# ./manage start
Starting docker_ngrok-tails-server_1 ...
Starting docker_tails-server_1 ... done
Attaching to docker_ngrok-tails-server_1, docker_tails-server_1
ngrok-tails-server_1  | t=2020-08-10T01:02:01+0000 lvl=info msg="no configuration paths supplied"
ngrok-tails-server_1  | t=2020-08-10T01:02:01+0000 lvl=info msg="using c

[2020-08-10 16:34] nrempel commented on #655
Can you post logs from the tails server that include a reproduction of the error? I haven't been able to reproduce this error.

I'm thinking there might be some wires crossed when you run the demo. The error shows the agent's port as 8021 (`'http://172.24.205.86:8021/credential-definitions`) but the demo instructions have the agent running on port 8020.

Can you try and restart docker or use `dock

[2020-08-11 06:25] baegjae opened #660 "[multitenancy] Feature doesn't work correctly after catching up with master branch"
@LukasSMueller After https://github.com/hyperledger/aries-cloudagent-python/pull/645, a new wallet is not working correctly. Below is the sequence I tested.

1. (header Wallet:**base**) POST /wallet {wallet_name:new}
1. (header Wallet:**new**) POST /wallet/did/create
1. I registered the created did and verkey to the ledger
1. (header Wallet:**new**) POST /wallet/did/public  ->  Error: try to acces

[2020-08-12 07:38] zbbgit commented on #655
Thanks，solve the problem by restart docker。

[2020-08-12 13:16] swcurran commented on #655
One more thought.  Are we returning a 402 HTTP status anywhere?  I found that can mean payment requirement.  I couldn't see anything in the code, but wondered if that was used somewhere.

[2020-08-12 13:16] #655 closed

[2020-08-12 16:08] nrempel commented on #655
No, we don't use that code anywhere.

[2020-08-14 10:32] mat-work opened #663 "[multitenancy] Feature, server status headers"
in multitenancy branch, when quering for server status a 401 is return if no "Wallet" header is specified.
Maybe the "Wallet" header should be excluded from some endpoints like server status.

[2020-08-14 22:17] lynnbendixsen opened #665 "Update the "About" for this repo"
The 'About' comment for this repo is confusing.
"Hyperledger Aries Cloud Agent Python (ACA-Py) is a foundation for building decentralized identity applications and services running in non-mobile environments."

The 'non-mobile' part is confusing, or inaccurate. please rewrite.

[2020-08-14 22:28] swcurran commented on #665
I'm not sure what is confusing about it.  ACA-Py is not appropriate (AFAWK) for use as a mobile agent.  Thus, it is appropriate for any non-mobile use.

[2020-08-14 23:03] lynnbendixsen commented on #665
I see your perspective and understand it better now, thanks. My perspective was that of recently reviewing a document describing how ACA-Py can be used as a Mediator Agent. Looking at the bigger picture, in a mobile app "environment" a Mediator agent "service" is required for communication between the mobile agent and other edge agents.

[2020-08-19 07:14] Howlla commented on #652
I think roles refer to "Steward", "Endorser", "Trustee" etc.

[2020-08-19 13:19] swcurran commented on #652
That would mean there would be a need to include the public DID being referenced, as there is not the concept of the agent having "a DID'.  Is there an existing admin API point related to DIDs that could be used?

I would add that if a peer DID is submitted the result could be "Peer".

[2020-08-19 15:17] sklump commented on #652
There's a `register-nym()` but we have no corresponding `get-nym()` taking a public DID. I could put it on the list.

[2020-08-19 22:33] esune opened #670 "TAA acceptance should not be required when running in read-only mode"
When starting an agent in read-only mode, acceptance of the TAA should not be required since no writing to the ledger will ever be performed.

To start aca-py in read-only mode:
- use the `--read-only-ledger` startup argument
- do NOT set a `--seed`
- do NOT set a `--endpoint`

[2020-08-19 23:15] swcurran commented on #670
I'm surprised about not setting the `--endpoint` -- why is that?  I thought that parameter was to set the endpoint for DIDComm, and was not to do with a public DID or anything to do with the ledger.  Is that parameter for something else?

[2020-08-20 00:23] esune commented on #670
Setting the `--endpoint` parameter causes the agent to want to update it's endpoint registered on the ledger, throw an exception because the ledger is not writable and exit. I am not sure whether that is the desired/expected behaviour, or something needs tweaking.

[2020-08-20 10:17] sklump commented on #670
I can take a look later today. Recall that read-only was a bolt-on and there are likely a few gotchas left to find.

[2020-08-20 15:06] sklump commented on #652
https://github.com/hyperledger/aries-cloudagent-python/pull/671

[2020-08-20 16:42] sklump commented on #670
https://github.com/hyperledger/aries-cloudagent-python/pull/672

[2020-08-20 22:53] jcourt562 commented on #580
@sklump So this has been closed, but I think the real issue is that the OpenAPI output from Aca-py is returning "schema_json" NOT "schema" as the field in the response (version 0.5.3). I hit this with the 'typescript-fetch' output from openapi meaning I had to explicitly untype the returned API structure to get at the "schema" object returned in the body.
This is a snippet from the 'json' output w

[2020-08-21 05:45] jcourt562 opened #675 "GET /schemas/{schema_id} models say a "schema_json" object is returned when actually "schema" is returned"
The swagger api and code generated via codegen provides an interface expecting a "schema_json" object returned from "GET /schemas/{schema_id}".  In fact the body in the response returns a "schema" object.  This makes it difficult in many languages to access the data returned.  Suggest that the swagger I/f change to "schema" since that is what working client code must be using to access the data.

[2020-08-21 06:06] jcourt562 opened #676 "GET /wallet/did returns a list where "public" attribute is not detecting dids on ledger and is not boolean"
V0.5.3 of ACA-py (have also tries with latest from master)

The swagger model for "GET /wallet/did" indicates an attribute of "public" is returned indicating "Whether DID is on the ledger".  Which is of type "boolean".  Following is the output response from a running ACA-py for two dids.  Both have been written to the ledger which was verified by both looking at the VON ledger and by subsequent ca

[2020-08-21 07:03] jcourt562 opened #678 "GET /schemas/created returns duplicates even though they aren't on ledger after multiple POST /schemas"
Version: 0.5.3
Expected Results:  The GET /schemas/created should NOT return duplicates if they don't exist on the ledger.

Description: I am able to use POST /schemas with the same schema_name and schema_version attributes and using the same DID.  The second attempt does NOT get put on the ledger and I believe that ACA-py is receiving an error on the second attempt but it returns 200.  This is de

[2020-08-21 07:41] jcourt562 opened #679 "Inconsistent behaviour on duplicate POST /schema and POST /credential-definitions"
Version: 0.5.3

Expected Result:  Either POST /schema should return 422 on duplicates OR POST /credential-definitions should return 200 on duplicates.

Description : When creating a duplicate schema with the same schema_version and schema_name and DID it returns a 200 result, presumably treating this as success because the resource already exists and no action is taken. However when creating a dup

[2020-08-22 16:08] WadeBarnes opened #684 "Proof requests failing"
In the OrgBook we're seeing credential verification calls (https://orgbook.gov.bc.ca/api/credential/1/verify) fail every so often.  This is causing downtime to be reported by the monitor watching the verification api.

At the API level this is reported as the server (the agent) disconnecting without response. On the agent side the time stamps seems to line up with panic errors (`thread '<unnamed>'

[2020-08-24 06:52] jcourt562 commented on #679
I ran through this again today with the latest from `master` and couldn't reproduce.  Closing this as either I had some strange environment situation or the problem was resolved by the code re-org mentioned above.

Thanks.

[2020-08-24 06:52] #679 closed

[2020-08-24 10:26] sklump commented on #670
@esune does PR #672 fix the issue to your satisfaction?

[2020-08-24 16:06] esune commented on #670
I have not tried yet re-provisioning an agent, but based on the code changes I would say so. Thanks!

[2020-08-24 16:20] #670 closed

[2020-08-25 08:28] etschelp opened #686 "jsonld/sign endpoint cannot handle unicode characters"
If I want to sign a verifiable presentation that contains none ascii characters I get the following error response:

`'ascii' codec can't encode character '\\xfc' in position 576: ordinal not in range(128)`

Steps to reproduce:
1. Get your verkey e.g. from /wallet/did/public
2. Insert the verkey into the json below, and post ist to /jsonld/sign

[code]

[2020-08-25 18:33] sklump commented on #686
https://github.com/hyperledger/aries-cloudagent-python/pull/687 addresses

[2020-08-26 13:50] WadeBarnes commented on #684
A couple more logs showing the agents crashing with the poison/panic error during an call to `/agentcb/topic/present_proof/`;

[agent-indy-cat-22-nkt57.log](https://github.com/hyperledger/aries-cloudagent-python/files/5130224/agent-indy-cat-22-nkt57.log)
[agent-indy-cat-22-7r7ft.log](https://github.com/hyperledger/aries-cloudagent-python/files/5130225/agent-indy-cat-22-7r7ft.log)

[2020-08-27 03:17] swcurran opened #694 "Verify receipt and add method to change to send out message types with "https://didcomm.org" prefix"
Work was done previously to ensure that we support the receipt of either "did:sov:" or "https://didcomm.org" as the prefix of a message type.

We need to make absolutely sure that we can receive the new format as the community has decided anyone can send out using the new format.

As well, we need to change ACA-Py to always send out the new format, likely with a startup flag that lets us use the o

[2020-08-27 03:52] swcurran opened #695 "Update the the handling of Credential Issue records"
Please update the handling of Credential issue records after the completion of the protocol. Currently, either the record is retained or deleted based on the startup parameters.  Change that to:

1. By default, rewrite the record with minimum data about the issue, keeping at least the RevRegID and CredID needed for revocation, along with some minimal metadata.
2. Add (or keep if it already exists)

[2020-08-27 03:59] swcurran commented on #695
**Question**: Would it be worth allowing the issuer to include an optional, controller defined `holder-id` that is simply stored in the credential issue record.  If the controller DB falls behind the wallet DB, the controller could query for the set of credential issue records, get all the `holder-id` and (perhaps) sync up the issued and revoked record status.

**Question**: If the controller now

[2020-08-27 10:47] sklump commented on #695
2: Revocation is not in RFC 36 and so we should be leery of tightly binding it where it does not belong.
3: I hate the idea of using a cred ex id as a revocation crowbar. There is a rev reg id and a cred rev id: this tuple is the identifier purpose-built for revocation. If the controller can store a cred ex id then it can store a (rev reg id, cred rev id). Jam them together and pipe-separate them

[2020-08-27 14:25] nodlesh opened #696 "Incorrect Cred id on send_presentation on Admin API is returning a 500 Internal Server Error"
## Issue
Tested thought the Admin API and setup and sent through the send-presentation operation, where the cred_id is incorrect for the credential.
[code]

## Outcome
The response from the Admin API is 500 Internal Server Error.
However, the logs in the agent is showing the errors below.
[code]

## Expected Outcome
The Admin API would return the `Credential d413f359-9595-4ab6-94cf-1aa191d2c884 no

[2020-08-27 15:15] anhem115 opened #697 "Aiohttp can't reach the test.bcvorin.vonx.io with proxy network"
I tried to run the agent(docker version from issuer kit of BC government) with the ledger url at : test.bcovrin.vonx.io and I got the error of aio http:

[code]
I could see the error is the aiohttp got problem to reach the test.bcovrin.vonx.io. However, I could run `curl text.bcvorin.vonx.io` without any error. I did have a proxy setup on my network so I think that maybe the problem?

[2020-08-27 16:08] WadeBarnes commented on #697
In the case of the BCovrin ledgers you'll want to configure your agent with the genesis URL for the ledger; http://test.bcovrin.vonx.io/genesis

[2020-08-27 16:12] anhem115 commented on #697
Thank @WadeBarnes , yes, I did provide the `export LEDGER_URL= http://test.bcovin.vonx.io` for the start-demo. It works normally without proxy network, but in my situation I have to make it work under proxy environment.

[2020-08-27 16:29] esune opened #698 "Proof request specifying a non-revocation interval fails when providing non-revocable credentials"
When a verifier submits a proof request that contains a non-revocation interval and the holder responds using non-revocable credentials that meet the remaining restrictions, the verification of the proof fails and the verifier throws the following exception:
[code]

This seems to be caused by "missing" revocation information when verifying the proof.

The situation described above is the default u

[2020-08-27 16:30] WadeBarnes commented on #697
Ah, you'll have to inject the proxy settings into the docker container.  I'll try to find an example.

[2020-08-27 16:37] anhem115 commented on #697
I also found on the documentation of the aiohttp that I need to pass the `trust_env=True` inside the aiohttp.ClientSession constructor so that it will read the proxy configuration in `$HTTP_PROXY` or `$HTTPS_PROXY` at: https://docs.aiohttp.org/en/stable/client_advanced.html
But I'm not sure how could we achieve that with the current docker setup for the agent?

[2020-08-27 16:44] WadeBarnes commented on #697
Here is an example of how it's done with docker builds; https://github.com/bcgov/aries-vcr/blob/master/docker/manage#L199.  The process is the same with running containers.  You need to inject the `$HTTP_PROXY` and `$HTTPS_PROXY` settings into the container.

[2020-08-27 16:46] WadeBarnes commented on #697
There are Docker level ways of doing this too; https://github.com/bcgov/aries-vcr/blob/master/docker/PROXY.md

[2020-08-27 16:56] esune commented on #695
@sklump the issue we are facing (and we are trying to resolve) is that:
- we NEED to have the revocation info (`rev_id` and `rev_reg_id`) in order to be able to revoke a credential
- we want to have a mechanism that allows us to recover when something goes sideways, regardless of whether we are retaining the credential-exchange info or pruning it after issuing a credential, and disregarding what t

[2020-08-27 17:34] sklump commented on #698
https://github.com/hyperledger/aries-cloudagent-python/pull/699 addresses.

[2020-08-27 18:09] sklump commented on #696
https://github.com/hyperledger/aries-cloudagent-python/pull/700 addresses.

[2020-08-27 18:20] anhem115 commented on #697
Thank @WadeBarnes , but even if I could inject the HTTP_PROXY variable, the aiohttp will still not read that variable by default (from the documentation link above)?

[2020-08-27 18:40] esune commented on #678
This seems to still be occurring on the `0.5.4` release.

[2020-08-27 18:44] swcurran commented on #694
@sklump -- would you please be able to look at this in the next while?  Let me know if you need more details.  We'd like to demonstrate that the community can do one of these updates without wreaking havoc upon our world.

Transition Step 2 has not officially happened but will Real Soon Now,

[2020-08-27 19:08] sklump commented on #678
If the wallet predates PR#682, the extra records will be there for keeps

[2020-08-27 19:10] #678 closed

[2020-08-27 19:24] sklump commented on #694
Probably next week I can start to look at it

[2020-08-27 19:28] sklump commented on #695
It's a quibble, but I think revoking a credential should go under revocation/, not issue-credential/, because it does not appear in the RFC that the header advertises.

[2020-08-27 19:43] esune commented on #695
I am good with that. The endpoint would then be something like `/revocation/{cred_ex_id}/revoke`.

[2020-08-27 19:48] WadeBarnes commented on #697
Yes, you'll also need to inject some indication the env is to be trusted, and there are likely code updates needed to support what's described.

[2020-08-27 23:43] esune opened #701 "Issuer doesn't download tails file from server if not present in local filesystem"
### Issue

When issuing a credential that supports revocation, if the tails file is NOT on the issuer agent's filesystem as expected, the issuing process is disrupted resulting in a credential permanently in the `pending` state. In the issuer logs, the following exception is observable:
[code]

### How to reproduce

Start the "Alice gets a phone" demo and step through it stopping right before issu

[2020-08-28 10:19] sklump commented on #701
I'm looking into this today

[2020-08-28 12:50] sklump commented on #701
https://github.com/hyperledger/aries-cloudagent-python/pull/702 addresses

[2020-08-31 03:14] anhem115 commented on #697
Thank @WadeBarnes , I have modified the agent image to support the proxy. I could get the transaction genesis now. However, I got a new problem when opening the pool:

[code]

Do you know what is the possible reason of that error

[2020-08-31 08:36] blelump commented on #625
Hi @swcurran , have you been able to make any progress on this issue? We're interested in extending ACA-Py to support any did method resolution and this commit work would be a good place to start. Well, actually, we're also interested in `did:https`, but we can make it the right way from the very beginning (meaning to be able to add any did method support).

[2020-08-31 11:37] #701 closed

[2020-08-31 11:37] #698 closed

[2020-08-31 11:37] #696 closed

[2020-08-31 13:00] WadeBarnes commented on #697
The error indicates the agent is not getting a response from the ledger.  Agents and nodes communicate on ports 9700-9799.  Check to see if your proxy/firewall is blocking those ports.

[2020-08-31 14:26] anhem115 commented on #697
I used the command `ss -lntu | grep ':970'` to see the current list of port, and I found that I have some ports open ?

![image](https://user-images.githubusercontent.com/11781639/91730913-f9036a00-eb6b-11ea-8577-7e00380b152d.png)

Is that the port range you mentioned @WadeBarnes ?

[2020-08-31 14:36] sklump commented on #625
I'm working on this issue this week

[2020-08-31 14:42] swcurran commented on #625
@blelump -- This issue is not about did resolution, so I don't think it will help with what you are after.  This issue aside, we are interested in what you are proposing.

[2020-08-31 14:50] blelump commented on #625
@swcurran , thanks for response. Introducing `did:https` wouldn't enforce a significant changes to the implementation that would open a possibility for any did resolution?

[2020-08-31 14:51] sklump commented on #625
My mistake. I'm verifying that we support receipt of message types on the new prefix, and emitting messages by default with the new type prefix, allowing for a run-time argument to emit messages with the old.

[2020-08-31 16:20] WadeBarnes commented on #697
Yes, those are the ports.  On which machine was the command run?  It could be your corporate firewall or proxy blocking the ports.

[2020-08-31 19:34] anhem115 commented on #697
Yes, I run that on the machine where I run the issuer kit and the agent. I will check that proxy and firewall again.

[2020-08-31 20:21] WadeBarnes commented on #684
Agent log with a back-trace on a panic error and crash.  Not a proof request call, but it may help.
[agent-indy-cat-23-g4x7h.log](https://github.com/hyperledger/aries-cloudagent-python/files/5152472/agent-indy-cat-23-g4x7h.log)

[2020-09-01 02:16] ianco commented on #684
Couple of thoughts:

- could be related to the agent pod losing connection to the database pod (similar to the other gateway timeouts we've seen)?
- could be some kind of race condition - the agent calls the api to issue a credential; the api does a call-back to the agent to tell the agent to save the credential in the wallet ...  depending on timing the two requests could step on each other?

[2020-09-02 10:33] etschelp opened #704 "Issue with --auto flags when sending proof proposal and having multiple credentials of the same type in the wallet"
I do not know if this is a bug or simply something where aca-py's api behaves a bit unclear.

Given i have the following two credentials in my wallet, and both are based on the same schema and credential definition.

**GET /credentials**
[code]
And my agent is configured with all the --auto flags enabled, and I want to send a proof presentation proposal like:

**POST /present-proof/send-proposal**

[2020-09-02 12:40] sklump commented on #704
I'll get deeper into this late in the week. It should be fixable.

[2020-09-02 13:06] #686 closed

[2020-09-02 16:48] sklump commented on #694
https://github.com/hyperledger/aries-cloudagent-python/pull/705 addresses

[2020-09-02 17:36] sklump commented on #704
In this context, the referent in the proposal does not mean the cred id in the wallet: https://github.com/sklump/aries-rfcs/tree/master/features/0037-present-proof#referent

The two referents here, if both the same, would specify to use the same single credential to provide both attributes. In this case, since both are the same, it looks like it should have found the matching credential. I'll keep

[2020-09-02 17:42] sklump commented on #704
Yep, it's a bug, to do with what the proof req looks like when it specifies "names" on a single credential rather rather than "name". I should be able to fix it in the next day or so.

[2020-09-03 16:30] esune opened #707 "Failure to publish revocation registry "breaks" credential definition revocation functionality"
### Context
When creating a new credential definition supporting revocation, the agent takes care of:
- publishing a new credential definition
- generating a revocation registry and publishing it to the ledger
- generating a tails file for the revocation registry to use immediately, and one to roll over to once the first file becomes full
- publish the first "active" tails file to a tails server,

[2020-09-03 16:30] esune commented on #707
@andrewwhitehead @sklump @swcurran

[2020-09-03 17:00] ianco commented on #684
After digging into the Rust code a bit, I'm not sure there's much we can do on that side.  "PoisonError" means the application has gotten into a corrupted state, so even if we try to handle the error all we can do is crash/restart.

One option is to upgrade the postgres and r2d connection pool libraries to the latest versions (they *may* have addresses an underlying condition that is causing the e

[2020-09-04 07:00] baegjae commented on #660
https://github.com/hyperledger/aries-cloudagent-python/pull/664 solves this. I close the issue.

Thanks!

[2020-09-04 07:00] #660 closed

[2020-09-04 20:30] esune commented on #707
I poked more at the agent with the "borked" revocation registry (thanks @sklump for all the support - see [here](https://github.com/hyperledger/aries-cloudagent-python/pull/708)):
- the API endpoint at `/revocation/registry/{rev_reg_id}/set-state` allows to set the state of the registry and issue/revoke credentials until it gets full
- the agent will however **NOT** rotate tails file as expected:

[2020-09-04 20:31] swcurran commented on #707
What does "rotate tails file" mean?

[2020-09-05 22:25] esune commented on #707
When the tails file capacity has been depleted, it needs to be replaced with a new one. It is a concept somewhat "similar" to log rotation from how I see it.

[2020-09-06 10:43] TimoGlastra opened #711 "connection protocol expects did identifier for DID instead of did"
This is more a question than a bug report.

When testing interoperability between aries-framework-javascript (AFJ) and ACA-PY there was an issue with the did and diddoc while creating a connection. (the `connection` and `connection~sig` parameters in request / response)

ACA-Py throws the error: `Connection DID does not match DIDDoc id`

I could find [this interaction](https://chat.hyperledger.org

[2020-09-08 10:42] sklump commented on #711
@andrewwhitehead can you take this?

[2020-09-08 12:46] sklump commented on #707
I think there are likely a few problems with the state machine here.

[2020-09-08 15:57] #638 closed

[2020-09-08 15:58] #433 closed

[2020-09-08 15:58] #407 closed

[2020-09-08 15:58] #420 closed

[2020-09-08 16:01] #684 closed

[2020-09-08 16:09] #556 closed

[2020-09-10 10:10] HarshMultani opened #714 "{('did', 'recipientKeys'): ['Fields are incompatible']}."
Hi,

I have connected and started the webserver and then I ran the two agents.
But when I am inputting invitation data from Faber to Alice - This is showing up:

Exception: Error: 400: ConnectionInvitation schema validation failed. {('did', 'recipientKeys'): ['Fields are incompatible']}.

Any idea why this is happening @swcurran , @WadeBarnes

[2020-09-10 11:09] HarshMultani commented on #714
Hi,

No worries - just some syntax error

[2020-09-10 11:10] #714 closed

[2020-09-10 14:49] domwoe commented on #589
Resolved with #667 and #669

[2020-09-14 17:05] sklump commented on #694
https://github.com/hyperledger/aries-cloudagent-python/pull/713 backs off to emit old prefix by default until official Stage 2 adoption.

[2020-09-18 06:17] aathul opened #719 "Use public DID in the connections/create-invitation"
Trying to create a connection invitation (connections/create-invitation) with public = true and multi_use = true queries (for out-band-protocol). Then I got an error like this `aries_cloudagent.admin.server ERROR Handler error with exception: Configuration does not include public invitations`.
But already assign a public DID in that agent.

[2020-09-18 12:01] #719 closed

[2020-09-18 12:03] aathul commented on #719
need to add command-line flag `--public-invites` to use public invitations here

[2020-09-18 13:20] sklump commented on #707
https://github.com/hyperledger/aries-cloudagent-python/pull/717 addresses

[2020-09-18 13:20] #707 closed

[2020-09-18 13:21] #704 closed

[2020-09-19 12:55] kapilkathuria commented on #568
@Sarangc1203 did you posted this as separate issue and happened to find any solution?

[2020-09-20 10:22] kapilkathuria opened #720 "aca-py api setup with postgres"
Hello,

Seeking help. have been trying to setup aca-py api for sometime and not able to figure out issue.

I am able to run aca-py api without postgres:
`PORTS="5000:5000 8000:8000" ./scripts/run_docker start -it http 0.0.0.0 8000 -ot http --admin 0.0.0.0 5000 --admin-insecure-mode --seed 255h235iu2yg354uiyg234i5iu2yg54i --endpoint http://localhost:8000 --genesis-url http://test.bcovrin.vonx.io/ge

[2020-09-20 17:24] Sarangc1203 commented on #568
Yeah, I figured out how to get it working. Using the configuration mentioned above, the aca-py was looking for a postgres service inside the aca-py's docker container itself. The problem was that my postgres service was running as an independent service in another container. So to get it working I just had to expose and map the ports so aca-py could interface with the postgres service.
Apologies f

[2020-09-21 02:52] kapilkathuria commented on #568
thanks for revert @Sarangc1203 . been struggling with this for some time and not able to find solution. Have tried various things (i.e. run postgres on local machine, map ports of postgres container, run all containers with docker compose so that they are in same network etc.)

possible for you to post step by step instructions worked for you?

I also posted this as separate issue here - #720 to s

[2020-09-21 13:28] WadeBarnes commented on #720
It looks like you've configured the agent to look for Postgres on `localhost` (inside it's own container, which is not the same as `localhost` on your host machine) and your running Postgres separately on your local machine.  Have a look at the docker configuration in [bcgov/aries-vcr](https://github.com/bcgov/aries-vcr/tree/master/docker).  It's agent connects to a Postgres database (hosted in a

[2020-09-21 15:07] domwoe commented on #358
I've created a first PoC of this feature. See https://github.com/boschresearch/aries-cloudagent-python/tree/feature/358-allow-public-did

I've added a `--use_public_did` start parameter. If set, the agent will use the public DID for all connections.
I've added a `use_public_did` query parameter to the `/connections/receive-invitation' route that allows to specify the usage of the public DID for a

[2020-09-22 03:40] kapilkathuria commented on #720
@WadeBarnes . thanks, this is sorted now. Looks like my lack of understanding of docker and postgres.

Had to do following:
1. Configure postgres to allow connection from remote host: https://blog.logrocket.com/setting-up-a-remote-postgres-database-server-on-ubuntu-18-04/
2. As you advised, use ip address of host where postgres was running

[2020-09-22 03:40] #720 closed

[2020-09-22 09:07] domwoe commented on #358
Concerning the first Question:

Let's distinguish between the two roles in the connection protocol

**Invitee**

This is straight forward from my point of view with the approach described above.
In `/connections/receive-invitation` I can specify the usage of the public did by setting the `use_public_did` query parameter accordingly

**Inviter**

Given the current implementation of the connection p

[2020-09-22 09:18] domwoe commented on #358
@swcurran @sklump  Would be great to get your feedback/opinion on this

[2020-09-23 06:57] ldej opened #721 "Credential response json doesn't match Swagger documentation"
The expected structure of a credential from `/credential/{credential_id}` and `/credentials` is:
[code]
However, the result I get back is:
[code]

The main difference is the missing `referent` in the expected response, and `attrs` vs `values`.

I can update either if I get some instructions on which is the preferred structure.

[2020-09-23 11:41] sklump commented on #721
Leave it with me and I will take care of it first thing Monday.

[2020-09-24 11:46] krzosa opened #722 "Problem with verify-presentation"
Hello, I have been battling the present-proof protocol for some time now and I finally nailed the schema down to this simple form which passes the request proof and present proof but I can't pass the verification phase to fully complete the proof exchange because of a CommonInvalidStructure error, could someone perhaps help me out here? I'm not sure exactly how to structure the schema in order to

[2020-09-27 09:27] QuesoViejo opened #724 "Faber-Alice-Acme Workshop Exception"
Running[ Faber-Alice-Acme lab workshop](https://github.com/hyperledger/aries-cloudagent-python/blob/master/demo/AcmeDemoWorkshop.md) I had the exception:
**Exception: Error: {"revocation_registry_size": ["Field may not be null."]}**
which I solved calling from acme.py as:

await agent.register_schema_and_creddef(
                "employee id schema",
                version,
                ["empl

[2020-09-28 11:59] sklump commented on #721
https://github.com/hyperledger/aries-cloudagent-python/pull/726 addresses

[2020-09-28 12:08] sklump commented on #722
The cred def id should look something like
[code]
i.e.,
* issuer DID
* colon _(delimiter)_
* 3 _(marks a cred def id)_
* colon _(delimiter)_
* CL _(identifies signature type)_
* colon _(delimiter)_
* a positive integer _(identifying, by sequence number, the ledger transaction with the schema id)_
* colon _(delimiter)_
* a tag _(typically for aca-py, a UUID4)_.

The cred def id is the template on w

[2020-09-28 13:25] sklump commented on #724
Not all cred defs support revocation; a revocation registry size of null is a common use case. There is a problem here and I am on it.

[2020-09-28 14:17] sklump commented on #724
https://github.com/hyperledger/aries-cloudagent-python/pull/727 addresses

[2020-09-28 14:49] krzosa commented on #722
Hi, sorry for being a bit lazy there, here is the schema I would actually send (without the simplified ids) using the request endpoint:

[code]

[2020-09-28 16:34] sklump commented on #722
Could you kindly post the credential from the holder's wallet that you expect to find?

[2020-09-28 17:44] sklump commented on #722
... also, I see that the nonce is outside the proof request here: that's wrong

[2020-09-28 17:50] sklump commented on #722
... furthermore, "from_epoch" and "to_epoch" should be "from" and "to".

Moreover, JSON is not forgiving of trailing commas as per
[code]

[2020-09-28 18:50] QuesoViejo commented on #724
Great!

[2020-09-28 18:50] #724 closed

[2020-09-28 22:16] swcurran opened #729 "Prover checks if a credential in their wallet is revoked"
Is there a way to invoke this Indy Node transaction - https://github.com/hyperledger/indy-node/blob/master/docs/source/requests.md#get_revoc_reg_delta - such that a prover could find out if there credential has been revoked?

Perhaps an ACA-Py Admin API isCredentialRevoked(credential) called by a prover controller that:

- finds the credential in wallet
- determines if it is revocable -- if not tr

[2020-09-28 22:18] swcurran commented on #627
No detail - closing.

[2020-09-28 22:18] #627 closed

[2020-09-28 22:19] swcurran commented on #471
@sklump @andrewwhitehead -- I'm assuming without Nick and without details we should close those. Please reopen if you disagree.

[2020-09-28 22:19] #471 closed

[2020-09-28 22:20] swcurran commented on #473
@sklump -- I believe this is done and am closing. Please reopen if I'm wrong on that.

[2020-09-28 22:20] #473 closed

[2020-09-28 22:21] #545 closed

[2020-09-28 22:48] swcurran opened #730 "Add support for DID Exchange"
Add support for the DID Exchange protocol ([RFC 0023](https://github.com/hyperledger/aries-rfcs/tree/master/features/0023-did-exchange)), ideally in parallel with supporting the existing Connections protocol.

Because of how embedded the connection object is within the rest of ACA-Py, this is likely to be pretty complex.

Naive question (sorry): Since the end result of Connections and DID Exchange

[2020-09-29 06:14] ldej commented on #721
It's almost right. After #726 `attrs` is still formatted like:
[code]
But the documentation says:
[code]

[2020-09-29 09:08] krgko opened #731 "Add outbound transport max message size"
Currently, The ACA-py allows for setting `--max-message-size` for inbound transport only. I think someone who uses the webhook feature might need to apply that config for the outbound transport max message limit also due to large messages will lead to `OutboundTransportError('Unexpected response status 413, caused by: Request Entity Too Large')`

So, for the config might reuse `--max-message-size`

[2020-09-29 09:11] krzosa commented on #722
GET /credentials
[code]

Sorry I have 2 versions of acapy (0.5.14 and 0.5.1) and I mispasted the proper version of send request, I'm also not filling the nonce field here:

[code]

Json formatting seems to be okay, it doesn't complain about it, I battled the formatting for some time and I think it's okay now, after all I would assume that would get caught on the "send request" stage not on the "ve

[2020-09-29 10:55] sklump commented on #721
Sheesh, I missed that. https://github.com/hyperledger/aries-cloudagent-python/pull/732

[2020-09-29 11:33] sklump commented on #729
Can I take this one instead? It will take me about a day.

[2020-09-29 11:49] TimoGlastra commented on #711
Any update on this?

I would love to make AFJ interoperable with ACA-Py.

---

I understand if you don't have the time to go into detail. In that case i'll just go ahead and send the DID without the `did:sov` part.

[2020-09-29 11:54] sklump commented on #729
I can take this if you like. It should take about a day.

I think the to/from/last-check shenanigans are extraneous. Let the ledger retain deltas (single source of truth) and read off cred rev ids revoked.

Alternatively, the prover can always call the issuer's admin API (if the issuer is up), but this is worse because the issuer knows that the prover has checked.

[2020-09-29 12:54] ianco commented on #729
I found this function in the indy-sdk, does this do what we need?

https://github.com/hyperledger/indy-sdk/blob/master/libindy/src/api/anoncreds.rs#L2262

I need to experiment with it a bit ...

Theoretically since the holder knows the rev reg id and the index of their credential they should be able to check independently if the credential is revoked (without contacting the issuer).

[2020-09-29 12:57] ianco commented on #729
The aca-pi api "GET /present-proof/records/{pres_exch_id}/credentials" returns data in this format:

[{"cred_info": {"referent": "2193127d-88bb-4171-8171-085798a7faa5", "attrs": {"timestamp": "1601334830", "degree": "Maths", "name": "Alice Smith", "age": "24", "date": "2018-05-28"}, "schema_id": "4wR1x7SNe1k3Dq8JsWtGMm:2:degree schema:80.38.38", "cred_def_id": "4wR1x7SNe1k3Dq8JsWtGMm:3:CL:36:defau

[2020-09-29 13:14] sklump commented on #730
Realistically, this is going to take weeks and weeks.

[2020-09-29 14:43] sklump commented on #729
The revocation state creation a step en route to a proof presentation, which we want to avoid. The info is in the delta in its revoked list: take yes for an answer and proceed

[2020-09-29 14:52] sklump commented on #722
Try with current master. The problem here is that a requested attribute specifies a non-revocation interval but the credential is not revocable. Current master adjusts proof requests accordingly just prior to verification when the selected credentials are non-revocable.

[2020-09-29 14:53] sklump commented on #729
I'd love to take this one and leave you to focus on the ongoing investigation of postgres record locking vs. concurrent updates. That one is going to wreck the planet, left unchecked.

[2020-09-29 16:16] swcurran commented on #711
@andrewwhitehead  - please review and respond.  Thanks.

[2020-09-29 17:11] ianco commented on #729
@sklump it's all yours!

[2020-09-29 17:33] swcurran commented on #731
Ian - can you please take a look?  Thanks.

[2020-09-29 18:07] domwoe opened #733 "Large credentials can't be stored in Postgres Wallet"
When storing a credential with an attribute that holds a long string (approx. 30000 characters in this case), the holder is not able to store the credential and fails with the following error.

This error only occurs with Postgres wallet storage.

[code]

[2020-09-29 20:21] ianco commented on #733
This is due to the restriction on the size of an index supported by postgres.

Note that this is addressed by this PR in indy-sdk:  https://github.com/hyperledger/indy-sdk/pull/2232

... which replaces the offending index with an md5 (which is a fixed size).

This is in the latest indy-sdk master branch but is not available in an indy-sdk release.

Note that you can manually make the change in you

[2020-09-30 04:12] #721 closed

[2020-09-30 14:11] #334 closed

[2020-09-30 14:11] #146 closed

[2020-09-30 14:11] #428 closed

[2020-09-30 14:12] #434 closed

[2020-09-30 14:12] swcurran commented on #529
AFAIK - ACA-Py is working fine with TAA. Closing this issue.

[2020-09-30 14:12] #529 closed

[2020-09-30 14:13] swcurran commented on #581
@ianco can this be closed?

[2020-09-30 14:16] swcurran commented on #625
Sorry for the delay in answering @blelump -- this is not about "did:https" support.  This is about the prefix of DIDComm messages types. Currently, Aries DIDComm protocols are namespaced using "did:sov:...." and the community is changing that to use "https://didcomm.org".

[2020-09-30 14:20] swcurran commented on #625
Work completed #705; new startup parameter is `--emit-old-didcomm-prefix`

[2020-09-30 14:20] #625 closed

[2020-09-30 14:28] #694 closed

[2020-09-30 14:32] #351 closed

[2020-09-30 15:29] sklump commented on #729
https://github.com/hyperledger/aries-cloudagent-python/pull/735

[2020-09-30 15:44] swcurran opened #736 "Add new RFC, design of "Sign Transaction" protocol -- perhaps Indy specific"
A common use case on Indy is the need for a Transaction Author that is not an Endorser to prepare a transaction for the ledger, pass it to an Endorser for a signature and on receipt, execute the transaction.  This is explored in this [HackMD document](https://hackmd.io/5LzMhfsMQBevB5V2tKz4hA?view), in this presentation (https://docs.google.com/presentation/d/1bF_Su5m-kfFxcFL7xVlzPAEo3isnQrkqP4T2s3

[2020-09-30 15:45] swcurran commented on #736
@ianco -- the idea here is that you work on the design.  You may also get to implement, but we've had others that might be able to do the implementation -- perhaps a dev from @jadhavajay 's team at AyanWorks.

[2020-09-30 15:54] #581 closed

[2020-09-30 15:54] ianco commented on #581
yes, closed it

[2020-09-30 16:28] ianco commented on #521
Looking through some of Nick's tickets it seems that the startup parameters need to be reviewed as well.

E.g. should "--wallet indy" be required?  Should "--endpoint" be required?

I don't know if it makes sense to run an aca-py agent without some of these parameters specified

[2020-09-30 16:46] ianco commented on #521
In general the API's *should* return:

- HTTP 400 (with an error message) for errors on input parameters (user can retry with different parameters)
- HTTP 404 if a record is expected and not found (generally for GET requests that fetch a single record)
- HTTP 500 if there is some other processing error (i.e. won't make any difference what parameters the user tries) with an error message

.. and sh

[2020-09-30 16:47] swcurran commented on #521
I definitely think we need a better way to document what is needed.  The plan of going to a config file would really help with that -- here are the recommended settings, and a doc section on why some options would/would not be needed.

[2020-09-30 18:00] ianco commented on #521
aca-py start: error: the following arguments are required: -it/--inbound-transport, -ot/--outbound-transport

What can the agent do with this minimal set of parameters?

There are basically 4 roles we can run an agent:  Issuer, Holder/Prover, Verifier, Router/Mediator

Correct?

The first 3 (currently) require an Indy ledger (and therefore an Indy wallet), I don't think Router/Mediator does ...

[2020-09-30 20:23] ianco commented on #736
Who is responsible for accepting the TAA?  Is it the transaction author or the endorser?  (Or both?)

[2020-09-30 20:25] swcurran commented on #736
The transaction author.  Slowly now.. TAA -- "Transaction **Author** Agreement"

[2020-09-30 20:28] swcurran commented on #736
:-)

[2020-09-30 21:00] ianco commented on #521
In terms of startup parameters, I suggest when running "aca-py start":

- Endpoint should be required ("-e" or "--endpoint")
- Ledger should be required ("--genesis-transactions", "--genesis-file" or "--genesis-url")
- Wallet configuration should be required, and should default to "indy"

(Inbound and outbound transports are already required)

If we want to run with no ledger we should have a "--n

[2020-10-01 10:02] krzosa commented on #722
Thanks a lot for help, I managed to get through the verification phase on the v0.5.4 by removing the said non_revocation interval and adding the nonce field:
[code]
Sadly for now I can't test the master cause it breaks my test plugin and I will have to update it, but again thanks a lot for help. :+1:

[2020-10-01 12:42] swcurran commented on #722
Sounds good - closing.

[2020-10-01 12:42] #722 closed

[2020-10-01 13:31] ianco commented on #736
I suggest to leverage a couple of existing rfc's:

- Signed attachments:  https://github.com/hyperledger/aries-rfcs/tree/master/concepts/0017-attachments#signing-attachments
- Question/Answer:  https://github.com/hyperledger/aries-rfcs/tree/master/features/0113-question-answer
- Goal Codes:  https://github.com/hyperledger/aries-rfcs/tree/master/concepts/0519-goal-codes

The basic signing protocol

[2020-10-01 13:39] ianco commented on #736
How this fits into existing protocols:

Protocols that write to the ledger (public did, schema, cred def, revocation registry) need to incorporate the above signing protocol.  The aca-py agent will need to be configured with either (a) an endorser DID, or (b) a (list of) endorser connection(s) who can sign transactions.

For aca-py's with an endorser did, they can just write to the ledger.

Otherw

[2020-10-01 13:43] ianco commented on #736
aca-py API needs to be enhanced to:

- Configure endorser connections (connections are setup separately but need to be flagged as endorsers)
- Configure signing requirements for public did, schema, credential definition, revocation registry
     - May need to be generic to allow for future protocols and signatures for non-Indy transactions?
- Need to review protocols for public did, schema, creden

[2020-10-01 13:47] shivammutrejarug opened #737 "Remove extra forward slash from the command."
`$DOCKER run --name $AGENT --rm -it ${DOCKER_OPTS} \
  --network=${DOCKER_NET} \
  -p 0.0.0.0:$AGENT_PORT_RANGE:$AGENT_PORT_RANGE \
  -v "/$(pwd)/../logs:/home/indy/logs" \
  $DOCKER_ENV \
  faber-alice-demo $AGENT_MODULE --port $AGENT_PORT $ARGS`

Issue/Error -

Probable solution - In the aforementioned command `$(pwd)` will already return the path with a forward slash in the front. This means th

[2020-10-02 15:55] ianco commented on #521
Adding some API development standards to https://github.com/hyperledger/aries-cloudagent-python/blob/master/AdminAPI.md before doing any API updates.

[2020-10-02 15:58] sklump commented on #737
https://github.com/hyperledger/aries-cloudagent-python/pull/740

[2020-10-02 20:45] #652 closed

[2020-10-02 20:54] swcurran opened #742 "Add test to automate the detection/documentation of Admin API changes"
@jcourt562 mentioned that he is detecting changes in the Admin API by using the swagger definition to generate a client for the API and then looking for changes from previous generations.  ACA-Py has been updated to make the generated swagger definition predictably ordered to make such comparisons easier.

It would be nice to have such a mechanism added to the repo for detecting expected and unexp

[2020-10-02 20:55] swcurran commented on #742
@jcourt562 -- interested in helping with this one?  :-)

[2020-10-05 20:46] doganomer opened #743 "Linking connection record to the public DID of the other agent, especially when the other agent is an Issuer"
1- Issuer creates a new invitiation (with or without the public DID option) and passes it to the Holder out of band.
2- Holder creates connection using this invitation.
Now, Holder can query the connection using _/connections_ and _/connections/{conn_id}_ endpoints. However, none of these endpoints provide a way to link the connection record to the actual Issuer (i.e. public DID of the Issuer) sin

[2020-10-05 21:42] jcourt562 commented on #742
I would need to check with my CEO, however its likely we could be interested in helping here with some giveback.

Cheers

John

________________________________
From: Stephen Curran <notifications@github.com>
Sent: Saturday, 3 October 2020 6:55 AM
To: hyperledger/aries-cloudagent-python <aries-cloudagent-python@noreply.github.com>
Cc: John Court <jcourt@anonyome.com>; Mention <mention@noreply.gith

[2020-10-05 22:13] jcourt562 commented on #742
Let me look into this and see what I can do.

Cheers

John

[2020-10-06 16:27] swcurran commented on #736
Thoughts on the three comments:

* I didn't at first get the need for the Q&A protocol, but I think you mean to use it as the implemented protocol, attachment and goal-codes are decorators that will be used for the protocol.
* I think there will have to be some post processing of the Indy ledger transactions to insert the signatures in the appropriate way in the transaction.  It's definitely possi

[2020-10-06 16:36] swcurran commented on #736
One more thought.  I question using Q&A for this vs. having another protocol.  At minimum we'll want to update Q&A to reflect how it will be used.  But I'm guessing that doing this will not be as easy as just implementing Q&A (as defined now) and adding decorators.

[2020-10-06 18:18] jadhavajay commented on #736
Hi @swcurran, we have identified a developer from our team who can contribute to this development with @ianco . He will join the regular ACA-Pug calls to get in sync.

[2020-10-06 18:50] swcurran commented on #736
Thanks @jadhavajay !  We talked about this on our internal sprint review todau.  Ian is going to do some more refinements to the docs and perhaps do a WIP/Draft PR that does a little bit of the work, but leaves the heavylifting.

@ianco I'd say once you have things finalized, do a new Issue that has the (as best we know it) solution defined and we'll close this issue. The implementation will start

[2020-10-06 18:51] swcurran commented on #736
Also - let's decide what RFC update is needed -- if we are going to use Q&A and we need to add details to it or if this will be a new PR.

Oh and one more thing.  Do keep in mind the Aries Toolbox part of this so that we can see if we can make that happen.

[2020-10-06 21:14] ianco commented on #736
Hackmd doc is updated:  https://hackmd.io/5LzMhfsMQBevB5V2tKz4hA?view

[2020-10-06 23:09] esune opened #745 "Concurrency issues with scaled agent deployments."
When thee are multiple agent instances accessing the same wallet (e.g.: kubernetes deployment of multiple aca-py agents using the same postgresql wallet), concurrency issues appear as 2 or more instances try to update the same non-secret record.

This happens, as an example, when issuing credential that support revocation: multiple agents would read the current state of the revocation registry, fi

[2020-10-08 06:50] jcourt562 commented on #742
Hey Stephen, you can assign this one to me. I have a script (yeah ok its only bash but hey), it runs up the ACA-py docker, and then runs the swagger-cogegen docker image against it to create an openapi.json file, so its not language specific.  We should be able to use that with maybe a little bit of change from what we do afterwards for specific language generation.  One issue is that doing this i

[2020-10-08 15:23] swcurran commented on #742
That works.  Now that we have merged all of the configuration systems for ACA-Py into a unified system (#739 ) we should also have a "usage" run as part of this that we also check for changes on a merge by merge basis.  Don't feel obligated to do that as well, but I assume we'll piggyback on what you do.

@WadeBarnes can help with any CI/CD questions, and can take what you produce to move into CI/

[2020-10-08 17:21] sklump commented on #742
bash is way underrated as a scripting language. Minimal external dependencies!

[2020-10-08 20:15] #737 closed

[2020-10-08 20:15] #729 closed

[2020-10-08 20:59] andrewwhitehead commented on #711
I agree something needs to change if it can't handle a prefixed DID, but it seems like this will need significant testing (including against the mobile apps) before we roll out a version with these changes. It also looks like when ACA-py might be producing a connection request it's using the un-prefixed DID, which may go back to a previous version of the RFC.

[2020-10-09 18:08] ianco commented on #736
@jadhavajay @swcurran I've been updating the hackmd doc with my thoughts around the design, can we schedule a call early next week to discuss?  Monday is a holiday here so sometime from Tuesday onwards ...  I'm in Victoria BC (Pacific Time) but am flexible to do an early morning or an evening call.

[2020-10-10 18:12] domwoe commented on #743
Related issue #358

Although if I understand your use case correctly you'd need to make that link in your holder's controller application.

You **can** do that because the controller has the invitation with the public DID of the issuer and gets the connection id, when posting it to the `/receive-invitation` endpoint.

[2020-10-10 18:19] domwoe commented on #358
The way "DIDcomm" works right now, there seem to be a big drawback in using public DIDs for connections.
Please correct me if I'm wrong, but it seems that if an attacker would record all communications based on that DID and could get hands on the private key at some point, the attacker would be able to decrypt all messages.

So maybe there needs to be  a way to establish a connection based on the

[2020-10-13 06:40] ankitkr1606 opened #751 "Include ImageURL in invitation"
I was trying to include ImageURL in the invitation while using create_invitation REST API but was not able to. Can you help me in this?

[2020-10-13 07:59] TimoGlastra commented on #711
Thanks @andrewwhitehead. I've discussed and for now we'll change to using the un-prefixed DID. Maybe ACA-Py could eventually support both prefixed DIDs and un-prefixed DIDs for backwards compatibility.

[2020-10-13 07:59] #711 closed

[2020-10-13 08:54] HarshMultani opened #752 "What is the tails-server-base-url? and how should it be configured?"
I have installed the indy-sdk in my system and started the ledger network (It is running).
After that I setup the aries-cloudagent and ran the agent (as a steward) using the aca-py command.

Now, with the help of this agent, I have published the schema on the ledger, but when I am trying to send a credential definition on the ledger.. It is giving me the error :- 400: tails_server_base_url not con

[2020-10-13 10:37] sklump commented on #752
The tails server hosts tails files for revocable credentials. To post a cred def id that supports revocation, the issuer needs the tails server to which to post the tails files for revocation registries.
https://github.com/bcgov/indy-tails-server
https://github.com/hyperledger/aries-cloudagent-python/blob/278c8ce0e85b403f8dd4cd83fb0bdc81f7e5dd54/aries_cloudagent/config/argparse.py#L458

[2020-10-13 13:26] ducadellaforcoletta opened #753 "Bad performance with thousand of dids in wallet."
ACA-PY has very bad performance in case thousands (4500 for a 1 year production wallet in my scenario) of dids are stored in the wallet.
Investigating in the source code, the problem seems due to the repeteted read of the public_did in the various operation (from the starting till to the issue). Each call to the public did will fetch all the dids stored in order to find the correct one.

Could a s

[2020-10-13 13:47] WadeBarnes commented on #753
Wait type of storage are you using for the wallet?  For production level wallets you should use Postgres.

[2020-10-13 13:53] ducadellaforcoletta commented on #753
The wallet storage is postgres, sorry I missing this info.

[2020-10-13 18:37] HarshMultani commented on #752
Hi, Thanks for the answer. But now, I don't want to post a cred def that supports revocation. Therefore I have set "support_revocation" to false while generating the credential definition. And, so the error is not coming.

[2020-10-13 18:37] #752 closed

[2020-10-14 01:29] khujin1 commented on #753
I found same issue on Postgres.
When checking the postgres log, it was confirmed that hundreds of queries occurred in one issue or verify.
`2020-10-05 09:17:46.467 UTC [45] LOG:  statement:
2020-10-05 09:17:46.467 UTC [45] LOG:  execute <unnamed>: SELECT id, value, key FROM items where type = $1 AND name = $2 AND wallet_id = $3
2020-10-05 09:17:46.467 UTC [45] DETAIL:  parameters: $1 = '\x374f7243

[2020-10-14 01:38] khujin1 commented on #753
Also when I deleted the items(connection data) in the wallet, the performance was restored.
ACA-PY & postgres system is now on developing but I have same issue on indy sqlite production system.

[2020-10-14 07:48] ducadellaforcoletta commented on #753
An improvement on the api used in this case has been made on indy-sdk: https://jira.hyperledger.org/browse/IS-1561.

[2020-10-14 10:39] HarshMultani opened #754 "How to update aca-py configured in my system?"
I have installed aca-py in my system and configured it..  and when I have to run the agents I simply use the aca-py command.  Now , I did some changes in the codes of my locally configured aca-py. Now how should I update it so that the changes are reflected.

[2020-10-14 11:45] sklump commented on #753
I don't see any straightforward improvement available outside the indy-sdk.

Unless we want to re-implement the entire indy.did layer in our own non-secrets layer - which would be a large delicate project and, in the end, rule out compatibility with any other indy implementation.

An alternative could be to carry a secondary non-secrets record for every local DID/verkey and tag both, doing an end-

[2020-10-14 12:47] ianco commented on #753
I'll take a look.  I'm not against doing something locally to optimize/do an end run around indy sdk.

[2020-10-14 13:24] jadhavajay commented on #736
Sorry for the late reply on this @ianco. Yes, we can schedule a call to discuss. Please suggest if this week is still good for you.

[2020-10-14 13:28] jadhavajay commented on #736
CC: @HarshMultani

[2020-10-14 13:31] swcurran commented on #736
Perhaps we can cover on the ACA-Pug meeting today?

[2020-10-14 13:53] jadhavajay commented on #736
I think we can.

[2020-10-15 10:28] ankitkr1606 commented on #751
Let me be more clear on what i want to do. As of now when I create invitation using Swagger agents the response I get is something like this.
![invi](https://user-images.githubusercontent.com/25309320/96110902-23cc3680-0efe-11eb-93c2-5e5772d65939.png)

But as shown in the example of create invitation we can even include an attribute called ImageURL as can be seen here
![ex_invi](https://user-image

[2020-10-15 18:46] swcurran commented on #751
The use of icons in invitations has some interesting tension to it -- we want it to improve the user experience, but we want to be careful to make sure a "self-asserted" image (no verification of the sender) can't be used to fool a user into thinking a connection is with one party when it isn't.  People pretending to be the Bank when they aren't and they are trying to scam people.  An invitation r

[2020-10-15 19:36] swcurran commented on #358
DID Exchange (RFC 0023) just had a clarification to do that. Although a public DID may be used to start a connection (in implicit invitation), an agent may choose to create the connection using a peer DID and not use the public DID thereafter.

The pros and cons of public vs. peer DID for connections:

- Public has only a key pair to manage -- a key rotation published to a ledger changes it for al

[2020-10-15 22:39] ianco commented on #753
I don't think PR 2238 is going to improve this situation.  The PR adds some logic to the api `list_my_dids_with_meta` whereas the api we're calling (I believe) is `get_my_did_with_meta` (singular vs plural).

`get_my_did_with_meta` makes 3 queries to the wallet (did, metadata and verkey) so it seems pretty straightforward.

[2020-10-15 22:45] ianco commented on #753
This kind of thing may be causing problems - look up did for every connection:

https://github.com/hyperledger/aries-cloudagent-python/blob/master/aries_cloudagent/protocols/connections/v1_0/manager.py#L1141

For a large number of connections this loop will cause issues.

Could potentially do a single fetch to query *all* did's and then iterate 2 collections in-memory?

[2020-10-16 02:06] khujin1 commented on #753
@ducadellaforcoletta thanks. After build with the latest code, the performance increases by more than 5 times and maintains constant performance.

[2020-10-16 07:46] HarshMultani commented on #150
Hi @rosenbrockc where you able to solve that issue?
I am running the agent using the command :

aca-py start --wallet-name Steward --wallet-key Steward --wallet-type indy --genesis-file /<PATH_TO_GENESIS_FILE>/docker_pool_transactions_genesis --ledger-pool-name local_pool --inbound-transport http 127.0.0.1 8001 --admin 127.0.0.1 9001 --endpoint http://127.0.0.1:8001 --outbound-transport http --log

[2020-10-16 11:29] ducadellaforcoletta commented on #753
@khujin1 I've changed the aca we are using with customization on get-public-did service. The public did&verkey are passed as parameter (in our case we haven't need to change it at runtime) at startup and this static info are returned at get-public did invocation without any call to get_dids from wallet. After this change, the responses from aca-py are almost instantaneous.

[2020-10-16 12:12] ianco commented on #150
You need to create the DID on the ledger before you run aca-py.

[2020-10-18 22:02] rodolfoleal commented on #171
Had the same issue while following the tutorials.

https://github.com/hyperledger/aries-cloudagent-python/tree/master/demo#running-in-docker

I ran the command under the running in docker section, and received the error

Tried to run the same command of Running in a browser and everything worked.
[code]

Hope that helps others.

[2020-10-19 16:29] domwoe opened #756 "Issue with public invitations and short verkeys"
When a connection request is created based on a public invitation (.i.e. containing a public DID instead of verkey and endpoint info) sent to `/connections/receive-invitation`, and the verkey on the ledger is in short form (starting with `~`) ACA-PY throws the following error while trying to create the connection request message:
[code]

[2020-10-19 18:00] swcurran commented on #756
@andrewwhitehead @sklump --- could one or both of you please take a look?  Thanks!

[2020-10-19 18:56] sklump commented on #756
I can take this first thing tomorrow morning

[2020-10-20 18:51] sklump commented on #756
... I will post a fix tomorrow morning first thing

[2020-10-22 07:42] #756 closed

[2020-10-24 18:33] #731 closed

[2020-10-28 20:46] nodlesh opened #769 "BUG - Certain variations on non revocation intervals in a proof request cause 500 internal server errors"
### Issue
The following variations on the non revocation interval in Proof requests will throw a 500 internal server error. The Acapy logs will give extra info on the error, but this info never makes it though to the admin api caller.

1. If the to and from fields are float instead of int.
ie. (1603917464.8775065, 1603915000.8000005)
2. If the to field is at a time before the creation of the revoc

[2020-10-29 10:55] sklump commented on #769
https://github.com/hyperledger/aries-cloudagent-python/pull/764 (now merged into master) should address #1 and #4. #3 is a case of #2 as 0 means 1970-01-01 00:00:00Z. I will see what can be done about what #2.

[2020-10-29 11:10] ankitkr1606 opened #771 "the role filter when set to issuer while issuing credentials is showing no results."
While issuning credentials, when I'm using  **GET /issue-credential​/records** with the value of role as issuer I'm getting empty results even though the issuer is issuing credentials, While exploring more I found that when using **POST /issue-credential/records/{cred_ex_id}/send-offer** the response body is not having any field as role inside it which is the reason why the role filter when set to

[2020-10-29 13:47] sklump commented on #771
I'll take a look, thanks

[2020-11-03 09:06] ankitkr1606 opened #773 "Problem in setting up a routing agent"
While using **/connections/create-invitation**, I want to include routing keys in the invitation object but not able to figure out the way to do it, and when using **/connections/{conn_id}/establish-inbound/{ref_id}**, the routing_state of the connection becomes request and I want to make it active. Can you please tell a way to do these?

[2020-11-03 15:21] sklump commented on #773
At present aca-py doesn't support this. It's on the to-do list.

[2020-11-03 15:22] sklump commented on #773
If you'd like to take this and submit a PR, that would be a huge help.

[2020-11-06 15:27] denizgunseli commented on #773
@ankitkr1606 which RFC is you mention about? We are currently implementing [RFC - 0211](https://github.com/hyperledger/aries-rfcs/tree/master/features/0211-route-coordination). Does it cover your needs?

[2020-11-08 21:33] daidoji opened #776 "Current pypi install of aries-cloudagent gives indy.blob_storage error"
I saw in the README that there was a pypi install instruction but probably more should be added there because the current version (0.5.6) doesn't seem to work even with installing the `indy` package (which might not even be the right step either).  Fixing the README to add a note about any kind of indy dependencies this package has or adjusting the package so that it does work on an install from p

[2020-11-09 16:47] daidoji commented on #776
Oh `python3-indy` is required not `indy`

[2020-11-09 16:47] #776 closed

[2020-11-11 08:21] doganomer opened #780 "Count parameter in /credentials endpoint causes error"
When I send a request to **_/credentials_** endpoint with no parameters, it returns max 10 records. Therefore, I added the **count** parameter; such as **_/credentials?count=100_**. This used to work fine; however it seems that this has been broken.

When I send a request to http://localhost:4001/credentials?count=100; I get the following error:

Error: Unprocessable Entity
[code]

[2020-11-11 15:26] swcurran commented on #780
@sklump -- can you please take a look at this?  Looks like a big deal -- perhaps related to the recent marshmallow work?  If this is in 0.5.6 this would be a big deal.

FYI - Stephen is off today @doganomer , so the answer will not be forthcoming until tomorrow morning at the earliest -- eastern Canada time.

[2020-11-12 07:26] darkchylde commented on #773
@ankitkr1606 To answer your second question, it should be active if the router responded with a `route-update-response` message. Check your router agent for any errors.

Note: Both the agents must support the routing protocol.

[2020-11-12 13:24] sklump commented on #780
This is going to be a bigger fix than first appears. It will need a few hours probably.

[2020-11-12 16:04] sklump commented on #780
https://github.com/hyperledger/aries-cloudagent-python/pull/782

[2020-11-13 22:19] swcurran opened #783 "Should ACA-Py return issuer/cred-def information to the controller after a verification?"
In the aca-py webhook payload sent back to the controller once the credential is verified contains the list of requested_attributes in the proof and the proof itself. However that does not include information about the schema, cred def and issuer of the credential.  The controller likely needs to know that information in order to decide the key verification governance question -- does the controll

[2020-11-13 22:51] sklump commented on #783
See `proof["identifiers"][i]["schema_id"]`, `proof["identifiers"][i]["cred_def_id"]` for `i` in `range(len(proof["identifiers"]))`

[2020-11-17 02:53] jeonjonghyeok opened #788 "Exception: Error: 500 Internal Server Error"
EVENT: Controller POST /connections/create-invitation request to Agent
Faber      | 2020-11-17 02:49:18,939 aries_cloudagent.core.dispatcher ERROR Handler error: connections_create_invitation
Faber      | Traceback (most recent call last):
Faber      |   File "/home/indy/aries_cloudagent/protocols/connections/v1_0/routes.py", line 342, in connections_create_invitation
Faber      |     body = await

[2020-11-17 02:55] jeonjonghyeok commented on #788
in demo
LEDGER_URL=http://dev.greenlight/bcovrin.vonx.io ./run_demo faber --events --no-auto --bg

and

docker logs -f faber

[2020-11-17 03:01] sklump commented on #788
PR 786 fixes

[2020-11-17 03:01] #788 closed

[2020-11-20 19:13] guilherme-funchal opened #794 "Error in revocation demo"
I get error in demo of revogation, If anyone can help me:

**1)I start the tails-server**

ngrok-tails-server_1  | t=2020-11-20T18:44:37+0000 lvl=info msg="no configuration paths supplied"
ngrok-tails-server_1  | t=2020-11-20T18:44:37+0000 lvl=info msg="using configuration at default config path" path=/home/ngrok/.ngrok2/ngrok.yml
ngrok-tails-server_1  | t=2020-11-20T18:44:37+0000 lvl=info msg="op

[2020-11-21 20:27] guilherme-funchal commented on #794
After I'm updated my Docker installation and reinstall all containers it's works.

thanks

[2020-11-25 01:53] ianco opened #804 "Aca-py add persistent queues to inbound and outbound messages"
Update aca-py queues to support persistence:

- should support a pluggable architecture to allow deployers to configure/select their queue implementation of choice
- default should be the existing in-memory queues (or equivalent)

See:

https://github.com/hyperledger/aries-cloudagent-python/blob/master/aries_cloudagent/transport/inbound/delivery_queue.py
https://github.com/hyperledger/aries-clouda

[2020-11-25 01:54] ianco commented on #804
Note that persistent queues are requires for the mediator and multitenancy enhancements that are currently in development, however the scope of this ticket is to implement persistence for the existing inbound and outbound messages.

[2020-11-26 06:53] Knightmare25 opened #806 "Error while using Postgres as database for Aries Agent"
I am trying to run aries agent with postgres as database deployed on azure. I am getting below error

[code]
Its say ```IO error during storage operation: invalid connection parameters```, but  i am able to connect to database using the credential from DBbeaver. I am using the below command for running the python agent

[code]

[2020-11-27 14:12] ianco commented on #806
When you connect using DBbeaver, are you connecting from the aries agent pod?

Your connection parameters look ok, possibly the db hostname ("myurl.postgres.database.azure.com:5432") is not reachable from the aries pod?

[2020-11-29 22:52] swcurran commented on #352
FYI - the functionality discussed in the last comment is being implemented in the "signing protocol" work currently being done.

[2020-11-29 23:01] #697 closed

[2020-11-29 23:01] swcurran commented on #697
Please reopen if appropriate.

[2020-12-01 10:28] paliwalg commented on #806
I am also facing similar issue. When the wallet DB is postgres and is configured to run on the ubuntu instance it works fine.
But when I create the Postgres instance in the azure cloud using "Azure Database for PostgreSQL" I am seeing exactly same error.
Postgres version used here is 10.
Does the postgres_storage plugin (https://github.com/hyperledger/indy-sdk/tree/master/experimental/plugins/post

[2020-12-01 15:00] andrewwhitehead commented on #806
It looks like the account and password parts of the connection URL might
need to be URL-escaped. There might additionally be an issue with the TLS
connection.

On Tue, Dec 1, 2020 at 02:28 paliwalg <notifications@github.com> wrote:

[2020-12-01 17:58] ianco commented on #806
The postgres plug-in doesn't support tls.  There's an outstanding PR to add this (you can give it a try but I couldn't get it to build):  https://github.com/hyperledger/indy-sdk/pull/2157

[2020-12-01 18:22] paliwalg commented on #806
I have disabled TLS for now.
I got it working now to an extent.

I see following in the logs
---------------------------------------------------------------------------------------
aca-py_1  | 2020-12-01 18:07:31,883 indy.libindy.native.indystrgpostgres.postgres_storage DEBUG         src/postgres_storage.rs:663 | connecting to postgres, url_base: "postgresql://user%40host:password@host.postgres.da

[2020-12-02 12:40] paliwalg commented on #806
It might be related to postgres autodiscover db flag defaulting to true. Not sure how to turn it off so that I don't have to specify the DB Name in the connection string.

[2020-12-03 16:31] bsantosALB opened #813 "Error with /ledger/register-nym endpoint"
Hello, I've currently found an issue regarding the did ledger registration:

![image](https://user-images.githubusercontent.com/54797210/101058213-d165d880-3584-11eb-8327-f0c6791deffa.png)

Do you know what this error could be?

[2020-12-03 17:12] shaangill025 commented on #519
With version 0.5.6, --endpoint or -e is a required startup parameter. Unable to replicate the error.

`Traceback (most recent call last):
  File "/home/indy/bin/aca-py", line 49, in <module>
    run_command(command, args)
  File "/home/indy/aries_cloudagent/commands/__init__.py", line 34, in run_command
    module.execute(argv)
  File "/home/indy/aries_cloudagent/commands/start.py", line 47, in ex

[2020-12-03 17:14] swcurran commented on #519
So we can close?  I'll assume so -- please reopen if necessary.

[2020-12-03 17:14] #519 closed

[2020-12-03 20:23] harpreetnanda opened #817 "Issues starting agent after invalid POST to ledger/taa/accept"
### Env - StagingNet

I erroneously made a POST to my agent (ledger/taa/accept) with an invalid mechanism. After rescaling the POD on my openshift environment, the agent would throw  the error posted in the bottom and shut down

Based on a recommendation on the von-general chat group, I  was able to start the agent in read-only mode. This allowed me to do another POST to rectify the  error. Subseq

[2020-12-03 20:30] esune commented on #817
I have also seen this before: in my case I wanted to change the TAA acceptance method (used `for_session`, which I think expired when I restarted my agent), but executing a new `POST` with a new method would not update the record and on agent restart (which is required as far as I know after accepting a TAA for it to be effective) the old acceptance method would still be the active/effective one.

[2020-12-03 20:59] shaangill025 commented on #813
@bsantosALB Which LEDGER_URL did you specify? Is the did and verkey specified above same as shown in /wallet/did/public?

[2020-12-03 21:14] shaangill025 opened #818 "Confusion due to default recipient and routing keys in /connection/create-invitation"
Agents were not able to connect using Admin APIs [Swagger] with the default recipient and routing keys defined in the request body. Removing these from the request body resolved the issue.
![image](https://user-images.githubusercontent.com/9292265/101088475-a40b3180-3568-11eb-989b-9d99cbec5b5a.png)

[2020-12-03 21:19] shaangill025 commented on #818
The documentation specifies that no input data is needed for this request. I specified a custom service_endpoint and left the rest as it is, which caused the issue.

[2020-12-03 21:19] #818 closed

[2020-12-04 09:48] kapilkathuria opened #819 "Sends a proof presentation - Wallet credential identifier"
POST: /present-proof/records/{pres_ex_id}/send-presentation

above api request requires: "Wallet credential identifier"

but doesn't look like there is  "Wallet credential identifier" anywhere.

here is the response from http://localhost:9001/present-proof/records/aa7f4604-7f27-442f-b36b-8d3db3ef459c/credentials:

[code]

[2020-12-04 11:41] TimoGlastra commented on #819
I think you need to use the `referent` attribute as the "Wallet credential identifier". Not sure why those have different names

See https://github.com/hyperledger/aries-rfcs/blob/master/features/0037-present-proof/README.md#referent for more information on referent

[2020-12-04 11:53] bsantosALB commented on #813
Hello @shaangill025, I'm running the Faber-Alice-Acme demo in a local server with docker. The von-network is also running in the same server. As for the DID and Verkey, yes, they were created in the /wallet/did/public endpoint

[2020-12-04 12:54] kapilkathuria commented on #819
gotcha. it works. thank you!

do you want me to keep issue open so that naming can be corrected to avoid confusion?

[2020-12-04 12:56] swcurran commented on #819
Better yet -- put in a PR.  :-)

[2020-12-04 13:41] sklump commented on #819
You are likely to find these terms used interchangeably throughout the indy-sphere for historical reasons.
I don't remember exactly but I think they introduced 'credential identifier' to disambiguate from 'referent' in a proof request, after they changed 'uuid' to 'referent' in the proof request.

The referent in an RFC-37 proof proposal can tie multiple items together into one credential for pres

[2020-12-07 19:39] domwoe commented on #358
I haven't looked into DID Exchange until now that I've noticed that @sklump has implemented (parts of?) the protocol.

However, I'm not sure how DID Exchange solves my problem :)

Given the roles in RFC 0023.
As a *responder* I can do what you describe. I publish my public DID. The *requester* used the public DID as an implicit invitation and creates a request. The *responder* creates a new DID an

[2020-12-08 05:40] andrewwhitehead commented on #806
I believe the `postgres` database always exists and it might make sense to change the admin URL (used when connecting for the purpose of creating a new database) to connect to this database instead of leaving it unspecified.

[2020-12-08 06:10] andrewwhitehead commented on #753
I think a singleton-pattern storage record as suggested would be a good solution. The merged PR helps the situation by reducing the number of queries, but it still has to fetch all of the DIDs in order to figure out which one has 'public' in the metadata. We would likely want to store a record with a unique ID - something like `type="config"`, `name="public_did"`, `value=DID`. If that record is no

[2020-12-08 09:49] proteche opened #828 "Mobile Cloud Wallet using aries-cloudagent-python"
Is it possible to create mobile cloud agent by using aries-cloudagent-python api's & storing verifiable credential in mobile storage, any information will be helpful.
Thanks in advance

[2020-12-08 21:35] swcurran commented on #828
We've not thought about that model before.  We have considered creating a cloud wallet service and having a mobile agent (perhaps a progressive web app).  There are two important features being worked now for that -- multi-tenancy support and mediator support.  What we have nailed down is how access to the cloud wallet would be managed to keep the user in control.

[2020-12-09 13:50] jabbawocky0815 opened #832 "How to store issued credentials"
Hi! I am new to learn hyperledger.
I have played around with the demo agents (faber and alice) and get it running. I changed the code to create my own credential definition. I am also running a local von-network.
I can issue a credential by using the swagger API and alice gets the credential.
But when i restart the agents, the credentials are lost.
What i have to do, to get the agents to store the

[2020-12-10 19:00] #780 closed

[2020-12-10 19:01] #730 closed

[2020-12-10 19:02] #695 closed

[2020-12-10 19:03] #646 closed

[2020-12-10 19:04] #496 closed

[2020-12-11 12:31] proteche opened #842 "routingKeys missing when creating invitation"
when i'm calling create-invitation post api `/connections/create-invitation` from faber agent the routingKeys property is missing

**curl request**
`curl -X POST "http://0.0.0.0:8021/connections/create-invitation" -H "accept: application/json" -H "Content-Type: application/json" -d "{}"`

**response body**
[code]

[2020-12-11 14:00] sklump commented on #842
routingKeys is an optional field: if not specified, the omission is by design: https://github.com/hyperledger/aries-rfcs/tree/master/features/0160-connection-protocol#0-invitation-to-connect

[2020-12-11 14:00] #842 closed

[2020-12-12 11:39] proteche opened #844 "How to create connection with aries-framework-javascript (mediator agent)"
how can i connect `aries-cloudagent-python` agent to `aries-framework-javascript` mediator.

[2020-12-14 16:39] TimoGlastra commented on #844
`aries-framework-javascript` is still in early development. If issues arise they are probably because of problems on the javascript side. So it is best to direct those questions towards the JavaScript framework developers (#aries-javascript channel on https://chat.hyperledger.org).

If you found a bug you can also open an issue in aries-framework-javascript repo ([hyperledger/aries-framework-javas

[2020-12-14 17:21] TimoGlastra opened #847 "Integration testing in ACA-Py"
For adding multi-tenancy to ACA-Py I'm looking into adding integration tests to ACA-Py. Unit tests cover a large part of the codebase, but sometimes specific combinations of features and different workflows can cause ACA-Py to break. Even though the unit tests themselves pass.

I discussed with @ianco and @nodlesh today about how to approach this.
As AATH does a  lot of things integration tests in

[2020-12-15 04:13] swcurran commented on #847
I'm not a big fan of recreating what we have in AATH in ACA-Py, but don't have a lot of time to come up with something better.  A couple of comment/questions though:

- The chicken-and-egg problem is not a big deal if you flag the test that is failing that it is expected to fail.  In my opinion, I would prefer we ran more tests and flagged some as "expected to fail" and then be notified when they

[2020-12-15 12:20] TimoGlastra commented on #847
In that case the chicken-and-egg problem is resolved. I've worked with external integration tests and it always felt like a burden to maintain and keep in sync (Interoperability tests are different IMO). We're already noticing this with ACA-Py updates breaking AATH startup, needing to add if/else statements based on the ACA-Py version. The same with .NET, where a change in the public API broke AAT

[2020-12-15 14:51] ianco commented on #847
I disagree that we're duplicating AATH here, but in any case I think this is a moot point.

What we want to implement is a set of integration tests that are executed on each PR in the aca-py repository.  We want to be able to test aca-py-specific features, and we want to run on each PR, as opposed to on a schedule (the way AATH is run).  AATH could potentially fulfill these requirements, however w

[2020-12-15 15:27] nodlesh commented on #847
One thing that came out of the meeting we had was to regroup after Timo had one or two tests written and reassess the separation from AATH.  I think there is room for different approaches in AATH (eg. a set of acapy integration tests that don't hit the backchannel), however, when doing testing directly against a product that probably won't be used against any other product, it is sometimes wise to

[2020-12-15 21:56] sauveer opened #854 "Missing TAA Accepting Mechanism in Faber Agent for Demo Repos"
While trying out to connect [StagingNet](https://forum.sovrin.org/t/how-to-access-the-public-sovrin-network/1035) with [Open API Demo Code's](https://github.com/hyperledger/aries-cloudagent-python/blob/master/demo/AriesOpenAPIDemo.md) Faber Agent, a `InvalidClientTaaAcceptanceError` was encountered.

There is a `/ledger/taa/accept` endpoint to accept the TAA Agreement, but before that can be execu

[2020-12-15 21:57] #854 closed

[2020-12-15 22:00] sauveergoel opened #855 "Missing TAA Accepting Mechanism in Faber Agent for Demo Repos"
While trying out to connect [StagingNet](https://forum.sovrin.org/t/how-to-access-the-public-sovrin-network/1035) with [Open API Demo Code's](https://github.com/hyperledger/aries-cloudagent-python/blob/master/demo/AriesOpenAPIDemo.md) Faber Agent, a `InvalidClientTaaAcceptanceError` was encountered.

There is a `/ledger/taa/accept` endpoint to accept the TAA Agreement, but before that can be execu

[2020-12-16 13:28] marc0olo opened #857 "missing final state transition for connection of invitee (0023-didexchange)"
When playing around with two ACA-Py instances to understand how the RFC 0023 can be used I recognized that after establishing a connection between Alice (Inviter) and Bob (Invitee) the final state transition seems to be missing for Bob's connection.

While the connection state of Alice is `active`, it is still in state `response` from Bob's perspective.

**Note**: the connection is active and I am

[2020-12-16 16:34] sklump commented on #857
https://github.com/hyperledger/aries-cloudagent-python/pull/859

[2020-12-17 13:43] marc0olo commented on #358
@domwoe what I am trying to achieve now is to provide a public DID document for an ACA-Py instance which can be used by an aries-go based agent to create and accept an implicit invitation (RFC 0023) from the information in the DID document

if I get this working I can give you an answer about the last question. my guess is that the connection record will only contain the peer DIDs.

[2020-12-17 14:07] domwoe commented on #358
@marc0olo I'm not sure how aries-go handles this, but the idea of an implicit invitation is that you don't need an invitation to start the flow.

With ACA-Py and the connections protocol you (as the controller) would post
[code]

to the `/receive-invitation` endpoint.

(I'm writing this from memory, so there might be some errors, but that's the idea at least).

ACA-Py will resolve the DID document

[2020-12-17 14:32] marc0olo commented on #358
@domwoe I am currently only thinking of the RFC 0023 way. and there are two [different approaches](https://github.com/hyperledger/aries-rfcs/tree/master/features/0023-did-exchange#correlating-requests-to-invitations)  for the invitation part:
- explicit invitation via [RFC 0434](https://github.com/hyperledger/aries-rfcs/blob/master/features/0434-outofband/README.md#messages) (out-of-band)
   - for

[2020-12-18 07:07] proteche opened #865 "is there any default values for --wallet-name & --wallet-key command lines"
so here i want to run with `postgres` database and `--wallet-type` as indy, i',m trying to run below command its giving error `Wallet 'some' not found: Error: Wallet not found`

```PORTS="5000:5000 8000:8000" ./scripts/run_docker start -it http 0.0.0.0 8000 -ot http --admin 0.0.0.0 5000 --admin-insecure-mode --seed 255h235iu2yg354uiyg234i5iu2yg54i --endpoint http://localhost:8000 --genesis-url htt

[2020-12-18 09:48] proteche commented on #865
[code]

[2020-12-19 08:18] #865 closed

[2020-12-19 14:35] jpbu commented on #358
@domwoe your tests look good, thanks. How exactly did you create the DID and set the `did-communication` service endpoint required for the implicit invitation?

Given the linked issue https://github.com/hyperledger-labs/business-partner-agent/issues/300 I tried to register an Indy DID (`did:sov:iil`) manually and set the service endpoint with an `ATTRIB` transaction using the Indy CLI. I was able

[2020-12-19 16:35] domwoe commented on #358
@jpbu

it's not so much about what's stored on the ledger but how that gets interpreted by the resolver. Have a look at the implementation of Scoir I linked above. They generate a compliant did doc that Aries Framework Go can consume from a `NYM` an `ATTRIB` tx.

The general issue is that `did:sov` is not well defined and much older than the current did spec. Many did drivers in the universal reso

[2020-12-22 20:57] #857 closed

[2020-12-22 21:16] mohitrakhade20 commented on #171
Thank You @rodolfoleal

[2020-12-22 23:08] swcurran commented on #358
Regards `did:sov` being old.  We are currently hard at working spec'ing out `did:indy` that will replace `did:sov` with lots of new capabilities - most importantly network namespaces and standard DIDDocs from the ledger.  Glad to get help on that if you are interested.

[2020-12-23 01:48] brianorwhatever opened #879 "oob invitations create invitations with "service" but receive expects "service_blocks" or "service_dids""
It seems the recent DID exchange work has broken the ability to receive an invitation. An invitation is created with a "service" array however the receive side expects either a "service_blockd" or "service_dids" array. Unless I am missing something I believe there needs to be a change made to either the create side or the receive side.

Here is a failing test which is passing in the plan service a

[2020-12-23 01:54] brianorwhatever commented on #879
Sorry above method of showing the test doesn't work so i've opened a PR https://github.com/hyperledger/aries-cloudagent-python/pull/880

[2020-12-23 02:00] andrewwhitehead commented on #879
I need to revisit the OOBManager's receive method, but I think `didexchange/receive-invitation` is working properly.

[2020-12-23 03:57] brianorwhatever commented on #879
ah ok I will take a look at the didexchange protocol. Thanks Andrew

[2020-12-23 05:29] brianorwhatever commented on #879
Yeah, the didexchange protocol seems to be working. I'll close this issue, thanks for the help

[2020-12-23 05:29] #879 closed

[2020-12-23 09:46] marc0olo opened #881 "DIDExchange: problems with implicit invitation"
**Context**
In the recent days we tried to establish a DIDExchange between a Go agent and ACA-Py. The goal was to provide a public DID document for ACA-Py which is conform to RFC 0067 to make use of an implicit invitation. We faced a limitation in the current Indy format and therefore used `did:web` to provide a service endpoint and the recipientKey of ACA-Py.

The Go agent was able to resolve the

[2020-12-23 11:00] marc0olo commented on #358
In regards to the implicit invitation I opened following issues:
- https://github.com/hyperledger/aries-cloudagent-python/issues/881
- https://github.com/hyperledger/aries-framework-go/issues/2415

@swcurran thanks for the information. can you provide us links to the WIP state of the `did:indy` spec?

[2020-12-23 15:11] swcurran commented on #358
The meetings and details can be found here: https://wiki.hyperledger.org/display/indy/Indy+DID+Method+Specification

The Hack MD document needs an update -- should happen over the Holidays.  The details of the work are in the meeting minutes from the last week's meeting.

[2020-12-25 13:50] frogman opened #885 "400: Connection is not in the request or response state."
Hi everyone,

I am testing initial communication between two ubuntu VPS servers (without firewalls) and I am getting the following error on accepting the request: 400: Connection is not in the request or response state.

The server acting as a connection receiver after calling the /connections/{conn_id}/accept-invitation I get the following:

The above exception was the direct cause of the followi

[2020-12-25 15:06] frogman commented on #885
Hi,

When I have changed the ACA-py parameter on both of the agents (vps servers) to have: --inbound-transport http 0.0.0.0 80 \
on http port 80, then the connections went trough. Before I have had 10001 and 10000 ports.
Seems that on default the aiohttp server is pushing the communication over port 80 (which is not optimal and should be some of the higher ports).

When making the /connections/cre

[2020-12-29 10:34] Shweta-hlf opened #887 "How Aries agent will be created"
I am trying to implement example of faber (college),Acme(employer) and Alice (student) agents.In my use case,If college have 1000 students.so how 1000 agent will be created. Because 1000 credential will be issued to corresponding student's wallet.
Let me correct if anything wrong.

Thanks!!

[2020-12-29 12:24] SalimiHabib commented on #358
It seems go framework already have  implementation of this issue as [future ](https://github.com/sandrask/aries-framework-go/commit/5d7483f50ab098838880202959ef9b1ca65549ce?branch=5d7483f50ab098838880202959ef9b1ca65549ce&diff=unified) in client library

[2020-12-30 11:30] TimoGlastra commented on #885
I think you're missing the `--endpoint` parameter to indicate where the messages should be sent to. ACA-Py will use this in invitations:

[code]

[2020-12-30 12:00] frogman commented on #885
Thanks a lot TimoG. I have used the endpoint but without a port. Now I can confirm this works fine.

[2020-12-30 12:00] #885 closed

[2021-01-02 16:04] swcurran commented on #887
I think this was answered on Rocketchat -- here was the answer:

If you have 1000 (or a billion) Alice agents that are mobile agents, you don't have a problem -- each is on their own device. You would need a mediator to serve those, but a single mediator can serve many mobile agents.

If you do want to have 1000 Faber (or Alice) agents running in the cloud, the concept of a multi-tenant wallet was

[2021-01-02 16:04] #887 closed

[2021-01-07 08:36] baegjae opened #898 "[multitenancy] wallet_id is not passed correctly in send_webhook"
https://github.com/hyperledger/aries-cloudagent-python/blob/5687d287040c2abb4d37999d64fd873ea494a9b8/aries_cloudagent/admin/server.py#L733

In this code, `wallet_id` identifies what this webhook message belongs to.

I checked that `wallet_id` is passed correctly (for newly created wallet) in cases of topic: `connections`, `revocation_registry`.

But, in the case of topic `issue_credential`, `walle

[2021-01-10 11:45] Shweta-hlf opened #904 "Not able to create connection between Organization agent and end User agent using mediator."
Hi Team,

I have taken latest aries-cloudagent-python code and created 3 aries cloudagent Organization,Mediator and User.I am trying to use mediator in following way.
1. Created connection between Organization and Mediator.
2. Using above connection id, create mediator Id by organization agent.
3. Grant mediator request by Mediator agent.
4. Trying to make connection in between Organization agent

[2021-01-11 15:43] TimoGlastra commented on #898
I was able to reproduce the issue. I'll look into it

[2021-01-11 17:20] TimoGlastra commented on #898
@baegjae #905 should resolve the issue

[2021-01-12 04:42] baegjae commented on #898
@TimoGlastra Thank you. It works well!

[2021-01-12 04:42] #898 closed

[2021-01-14 17:01] dbluhm commented on #904
What parameters are you using to start each of the agents?

[2021-01-14 17:21] dbluhm opened #910 "Document Mediator functionality"
We need documentation for the mediator functionality recently added to ACA-Py. Given some of the inherit complexities of running multiple instances of ACA-Py and making sure they are each configured correctly, documenting the configuration and common pitfalls is of particular importance.

[2021-01-15 01:14] dbluhm opened #912 "Add Mediator support to the OOB and DID Exchange protocols"
Currently, only the connections protocol has been modified to include informing a connected mediator of newly created keys to be routed. Going forward, as the connections protocol is superseded by the OOB and DID Exchange protocols, these same modifications will be needed in these protocols for mediation support.

To implement this, the required changes will generally follow the pattern of:
1. Tak

[2021-01-15 13:31] sklump commented on #912
I could take this on but it has to follow v2.0 issue-credential, present-proof work. So it would likely be about 2-3 weeks' time before I start it.

[2021-01-15 14:32] dbluhm commented on #910
Here are some example configurations that I've used for testing:

#### Alice
[code]

#### Bob
[code]

#### Mediator
[code]

[2021-01-15 14:33] dbluhm commented on #904
@Shweta-hlf, the example configurations in #910 may be of interest

[2021-01-18 14:37] Shweta-hlf commented on #904
Thanks dbluhm!!
I tried  #910  configuration and start agent in following way.

./bin/aca-py start --arg-file ./demo/demo-args-faber.yaml
./bin/aca-py start --arg-file ./demo/demo-args-mediator.yaml
./bin/aca-py start --arg-file ./demo/demo-args-alice.yaml

First i tried to make connection between faber and Mediator using swagger api (create-invitation and receive-invitation) but "state" attribute

[2021-01-18 19:27] dbluhm commented on #904
This appears to be a problem with your configuration or the invitation being generated rather than mediation. When you create an invitation in the Admin API, example values are inserted that likely do not reflect the actual scenario you are testing from. Please verify that when you create an invitation, the body is empty (the defaults used when not specified are probably sufficient) or that the va

[2021-01-19 13:57] Shweta-hlf opened #916 "Webhook event error : Re-queue failed message ."
I am trying to enable webhook event with following configuration.

===========================================
# General
label: Alice
endpoint: http://localhost:3000
inbound-transport:
  - [http, 0.0.0.0, 3000]
outbound-transport: http
genesis-url: http://localhost:9000/genesis

# Admin
admin: [0.0.0.0, 3001]
admin-insecure-mode: true

# Connections
debug-connections: true
auto-accept-invites: tru

[2021-01-20 13:04] Shweta-hlf commented on #910
with latest code,it's not working.Giving below error when start agent.
aca-py start: error: unrecognized arguments: --auto-send-keylist-update-in-requests=True --auto-send-keylist-update-in-create-invitation=True

[2021-01-20 14:55] ianco commented on #910
These 2 parameters have been removed in one of the PR's that was merged yesterday

[2021-01-21 08:08] Shweta-hlf commented on #916
I have created a server(http://localhost:3002/webhooks) which receives webhook request.
thanks

[2021-01-21 08:08] #916 closed

[2021-01-21 23:49] andrewwhitehead opened #920 "JSON-LD route tests can fail without an internet connection"
The solution is probably to use local copies of any JSON-LD contexts and a custom document loader in the tests.

[2021-01-24 15:56] ljysdfz opened #922 "Acme Controller Workshop: Attribute with restrictions cannot be self-attested: 'name'"
![image](https://user-images.githubusercontent.com/3489980/105635022-d156ca80-5e9b-11eb-9f28-55f4090be29c.png)

As long as I run the "Acme Controller Workshop" demo without starting the Faber demo in the first place, it would appear like above. All necessary code snippets have been stuffed in [acme.py](https://github.com/hyperledger/aries-cloudagent-python/files/5862597/acme.txt).

My steps for re

[2021-01-24 18:44] TimoGlastra commented on #920
If this is not urgent, we can pick this up when extending the JSON-LD processing. Should be a few weeks

[2021-01-26 20:09] swcurran opened #927 "Complete work on initial implementation of persistent queues"
We met on Monday (20210125) to talk about completing Chris's work on persistent queues.  This issues proposes the work to be done in the time remaining.

Andrew and I met to go over this and agreed that this is what we are building:

![Whiteboard[2]-01.png](https://images.zenhubusercontent.com/594c511551aa2c3057829237/3dcd94fb-8b68-4834-b5b6-896aaa6a5245)

Attributes:

- From the perspective of an

[2021-01-26 20:38] swcurran commented on #927
@adamsc64 ^^^

[2021-01-28 13:40] dusela opened #929 "Error with /connections/create-invitation"
Hi everyone!

I am currently trying to upgrade my 0.5.3 Version to 0.6.0-pre. Therefore, I configured the Dockerfile as well as the run docker script to provide wallet provisioning. After starting the Agent 0.6.0-pre successfully, I was facing the following error when i tried to use the Swagger UI to execute the /connections/create-invitation request.

400: mediation_requests record not found: 3fa

[2021-01-28 13:51] TimoGlastra commented on #929
Are you using a mediator? If not, I've often made the mistake of leaving the example `mediation_id` in the request body. You should remove that if you're not using a mediator. See the image below.

![image](https://user-images.githubusercontent.com/23165168/106147393-161e8200-6178-11eb-95f1-d2284962627b.png)

[2021-01-28 17:17] dusela commented on #929
Indeed, also made that mistake! Thank you very much, everything works fine now :)

[2021-01-29 12:15] jantuitman commented on #929
I had the same error. the documentation here claims that you can submit the request without altering. https://github.com/hyperledger/aries-cloudagent-python/blob/master/demo/AriesOpenAPIDemo.md#use-the-faber-agent-to-create-an-invitation . this is not true. so it is a bug in the demos.

[2021-01-30 16:06] james-cohen opened #932 "Turning agents "off and on""
This is less of an issue and more of a request for advice, so if there is a more appropriate place to ask it please let me know.

I'm trying to design an implementation where multiple people can use pre-existing agents on an as needed basis via use of persistent Postgres wallets. In this case, there would be one or several dormant agents in docker containers on a network that are activated when ne

[2021-01-30 17:27] swcurran commented on #932
@james-cohen -- what you want is to use the newly added multi-tenancy feature in ACA-Py.  With that you will be able to have many tenants, each with their own encrypted storage, and a single, scalable ACA-Py service (e.g. stateless containers on, for example, a Kubernetes installation).

There is some documentation in the main branch of the code that describes the feature with more coming soon, an

[2021-01-30 18:03] james-cohen commented on #932
Ah amazing, I'll take a look, thanks

[2021-01-30 18:03] #932 closed

[2021-01-31 17:09] swcurran opened #933 "Switch the primary branch from "master" to "main""
Per the Hyperledger TSC, we need to do this in all Hyperledger repos, and we should get this done across all repos.  Let's do this one first and then figure out how to do the rest.

How do we do this in a non-disruptive manner to the community?

[2021-01-31 20:23] andrewwhitehead commented on #933
This is quite straightforward, we just need to close outstanding PRs first.

[2021-01-31 23:13] swcurran commented on #933
Right, but when was the last time we had no open PRs?  What if we can't close the PRs?

[2021-01-31 23:24] andrewwhitehead commented on #933
Existing PRs can also be edited to target `main`, or just reopened. `main` will be branched off of `master` so there's little reconciliation to do.

[2021-02-01 00:09] WadeBarnes commented on #933
Branches can be renamed; https://github.com/github/renaming

[2021-02-01 07:11] shaangill025 commented on #912
I am currently working on this, will be raising a PR this week.

[2021-02-01 14:54] WadeBarnes commented on #933
PR to address some documentation references; https://github.com/hyperledger/aries-cloudagent-python/pull/934

[2021-02-01 14:57] WadeBarnes commented on #933
Developers notified via `chat.hyperledger.org` `#aries-cloudagent-python`  channel; https://chat.hyperledger.org/channel/aries-cloudagent-python?msg=7o3QSXrvn2upbeoyr

[2021-02-01 16:51] swcurran opened #935 "Add repolinter to GitHub Actions -- after addressing the current issues"
Hyperledger requires all repos to follow the same structure and use a tool called [repolinter](https://github.com/todogroup/repolinter) to address.

We need to update the repo based on the [repolint.json file here](https://github.com/hyperledger-labs/hyperledger-community-management-tools/tree/main/repo_structure) file.

Once corrected, we can add a GitHub action such as the one [Besu uses](https:

[2021-02-02 13:05] WadeBarnes commented on #933
Branch renamed.
Developers notified via `chat.hyperledger.org` `#aries-cloudagent-python` channel; https://chat.hyperledger.org/channel/aries-cloudagent-python?msg=tXiPYBurvKN9jek39
Related PR Merged.

[2021-02-02 13:05] #933 closed

[2021-02-02 16:13] edbkei opened #938 "ACA-Py Agent throwing 500 internal server error at Proof Presentation"
Issue:
Following the step Alice - Responding to Proof Request, in https://github.com/hyperledger/aries-cloudagent-python/blob/main/demo/AriesOpenAPIDemo.md#faber-sends-a-proof-request, with similar POST body, it returns 500 Internal Server Error

Steps to Reproduce:

Scenario: ACME (In my case, but could be Faber) sends successful Proof Request to Alice with:
===
url = 'http://localhost:8041/prese

[2021-02-04 15:33] daidoji opened #940 "ActionMenu returns 200 when connection with active menu can't be reached but errors appear in terminal."
When an agent (**agent A**) goes down who has previously presented an actionmenu to another agent **(agent B)** acapy returns 200 OK with an empty result while connection errors show up in the terminal.

We can attempt to produce a more detailed example but a simple way to replicate:
1. Spin up alice and faber from alice-faber-demo
2. Present default openapi action menu from faber to alice (warnin

[2021-02-04 16:16] swcurran commented on #940
@andrewwhitehead -- thoughts on this?  Is this specific to Action Menu?

[2021-02-04 20:36] nodlesh opened #944 "Public DID Invitations lack a common "thread" id to identify responses or webhook messages"
This issue was discovered in the AATH with the implicit invitation tests with DID Exchange.  The tests call the controller(backchannel) to get the webhook message by an ID. This is used mostly to get a connection ID for an actor once one is assigned to them in a webhook message. The webhook messages, when recieved by the controller, are put on a queue and keyed by an identifier the test can use to

[2021-02-07 13:07] prachiadhikari-git opened #947 "Credential Issuance ~250000"
Hi,
I am using ACA-PY version 5.6 for credential issuances along with controller which is written in Spring boot. I am trying to issue ~250000 credentials
with only one credential definition. The time taken to issue ~100000 credentials is 26 hours. I need to optimizing this time further. Any suggestions in this
regard will be really helpful.

Thanks and regards
Prachi

[2021-02-07 17:43] swcurran commented on #947
Interesting problem.  We've worked on this a fair amount and we've achieved a lot more performance than that - about 20x that in our use case (1200/minute vs. the 64/minute you are getting currently), and we think we can do significantly better with some new capabilities in ACA-Py, but haven't had a chance to work on that lately. Perhaps we can help with your work.

Some questions to get started:

[2021-02-08 11:18] prachiadhikari-git commented on #947
Hi,
I don't have any specifc usecase in mind at present, but I was thinking of offering credentials to the students as is the case of Alice. For most of the usecases, number of users will be huge. Thus decided to check on credential issuance performance. Currently I am trying to issue "First Name" and "Last Name" as a credential. I am using Alice from demo setup (https://github.com/hyperledger/ari

[2021-02-08 12:41] sklump commented on #947
You must compile indy-sdk in release mode, not debug, to generate tails files in any reasonable time frame. That's a one-time thing though.

[2021-02-08 16:23] edbkei commented on #938
Sorry, disregard this issue. It is a version problem. The link
https://kctheservant.medium.com/demonstration-of-hyperledger-aries-cloud-agent-6e476a5426b0
uses old version of ACA-PY.

The new version on
https://github.com/hyperledger/aries-cloudagent-python
is OK.

Sorry

[2021-02-08 20:21] genaris opened #950 "Webhooks for mediation protocol"
When running an ACA-Py instance specifying a webhook-url, I can get all the webhooks related to all steps in connection (/topic/connections) and basic messaging protocols (/topic/basicmessaging) among other things. However, that is not the case for operations related to mediation, where I need to poll through the admin API to look for updates on them.

For a controller it can be of interest to rec

[2021-02-09 04:41] Knightmare25 commented on #947
Isn't tail file in 5.6 version 1000 by default and it automatically create new tail file after the current one is full.

[2021-02-09 22:26] swcurran commented on #947
With separate connections per holder and all running on one system, you are likely to hit constraints on the system.  What is the CPU. disk and network activity as the test is running?  Are you constrained on those resources?  What about when you you have two instances of the agents?

Do you have information on whether the process is slowing over time?  In other words is the database size impactin

[2021-02-10 10:13] paliwalg commented on #947
Hi Sam,

Facing similar issue.  Trying to find out the ways of scaling the Aries Agent.  I have a very basic setup
1. Trying horizontally scaling of aries agent by running two docker containers with the exact same start up parameters
2. Using Postgres database for wallet, so both the aries agent containers using the same postgres database
3. Volume mount the ./indyclient folder for both the contai

[2021-02-10 12:16] #944 closed

[2021-02-10 15:19] paliwalg commented on #947
Hi Stephen,

Facing similar issue.  Trying to find out the ways of scaling the Aries Agent.  I have a very basic setup
1. Trying horizontally scaling of aries agent by running two docker containers with the exact same start up parameters
2. Using Postgres database for wallet, so both the aries agent containers using the same postgres database
3. Volume mount the ./indyclient folder for both the co

[2021-02-10 15:27] #912 closed

[2021-02-10 18:10] #938 closed

[2021-02-11 17:45] prachiadhikari-git commented on #947
Hi,

I have observed that the issuance process is slowing over time, but with aries agent 5.6, CPU and memory usage is less than 50% of the available capacity.
Need to check on Network activity. I am using postgres database which gets filled less than 50% of the size available. Tried Issuance with 10k tail file size, the performance is much worse than the default size, 1000. I am running issuer wi

[2021-02-12 15:51] blu3beri opened #958 "Storage for 0.6.0 not compatible with 0.5.6"
Connection records in ACA-Py 0.5.6 had an `initiator` prop. This property is removed in 0.6.0 / main branch. Retrieving connections now gives an error about an unknown property `initiator`. I know 0.6.0 introduces breaking changes, but the change of the storage voids all data persisted in previous version of ACA-Py.

So the question is whether it is expected that data persisted in 0.5.6 of ACA-Py

[2021-02-12 15:53] swcurran commented on #958
@andrewwhitehead @sklump @shaangill025 -- please take a look at this ASAP.  Is this something to be adjusted before 0.6.0?

Thanks for documenting this.

[2021-02-12 16:50] sklump commented on #958
initiator was redundant vs. role, for what it's worth

[2021-02-12 17:33] swcurran commented on #958
FYI - @sklump  is looking at restoring the property.  Lots of "fun" -- particularly with marshmallow to get the API defined.

[2021-02-12 20:45] #958 closed

[2021-02-16 16:56] sklump commented on #929
I'll fix this today

[2021-02-16 18:52] sklump commented on #929
https://github.com/hyperledger/aries-cloudagent-python/pull/969

[2021-02-17 10:44] TimoGlastra opened #972 "v2 protocols MUST expect any of the attachment formats"
Currently the issue credential v2 protocol expects the attachments to always use base64 encoding although the RFCs mention it can be any of the formats (json, base64, links + sha).

From the issue credential v2 RFC:

And the present proof v2 RFC:

@sklump maybe something to take into account for present proof v2? Otherwise we'll make sure to adjust this when adding the new format.

[2021-02-17 22:27] dbluhm commented on #950
This feature is not yet present but should be a relatively simple addition. I definitely agree that this would be useful if not an outright requirement -- it was on our (Indicio/SICPA) to-do list but it got bumped down the list for the time being. I'd be happy to do a bit of coaching through a PR if you (or anyone else who could use this feature) has the drive to implement it.

[2021-02-17 22:37] dbluhm commented on #327
This recently became a priority for us for improving the flow of messages to the toolbox and other agents utilizing the toolbox protocols. I have some preliminary stuff that I'm feeling pretty good about but I've run into something that feels quirky and I'm not sure whether it is expected behavior or not.

Consider the `send_webhook` method in `BaseRecord`:

[code]

I've been hooking in at roughly

[2021-02-18 10:46] james-cohen opened #974 "Consistent DIDs in multi-tenancy"
Is there any way of setting the public DID for a tenant in multi-tenancy mode either by using an existing DID and verkey on the ledger or using a seed, as with 'regular' agents?

My experience so far is that every time a new wallet is created, you need to create a new private DID (which seems to be randomised), and then register that to the ledger using the DID and verkey before setting it it to b

[2021-02-18 11:01] TimoGlastra commented on #974
Hi @james-cohen,

This is not possible at the moment. A lot of people describe the issue you're describing, especially during development. The only way to create a public DID is the method you described.

There are plans to add wallet import and export functionality which means you could import a wallet with a specific did stored. The seed is not added because of security reasons, which is of cour

[2021-02-18 11:05] james-cohen commented on #974
Very valid, the seed security issue is obvious now you mention it. Development fatigue making me wanting to cut corners as usual. Thanks for the quick response

[2021-02-18 11:05] #974 closed

[2021-02-18 12:04] sklump commented on #972
I'll take it on this week

[2021-02-18 13:51] dbluhm commented on #327
After some additional testing, this is not always the case. When `send_webhook` is triggered by the root context (such as creating an invitation on startup and a new connection record is created), both the session and the profile have the same responder, the `AdminResponder` from the root context. When it is triggered by a message handler, `session.inject(BaseResponder)` returns a `DispatcherRespo

[2021-02-18 14:49] daidoji opened #975 "'their_did' not queryable in wallet after making connection"
## Summary:
Agent A makes a connection after accepting invitation from Agent B.  In Agent A's wallet, `my_did` for the connection_id representing Agent B's pairwise did from that connection shows up with a `null` endpoint when querying the `/wallet/get-did-endpoint` and `their_did` returns 404 from that endpoint.  An example from Alice-Faber demo after making the first connection:

## From Alice
*

[2021-02-18 16:18] vitalrev commented on #697
we have the same problem... and solution

[2021-02-18 16:44] vitalrev opened #977 "http connectivity out of the company network behind the proxy"
reopening from issue: https://github.com/hyperledger/aries-cloudagent-python/issues/697

if AcaPy is running in a firm network behind the firm proxy, the proxy configuration is necessary for http connections.

The **aiohttp** library supports proxy configuration:

See: https://docs.aiohttp.org/en/stable/client_advanced.html?highlight=proxy#proxy-support

The problem is, that in AcaPy we can not pa

[2021-02-18 17:02] daidoji commented on #940
Just confirmed this behavior also occurs on `/issue-credential/send` for an agent whose endpoint can't be reached.  Replication is the similar.

1. Establish a connection as we normally would (I typically use alice-faber demo workflow to test)
2. Take one of the agents down
3. `/issue-credential/send` to the downed agent via the admin api
4. Get back a 200 OK and the response body we'd expect, but

[2021-02-19 13:06] #975 closed

[2021-02-19 15:31] vongohren opened #983 "A small list of questions regarding MultiTenancy and docker"
### Failing things first:

The 1)2)3).... list in the demo, that does not work in multitennancy? It stops the whole process when I try to use them.

### General multitennacny questions
Webhooks used in the demo, on the first wallet created is: http://192.168.65.3:8023/webhooks, but the default data object for the next sub wallet is localhost:8022? Will both work or what is the dealio?

When I requ

[2021-02-19 16:30] ianco commented on #983
Hi @vongohren

I just tested the alice/faber demo with multitenancy (`main` branch) and it seems to be working:

In one bash shell `./run_demo faber --multitenant` and in another `./run_demo alice --multitenant` and then following the demo instructions I'm able to send a credential, request a proof and send a basic message (options 1, 2, 3).  If there are specific errors you are getting please let

[2021-02-19 16:31] ianco commented on #983
Regarding postgres, there are aca-py parameters for specifying the required postgres configurations.

There is an example configuration here:  https://github.com/hyperledger/aries-cloudagent-python/blob/main/demo/local-indy-args.yaml

[2021-02-19 22:08] vongohren commented on #983
@ianco great follow ups and thanks for replying so fast! I will try to elaborate!

# Reponse 1

I will answer these quotes below

First of all, it is my understanding that when i run multi tenancy, I would not need to run a second agent of alice, because I can do alice and faber on the same agent, hence the multi tenency? Is this not correct?
With this assumption I will proceed. Run one faber agen

[2021-02-19 22:42] ianco commented on #983
Hi @vongohren

Response 1:

Yes it's possible to execute all the use cases using one aca-py multi-tenant agent, however *not* using the alice/faber demo apps.

(Or rather, it's theoretically possible to do this using only Faber, however you have to be very particular about what you do through the faber console api vs what you do through the browser api.  Alice and Faber keep internal state about w

[2021-02-20 08:14] TimoGlastra commented on #983
Regarding the wallet key that the OpenAPI shows, this is only required for unmanaged mode. In managed mode the base wallet stores the key to unlock the wallet. In unmanaged mode it doesn't and you need to provide it. Currently only managed mode is supported.

This is a point of confusion for a lot of people so I'll make a PR to remove unmanaged wallet related endpoints for now

[2021-02-20 16:56] ianco commented on #983
@TimoGlastra rather than removing these endpoints can we just add documentation to clarify they apply to unmanaged wallets only?  The first iteration of persistent queues (required for unmanaged wallets) is available so we should be able to complete the un-managed wallet scenario soon.  (Leaving the un-managed endpoints in place will help keep this top-of-mind for us.)

[2021-02-22 09:21] TimoGlastra commented on #983
I din't mean to remove the endpoints, just the attributes related to unmanaged mode. I'm also fine with documenting, just that we don't confuse people with something that's not working yet.

But I think it is already covered by the docs: https://github.com/hyperledger/aries-cloudagent-python/blob/main/Multitenancy.md#getting-a-token. I also recently added an extra check that will throw if the wall

[2021-02-22 15:27] vongohren commented on #983
@TimoGlastra I did not see a message like that, and the repo is about 1 week old main branch.

[2021-02-22 16:18] vongohren commented on #983
@TimoGlastra @ianco I have to admit, im super confused into how to get this running standalone, and not dependent on the demo scripts. It is all a very black box that is hidden away in scripts that I have to interperet.

And going through the documentation, all running points back to demo, and if you dont do demo, you are really left alone with just aca-py, or docker run, and trying to guess all t

[2021-02-22 16:48] ianco commented on #983
@vongohren it's a complicated app to be sure!

The documentation around the demo is to provide context and understanding of the different features and options in aca-py.  If you go through the various demo's and tutorials you should get an understanding of the options that are available in aca-py.  It shows how to used the admin api (https://github.com/hyperledger/aries-cloudagent-python/blob/main

[2021-02-22 16:49] ianco commented on #983
... there's also a channel on HL rocketchat:  https://chat.hyperledger.org/channel/aries-cloudagent-python

[2021-02-22 17:02] vongohren commented on #983
Thanks I will see where these things will lead tomorrow. Its afternoon on my end here.
I will join the chat and when Im able to achieve what I want to achieve Im super positive into contributing to 101.
Because I want to share my view of this and what untangled the ball of yarn called aca-py :P

Il be back on this tomorrow

[2021-02-22 17:07] swcurran commented on #983
To give a little more context to the state of the demos...

The demo started as a simple "issuer" (Faber) and "holder" (Alice) demo, and when run with no parameters, that is all that is executed.  Over time, as capabilities were added to the ACA-Py framework, additional startup parameters and code were added to the demo so that those interested could try out the different features and the devs wou

[2021-02-22 17:14] ianco commented on #983
There's quite a lot of documentation describing the demo.  The "additional options" are described here:

https://github.com/hyperledger/aries-cloudagent-python/tree/main/demo#additional-options-in-the-alicefaber-demo

@swcurran may be worth reviewing all the docs with Alex to suggest a TOC or overview of aca-py docs?

[2021-02-22 17:18] swcurran commented on #983
My apologizes, @ianco -- I need to stay up.  Awesome stuff...

Yes, that's what @alexgmetcalf might be able to help with.

[2021-02-22 17:31] yunxi-zhang opened #988 "AriesOpenAPIDemo Docs need to be updated"
The doc on this link: https://github.com/hyperledger/aries-cloudagent-python/blob/main/demo/AriesOpenAPIDemo.md is outdated. It still shows faber and alice as two agents will set up 1st connection step by step whereas the latest code shows this process can be automated when attributes "--auto-accept-invites" is enabled. Please update this doc.

[2021-02-22 23:47] genaris commented on #950
Thanks, Daniel! Sure, this is something that we'll definitely need, so I think I can manage to work on that soon.

[2021-02-23 17:25] vongohren commented on #983
@swcurran @ianco I really appriciate the conversation here! Thanks for clarifying. I will try to give my context of where im at based on your feedbacks.

I do understand the architecture, I believe. And the features available is also understandable, and something I would like to setup for myself.
I would firstly like to achieve a setup where I have a multitenant agent running, with postgres, with

[2021-02-23 17:43] sklump commented on #988
I suspect that you might have omitted the `--no-auto` parameter as the doc prescribes.

Regardless, as of https://github.com/hyperledger/aries-cloudagent-python/pull/992, the error message notes that the connection record is not available in the invitation state, when the (RFC160) responder double-taps the accept-invitation step for a received invitation.

[2021-02-23 17:43] #988 closed

[2021-02-23 20:03] ianco commented on #983
I think you understand the architecture correctly.

Regarding the postgres setup, the typical issue (other than making sure you have the correct url/IP for connecting within the docker network) is with the configuration, which is in json-within-json format.  (Nothing we can do about that, it's how we need to provide the config to indy sdk - there are 2 layers of config, one for indy and one for po

[2021-02-23 20:26] vongohren commented on #983
Thanks for quick reply, and sorry for my bad writing in the last post, it went a bit fast. I have done some editing now.
But I will spend all day tomorrow on this, so I am ready for our 30 minutes.
After that I will look into contributing a write up/tutorial that takes somone from 0 to hero to get this running, with the nessecary references to things you guys have already made. I do this also for

[2021-02-24 15:26] wip-abramson opened #993 "Handle Webhook Server Error's Gracefully"
When my webhook server throws an exception the ACA-Py agent that posted the webhook seems to get stuck, it will no longer send messages to other agents and I have to restart.

This is the stack trace.

 2021-02-24 15:07:10,539 aries_cloudagent.transport.outbound.manager ERROR >>> Error when posting to: http://172.17.0.1:8052/topic/issue_credential/; Error: (<class 'aries_cloudagent.transport.outbo

[2021-02-24 15:33] swcurran commented on #993
@shaangill025 - could you please take a look?

[2021-02-24 16:46] maddocche opened #994 "Lack of a method to reject a present-proof request"
Hi,
it seems that there's no way to cancel\reject a present-proof request if there's no credentials that satisfies it.

Example:
 - verifier call _/present-proof/send-request_ endpoint with a proof request
 - prover call _/present-proof/records/{pres-ex-id}/credentials_ endpoint to look for a credentials that satisfies the request
 - this last call return an empty list

Now both prover and verifie

[2021-02-24 16:52] swcurran commented on #994
I agree there should be a "problem-report".  @sklump -- can you include this in your V2 work for now?  After we can consider for the V1 implementation.

@nodlesh -- eventually, we will want to get a test case for this into the Aries Agent Test Harness.  Send a proof request from Faber to Bob for credentials that Bob does not hold.

[2021-02-24 17:12] shaangill025 commented on #993
Looking into it right now.

[2021-02-24 17:55] vongohren commented on #983
@ianco I will close down this issue now and will look to contribute back a write up as suggested. Cannot promise a deadline on it, but as I said, writing up this will also help myself get the full understanding needed to run this properly.

So thanks for the call, and have a great day onwards!

[2021-02-24 17:55] #983 closed

[2021-02-25 10:49] yunxi-zhang opened #996 "Creating a credential definition always causes an error for the 1st time, but will be successful for the 2nd time"
When running agent in v0.6.0-rc0, whenever creating a credential definition for the 1st time, it always causes an error as shown below. When creating the same credential definition again for the 2nd time, it will be successful.

Expected behaviour:
It should work for the first time.

[2021-02-25 12:55] Shweta-hlf commented on #910
HI team,Two agents Alice and mediator are started in following way.

./run_demo alice
./bin/aca-py start --arg-file ./demo/mediator-demo-args.yaml

1. alice created connnection invitation by passing {} request body
2. when mediator receive connection invitation,getting below error.

   Alice      | 2021-02-25 12:52:55,803 aries_cloudagent.transport.outbound.manager ERROR >>> Error when posting to:

[2021-02-25 13:43] dbluhm commented on #910
Since Alice is running in a container and the Mediator is running on your host directly, `localhost` to Alice is not the same as `localhost` to the mediator. Therefore, Alice cannot connect to the Mediator using the `localhost` address. This isn't strictly related to this issue so I'd recommend seeking help in a new issue or on Hyperledger Rocket.chat.

[2021-02-25 13:44] dbluhm commented on #910
We now have docs committed to the repo for mediation so I will go ahead and consider this issue closed and implemented. Thanks ianco for handling that!

[2021-02-25 13:44] #910 closed

[2021-02-25 15:43] swcurran commented on #996
@sklump @andrewwhitehead  @ianco -- please check this out.  Is this is a general problem that we need to fix before 0.6.0?

[2021-02-25 15:44] ianco commented on #996
I haven't seen this issue, @yunxi-zhang can we get more details about your aca-py setup and how you are creating your schema/credential definition?

[2021-02-25 16:20] yunxi-zhang commented on #996
sure @ianco. I have two Azure VMs - Linux (ubuntu 18.04) running on the cloud. **VM1** runs a **von dev network** + **Issuer agent**, and **VM2** runs the **Holder agent**. I run the von network first, and register DIDs for the two agents as "Endorsor". Then run the **Issuer agent** by using the below attributes:

Credential Schema is shown below (calling api: vm1 ip:8001/schemas), **Note** the sc

[2021-02-25 16:55] ianco commented on #996
The issue is that revocation isn't configured when you start aca-py.  For example when I started aca-py with your configuration and then tried to create the credential definition I got this error:

`400: tails_server_base_url not configured`

I think what happens is that the cred def is written to the ledger *before* this error occurs, and then the second time you execute this query, aca-py determ

[2021-02-25 16:56] ianco commented on #996
@swcurran @andrewwhitehead  should prob re-factor the revocation check when creating a cred def to do the check *before* the cred def is written to the ledger (if this is what is going on)

[2021-02-25 17:06] yunxi-zhang commented on #996
Thanks for the response @ianco , actually don't know what "tails_server_base_url" mean when I see the error. Are there any docs available to this tails server concept I can have a look?

[2021-02-25 17:11] ianco commented on #996
Revocation is described in one of the demo tutorials:  https://github.com/hyperledger/aries-cloudagent-python/blob/main/demo/AliceGetsAPhone.md#run-an-instance-of-indy-tails-server

I'm not sure where else it's described, @swcurran ?

[2021-02-25 17:13] yunxi-zhang commented on #996
Just found this link: https://github.com/bcgov/indy-tails-server. Is this the tails server you normally use?

[2021-02-25 17:17] ianco commented on #996
Yes it's described in the link I referenced above

[2021-02-25 17:22] yunxi-zhang commented on #996
Thanks @ianco , the link you gave is only showing how to run a tails server. My question is more about to understand what a tails server is. I see this wiki page: https://en.wikipedia.org/wiki/Tails_(operating_system)#:~:text=Tails%2C%20or%20The%20Amnesic%20Incognito,non%2Danonymous%20connections%20are%20blocked.&text=Tails%20comes%20with%20UEFI%20Secure%20Boot. Could you let me know if this wiki

[2021-02-25 17:25] ianco commented on #996
Hi @yunxi-zhang sorry misunderstood your question!

No that wiki page is not correct.  Indy credential revocation is described here:  https://github.com/hyperledger/indy-sdk/blob/master/docs/concepts/revocation/cred-revocation.md

A "tails file" (or an accumulator file) is required for each credential definition that requires revocation.  The tails file itself is not written to the ledger, but the

[2021-02-25 17:29] yunxi-zhang commented on #996
Thanks for your valuable answer @ianco , will look at the link you gave :-)

[2021-02-25 17:38] shaangill025 commented on #993
@wip-abramson I will appreciate it if you can provide more information regarding the exception being thrown by the webhook server. It will help me figure out why outbound_message as None is being passed within ACA-Py.

[2021-02-25 18:48] yunxi-zhang commented on #996
Hello @ianco , once i run the tails file server and got the ngrok https url, for running my agent, should I only need to add one more config: PUBLIC_TAILS_URL="{the ngrok https url in the container}" at the beginning of my current command as shown before or any other attributes I need to add as well to make the revocation work?

[2021-02-25 19:41] #993 closed

[2021-02-26 10:42] konsmosc opened #1001 "Adding configuration parameters when opening the pool ledger"
I have seen in the code of aca-py that when you are open the pool ledger using the indy sdk, you are not passing any additional configuration parameters, from /aries_cloudagent/ledger/indy.py line 170 **self.handle = await indy.pool.open_pool_ledger(self.name, "{}")**, while indy-sdk gives you this option.
Is it possible to also add this functionality?

[2021-02-26 11:37] konsmosc opened #1002 "Error in presentation proof verification when trinsic wallet is used as a client/holder"
This issue happens only when I am using trinsic wallet.
I have configure the von_network and the indy_tails_server and I am running an aca-py instance version 0.6.0 with the following starting params:
--inbound-transport http 0.0.0.0 8050
--outbound-transport http --admin 0.0.0.0 8051
--admin-insecure-mode
--public-invites
--endpoint http://{ip}:8050
--genesis-url http://{ip}:8000/genesis
--label

[2021-02-26 11:41] yunxi-zhang opened #1003 "Credential Issuance failed by calling its api, and no credential is received on the holder side"
I have run two agents with v0.6.0 representing a **credential issuer** and a **credential holder**. I don't enable the attributes such as --auto-respond-credential-offer, --auto-respond-credential-request, and trying to manually trigger steps for (1) **holder** sends a credential proposal (api: issue-credential-2.0/send-proposal) to **issuer** (2) **issuer** sends a credential offer (issue-credent

[2021-02-27 22:35] #1003 closed

[2021-03-02 13:52] mobinauten opened #1005 "Aries OpenAPI Demo Errors"
Following the Demo Script I have following issues:

1. Issuing a credential I receive the following error - "Error: agent Faber.Agent has no method handle_issue_credential to handle webhook on topic issue_credential"
2. Trying to find the Public DID on the ledger http://dev.greenlight.bcovrin.vonx.io. returns Null

Thanks
Olli

[2021-03-02 13:58] mobinauten commented on #1005
This is Alice side's Error: agent Alice.Agent has no method handle_issue_credential to handle webhook on topic issue_credential

[2021-03-02 15:24] ducadellaforcoletta opened #1006 "Ledger keepalive missing"
The parameter ledger.keepalive is missing in the argument that can be provided in the start, but is retrieved from settings with a default (5 seconds) value when used. In order to avoid continue open/close ledger, could be usefull to allow at startup a custom value also for this parameter. Maybe --ledger-keepalive

[2021-03-03 10:25] yunxi-zhang opened #1007 "Running Acapy agent always requires registering a public DID regardless of whether its role will be an issuer or not"
Whenever running a new Acapy agent, it always requires a public DID to be registered in an Indy ledger network (e.g. von) regardless of if the agent will be used as an issuer. The error returned from the agent is shown below:
`aries_cloudagent.config.base.ConfigError: Ledger rejected transaction request: client request invalid: could not authenticate, verkey for VV9pK5ZrLPRwYmotgACPkC cannot be fo

[2021-03-03 10:57] TimoGlastra commented on #1007
I think `--wallet-local-did` should do the trick:

[2021-03-03 15:44] yunxi-zhang commented on #1007
Thanks @TimoGlastra , also figured out without having a --seed parameter could make acapy agent run. Will close this ticket.

[2021-03-03 15:44] #1007 closed

[2021-03-03 15:45] yunxi-zhang commented on #1007
see last comment.

[2021-03-04 13:11] GuilhermeMenezes opened #1008 "Alice demo: Type Error: expected str, bytes or os.PathLike object, not int"
Hi,

I'm trying to run the Aries demos... but I'm getting an error when I run Alice.

I'm using Ubuntu 20.04.1  and when I run faber everything works well, it expects a connection...
command used:
LEDGER_URL=http://dev.greenlight.bcovrin.vonx.io ./run_demo faber

But when I run Alice I get this error:
![runningAliceTypeError](https://user-images.githubusercontent.com/11176973/109968381-8a55c380-7c

[2021-03-05 14:36] JulianNicholls opened #1011 "Possible Error in demo multi-tenancy"
This may be a total lack of understanding on my part, but I think that there is a problem with the DemoAgent in multi-tenancy mode.

I am running Alice as multitenant and Faber as single.

I make the initial connection to 'Alice.initial' wallet by accepting an invitation from Faber.

I then create a new wallet 'Julian' and create an invitation from Faber and accept it to this wallet.

Then, I swit

[2021-03-05 15:37] TimoGlastra commented on #1011
Thanks for opening this issue @JulianNicholls!

Seems like we'd need to either store all of the wallet tokens, or we can call the `/multitenancy/wallet/{wallet_id}/token/` endpoint to retrieve the token. I think I'd prefer the latter.

Do you want to take a shot at this yourself @JulianNicholls?

[2021-03-05 16:18] JulianNicholls commented on #1011
I'm glad that I have understood correctly.

I agree that calling the `/multitenancy/wallet/{wallet_id}/token/` endpoint is a better way of fixing it.

I would like to have a go at fixing it, during w/c 08-Mar, and I will submit a pull request when it's ready.

[2021-03-05 17:37] swcurran commented on #1008
I'm running on Ubuntu 18.04 and everything worked fine.  I notice that some of the messages from the script I'm running are different from yours -- notably:

[code]

Is it possible you aren't up to date on the code?  Even then, I wouldn't expect a problem.

I'm running the same python 3.6.9, so it's not that.

@ianco -- any ideas on what might be wrong?

[2021-03-05 17:40] ianco commented on #1008
No, it's odd that faber works but alice doesn't, they both use the same common code to start up the agent

[2021-03-05 17:58] yunxi-zhang opened #1012 "Calling API for sending a presentation returns an error showing no revocation registry id is found even though i've set up a revocation registry"
I have run two agents, one as **Issuer(Verifier)** and the other as **Holder.**  I've set up a revocation registry by calling below apis In the **Issuer** agent step by step:
1. /revocation/create-registry (POST),
` API Response: Result:   "revoc_reg_id": "VV9pK5ZrLPRwYmotgACPkC:4:VV9pK5ZrLPRwYmotgACPkC:3:CL:8:esg:CL_ACCUM:fd8d371a-b345-4867-ad01-591647a6f862", omitting other response`
2. /revocat

[2021-03-05 18:00] GuilhermeMenezes commented on #1008
I figured it out, I was giving it a specific seed instead of a random one. My fault, thanks for your reply though! On 5 Mar 2021 17:41, Ian Costanzo <notifications@github.com> wrote:

@ianco -- any ideas on what might be wrong?

No, it's odd that faber works but alice doesn't, they both use the same common code to start up the agent

—You are receiving this because you authored the thread.Reply to

[2021-03-05 23:38] swcurran commented on #1012
I think you are making it too hard on yourself.

When we first implemented revocation, we added the endpoints that you are using.  And it was difficult for a controller to have to manage everything.  We then went back and hid all the complexity of revocation, so that the only things you need to do are:

- when creating a cred-def, flagging that you want to use revocation, how big a registry (defau

[2021-03-06 19:44] #1006 closed

[2021-03-06 22:21] yunxi-zhang commented on #1012
Thanks for your answer @swcurran. I've retried the process by skipping the four steps I put in my ticket and by only flagging using the revocation + its size when creating a new cred-def, and then checked the api for the registry as per your point 1, I can now see two registries ids are available, which looks good. However, I still got the same error when calling the api for sending a presentation

[2021-03-08 00:36] swcurran commented on #1012
@ianco -- can you help with this?  I'm not really hands on enough on this.

[2021-03-08 13:38] #1008 closed

[2021-03-08 14:52] dbluhm commented on #904
@Shweta-hlf I'm going to go ahead and close this issue. If you're continuing to experience challenges while working with mediation, please feel free to contact me on chat.hyperledger.org

[2021-03-08 14:52] #904 closed

[2021-03-08 16:27] yunxi-zhang commented on #1012
@ianco , please let me know if you need more info from me regarding how I run my Aries agent by using v6. Stuck with this problem at the moment. Thanks!

[2021-03-08 16:44] ianco commented on #1012
Hi @yunxi-zhang revocation is enabled in the alice/faber demo here:  https://github.com/hyperledger/aries-cloudagent-python/tree/main/demo.

You startup faber with an additional parameter `./run_demo faber --revocation` , and depending on where you have your tails server setup, you need to pass in the url of your tails server.

In the demo, you just use options `3` and `4` (I think?) to revoke a c

[2021-03-08 17:34] yunxi-zhang commented on #1012
Thanks for the information, I've figured out the reason for the issue. It's simply because I put unnecessary information for some fields in the JSON body when calling the send presentation api. Removing them made me pass this issue. Will close this ticket.

[2021-03-08 17:34] #1012 closed

[2021-03-08 17:45] yunxi-zhang opened #1014 "Error message is not helpful to tell what's the root cause"
When calling the api for a holder to present a proof, below error info will be shown if the JSON body message is not constructed properly. However, the error message is not helpful to tell what's the root cause.

`400: Error when constructing proof: Error: Invalid structure. Caused by: RevocationState not found by id: RevocationRegistryId("VV9pK5ZrLPRwYmotgACPkC:4:VV9pK5ZrLPRwYmotgACPkC:3:CL:8:esg

[2021-03-08 20:54] ianco commented on #996
Can this issue be closed?

[2021-03-08 22:36] yunxi-zhang commented on #996
Yes, this issue is gone after running the tails file server locally.

[2021-03-08 22:36] #996 closed

[2021-03-09 09:10] pstuermlinger commented on #736
Are you planning to let the endorser optionally write the completely signed transactions to the ledger itself, instead of returning it back to the TA?
In our use case (TA without internet access, privileged Endorser) this would be a great enhancement.

[2021-03-09 14:51] JulianNicholls commented on #1011
I have submitted pull-request #1017 to fix this. It's my first pull-request to this project, so I'm not 100% sure if I've done it right.

[2021-03-10 12:09] konsmosc opened #1019 "Credential offer through out-of-band protocol is not supported yet"
When I want to _offer-credentials_ using the out-of-band protocol, I call the **/out-of-band/create-invitation** endpoint with an attachment from the issuer point of view.

But when I call the **/out-of-band/receive-invitation** endpoint, using as body the invitation object created from the above request, from the holder point of view, **the following error appears --> "Unsupported request~attach

[2021-03-10 15:14] swcurran commented on #1019
Connection-less Issue is not supported with OOB.  We haven't had the need for the functionality as we think that it is much better to establish a connection with an entity to whom a credential is issued for followup communications.  We also would prefer that verification done before issuing a credential should use the same channel as the issue, to ensure the issuance is to the right entity.

That

[2021-03-10 17:07] yunxi-zhang opened #1020 "After revoking a credential at the issuer side, the verifier can still successfully verify a credential sent from the holder"
I'm running two Acapy agents (v0.6), one as an issuer/verifier and the other as the holder on a von dev network + a tails file server. Once the issuer issued a credential and gave it to the holder and holder shared the presentation back with the issuer as a verifier, the whole credential verification process works following the 3 steps works: 1) verifier sends a presentation request 2) holder shar

[2021-03-10 17:17] swcurran commented on #1020
I'm not sure of how the mechanism works but I believe ACA-Py supports a "deferred revocation publishing" model, where you can revoke one more credentials and then using another call, publish all the revocations in a batch.  I think there is a way to do "revoke and publish", but am not sure of the flags on the endpoint.

Please check that.  @esune may be able to provide additional guidance if that

[2021-03-10 17:27] yunxi-zhang commented on #1020
Thanks @swcurran .

Hello @esune , please let me know if you need more info. Just add one more detail here, when I call the api  "/revocation/revoke", I set the flag for "publish" as true in the JSON body, so assuming this would auto publish the revoked credential to the ledger. Please let me know if I miss any necessary other steps here for credential revocation.

[2021-03-10 17:34] esune commented on #1020
@yunxi-zhang can you please provide a sample of the proof-request you are sending to the holder for me to look at?

[2021-03-10 18:47] esune commented on #1020
@yunxi-zhang not exactly. What you are showing me is what the `holder` will compile and send to the `verifier`. What I would like to know is what the `verifier` is asking the holder to present, usually this is prepared in the `/present-proof/create-request` or the `/present-proof/send-request` endpoints (I am guessing the latter in your case, as you must be using an existing connection).

[2021-03-10 19:24] yunxi-zhang commented on #1020
Apologies, misread your message. Below is the JSON payload sent by the verifier:

[code]

[2021-03-10 20:50] james-cohen opened #1021 "Possible WQL queries"
I've been trying to perform some WQL queries for searching credentials following the guide at https://readthedocs.org/projects/indy-hipe/downloads/pdf/latest/ but not all seem compatible with use via the Aries REST API.

Given the structure of an example GET Credentials response:
[code]

What queries are possible to perform here? The following both work:
[code]

But querying the referent always re

[2021-03-10 20:54] yunxi-zhang commented on #1020
Thanks for the info @esune. Still bit confused with the semantics of the `non-revocation` attribute. If I specify the epoch for `from` and `to`, does it mean during the time period between `from` to `to`, revocation check for the credential won't happen?

[2021-03-10 21:00] swcurran commented on #1020
Take a look at this -- https://github.com/hyperledger/indy-hipe/tree/master/text/0011-cred-revocation#proof-of-non-revocation-intervals

It is confusing, so you are not alone.  You can also look at this:

https://github.com/hyperledger/aries-rfcs/tree/master/concepts/0441-present-proof-best-practices