[2021-03-10 21:54] yunxi-zhang commented on #1020
Thanks for the two useful links @swcurran. @esune, just wondering if "now()" can be used as a proper value for the  `non-revocation` attribute when calling the api like below?

[code]

[2021-03-10 22:10] swcurran commented on #1020
You need the epoch time returned from a current time function.  A number.

[2021-03-10 22:17] yunxi-zhang commented on #1020
Just tested it, it has to be a number, lol. Thanks @swcurran for the docs links, very useful. @esune, just tested by putting the `non-revocation` attribute with the current time, it works now.

[2021-03-10 22:17] #1020 closed

[2021-03-10 22:17] esune commented on #1020
A1: This is what I meant when I said `omit from`. The interval is not really an interval, I am unable to explain why it is structured that way. For the purpose of verifying the revocation status, just worry about setting the value of `to` in the proof-request. This will result on the verifier checking that the state of the credential being presented was "not revoked" at the time identified by the

[2021-03-10 22:57] yunxi-zhang commented on #1020
@esune, when you said "The interval is not really an interval" confused me again. After reading the docs, my understanding on the `from` and `to` are used for the verifier to specify whether the credential is still non-revoked for the time interval, is this correct? I see there are differences between the semantics of `from` and `to` between the Aries and Indy node, but as a acapy user, I don't ne

[2021-03-11 02:02] swcurran commented on #1020
`from` and `to` were _intended_ to be used for an interval where the verifier is saying "prove to me the credential was not revoked at some point in this period".  However, in practice, that is not possible. That's why the "best practices" RFC 441 was put in place, to say, "intervals were a good idea, but the don't work, so always use 0 for from" and put the time you want in "to", and the holder/p

[2021-03-11 08:21] konsmosc commented on #1019
Hi Stephen, thanks for the clarification about connection-less issuance of credentials.

Basically, I have tried this because, from the Open-API it seems that you are allowed to have as attachments either credential-offer or present-proof to create an invitation with OOB. So by using the /out-of-band/create-invitation you can sucessfully create an invitation using a credential-offer as an attachme

[2021-03-11 09:46] yunxi-zhang commented on #1020
@swcurran, do you mean the real credential revocation check will only be done against the two time points -`from` and `to` only? if that's the case, in my previous example, what will be the result for a credential verification, if I put time a for `from` and time b for `to`?

[2021-03-11 09:53] yunxi-zhang commented on #1020
Thanks for the clarification. So, basically, only the time point put in `to` is actually used in acapy for the credential revocation checking in practice for now, is this correct?

Regarding your words "the **holder/prover** should just use to as the "point in time" (not interval)", the suggestion given by @esune for resolving my issue is that the **verifier** should set the `to` value in its send

[2021-03-11 12:44] sklump commented on #1020
Historical context: the original non-revocation period was a courtesy for provers: as long as they had a revocation registry state calculated anywhere in the interval, they could use it to build proof; otherwise, they would need to compute one anew.
Comments describe an old cache implementation along these lines:
https://github.com/PSPC-SPAC-buyandsell/von_anchor/blob/9d3f96451c1c7a2fee8c0141fc5f3

[2021-03-11 14:51] swcurran commented on #1019
Yes.  There is nothing to technically to stop someone from building a connection-less issue in ACA-Py.  We haven't because we are concerned about the data model -- issuing on a channel where you don't really know to whom you are connected.

We've implemented it on the proof request side because you are just doing a receipt of data from a holder, not issuing them something.

[2021-03-11 15:08] swcurran commented on #1020
Listen to @esune -- he knows the code way better than I!  I'm more a "concepts" person :-).

[2021-03-11 15:54] sklump commented on #994
`POST /present-proof/records/{pres_ex_id}/problem-report`
`POST /present-proof-2.0/records/{pres_ex_id}/problem-report`

[2021-03-11 15:54] #994 closed

[2021-03-11 15:55] #972 closed

[2021-03-11 16:50] sklump commented on #1019
At least the API shouldn't propose offer-credential as an option then. I can take that out in minutes.

[2021-03-11 16:54] esune commented on #1020
I just got burnt by this so many times I try to save the pain to others, however I realize that I may be making assumptions when explaining things 🙂

The reason to ignore setting `from` is based on the fact that, as discussed above, while the non-revocation time frame was meant to be an interval, it doesn't exactly work that way in practice.

In the first link I sent ([this](https://github.com/hyp

[2021-03-11 16:55] sklump commented on #1019
Should I remove support for credential-offer attachments on out-of-band invitation creation then? It does seem like a three-card-monte.

[2021-03-11 18:26] sklump commented on #1021
WQL queries can operate on:
- "schema_id"
- "cred_def_id"
- "rev_reg_id"
- "attr::<attr-name>::value"
- "attr::<attr-name>::marker": "1"
It's not up to us: it's the underlying indy toolkit.

[2021-03-11 18:36] james-cohen commented on #1021
Got it, I figured that would be a factor. Thanks for your help

[2021-03-11 18:36] #1021 closed

[2021-03-11 20:51] swcurran commented on #1019
I'd say yes.  If/when someone wants to add full support, this is the least of their worries.

[2021-03-12 07:54] konsmosc commented on #1019
Thank you very much for your clarifications guys!!

[2021-03-12 09:58] futureman2007 opened #1024 "Aca-py 0.6.0: INFO Ledger instance not provided error/bug?"
Hi all, i am new to Hyperledger Aries and i can´t figure out what i am doing wrong.

Environment: Ubuntu16LTS, Docker 18.09.7 build 2d0083d; hyperledger-aries-python version: 0.6.0 (sourcecode)

From there i try to run:
`./scripts/run_docker start -e http://host.docker.internal:8000 -it http 0.0.0.0 8000 -ot http --admin 0.0.0.0 11000 --admin-insecure-mode --log-level DEBUG --genesis-url https://r

[2021-03-12 10:34] yunxi-zhang commented on #1020
Thanks for the clarification @esune , @swcurran  and @sklump. Now it's clear to me how credential revocation verification works in the current acapy implementation :-).

[2021-03-12 17:10] #1019 closed

[2021-03-14 14:49] rpobulic opened #1025 "Alias ignored when creating OOB invitation"
If I specify an alias in /out-of-band/create-invitation, it is ignored and no alias is visible in /connections. Specifying alias in /out-of-band/receive-invitation works as expected. Currently, when using /out-of-band/create-invitation, the only way to identify the connection for later reference is the invi_msg_id, but it cannot be used as a query parameter for /connections, so a full scan of all

[2021-03-14 17:35] swcurran commented on #1025
@shaangill025 -- could you take a peek?  Probably for after your presentation exchange work.

[2021-03-14 23:42] shaangill025 commented on #1025
I have found the bug. I will create a PR to fix this.

`alias = request.query.get("alias") ` needs to be updated to `alias = body.get("alias")`. The same issue needs to be fixed with `my_label`.

https://github.com/hyperledger/aries-cloudagent-python/blob/ab72c90c9dba013181c524d5ea85c04c44a8a6fb/aries_cloudagent/protocols/out_of_band/v1_0/routes.py#L163

[2021-03-15 22:09] yunxi-zhang opened #1026 "Connecting to AWS Postgresql got error when running acapy"
I'm trying to run my acapy to connect to an AWS postgreSQL by using the below flags:
[code]

On the AWS postgresql, i've only setup a simple DB without having any default tables.

When running the acapy command, got below errors:
[code]

Don't know the reason why?

[2021-03-16 10:05] futureman2007 commented on #1024
I found the solution.
See my post @ https://stackoverflow.com/questions/66640173/aca-py-0-6-0-info-ledger-instance-not-provided-error-bug/66652908#66652908 for the whole story.

Conclusion: The described steps (and the needed pain to find the solutin) in the link above could easily be avoided, when this where documented.
My Suggestion: Please add the describted stepts in your documents,

[2021-03-16 11:34] james-cohen opened #1027 "--arg-file config YAML is never found"
I'm attempting to put all of my environment variables in a YAML as described in the --help section of ACA-Py:

[code]

I have a config.yaml with parameters like so:
[code]

I keep the config file at the root level and run the start script:
[code]

But no matter where I put it I always get the error:
[code]

I've tried pretty much every variation of path I can think of, ranging from just ```config.

[2021-03-16 12:29] futureman2007 commented on #1027
I assume you run aca-py inside docker right?
I had a similar issue providing the genesis-transaction-file.

When you use the docker Container, you start a new and clean ubuntu machine. Therefore your file is not inside the container.
To put it inside, you need to edit the Dockerfile which ./scripts/run_docker is starting.
there you need to Add your file.

Are you familiar with this? If not i will

[2021-03-16 12:49] james-cohen commented on #1027
That makes a lot of sense. If you would't mind posting an example snippet that I can adapt and add to the Dockerfile I would greatly appreciate it

[2021-03-16 13:11] futureman2007 commented on #1027
Sure.

Inside your run_docker you have the line:
`$CONTAINER_RUNTIME build -t aries-cloudagent-run -f ../docker/Dockerfile.run ..`
This means, your Dockerfile to be used is inside docker/Dockerfile.run.

Opening it (e.g. with vi, vim or any other texteditor):
FROM bcgovimages/von-image:py36-1.15-1

ENV ENABLE_PTVSD 0

ADD requirements*.txt ./

RUN pip3 install --no-cache-dir -r requirements.txt -r

[2021-03-16 13:46] james-cohen commented on #1027
That now works perfectly, thank you so much.

However, now that it works it's uncovered some issues about the argument parsing itself:

1) Formatting the variables as the help section suggests e.g. ACAPY_SEED instead of --seed does not work, as it seems like the program is trying to interpret them as normal anyway:
[code]
The variables only work if you present them in the normal format, so:
[code]

[2021-03-16 14:19] ianco commented on #1027
This is the name of the environment variable, not command-line input, so:

ACAPY_WALLET_SEED=Seed0000000000000000000000000000 ./scripts/rn_docker start ... etc

[2021-03-16 21:34] james-cohen commented on #1027
Ok finally almost there, my final issue is that whilst trying to use environment variables, the formatting for multi argument variables is unclear, specifically for ACAPY_ADMIN and ACAPY_INBOUND_TRANSPORT

None of the following variants are accepted:
[code]

All are rejected with errors such as:
[code]
[code]

How should these multi-argument variables be formatted?

[2021-03-16 21:51] ianco commented on #1027
Hi @james-cohen , FYI we use configargparse (https://pypi.org/project/ConfigArgParse/) to handle these parameters.

I'm not sure offhand how to handle multi-value parameters in environment variables, but I can say from experience that these are not 100% supported.

We've typically used environment variables for parameters that we don't want to record anywhere (such as passwords and DID seeds) and

[2021-03-16 21:57] james-cohen commented on #1027
Good idea, I basically got a bit too obsessive with trying to make everything need and tidy but for those multi-parameter, non-secret ones I'll just pass as command line variables instead. Thanks!

[2021-03-16 23:03] ianco commented on #1026
Is your postgres database using https?  This is not currently supported.

Long story but I can point you to an old PR - https://github.com/hyperledger/indy-sdk/pull/2157

I could never get this code to work, and no one has had time to pursue it ...

[2021-03-17 11:43] yunxi-zhang commented on #1026
Hello @ianco, I don't see any https required when i connect to AWS postgresql. When i use pgadmin tool to connect to it, no need to put any SSL config. The endpoint is like this format: {db name}.{random string}.eu-west-2.rds.amazonaws.com

[2021-03-17 12:39] yunxi-zhang commented on #1026
@ianco , found out my silly mistake by putting the wrong port number. Acapy runs with AWS postgresql now.

[2021-03-17 12:39] #1026 closed

[2021-03-17 14:29] ianco commented on #1026
Great!!!

[2021-03-17 16:14] ianco opened #1028 "[Endorser Protocol] Connection/transaction settings"
Add the Endorser DID to the connection meta-data (it is required when creating the initial schema or cred def transaction)

Add an Endorser Name to the meta-data (or else ensure that an Alias is set for the connection)

Remove the DID parameter from the Create Schema and Create Cred Def operations; select the desired Endorser instead (based on connection alias?)

Rename the endpoint from "transact

[2021-03-17 16:17] ianco opened #1029 "[Endorser Protocol] Review Writing Non Secrets"
Saving non-secrets records once the transaction is written to the ledger - this is done here:

https://github.com/hyperledger/aries-cloudagent-python/blob/main/aries_cloudagent/protocols/endorse_transaction/v1_0/routes.py#L636

... and duplicates code which exists elsewhere

[2021-03-17 16:19] ianco opened #1030 "[Endorser Protocol] Review messages vs RFC"
Message formats are here:

https://github.com/hyperledger/aries-cloudagent-python/tree/main/aries_cloudagent/protocols/endorse_transaction/v1_0/messages

RFC is here:

https://github.com/hyperledger/aries-rfcs/pull/586

[2021-03-17 16:21] ianco opened #1031 "[Endorser Protocol] Provide an option for the Endorser to write the ledger transaction"
This has been requested a couple of times in the community

This will require:

- an endpoint for the Endorser to write the transaction
- a message back to the Author confirming that the transaction has been written to the ledger
- code in the Author to write any necessary non-secrets records to their wallet

[2021-03-17 18:23] yunxi-zhang opened #1034 "Multi-tenancy APIs are not available in the openapi file."
The openapi file has not been updated to include the details for multi-tenancy APIs

[2021-03-18 09:19] ytebboune opened #1036 "No wallet database exists"
Hello,

I got an issue when I launch agents using this project, and the error is the following :

I tried multiple things and the problem doesn't come from Docker, ports aren't used. I guess it may be a set up problem.
Any idea ?

Thanks for your help,

[2021-03-18 11:07] markwormgoor commented on #575
It is possible. I'm not using the demo, but have built my own docker container. An example from my docker YAML file is below. Notice the "wallet-storage-config" option on the command line and the volumes at the bottom. The first tells Indy where to store its wallets. The second tells Docker to mount the ./data/wallets folder under /data in Docker.

Of course, most people would use Postgres as thei

[2021-03-18 11:17] markwormgoor opened #1037 "Register-Nym: Status Code: 422: Unprocessable Entity (missing data)"
I'm working on building a controller. I'm using the Node.JS sample to build on. Most of the functions work just fine, but I'm having an odd challenge with /ledger/register-nym. The POST request returns a 422: Unprocessable Entity. The ACA-Py logs show me the data is missing, but it's not (see the third line with the body). Using the same data on the Swagger UI works just fine.

Note: I'm using a m

[2021-03-18 13:28] ianco commented on #1036
Can you provide some information on how you are starting the agents?

[2021-03-18 14:00] ytebboune commented on #1036
I'm using docker commands to start the agents ->
docker-compose build
docker-compose up

[2021-03-18 14:01] ianco commented on #1036
Can you provide your docker-compose.yml file?

[2021-03-18 14:08] ytebboune commented on #1036
[docker-compose.zip](https://github.com/hyperledger/aries-cloudagent-python/files/6164682/docker-compose.zip)
The file is this one.
Just to precise a little bit : the project is working for all the others one that used it. I am the only one in this case.
I tried to disable my firewall and my antivirus in order to try if that's because of this, but it didn't changed anything.

[2021-03-18 14:11] ianco commented on #1036
Thanks can you also share the startup command for the agent (with all the parameters)?

[2021-03-18 14:21] ytebboune commented on #1036
Is that what you were looking for?
Another precision, is that the same error shows up for the others agents that you can see in the docker-compose file (issuer, verifier).

[2021-03-18 14:25] ianco commented on #1036
Hi @ytebboune when you "pip install aries-cloudagent" you get the latest published version. aca-py version 0.6.0 was released recently, so I suspect what's happening is that previously people were getting aca-py 0.5.6 and now you're running with 0.6.0

You need to add an additional parameter `--auto-provision` to tell the agent to create its wallet if it doesn't already exist.

Alternately you can

[2021-03-18 14:37] ytebboune commented on #1036
That's it !
Thanks a lot, really. I spent days on it.

[2021-03-18 18:41] markwormgoor commented on #1037
Note: I'm now also getting this in another function. It seems to have something to with how I post the data. I've tried posting "querystring" encoded data as application/x-www-form-urlencoded and I've tried posting the data in json format as application/json. The results are the same as above. Plus, it is working to create a wallet. Any thoughts on where this is going wrong?

[2021-03-19 12:12] markwormgoor commented on #1037
Attached is a simple JS file to troubleshoot the issue. I can't seem to find a way to get this to work. Again, no challenges via Swagger with the exact same call and DID.

[troubleshoot.js.gz](https://github.com/hyperledger/aries-cloudagent-python/files/6170949/troubleshoot.js.gz)

[2021-03-19 12:45] yunxi-zhang opened #1039 "Turning on "--recreate-wallet" flag when running Acapy v0.6.0, old data in the storage are not auto removed"
I run Acapy agent v0.6.0 that connects to my AWS PostgreSQL as my physical wallet storage. For the 1st time run, I've also turned on the multi-tenancy feature, so I can successfully create two sub wallets for this agent (see below figure for using an pgadmin tool).

![image](https://user-images.githubusercontent.com/16185797/111782513-fe7a9480-88b0-11eb-8393-6e71022e5b98.png)

When rerun the acapy

[2021-03-19 13:19] swcurran commented on #1037
@amanji -- can you help out with this one?  Thanks!

[2021-03-19 16:00] ianco opened #1040 "[Endorser Protocol] Set expiry_time when submitting transaction to endorser"
Don't set expiry_time when creating a new transaction (in the schema and cred def routes.py files) - rather set this parameter when the transaction is getting sent to the endorser for endorsement.

[2021-03-19 19:07] wip-abramson opened #1041 "No ENV Var specified for --open-mediation"
Not a biggie, but should be an easy fix unless it was done intentionally.

See https://github.com/hyperledger/aries-cloudagent-python/blob/2fe1c396a809c22c4c24dad643af449e76056838/aries_cloudagent/config/argparse.py#L997

[2021-03-20 18:54] swcurran commented on #736
Not on the plan right now.  How about adding at least an issue about that -- ideally a PR :-).

Thanks!

[2021-03-20 19:01] HarshMultani commented on #736
Hi @swcurran @pstuermlinger.

Yes, there is an issue about that. And it should be done in some days
https://github.com/hyperledger/aries-cloudagent-python/issues/1031

[2021-03-21 10:26] troyronda opened #1042 "https prefix for PIURI as the default"
Please use the https prefix for PIURI as the AcaPy default. We should be demonstrating the https prefix as the outgoing PIURI in the test harness.

[2021-03-21 10:46] troyronda opened #1043 "use did-communication service type in DID Exchange"
The service type should be `did-communication` rather than `IndyAgent` in DID Exchange.

[2021-03-21 10:50] troyronda opened #1044 "use and accept updated media types"
AcaPy should be using the Aries RFC media types rather than `application/ssi-agent-wire`.

[2021-03-21 15:35] swcurran commented on #1044
Agreed, and I believe we've added that.  But for backwards compatibility, both need to be accepted.

@andrewwhitehead can you provide a status on this?

[2021-03-22 16:42] Moopli opened #1048 "Create DID docs with `peer` DID method in did exchange"
When creating a peer DID doc for DID exchange, it should have the `peer` DID method.

[2021-03-22 17:18] HarshMultani-AyanWorks commented on #1028
Hi @ianco , If we remove the endorser did parameter during create schema or create cred def, then how should we select the desired endorser? Can you elaborate on it.
Are you referring to the case where we first set endorser did in connection meta-data and when we create the transaction records at that time take the endorser did from connection meta-data (This way the agent would need to pass the c

[2021-03-22 17:54] HarshMultani-AyanWorks commented on #1040
Hi @ianco, Do we have to set this parameter by taking input from the agent, or by getting system date and setting the expiry to one or two days more from the system date?

[2021-03-22 18:25] ianco commented on #1028
Yes, I was thinking they would need to select the endorser (or connection id) when they created the schema or cred def.

[2021-03-22 18:25] ianco commented on #1040
I suggest this is a new parameter for the api, and the caller would need to provide it

[2021-03-22 22:03] troyronda opened #1050 "generating DID docs with verificationMethod rather than publicKey"
[DID-Core v1](https://w3c.github.io/did-core/#verification-methods) now uses `verificationMethod` rather than the `publicKey` property. When generating DID documents, the `verificationMethod` property should be used.

The [did:peer spec](https://identity.foundation/peer-did-method-spec/#verificationmethod) has now also been updated to use `verificationMethod`.

[2021-03-22 23:56] #1025 closed

[2021-03-23 18:22] victormartinez-work commented on #1050
this is been address in this PR.
https://github.com/hyperledger/aries-cloudagent-python/pull/1033

[2021-03-24 15:01] cpatsonakis opened #1052 "[Mediation] Mobile/Edge Agent picking up messages from ACA-Py mediator"
We are trying to integrate an mobile/edge agent that we are working on with an ACA-Py mediator, however, we are unable to figure out what we are doing wrong and we can't pick-up messages that are buffered by the mediator. We have performed the connection protocol with the mediator agent and the coordinate mediation protocol. Hence, the edge agent has the mediator's routing key and uses the mediato

[2021-03-24 15:05] swcurran commented on #1052
@dbluhm -- can you take a look at this one?

[2021-03-25 17:14] dbluhm commented on #1052
@cpatsonakis is the `undelivered-queue` option configured on the mediator? That's the option that triggers temporary storage of messages and sends the messages back out on available return routes.

[2021-03-25 17:27] swcurran commented on #1043
@sklump -- can you please take this?  For 0160, it can remain as it was, but for DID Exchange, it should be this new format.  Not sure if this data lies in the shared "connection object", which makes it more fun...

[2021-03-25 17:28] swcurran commented on #1044
A priority for accomplishing AIP 2.0 Interop with Aries Framework Go.

[2021-03-25 17:30] andrewwhitehead commented on #1044
At the moment we don't support this, but for testing it could be enabled under the same flag that turns on the new message types for outgoing requests.

[2021-03-25 18:18] swcurran commented on #1044
What is the work and who should do it?  Is this something you should do, or perhaps @shaangill025 ?

Presumably, in receiving messages, we could handle 0 or more values.  We can also send them out, but I'm guessing we don't know what those receiving our messages would do.  Correct?

[2021-03-25 18:21] swcurran commented on #1048
@andrewwhitehead -- how do we get this one done?   Is this an AIP 2 change and we have to do a compatibility flag on it?  I'm guessing we have to, since this is working with our existing interop partners.

Also, we will be able to use git blame to find out where this came from???   :-)

[2021-03-25 19:11] andrewwhitehead commented on #1044
On receiving we don't enforce the media type. I can do a quick pass today along with the did:peer changes for testing.

[2021-03-26 08:27] cpatsonakis commented on #1052
Hi @dbluhm , thank you for your response. We enabled that option, but still we are getting the same warning. Kindly find below a more "detailed" log of ACA-Py:
[code]
As you can see we get the same warning from ACA-Py. Furthermore, when we issue a `trust-ping` message from the mobile agent to the mediator, you can see in the log that ACA-Py has `queued_message_count=None`. The command that we are

[2021-03-26 13:51] dbluhm commented on #1052
I think I may see the problem; the trust ping message sent to retrieve buffered messages must have `response_requested` set to false. This is because the message used to trigger message retrieval can't itself cause a reply, "consuming" the open return route.The returning http response body will contain only the message at the front of the queue. Multiple trust ping messages with `response_requeste

[2021-03-26 15:11] yunxi-zhang opened #1054 "Expecting a doc available as a markdown file specifying the data schema design for a wallet/db storage"
Currently, most data in a wallet (aka db storage, for example postgresql) are binary. It's really hard for people new to ACA-Py to figure out what real data is stored in the wallet. Without having this knowledge, it's then hard for us to design/develop controllers to handle necessary data that are not stored in the wallet, but have to be persisted to somewhere else (e.g. protocol execution).

**Wh

[2021-03-26 15:14] yunxi-zhang opened #1055 "Expecting a doc showing guidance on what other data should be persisted by a controller"
As we only want necessary data to be persisted to an ACA-Py's wallet/db storage, it's better to have a doc available somewhere contributed by any experienced teams who show a guidance on what type of data should be handled by a controller to be persisted to somewhere else, so the wallet will always have the necessary data such as credentials, private DID.

[2021-03-29 08:06] cpatsonakis commented on #1052
@dbluhm Thank you very much for your feedback, we were finally able to make it work! Following your response, we figured out that the underlying mechanism is similar to that of an HTTP long poll. Appreciate the help!

[2021-03-29 08:06] #1052 closed

[2021-03-29 12:51] sklump commented on #1002
The presentation request does not specify a non-revocation interval, so it does not care about revocation status. See https://github.com/sklump/aries-rfcs/tree/441-present-proof-best-practices/concepts/0441-present-proof-best-practices#presentation-requests-and-non-revocation-intervals

[2021-03-29 12:51] #1002 closed

[2021-03-29 14:25] sklump commented on #1005
The code now uses v2 of these protocols: I will update the docs accordingly

[2021-03-29 15:52] karolinagorna commented on #418
Hello, we have the same problem with Faber and Alice : Faber agent "shutting down agent" and Error registering DID, response code 500

[2021-03-30 12:28] srbms23 opened #1059 "Aca-Py Raspberry-Pi 4 no connection with ledger"
I am trying to use Aca-Py Agent on RP4 together with von-network on my macbook.
To do that I installed indy-sdk and cloud agent on Pi following the steps as in internship documentation.
Von-network is started as docker image on my macbook. I activate von-network on my mac with ./manage start 192.168.2.1
192.168.2.1 is the ip of my macbook and genesis file works from Pi, already checked that. In ge

[2021-03-31 13:16] #1005 closed

[2021-04-01 04:20] airoasis commented on #950
@genaris Hi. Have you started to implement this feature already?

[2021-04-04 16:11] TimoGlastra opened #1062 "How to handle json-ld contexts"
I'd like some feedback from other ACA-Py users / developers on the best approach for handling json-ld contexts in ACA-Py.

AFAIK you shouldn't just download JSON-LD contexts whenever you encounter them. And you should definitely cache them if you do. Should we:

- Have some essential local contexts
- allow to download new contexts
- Cache downloaded contexts
- disallow to download contexts
- Allow

[2021-04-06 14:54] Moopli opened #1067 "incorrect did:key multicodec value"
If `0xed` is prepended to the key data before base58 encoding, this results in an incorrect multicodec code.

Multicodec is designed to allow codes to be variable-length integers, using the [unsigned varint](https://github.com/multiformats/unsigned-varint) format. When the Ed25519 multicodec code is encoded as a varint, it turns into `0xed01`, this is the value that should be prepended before base

[2021-04-07 16:43] docmanni commented on #1034
Maybe I'm misunderstanding you here, but I have started my aca-py instance(s) with the flags --multitenant --multitenant-admin --jwt-secret ... and I can see the multi-tenancy API in the swagger interface. (I believe the --multitenant-admin flag is the important flag here).

[2021-04-07 16:59] docmanni opened #1072 "Proof request and presentation: support arrays of credential requests and presentations?"
I am thinking about two use cases:

1. immigration to a country: traveler needs to present his passport to the officer and, optionally, a visa and possibly multiple vaccination credentials. At the moment, attributes of different schemas can be requested in a list, but the whole presentation will fail if one credential is missing (e.g. not everyone requires a visa for entering a country). Thus, for

[2021-04-07 18:00] #1067 closed

[2021-04-08 15:05] sklump commented on #1072
1. Aca-py implements RFC 454 (https://github.com/hyperledger/aries-rfcs/tree/master/features/0454-present-proof-v2), which presents one proof. A protocol for a collection of presentations may be worth looking into, but it isn't 0454.

2. A credential is neither a certificate nor an attribute certificate. It is geared toward zero-knowledge proofs. Using credentials for non-zero-knowledge presentati

[2021-04-08 15:21] docmanni commented on #1072
I understand. Would be a "nice to have", but can be done through the backdoor, I believe. A proof-request for the first credential (to stay in the example context of my original question: that could be the passport credential) could set a certain comment that a client can parse and then send proof presentation proposals one by one of requested credentials (visa, one or more vaccination credentials

[2021-04-08 15:22] sklump commented on #1072
In theory it could be possible to negotiate the shape of the proof via proposal/request back-and-forth. At present, this would be all manual with aca-py.

[2021-04-08 19:58] swcurran commented on #1072
With both Indy AnonCreds and DIF Presentation Exchange, multiple proofs can be requested and sent in a single "normal" RFC 0454 Present Proof protocol execution.  It might be possible to handle the multiple vaccination credentials by having different restrictions (as defined in AnonCreds and DIF PE) used in the Proof Request.  Not an array, but an explicit request for several credentials.

It does

[2021-04-09 07:41] srbms23 commented on #88
Hi @eorituz and @arner ,

I am struggling to make Agent work on my Pi. Have you managed to do that somehow?

I explained the steps that I´ve done and errors that I get here: [von-network with Raspberry Pi 4 #140](https://github.com/bcgov/von-network/issues/140).
Could you take a look (if you have time) and tell me if something is missing or even better write down the steps that you´ve done to make

[2021-04-09 13:32] TimoGlastra opened #1075 "consistency in key identifier for did:sov?"
The new did resolver returns `keys-1` for the key identifier. Uniresolver returns `key-1`.

If we now create a jsonld credential in ACA-Py the verification method will be something like: `did:sov:xxx#keys-1`. If we then verify this somewhere else that uses uniresolver the key will be undefined.

I'm not sure if there is a standard for this, but maybe we can use the uniresolver format for now.

@db

[2021-04-09 13:38] dbluhm commented on #1075
We should have this better formalized once the Indy DID Method @swcurran and co have been working on is ready but until we have that, I agree that sticking to the uniresolver format is a good idea.

[2021-04-09 15:06] etschelp opened #1078 "Bucket ticket to collect and fix discrepancies in the swagger doc"
There are many smaller and bigger issues in the swagger.json that prevents users from automatically building clients in their respective programing language. The idea is to collect these issues in the comments.

[2021-04-09 15:19] etschelp commented on #1078
`/present-proof/records/{pres_ex_id}/credentials`

schema_id, cred_def_id, rev_reg_id, cred_rev_id are missing from cred_info instead they are one level above

example model:
[code]

actual result:

[code]

[2021-04-09 16:17] sklump commented on #1078
I can take a look today and into early next week.

[2021-04-10 13:54] #1075 closed

[2021-04-10 13:58] TimoGlastra opened #1081 "Match returned did:sov doc with uniresolver"
Currently the did:sov diddocs assembled in ACA-Py don't include the `assertionMethod` for the key. This means we can't use it for the default VC proof purpose `assertionMethod` and thus we get an error:

"Verification method did:sov:DViYrCMPWfuLiY7LLs8giB#key-1 not authorized by controller for proof purpose assertionMethod"

Uniresolver does include the key in `assertionMethod` so I think we shoul

[2021-04-10 14:05] dbluhm commented on #1081
No particular reason this is missing in the current implementation other than we were focused on representing info needed for DIDComm and overlooked this. Thanks for pointing it out!

[2021-04-10 14:15] TimoGlastra commented on #1081
Cool, openend #1082 to fix

[2021-04-11 18:03] juvebogdan opened #1083 "Running agent locally"
Hello,

I want to run agent locally so i can start making a controller. But for some reason I am unable to follow guides from readme. First I went to http://dev.greenlight.bcovrin.vonx.io/ and created public DID from seed then I ran this command:

 ./scripts/run_docker start --genesis-url http://dev.greenlight.bcovrin.vonx.io/genesis --inbound-transport http 0.0.0.0 8020 --outbound-transport http

[2021-04-12 06:34] domwoe commented on #1043
Related to this: https://github.com/decentralized-identity/didcomm-messaging/issues/179

[2021-04-12 09:53] domwoe commented on #358
I'm just reviewing this issue in light of the progress on DID Exchange.
I still think DID Exchange as implemented right now does not address this issue.

I can use
[code]
to create and send and a DID Ex request by providing a public DID of the responder, but I don't see a way to tell the responder that I (the requester) can be addressed by a public DID.

@sklump  Is this correct?

Could we add a p

[2021-04-12 10:46] sklump commented on #1083
`PORTS="8020 8021" ./scripts/run_docker start --genesis-url http://dev.greenlight.bcovrin.vonx.io/genesis --inbound-transport http 0.0.0.0 8020 --outbound-transport http --admin-insecure-mode -e http://192.168.56.133:8020 --admin 0.0.0.0 8021 --seed ztVe8GJtMPiC1RBFjxL56Rf0uj4IURAi`

[2021-04-12 10:47] #1083 closed

[2021-04-12 11:06] #1081 closed

[2021-04-12 13:08] TimoGlastra opened #1084 "Issue Credential protocol cannot handle unknown credential formats"
The issue credential `V20CredFormat` does not allow unknown format identifiers to be present. As the format is used in all the credential exchange messages this means message validation will fail if we receive an unrecognized format.

The way I currently handle it is that we only process the formats that we recognize. If that means no formats are processed, we throw an error. This allows a flow wh

[2021-04-12 13:09] TimoGlastra commented on #1084
@sklump Could you maybe pick this up? 🙂

[2021-04-12 16:31] sklump commented on #1084
I can look into it starting tomorrow

[2021-04-14 02:44] andrewwhitehead commented on #1043
This is covered in my draft PR here, where we leave it as IndyAgent for the connections protocol for compatibility with current .NET agents: https://github.com/hyperledger/aries-cloudagent-python/pull/1056

[2021-04-15 12:06] srbms23 commented on #1083
Hi @sklump ,

I hope you can help me with my issue as well.
What is the endpoint when I want to run Agent on my mac locally? Could you take a look at my commands below and tell me if there is something wrong?

After I had registered public did on ledger, I tried to do run Agent locally with commands below but I got `403 Error: No ledger available` in Swagger.

`PORTS="8020 11000" aca-py start --la

[2021-04-15 14:31] #1084 closed

[2021-04-15 19:27] WadeBarnes opened #1093 "Codecov - Bash Uploader Security Update"
Review pipelines for issues related to [Bash Uploader Security Update](https://about.codecov.io/security-update/)

[2021-04-15 19:27] WadeBarnes commented on #1093
The environment variables exposed to the CI processes using Codecov were reviewed.  No sensitive information is being exposed.

[2021-04-15 19:27] #1093 closed

[2021-04-17 20:10] edbkei opened #1094 ""./run_demo faber --revocation" fails"
ubu20w@DESKTOP-CT0HBV1:~/aries-cloudagent-python/demo$ ./run_demo faber --revocation
Preparing agent image...
sha256:439695f8bcf199a6952e310a9138f52e692095c5ff5d7c1d84f518db925308e4
Trying to detect ngrok service endpoint
jq not found
172.29.38.172
Starting [faber] agent with args [--port 8020 --revocation]

#1 Provision an agent and wallet, get back configuration details
Faber      | Registering

[2021-04-18 21:06] srbms23 opened #1097 "IP address of an Agent (running locally)"
I installed Agent locally on my computer. However, after start of an Agent, I am not able to establish connection with public ledger. After I tried to send Schema, got error in Swagger saying `No ledger available`.

The same error appears when I start agent with docker and type wrong endpoint so I think the problem might be in endpoint. (I can start agent with docker. In that case IP address is fa

[2021-04-19 08:45] mat-work opened #1098 "Credential attributes naming inconsistency"
https://github.com/hyperledger/aries-cloudagent-python/blob/73361c60ed2db15c6ed9fdc173fe91ece9f7c15c/aries_cloudagent/messaging/util.py#L139-L152

For verifications, credential attributes are converted to lowercase, and spaces are removed.
On the other hand, a credential Schema can be defined without any restrictions.

The outcome is that verifications do not work when the attribute name, previous

[2021-04-19 14:26] swcurran commented on #1098
hmm...changing the schema attribute names would seem to be bad thing.  Am I missing something?

[2021-04-20 16:45] ianco opened #1103 "Send Credential Offer should allow Issuer to edit Credential terms, if responding to a Proposal"
In the current API, when an Issuer is responding to a Credential Proposal there is no way for them to edit the content of the proposed Credential.

Expected behaviour - the Issuer should be able to set the content of the Credential they are offering, without having to start a new proposal.  The "send-offer" API should accept an optional Credential Preview (which may be different than the Proposal)

[2021-04-21 02:51] Moopli opened #1104 "did doc - referenced verification methods should be plain strings"
Verification method references in the did doc implementation are currently [objects](https://github.com/hyperledger/aries-cloudagent-python/blob/main/aries_cloudagent/connections/models/diddoc/diddoc.py#L137) with a `type` member and a `publicKey` member (a did url), whereas in the spec a verification method reference is a [string](https://www.w3.org/TR/did-core/#referring-to-verification-methods)

[2021-04-21 03:27] Moopli opened #1106 "recipientKeys and routingKeys format don't match RFCs"
The [DIDComm/DID doc conventions](https://github.com/hyperledger/aries-rfcs/blob/master/features/0067-didcomm-diddoc-conventions/README.md#service-conventions) for services state that `recipientKeys` and `routingKeys` are arrays of DID key references, rather than arrays of raw key values.

[2021-04-21 10:31] sklump commented on #1103
You can send a free offer on the same connection id, but that orphans the old cred ex record. A text body for the bound offer API would be the way in. There might be some cred ex record state gotchas.

[2021-04-21 10:49] mat-work commented on #1098
I am not sure why attribute names are "canonicalized for indy proofs and credential offers". That leads to a problem if the schema was not created with lowercase attribute names.

[2021-04-21 11:12] sklump commented on #1103
Note that this approach only allows the issuer to modify attribute values in the negotiation. To change the schema/cred def, the issuer would need to start a new offer: these are in the proposal, not the preview. I'll flesh it out as specified and we can quibble over the PR.

@ianco

[2021-04-21 17:28] troyronda commented on #1048
@swcurran @andrewwhitehead do you have any updates on this topic?

[2021-04-21 18:51] Moopli opened #1108 "raw base64url consistency?"
ACA-Py seems to be permissive, in a certain sense, with the format that a base64 attachment payload can take: [`b64_payload = unpad(set_urlsafe_b64(self.base64, True))`](https://github.com/hyperledger/aries-cloudagent-python/blob/main/aries_cloudagent/messaging/decorators/attach_decorator.py#L426). However, this still enforces that the message sender must convert their base64 payload to rawURL for

[2021-04-21 22:39] swcurran commented on #1108
In several of the RFCs there is a line like this -- "NOTE: In receiving the out-of-band message, the base64url decode implementation used MUST correctly decode padded and unpadded base64URL encoded data."

Is that what we are talking about?  Deeper than that?

[2021-04-22 11:37] #1059 closed

[2021-04-22 14:10] sklump opened #1109 "jsonld compact/expand performance is atrocious"
A compact or verify operation takes over a minute from my side. How can this be? Can anything be done?

The unit test suite, because it runs these operations several times, spends over half its run on `aries_cloudagent/messaging/jsonld/tests/test_credential.py`. Now that jsonld is exposed in the admin API, I believe many people will experience http timeouts on its operations.

[2021-04-22 16:00] Moopli commented on #1108
That part is good, however when attachments are signed, then either:
A. The recipient converts the payload to unpadded base64URL when assembling the detached payload and protected header into the signed data to verify the signature, in which case the sender _must_ also convert the payload to unpadded base64URL to construct the signature.
or
B. The recipient must accept the payload with or without

[2021-04-22 16:12] andrewwhitehead commented on #1108
Not sure if I'm missing something here, but signatures should be over the raw bytes of the payload, not the base64URL representation.

[2021-04-22 20:08] andrewwhitehead commented on #1109
Can you narrow it down to specific statements that are taking a long time?

[2021-04-22 20:19] swcurran commented on #1109
@TimoGlastra -- do you think this might be JSON-LD context loading?

[2021-04-22 21:31] TimoGlastra commented on #1109
Could be. It's not using local context so that may take a while. Especially if the documents are not cached after the first run

Related to https://github.com/hyperledger/aries-cloudagent-python/issues/920

We're using local context for our tests, so we should probably refactor the JSONLD routes to do the same. Should be easy once our PR is merged

[2021-04-23 09:11] Nabil-oussa opened #1113 "aries_cloudagent.storage.error.StorageNotFoundError"
Hello,
I got an issue when I launch agents using this project, and the error is the following :

verifier_1  | 2021-04-23 08:55:08,723 aries_cloudagent.core.dispatcher ERROR Handler error: presentation_exchange_verify_presentation
verifier_1  | Traceback (most recent call last):
verifier_1  |   File "/home/indy/.pyenv/versions/3.6.9/lib/python3.6/site-packages/aries_cloudagent/storage/indy.py", li

[2021-04-23 14:24] swcurran commented on #1113
It is likely that in your startup parameters, you have only partially (or not at all) specified the storage that you want to use.  Can you share what your start up parameters are for ACA-Py?

[2021-04-23 14:46] Nabil-oussa commented on #1113
FROM bcgovimages/von-image:py36-1.14-1

ARG VERIFIER_SEED
ARG VERIFIER_AGENT_ENDPOINT
ARG VERIFIER_WALLET_KEY
ARG VERIFIER_ADMIN_API_KEY
ARG GENESIS_URL
ARG INBOUND_PORT
ARG API_PORT

ENV SEED=$VERIFIER_SEED
ENV AGENT_ENDPOINT=$VERIFIER_AGENT_ENDPOINT
ENV WALLET_KEY=$VERIFIER_WALLET_KEY
ENV ADMIN_API_KEY=$VERIFIER_ADMIN_API_KEY
ENV GENESIS=$GENESIS_URL
ENV AGENT_INBOUND_PORT=$INBOUND_PORT
ENV ADMI

[2021-04-23 14:54] swcurran commented on #1113
I'm not an expert on this, but pretty sure you are missing the wallet-storage-type parameter:

[code]

[2021-04-23 14:55] swcurran commented on #1113
It does say that there is a default, so I may not be right on this. Others on team might be able to provide more help -- @andrewwhitehead  perhaps?

[2021-04-23 14:58] ianco commented on #1113
It looks like the error is raised when verifying a presentation:  `ERROR Handler error: presentation_exchange_verify_presentation`

@Nabil-oussa  can you give some more information about how you're starting the agents and what is the set of steps that lead you to this error?

[2021-04-23 15:04] Nabil-oussa commented on #1113
@swcurran thunks for your response.
@ianco I'm using docker commands to start the agents ->
docker-compose build
docker-compose up

[2021-04-23 15:08] ianco commented on #1113
Can you upload the full set of logs?

[2021-04-23 15:13] Nabil-oussa commented on #1113
<img width="960" alt="Sans titre" src="https://user-images.githubusercontent.com/24271735/115892137-28e2e300-a457-11eb-947c-8b9ef8b91433.png">

[2021-04-23 15:17] ianco commented on #1113
Something is calling the proof verification endpoint and there is no presentation exchange record.  I'm not sure how this is happening, are you calling one of the endpoints or does one of the endpoints get called as part of the startup script?

[2021-04-23 15:23] Nabil-oussa commented on #1113
no I did not touch any parameter, but I restarted my PC it seems  that this error is no more, I will check and I will come back to you. Thank you very much for your answers and help

[2021-04-23 21:03] nodlesh opened #1114 "Send Offer Failing for Issue Credential"
There seems to be an issue in Acapy. The problem started yesterday by a merge that happened 1 or 2 days ago. The test runsets in the daily test executions are failing on issuing a credential. This impacts over half of the tests for runsets that include acapy. I am fairly certain it isn’t anything I’ve submitted in AATH because the same AATH code works on older Acapy from the beginning of the week.

[2021-04-26 07:19] #1113 closed

[2021-04-26 10:17] sklump commented on #1114
sorry - it's my mistake. I'll get to this today. Because of the possibility of negotiation, the call expects a body now. It's a quick fix to make it take no body like it did in the past.

[2021-04-26 10:19] sklump commented on #1109
@swcurran any compact() or verify() operation in the json-ld 3rd party library takes about a minute and change.

[2021-04-27 03:35] dbluhm commented on #1098
To reiterate, it's the asymmetry that is the problem; before writing the schema, the input attribute names are not canonized, allowing us to write schemas with attributes like `FirstName`, `Age`, etc. Likewise, on issuance, the attribute names remain capitalized (they'd have to match the schema exactly for the signature, right?). But when fetching credentials for a presentation request, attribute

[2021-04-27 03:49] dbluhm commented on #327
This issue is addressed by #1063.

[2021-04-27 04:01] dbluhm opened #1121 "Proposal: Plugin configuration"
In our work with pluggable DID resolvers, I found that we needed the ability to configure the plugin at startup to set values relevant to the resolver plugin. However, as a plugin, we can't add command line arguments to the ACA-Py instance so we resorted to loading a separate yaml file specified by an environment variable. This worked fine but it got me thinking about easier to use solutions, espe

[2021-04-27 04:12] #327 closed

[2021-04-27 11:34] #1114 closed

[2021-04-27 11:55] sklump commented on #1098
Also, indy canonicalizes in primary proofs, in proof revealed attribute groups but not revealed attributes, ... it's a dog's breakfast and it's painful for everyone. Welcome to the machine.

[2021-04-27 15:37] dbluhm opened #1122 "Problem reports in credential issuance and presenting proof"
[Aries RFC 36](https://github.com/hyperledger/aries-rfcs/blob/master/features/0036-issue-credential/README.md) describes the problem report message as being [adopted](https://github.com/hyperledger/aries-rfcs/blob/master/features/0036-issue-credential/README.md#messages) into the issuance protocol. Similar language is used in [RFC 37 for presentations](https://github.com/hyperledger/aries-rfcs/blo

[2021-04-27 15:42] dbluhm commented on #1122
cc @farskipper

[2021-04-27 17:13] #1103 closed

[2021-04-27 20:06] sklump commented on #1122
I'll take a look tomorrow.

[2021-04-28 12:04] TimoGlastra opened #1123 "Can't emit webhooks for stateless records anymore"
The event bus PR that was merged yesterday made a change that now won't allow you to emit events for stateless records anymore. Is this intended?

PR: #1063
Blame: https://github.com/hyperledger/aries-cloudagent-python/pull/1063/files#diff-fe738d195b46caab22aaa9e802de272264dc1f986e589aad2a2bd0965f98ac14R382

@farskipper @dbluhm

[2021-04-28 12:07] dbluhm commented on #1123
Not intentional -- I'll take a look

[2021-04-28 14:14] TimoGlastra commented on #1123
Verified that #1124 fixed the issue

[2021-04-28 14:14] #1123 closed

[2021-04-28 19:17] dbluhm commented on #1122
We discussed this during the ACA-PUG meeting this week. @andrewwhitehead brought up that this gets into some changes from an old PR of his (https://github.com/hyperledger/aries-cloudagent-python/pull/285/files) when it comes to the problem report message and ensuring that it does not create loops on processing errors. Additionally, since adopting problem report messages into protocols is a common

[2021-04-29 16:22] TimoGlastra commented on #950
This is somewhat related to this issue, so posting here

We want to use ACA-Py as a mediator for mobile agents, and with it we also want to notify users of undelivered messages through push notifications. The idea is to add a custom DIDComm message to notify ACA-Py of device information required for push notifications (as implemented in [.NET](https://github.com/hyperledger/aries-framework-dotnet/

[2021-04-29 22:14] swcurran opened #1126 "Provide list of ursa components used and code that calls ursa and other cryptographic libraries in preparation for an audit"
Please provide for aries-askar and ACA-Py:

- A list of Ursa subcomponents used in the two products.
- A list of any other cryptographic libraries called in the two products.
- A list of pointers into the code of aries-askar and ACA-Py where the components of the previous two lists are used.
   - Ideally, include a brief (one-liner) summary of what the code does, if needed.

Probably best to have

[2021-04-29 22:15] swcurran commented on #1126
Andrew -- what we talked about the other day, but with the some additional information needed.

[2021-04-29 23:14] dbluhm opened #1127 "Is Indy strictly required?"
I was reworking some integration tests for the resolver plugins today and ran into the following error when the `indy` extra of ACA-Py was not installed and `python3-indy` wasn't already installed in the environment:

[code]

To reproduce, you can use the following Dockerfile:
[code]

I then built and ran the container with:
[code]

We don't intend Indy to be strictly required, do we?

[2021-04-29 23:19] dbluhm opened #1128 "Are BBS dependencies strictly required?"
Recently reworking integration tests in the resolver plugins that pull from the main branch, I ran into the following error:

[code]

It would seem that installing requirements from `requirements.bbs.txt` is required; is this intentional?

To reproduce, the following docker file may be used:
[code]

I then built and ran the container with:
[code]

[2021-04-29 23:20] dbluhm commented on #1128
cc @TimoGlastra

[2021-04-29 23:21] dbluhm commented on #1127
@TimoGlastra it looks like the offending line might have been introduced with multi-tenancy changes in December

[2021-04-30 00:36] ianco commented on #1127
"indy" is an "extra". I think you need to install something like `pip install aries-cloudagent[indy, bbs]`

[2021-04-30 00:38] ianco commented on #1128
... or `pip install aries-cloudagent[indy, bbs]@git+https://github.com/hyperledger/aries-cloudagent-python@main`

(not sure of the exact syntax, but the "extras" need to be specified)

[2021-04-30 00:39] dbluhm commented on #1127
Yep, I'm aware, and am taking that approach in my integration tests as a workaround. My question is: is something really an "extra" if it doesn't work without installing the extra? Or in other words, shouldn't this work without installing the `indy` and `bbs` extras?

[2021-04-30 05:37] TimoGlastra commented on #1128
It is definitely the intention it can be run without BBS, therefore the separate `requirements.bbs.txt`. Will look into this today

[2021-04-30 13:33] dbluhm commented on #950
Yeah, I think this would be tricky at the moment. We would need feedback from the responder send methods which itself is probably going to be tricky due to the number of layers that get called between the responder and actually attempting to post a message.

Then again... One thing we recently added was making the inbound transport manager accessible to handlers. There might have to be some clever

[2021-04-30 14:33] #1127 closed

[2021-04-30 14:33] #1128 closed

[2021-04-30 19:08] swcurran commented on #1126
Would it take long to do the indy-sdk?  I don't have anyone doing that right now.  But if this is a lot for you, I can find someone else. If it will be quick for you, please do.

[2021-04-30 19:20] andrewwhitehead commented on #1126
It looks like `indy-sdk` uses mostly the same parts:

- Essentially all of `ursa::cl` along with `ursa::bn::BigNumber` (OpenSSL), to implement Anoncreds.
- `ursa::bls::{Bls, Generator, MultiSignature, VerKey}` to verify transaction state proofs
   - indy-sdk also uses `bls::SignKey` to create a signature, but only in tests.
- It looks like it uses use `ursa::keys::PublicKey` and `ursa::signatures:

[2021-04-30 19:34] swcurran commented on #1126
Excellent -- thanks, Andrew.

[2021-05-01 13:34] TimoGlastra commented on #1126
ACA-Py now also depends on the `ursa_bbs_signatures` pip package which depends on the `bbs` crate (which comes from ursa)

[2021-05-03 14:34] domwoe opened #1137 "DID Exchange - Issue with implicit invitations"
I'm experimenting with the DID Exchange protocol in order to create a connection based on a public DIDs implicit invitation.
A public DID allows to retrieve the necessary keys and service information from a given VDR, i.e. all information that is needed to pack and send the respective request message.

ACA-Py currently provides the following APIs:

![image](https://user-images.githubusercontent.co

[2021-05-03 14:43] domwoe opened #1138 "OOB InvitationReceiveRequest model"
The model specifies `service_dids` and `services`, but the example value in the Open API definition only specifies `service_dids`.
I guess `service_dids` is deprecated. I can't find anything about it in the OOB RFC and ACA-Py will return an error when `services` is not specified. `Services` should either accept a (fully-qualified) DID or a DIDcomm service object.

[2021-05-03 14:49] domwoe commented on #1137
Ok, what does work is using `/out-of-band/receive-invitation` with a payload like this:
[code]

So this works similar to the connections API.

[2021-05-03 17:04] swcurran commented on #1138
@shaangill025 -- can you look at this when you get a chance?  At least take a look and comment on the effort.

[2021-05-04 08:10] domwoe opened #1142 "Issue running tests"
When running `./scripts/run_test` I get the following error:

[code]
while installing `multidict`

The error can be fixed by adding `gcc` and `python3-dev` instead of `python3` to the dependencies in `Dockerfile.test`.

[2021-05-04 12:22] TimoGlastra commented on #1142
Seems related to this PR that just got merged: https://github.com/hyperledger/aries-cloudagent-python/pull/1132

Does that solve your issue?

[2021-05-04 12:42] domwoe commented on #1142
@TimoGlastra  ha, indeed. I've tried to run tests before rebasing on the current main. Thanks!

[2021-05-04 12:42] #1142 closed

[2021-05-04 13:06] TimoGlastra opened #1144 "adopt didcomm:transport/queue"
ACA-Py currently expects an empty string when agents without an endpoint connect. It is never formally defined in Aries, but both  AFJ and AFGO use `didcomm:transport/queue`.

It was previously discussed in an Aries issue: https://github.com/hyperledger/aries-rfcs/issues/405 and is also the standard for DIDComm v2: https://github.com/decentralized-identity/didcomm-messaging/blob/bd2e36ffb31a60da41

[2021-05-04 14:08] #1122 closed

[2021-05-04 14:09] #1109 closed

[2021-05-04 17:43] #107 closed

[2021-05-05 00:57] esune opened #1146 "[Endorser Protocol] Call to ​/transactions​/{conn_id}​/set-endorser-info fails if other agent has not already set their role"
When setting up a connection between an author and an endorser, it is a pre-requisites to prepare metadata about the connection with the endorser.

The calls MUST happen in the following order:
  -  `/transactions/{conn_id}/set-endorser-role`
  - `​/transactions​/{conn_id}​/set-endorser-info`

When calling the second endpoint, the request will fail if the other agent has not yet set their role on

[2021-05-05 03:56] masojus opened #1147 "Connection Request Message fails due to unexpected decorator"
When creating a connection between an edge agent running Aries Framework .NET and a connection inviter running ACA-py, if the AF.net agent sends the connection request message with a decorator that ACA-py doesn't expect, we see a failure in completing the connection.

Omitting the decorator allows for the connection flow to proceed.

My understanding is that per the RFCs, decorators that are not u

[2021-05-05 04:06] masojus commented on #1147
Specifically, the shape of the decorator [here](https://github.com/hyperledger/aries-cloudagent-python/blob/main/aries_cloudagent/messaging/decorators/base.py#L96) seems to be a list of dicts, whereas `BaseDecoratorSet` expects one of `(bool, int, str, float, dict, OrderedDict, BaseModel)`.

[2021-05-05 04:10] swcurran commented on #1147
@sklump can you please take a look at this one?

[2021-05-05 07:43] JamesKEbert commented on #950
It's worth mentioning that @TelegramSam and I have had some discussions as to how to potentially approach push notifications. We had been looking at utilizing Firebase as a mechanism for enabling push notifications. This would give us the capability of allowing push notifications to be an option for public mediators/open source mediators (such as Indicio's public mediator). So essentially enabling

[2021-05-05 07:49] TimoGlastra commented on #950
We should have a call about this. We're currently working on a plugin for ACA-Py to do this but need to use Azure Notification Hub. Maybe we can come up with a general ACA-Py plugin that could be used independent of the notification service being used

[2021-05-05 10:35] masojus commented on #950
Please include me in that call. Thanks.

[2021-05-05 11:22] yunxi-zhang commented on #1034
Hey @docmanni, maybe I didn't make it clear in my ticket. What I mean is if I check the "openapi.json" in the path: aries-cloudagent-python/open-api/openapi.json, I can't see multi-tenancy-related API info defined inside it.

[2021-05-05 11:28] genaris commented on #950
I'm also interested! Actually I think it is something that needs to be part of an Aries RFC in the mid-term, as it will become more and more needed as new projects involving mobile agents are in development.

[2021-05-05 12:46] TimoGlastra opened #1149 "pydid 0.2.5 broke unit tests"
Seems like pydid 0.2.5 was released yesterday and now the unit tests are broken. My local tests still pass with 0.2.4

[2021-05-05 12:46] TimoGlastra commented on #1149
@dbluhm

[2021-05-05 12:56] TimoGlastra commented on #1034
@yunxi-zhang This PR should fix your issue: https://github.com/hyperledger/aries-cloudagent-python/pull/1150

[2021-05-05 13:33] dbluhm commented on #1149
Shoot that's me lol. On it.

[2021-05-05 13:46] #1149 closed

[2021-05-05 14:02] Marco77577 opened #1152 "403 No Ledger Available"
I am running a VON network and a single agent in Docker containers. The agent is started with the parameter `--genesis-url http://my-von.network:9000/genesis`.
The genesis file can be accessed via the browser, so the connection should work.

When I'm trying to access the ledger (e.g., create a schema or read a DID/VerKey from the ledger), a `403 No ledger available` is returned.

I googled a lot t

[2021-05-05 14:14] mat-work commented on #950
Good initiative.

Please take into consideration that the device information, like push token, can change over time for some different reasons (e.g.: App update, re-installation, app restore, etc.) therefore it would be useful if the endpoint also supports modification/update of existing mobile information.
Not 100% sure, but I believe that the .Net framework does not support updating the record.

[2021-05-06 12:40] yunxi-zhang opened #1157 "State information for One-time connection establishment by using the out-of-band protocol is different between an agent sender and an agent receiver"
I have 2 ACA-Py agents, each runs in its own VM with multi-tenancy feature enabled. I've created 2 sub wallets in each agent. When trying to set up the agent-level connection between agent1's sub wallet 1 (as a sender) to  in agent2's sub wallet 1 (as a receiver) and sub wallet 2 (also as a second receiver), I created a connection invite in agent1 and consumed by  agent2's sub wallet 1, which work

[2021-05-06 12:58] yunxi-zhang opened #1158 "Cannot publish a schema in an issuer agent when turning on the multi-tenancy mode"
I have an agent to run as issuers by turning on the multi-tenancy mode. At the agent level, i've registered a public DID and I can see this public DID information shown in the agent log when it runs.

![image](https://user-images.githubusercontent.com/16185797/117301516-9ee14400-ae72-11eb-9066-73600cf6a9cb.png)

I then create 2 sub wallets in this issuer agent. When I use sub wallet 1 to publish a

[2021-05-06 16:06] esune commented on #1158
You will need to first create a did using `/wallet/did/create` and publish it using `/wallet/did/public?did={myPublicDID}`.

Also be aware that you will need to register the new DID on the ledger as you normally would do for any other agent before it can perform writes.

An example of an issuer agency (focused on issuing to Aries VCR) is [here](https://github.com/bcgov/aries-vcr-issuer-agency) (st

[2021-05-06 16:09] esune commented on #1157
Did you turn on the `multi-use` flag when generating the OOB connection request? If not, the first agent receiving the invitation will be the only agent who can use it.

[2021-05-06 16:11] esune commented on #1146
This could be closed as #1153 was merged - unless we need to do further tweaking @ianco

[2021-05-06 16:17] esune commented on #1152
First thing to try would be resolving that genesis URL from within you agent container to make sure it is actually addressable.
If you are starting the agent separately from `von-network` chances are that your docker networking is not letting the containers talk to each other.

If however addressing the genesis URL from within the agent continer works fine, please post the commands you use to spin

[2021-05-06 21:54] esune commented on #1146
It actually looks like there still is something lingering: it is now possible to complete the sequence of API calls correctly on the `author` side, however on the `endorser` side the following error will be thrown when the author calls `/transactions​/{conn_id}​/set-endorser-info`:
[code]

This does not appear to be causing issues - the endorser is able to carry on, set its own role in the connect

[2021-05-06 22:00] esune opened #1159 "Return id of the new ledger object on endorsed transaction write"
When a transaction `author` writes a correctly-endorsed transaction on the ledger, the response returned when calling `/transactions/{tran_id}/write` does not contain the `id` of the object that was just written (e.g.: schema definition, credential definition).

It would be nice to be able to obtain the id of the new object (corresponding to the indy `txnId`) in the result of the `write`, rather t

[2021-05-07 09:42] yunxi-zhang commented on #1157
Hello @esune, what is this "multi-use" flag? Is this a flag used when running an ACA-Py agent or when calling the API: `connections/create-invitation `? Any docs I can find for details?

[2021-05-07 14:40] yunxi-zhang commented on #1158
Hello @esune, i've done the below steps
1. create a local did by using api: `/wallet/did/create`
2. register this did on the von network browser to write this did to the ledger, see below picture
![image](https://user-images.githubusercontent.com/16185797/117466135-49786600-af4a-11eb-9de4-c1ecda1cfbe8.png)
3. call publish did api: `/wallet/did/public?did=B6MJpTFHWTSoNThFp6w8Pc`, and i've got below

[2021-05-07 15:17] esune commented on #1157
If you want to use the same invitation on more than one agent (if I understood correctly what you're doing) you need to add `multi_use=true` as query parameter when generating the connection invitation.
![image](https://user-images.githubusercontent.com/2395873/117471272-89b8f380-af0c-11eb-80d5-af747e4e1c21.png)

[2021-05-07 15:31] esune commented on #1158
I will try and reproduce the issue and get back to you

[2021-05-07 15:35] yunxi-zhang commented on #1157
Thanks for the info @esune.

Let's say we have agent 1 as invitation sender, agent 2 and agent 3 as invitation receiver. To establish a connection for below
1. Agent 1 - Agent 2
2. Agent 1 - Agent 3

I can either create an connection invitation in Agent 1 and reuse it for agents 2 and 3, or create 2 separate connection invitations, one for agent 2 and the other for agent 3.

In theory and in pract

[2021-05-09 15:14] HarshMultani-AyanWorks commented on #1146
Hi @esune,

When we set the endorser-info we attach the public did of the endorser to that particular connection metadata.
So, I was thinking that when the author's agent is setting up this endorser-info, it should know that the did that he/she is setting is of the agent who has a role of TRANSACTION_ENDORSER for this particular transaction / connection record. Therefore, I am thinking that this c

[2021-05-09 15:33] HarshMultani-AyanWorks commented on #1146
Hi @esune,

As of what I know, nothing goes on the endorser's side when the author sets the endorser-info as there is no outbound call.
Can you  tell the steps you carried out which led to this error?

[2021-05-09 19:21] swcurran commented on #1108
The decision made by the community is to send everything as base64url, but when decoding, accept either base64 or base64url, so if we are still receiving base64, everything still works. Note that we already (should be) decoding base64 with or without padding.

Here is a stackexchange on base64url decoding: https://unix.stackexchange.com/questions/628842/decode-encode-base64url-with-common-unix-too

[2021-05-09 19:23] swcurran commented on #538
Closing -- please reopen if necessary.

[2021-05-09 19:23] #538 closed

[2021-05-09 19:24] swcurran commented on #583
Closing this -- reopen if needed.

[2021-05-09 19:24] #583 closed

[2021-05-09 19:25] swcurran commented on #575
Closing issue - please reopen if necessary.

[2021-05-09 19:25] #575 closed

[2021-05-09 19:26] swcurran commented on #578
@esune -- is this still relevant?  Priority?

[2021-05-09 19:27] swcurran commented on #642
@ianco - status of this?

[2021-05-09 19:27] #642 closed

[2021-05-09 19:27] #665 closed

[2021-05-09 19:28] swcurran commented on #1152
Closing -- please open if appropriate.

[2021-05-09 19:28] #1152 closed

[2021-05-09 19:30] swcurran commented on #1147
@shaangill025 -- over to you on this one, since you looking.  ACA-Py should ignore unrecognized data items in messages -- even it they are decorators.

Thanks

[2021-05-09 19:43] swcurran commented on #1157
It depends whether you want to create a new invitation for establishing each connection.  For example, if you create a QR code for the invitation, and you post it on twitter, then you want to use a multi-use invitation, so many people can use it.  If you have a web-session with a single user, or perhaps you email the invitation to each individual contact, then you probably want to use a single-use

[2021-05-09 19:46] #1157 closed

[2021-05-09 19:48] swcurran commented on #1144
Sounds good -- @shaangill025 can you add this to your list.  Perhaps check with @TimoGlastra if necessary.

[2021-05-09 19:55] swcurran commented on #1137
@domwoe while that works, sounds like the `create-request` approach should work.  Do you agree?  Or are we good with what you found did work?

I'm kind of with your initial comment -- that if you know a public DID with a DIDComm service block, you should be able to use it without having to use the OOB protocol.  However, not sure what complexities that might create within ACA-Py.

[2021-05-09 19:57] swcurran commented on #1106
@shaangill025 -- can you take this?

Must make sure that on receipt, ACA-Py handles both forms, so existing connections still work.  I would think we would want to handle this by using the "AIP 2.0" config flag to use the new DID Key references, and when not active, continue to send what is being sent today.

Does that make sense?

@andrewwhitehead -- thoughts?

[2021-05-09 20:02] swcurran commented on #1104
@shaangill025 - another one for you.

Likely needs handling similiar to #1106?

[2021-05-09 20:03] swcurran commented on #1078
@etschelp -- is this issue resolved with #1080?

[2021-05-10 03:11] andrewwhitehead commented on #1106
This needs to be looked at as part of the new peer DID document handling. We simply need to construct the document according to one of the peer DID methods (probably method 1) prior to sending a did-exchange request or response, and be able to receive and handle DID documents in this format. The connections protocol will keep using the old DID document format. The new [pydid](https://pypi.org/proj

[2021-05-10 07:29] TimoGlastra commented on #1144
After a bit more investigation it seems like it doesn't matter to ACA-Py what endpoint is used. It checks whether it has a supported transport and otherwise puts it in the "waiting for pickup" bucket.
So could be empty string, `didcomm:transport/queue` or any other string

[2021-05-10 07:29] #1144 closed

[2021-05-10 08:10] etschelp commented on #1078
Yes that one is fixed, so I will close the ticket. As discussed in the [channel](https://chat.hyperledger.org/channel/aries-cloudagent-python?msg=jJEW6niX454TKMbcA) there are some open issues with missing type information, but there is no easy way fixing them at the moment.

[2021-05-10 08:10] #1078 closed

[2021-05-10 09:30] yunxi-zhang commented on #1157
Thanks @swcurran.

So, in terms of the connection establishment effect (i.e. agents can communicate, once the invitation from the sender agent has been successfully consumed by the receiver agent), there is no differences between the single-use and multi-use invitation, isn't it?

You mentioned single-use invitation is a plain-text message, does it mean multi-use invitations are not plain-text mes

[2021-05-10 12:45] domwoe commented on #1137
@swcurran Yes, I agree. I don't know the use cases for the `create-request` and `receive-request` routes, but a `create and send request` api would make sense. We could either extend the `create-request` route or add an additional route.

From an implementation point of view I think there should be an additional condition in `BaseConnectionManager.fetch_connection_targets` that catches the case wh

[2021-05-10 13:37] sklump commented on #1147
@masojus
Could you include the connection request message that fails here? Thanks.

[2021-05-10 14:25] swcurran commented on #1137
@shaangill025 -- please add to your list.  Thanks!

[2021-05-10 14:27] swcurran commented on #1157
Both single- and multi-use invitations are plaintext messages.

[2021-05-10 16:05] ianco commented on #1158
Hi @yunxi-zhang it sounds like your issues are with von-network rather than aries-cloudagent.

Can you try:  shut down all your docker containers (`./manage rm` in all shells) and then just start your von-network (`./manage start --logs`).  Try creating a DID from a seed (you just need a 32 character seed) and confirm whether that works.  If not can you post the full set of logs from von-network,

[2021-05-10 16:15] esune commented on #1158
@yunxi-zhang I have not had a chance to troubleshoot too in depth, and was unable to replicate the issue s far.

I think @ianco is right and you might have an issue with your `von-network` and having the nodes reach consensus maybe? Would you mind trying what he recommends and reporting back?

[2021-05-10 16:20] esune commented on #578
@shaangill025 fixed this a couple of months back, we can close it!

[2021-05-10 16:20] #578 closed

[2021-05-10 16:27] esune commented on #1146
Hi @HarshMultani-AyanWorks ,

the issue here (fixed by #1153 ) was that the `TRANSACTION_AUTHOR` would not be able to successfully call `/transactions​/{conn_id}​/set-endorser-info` unless the `TRANSACTION_ENDORSER` had already set the metadata on their end. This step is going to be asynchronous in most scenarios where the author/endorser setup is automated (see https://github.com/bcgov/aries-vcr-

[2021-05-10 16:31] RomainMercier1975 opened #1163 "Error 400: Presentation exchange xxx in request_sent state (must be presentation_received)"
Hello,
when I try to verifiy a proof, I have this message (400: Presentation exchange xxx in request_sent state (must be presentation_received))
It seems that when verifier get All Proof Requests, my request is not good. Maybe a step is missing.

-------------------------------------------------------------
1 : When I send this proof request (without predicates) :
---------------------------------

[2021-05-10 16:32] esune commented on #1146
1. Stand up an agent as `endorer` and one as `author`. I am using multitenancy for the author, but I don;t think this would make a difference (it shouldn't)
2. Create a connection/OOB invitation on the `endorer` side, and accept it on the `author`
3. Call `/transactions/{conn_id}/set-endorser-role` on the `author`
4. Call `​/transactions​/{conn_id}​/set-endorser-info`

At this point you should see

[2021-05-11 17:06] RomainMercier1975 commented on #1163
It dosen't work, it's the same.

When I "Get All Proof Requests for a Wallet, my result is in state "request_received" instead of being in "presentation_sent"
After when "Verifier Get All Proof Requests" my state is "request_sent" instead of being "presentation_received"...

It's what I can see after more analysis.

[2021-05-11 17:38] sklump commented on #1163
Also, a proof request cannot use an attribute in the requested predicates that it asks to reveal in the requested attributes.

[2021-05-11 18:06] sklump commented on #1163
I can't reproduce it, unless I repeat an attribute in requested_attribute and requested_predicates

[2021-05-11 18:27] sklump commented on #1163
![1163 1](https://user-images.githubusercontent.com/9336556/117866268-f01f7800-b264-11eb-95a5-abd3a4435c55.png)

produces

![1163 2](https://user-images.githubusercontent.com/9336556/117866291-f6adef80-b264-11eb-95e3-7daa57734e93.png)

[2021-05-11 18:45] sklump commented on #1163
my first guess is that doc_id ought not be in the restriction for lastname

[2021-05-11 20:49] yunxi-zhang commented on #1158
@ianco , thanks for the guidance, publishing a DID for a wallet works this time. The only difference I've done this time compared to what I did previously is I put a 32 characters (issuer00000000000000000000000000) for seed when using "registering from seed", whilst previously I only put 6 characters (issuer). Not sure if this difference caused the issue.

[2021-05-11 20:58] esune commented on #1158
Yes, the seed must be a 32 character string. I am surprised a more explicit message was not raised - it's great that you managed to sort it out!

[2021-05-12 07:56] mkempa opened #1165 "Mediator for the whole multitenant agent - get default-mediator-id Unauthorized"
Hi,

I have a mediator for the whole multitenant agent, in which there are no subwallets yet.
The first start of the multitenant agent with --mediator-invitation was successful and mediation was granted.
Subsequent starts of the multitenant agent require the --default-mediator-id parameter.

However, GET **{mutlitenantAdminAPI}/mediation/requests** returns 401: Unauthorized, therefore I am unable

[2021-05-12 09:11] TimoGlastra commented on #1165
Hmm interesting. The admin API is blocking most api calls for the base wallet in multi-tenancy. Maybe we should make an exception for this specific endpoint?

[2021-05-12 09:32] yunxi-zhang commented on #1158
@esune , wonder if it's worthing adding some logics in von-network when users not giving 32 character strings. Because when the multi-tenancy mode is not enabled, I always give less than 32 characters, and it always works.

[2021-05-12 10:04] mkempa commented on #1165
I found a workaround. To be clear, I have persisted wallets in postgres (for both mediator agent and edge agent).

1. Start mediator (with --open-mediation)
2. Start edge agent without --multitenant and --multitenant-admin params. It is now possible to include the --mediator-invitation param to automate the connection and mediation, or connect the agents manually via the REST calls.
3. GET {edgeAg

[2021-05-12 12:04] sklump opened #1166 "hunt and kill annoying marshmallow warning"
[code]
I've tried to find this and fix it, but so far it is elusive. This ticket is fair warning: it's mine

[2021-05-12 12:20] sklump commented on #1163
Here's the input you want:
[code]
To restrict an attribute to a value, request its revelation subject to its value restriction.

Also, note that the proof request always has to have at least one restriction per requested attribute/predicate, or else the holder will self-assert the value - which complies with that proof request. That's what appeared to happen in your case - since the dose predicate

[2021-05-12 12:28] sklump commented on #1163
If an attribute restriction requires a value for a different attribute, the prover can create the proof but indy rejects it on at the verifier. Note that value restriction was a late bolt-on well into the dereliction stage of indy development.

[2021-05-12 14:48] wip-abramson opened #1167 "Minor Bug: Issuer Send Credential comment argument gets overwritten."
Even though the API allows an issuer to define a comment, it never get's received by the Holder if using the send credential function.

I believe it is this line that overwrites it - https://github.com/hyperledger/aries-cloudagent-python/blob/6292b5913605ff3cfe245093b7ce68b705e9b262/aries_cloudagent/protocols/issue_credential/v1_0/manager.py#L113

The comment that I input seems to get set on the C

[2021-05-12 14:51] swcurran commented on #1167
@sklump -- I think this one is for you?

[2021-05-12 15:23] sklump commented on #1167
I'll prioritize it accordingly

[2021-05-12 16:04] esune commented on #1158
I do not think this is a multi-tenancy related setting, it should always be a 32-character seed (see screenshot from running von-network instance). I am actually surprised you can register seeds that are less than 32 characters.
![image](https://user-images.githubusercontent.com/2395873/118007371-f06d5100-b300-11eb-9d9a-70cb83bc5347.png)

[2021-05-12 16:09] swcurran commented on #1158
I suspect that some methods of adding a seed do padding of the seed if you don't provide the 32 characters.  It's not very safe, as you don't really control what they do to pad the seed -- do they add spaces? Zeroes? Ones? Much better to do it yourself, but for PoCs that are using the same method every time it's OK.

For production uses, you should not use these techniques, but only something loca

[2021-05-12 19:36] #1166 closed

[2021-05-12 21:01] HarshMultani-AyanWorks commented on #1146
I checked this. I am not using multitenancy and followed the same steps, and nothing came on the endorser side for me.

[2021-05-12 21:02] HarshMultani-AyanWorks commented on #1146
Understood

[2021-05-13 09:28] yunxi-zhang opened #1170 "No match between credential proposal Records and credential sent records in an issuer agent"
In an issuer agent, when calling this api: `issue-credential-2.0/records`, i'm able to see JSON records related to record 1 - credential proposal sent from a holder with a "status" field showing "proposal-received" and record 2 - "offer-sent" indicating an new credential is issued and sent to the holder. My question is which field in both JSON records can tell the two records map to each other, if

[2021-05-13 11:38] sklump commented on #1170
This set up is labouring under a few misunderstandings.

1: An offer is not a credential. An offer is an abstract demonstrating that the issuer controls the credential definition.

2: Each credential exchange record is a record of a distinct credential exchange, by definition. An issuer can counter a proposal in the same exchange with the counter-preview in a bound offer:

![counter](https://user-

[2021-05-13 14:03] yunxi-zhang commented on #1170
@sklump , you are right, I misunderstood it, it's a different api for issuing a credential, but this problem still exists. Let me give a process related to credential request, issuance I want to use in my case. I have an issuer agent and a holder agent.
**Step 1**: The holder sends a credential proposal to the issuer. In practice, holder calls this api: `issue-credential-2.0/send-proposal`.
**Step

[2021-05-13 14:26] yunxi-zhang opened #1172 "Error when a holder agent tries to send a proof of presentation."
I have three agents and created 1 sub wallet in each by turning on multi-tenancy mode. The relationship is shown below:

- Authority Agent
   **AAWallet 1** (connection ID: **cdda072b-eee6-4c0c-a1b5-9f3eef488bb8**, connect to HAWallet1)

- Holder Agent
  **HAWallet 1** (Connection ID: **218bd964-e172-4935-bb78-d8d14a29aed1**, connect to AAWallet1; Connection ID: **b611c1b0-c707-46dc-8488-9488562f8

[2021-05-13 16:36] yunxi-zhang opened #1173 "Shut down ACA-Py agent and rerun it will cause revocation error"
I use ACA-Py agents to connect to my PostgreSQL DB as the wallet storage, use von-network as the dev DLT and indy-tails-server as the dev tails server.

After creating credential schema and definition with the revocation flag is on, when the holder agent calls api:  /present-proof/records/{prex-ex-id}/send-presentation, it shows an error in my previous ticket: #1172 . However, after I shut down th

[2021-05-13 19:22] shaangill025 commented on #1137
@domwoe Will this work for your use case?
https://github.com/hyperledger/aries-cloudagent-python/pull/1174

[2021-05-13 21:56] swcurran commented on #1167
Closing with #1171 -- please reopen as needed.

[2021-05-13 21:56] #1167 closed

[2021-05-14 01:43] esune commented on #1146
I will check again whn I have a minute, it might be something that got cleaned up by a new commit maybe? It wasn't a breaking issue anyway, mostly trying to get rid of log noise (e.g.: stack traces even when the agent is actually working fine).

[2021-05-14 04:44] DaevMithran opened #1177 "500 Internal server error while receiving an OOB invitation which includes attachments"
The **out-of-band/receive-invitation** protocol is throwing an _500 internal server error_, while receiving an OOB invitation including attachments.

Credential Offer attachment

1. Created a credential offer using **POST issue-credential/create** protocol
2. Included the cred_ex_id of the credential offer in **out-of-band/create-invitation**
[code]
      {
        "@type": "did:sov:BzCbsNYhMrjHiq

[2021-05-14 13:29] sklump commented on #1170
In your step 2, you are sending a free offer. To bind an offer to an existing credential exchange, the issuer should send a bound offer; i.e., `/issue-credential-2.0/records/{cred_ex_id}/send-offer`.
By sending a free offer, the issuer chooses create a new exchange not bound to an existing one. The fact that the preview in the free offer exactly matches an existing one does not change the fact tha

[2021-05-14 14:46] swcurran commented on #1177
@shaangill025 , can you please take a look at this?

[2021-05-14 15:12] swcurran commented on #1177
Per comment on Rocketchat -- closing this issue.  @shaangill025 -- nevermind :-)

[2021-05-14 15:12] #1177 closed

[2021-05-14 15:17] yunxi-zhang commented on #1170
Thanks for helping me find this missing puzzle, @sklump, it resolves my query now.

[2021-05-14 15:17] #1170 closed

[2021-05-14 15:30] yunxi-zhang commented on #1172
Close this ticket, it works for another try.

[2021-05-16 17:35] swcurran commented on #1173
@ianco -- can you please take a look at this one?  It seems pretty odd.  The tails server is pretty simple, and there is not a lot that could go wrong.  It seems to be mulit-tenant mode, so perhaps something there, but it would be surprising.

@yunxi-zhang if there is any more information you can provide -- notably what CLI commands you ran in the sequence.

[2021-05-17 13:47] yunxi-zhang commented on #1172
Go through the process again, and have the same error, very strange

[2021-05-17 13:55] yunxi-zhang commented on #1173
@swcurran, the sequence of CLI commands i've used are shown below:
1. run von-network by killing any existing containers by running `./manage rm`, and then run `./manage up`.
2. run tails file server by killing any existing containers by running `./manage rm`, and then run `./manage up`.
3. Run 3 ACA-Py agent v0.6.0, and each will connect to one of my AWS PostgreSQLs. Below shows the issuer agent

[2021-05-17 13:58] yunxi-zhang commented on #1172
mistake

[2021-05-17 13:58] #1172 closed

[2021-05-17 16:14] yunxi-zhang opened #1181 "No ability to show a claim presentation request specifying an attribute has a particular string value"
When a verifier sends a presentation claim request to a credential holder, how can we specify a request that we want to see a claim that has an attribute with a string value?

As per the current design for this API: `/present-proof/send-request` in the openAPI file, the "requested_predicates" should be the right place to specify this constraint. However, when looking at the data type in the "p_val

[2021-05-17 16:20] ianco commented on #1173
Hi @yunxi-zhang can you post your aca-py startup command as text rather than as an image?  I will try to reproduce your error on my local ...

[2021-05-17 16:23] ianco commented on #1181
Hi @yunxi-zhang , you specify the constraints for revealed attributes in the "restrictions".  The predicates are non-revealed attributes, and the values need to be numbers, or encoded as numbers (this is due to the crypto math that is used for the proof).

[2021-05-17 16:26] yunxi-zhang commented on #1173
[acapy cmd.txt](https://github.com/hyperledger/aries-cloudagent-python/files/6495333/acapy.cmd.txt)
Whenever copying and pasting my command here, it becomes an image. @ianco , please download the file attached here, i've put command in it.

[2021-05-17 16:27] RomainMercier1975 commented on #1163
When I try this request it works...
[code]
But I've the same result when I ask dose>13 and dose<13, as if my predicate wasn't consider.

[2021-05-17 16:31] yunxi-zhang commented on #1181
Thanks @ianco,  I've checked the sample JSON in the OpenAPI, all the examples used in the restrictions are around schema, definition.
![image](https://user-images.githubusercontent.com/16185797/118524086-b0a9cd80-b735-11eb-80e6-63e4133426ae.png)

To check with you, if i have a credential that has key/value pairs like below
[code]

and i want to specify a claim request that includes a "name"  attri

[2021-05-17 17:10] #1137 closed

[2021-05-17 17:38] ianco commented on #1173
Hi @yunxi-zhang , I haven't been able to duplicate your error, and I don't see anywhere in the aca-py code that could be causing this problem.  I suspect it may be due to the ngrok endpoint - if you are using the "free" ngrok then these endpoints will timeout after awhile, or will start returning connection errors if you make too many requests.

Try manually downloading the tails file, using curl.

[2021-05-17 17:48] ianco commented on #1181
Hi @yunxi-zhang , to use tags in the restrictions you can use one of the following:

`"restrictions": [ { "attr::name::value": "peter" } ]`

or:

`"restrictions": [ { "attr::name::marker": "1" } ]`

The first example checks for attribute "name" with value "peter", the second checks that an attribute "name" exists (regardless of the value).

Restrictions can be AND'ed together, something like:

`"r

[2021-05-17 18:35] swcurran commented on #1163
What is the data in the verifiable credential that you are verifying.  Notably, is "dose" an integer or a string?  For predicates to work, the value must be an integer.

That will adjust whether it will work in general. However, the fact that the predicate works for "<" and ">" is very weird.

Note that these things are all part of the Indy SDK and Indy AnonCreds functionality, not ACA-Py.  ACA-Py

[2021-05-17 20:11] ianco commented on #1163
You *can* put this into a predicate restriction, however you *also* have to put the "doc_id" into a revealed attribute (so the proof verification can verify the restriction).  (Note this is with indy sdk 1.16.0 and above)

[2021-05-17 20:41] ianco commented on #1163
I should clarify, indy-sdk (1.16.0) will accept this but aca-py won't, due to some aggressive validations that aca-py does when it receives a presentation.  I'll open a separate ticket with the details.

[2021-05-17 21:39] ianco commented on #1181
OK upon some testing with aca-py and the alice/faber demo, I've determined that even though indy-sdk (1.16.0) supports attribute restrictions on predicates, aca-py itself doesn't as it adds an extra layer of validations on received proofs which doesn't support the "attr::name::value" restrictions.

I updated the alice/faber demo to demonstrate this feature, you can see the changes here:  https://g

[2021-05-18 09:45] yunxi-zhang commented on #1181
Thanks @ianco, as per what you said, acapy currently still doesn't support "attr::name:value" restrictions, does it? Do we know if this is a bug or feature that will be fixed soon? Using the demo doesn't fit my case, because I'm designing the tech design by using ACA-Py, so have to figure out its capability in this area.

[2021-05-18 13:05] sklump commented on #1181
AFAIK
1: aca-py supports `attr::name::value::` (count colons carefully) attribute restrictions.
2: Integer values are not really integers - they are numeric strings. Comparison is OK with integer (actually integer) threshold values as long as everything is int32.
3: correct.

[2021-05-18 13:41] sklump commented on #1181
Well if indy 1.16.x supports attribute value specifications in predicate restrictions, that does change some logic.

[2021-05-18 15:53] yunxi-zhang commented on #1181
@sklump , thanks for letting me know attribute restrictions is available. I've tested it, and it works.

I may not fully understand the difference between "attributes" and "predicates" in the claim exchange. Where can I find any docs explaining when I should used them appropriately?

[2021-05-18 15:57] yunxi-zhang commented on #1173
Hello @ianco, thanks for your help. I'm not fully understand when you mention "free" ngrok. The ngrok url is auto generated when running the tail server. How can I use a "non-free" ngrok in this case?

[2021-05-18 15:58] swcurran commented on #1173
By "free" Ian means not paying for an account on the ngrok service.  Non-free means you pay for the service and get a more capable service.

[2021-05-18 16:04] yunxi-zhang commented on #1173
Thanks for your response @swcurran. I think my next question is if I use a non-free ngrok, how does it link to the ngrok url auto generated in the tails server? Will I expect to configure the ngrok url in my ngrok account to make it stable?

[2021-05-18 17:43] GuilhermeMenezes commented on #1181
Hello,
I hope I find you well,

@yunxi-zhang, can you give me an example of how you put it to work with the attribute restrictions?
I'm having some Indy AnocredsProofRejected errors...

Thanks in advanced.

[2021-05-18 17:48] swcurran commented on #1181
"attributes" are for the verifier to ask to see the actual value of a claim.  "predicates" are for the verifier to ask to see the result of an expression about a claim.  So if Date of Birth is stored as a number, the verifier can ask to see the date of birth (attribute) or can see if the DoB is less than 19 years ago today (predicate -- asking if the person is older than 19).

[2021-05-19 09:36] RomainMercier1975 commented on #1163
Hello, i've some news :
This is the verifier request to get a proof.

[code]
As a prover, I try to send a proof to the verifier with the request "/present-proof/records"

- When the predicate is verified, the state of my request become "presentation_sent", and the verifier get the proof and the state is "presentation_received".
At the end, the verifier can validate the proof with the request "/pre

[2021-05-19 09:47] yunxi-zhang commented on #1181
Thanks for your explanation @swcurran, this makes sense.

[2021-05-19 09:54] yunxi-zhang commented on #1181
Sure @GuilhermeMenezes, happy to give you an example of how I tested it.

In my case, I have created a credential schema with below dummy attributes:
{"date", "score", "issuedTo"}

Then issued a credential with dummy values:
{
"date": "18 May",
"score": 80,
"issuedTo": "MyCompany"
}

When a verifier calls the API: `/present-proof/send-request `, in the "request_attributes" block, I've put below in

[2021-05-19 10:09] yunxi-zhang opened #1184 "Issuer can't overwrite values in a credential proposal when sending credential offer and issuing credential based on a credential proposal"
My issuer creates a credential schema that has below dummy attributes:
{"name", "badge", "date"}

A requester sends a credential proposal with below values to the issuer by calling this api: `/issue-credential-2.0/send-proposal`
[code]

When the issuer decides to add value to the "badge" attribute by calling its bond sending offer api: `issue-credential-2.0/records/{cred_ex_id}/send-offer`, which

[2021-05-19 11:58] GuilhermeMenezes commented on #1181
Yes, it does @yunxi-zhang, thank you very much!

Best regards.

[2021-05-19 13:49] ianco commented on #1163
Hi @RomainMercier1975 , I'm not sure if you're calling the correct endpoints to send the presentation to the verifier.

There is some documentation here (relating to the demo, but it lists all the relevant api's):  https://github.com/hyperledger/aries-cloudagent-python/blob/main/demo/AriesOpenAPIDemo.md#requestingpresenting-a-proof

Basically:

- The verifier sends a proof using `POST /present-pro

[2021-05-20 14:13] shaangill025 commented on #1138
This is what is happening, services accept a `DID` that is resolved to retrieve it's DIDDoc service block or a `DIDComm Service` object.
https://github.com/hyperledger/aries-cloudagent-python/blob/a322a8650a94b0488bd288a14fc59a2792f90fd3/aries_cloudagent/protocols/out_of_band/v1_0/messages/invitation.py#L135

[2021-05-20 14:27] #1138 closed

[2021-05-20 16:03] ianco opened #1187 "JSON-LD Credential Doesn't Validate Credential Attributes are Valid"
When submitting a JSON-LD credential, the `@context` defines the set of acceptable attributes for the credential, however this is not validated and any attribute can be provided.

For example in the following, `givenName`, `familyName` and `alumniOf` are defined by `https://schema.org` however `undefinedAttribute` is not defined anywhere.  This credential can be successfully submitted, should this

[2021-05-20 16:06] ianco commented on #1187
Likewise, this example also works:

[code]

[2021-05-20 16:07] TimoGlastra commented on #1187
This should throw an error

https://github.com/hyperledger/aries-cloudagent-python/blob/main/JsonLdCredentials.md#json-ld-context

[2021-05-20 16:08] TimoGlastra commented on #1187
What API endpoint are you calling?

[2021-05-20 16:09] ianco commented on #1187
`http://localhost:8021/issue-credential-2.0/send-offer`

[2021-05-20 16:12] TimoGlastra commented on #1187
For clarification, is the credential already issued in this case? I think it only checks at issuance, but would be good to also check when the API call is made

[2021-05-20 16:13] ianco commented on #1187
Yes in each case the credential was issued successfully

[2021-05-20 16:15] TimoGlastra commented on #1187
Ah I was just wondering about that. I ran into the same issue last week. Are you going to merge the changes upstream?

[2021-05-20 16:19] ianco commented on #1187
Yes I'm working on my own fork right now I'll open a PR later today.

[2021-05-20 16:27] TimoGlastra commented on #1187
TLDR: don't use `http://schema.org` directly as context.

---

Ok did a quick investigation. This is "working as expected".

the context from `schema.org` defines an `@vocab` which sets a default for all properties to extend from.

So the property `jakshdkjahsdkasdkahksdhakjshkajhd` actually becomes `http://schema.org/jakshdkjahsdkasdkahksdhakjshkajhd`.

Most json-ld contexts/vocabularies only use

[2021-05-20 16:29] TimoGlastra commented on #1187
If I run the checker in ACA-Py without schema.org it reports it's missing the student property: `['credentialSubject.student']`

[2021-05-20 16:34] ianco commented on #1187
Interesting thanks for the info @TimoGlastra , I wonder if we should explicitely block this?

Currently we *can* use `https://schema.org` in the context, but then we lose the attribute validation.

[2021-05-20 16:44] andrewwhitehead commented on #1187
I think it makes sense to block it. If schema.org had a versioned global context then it might make sense to allow that, but the wildcard resolution is a problem. Wonder if `@vocab` can be banned in general?

[2021-05-20 16:54] domwoe commented on #1104
This bugs me as well.
I'm trying to create a DID Exchange request with my public DID to establish a connection between to public DIDs.
According to to RFC 0023 I just include my public DID in the request and do not attach a DIDdoc.

On the recipient side I use the resolver interface to get the DID doc which is a pyDID DID Document. This is currently not compatible with the [did doc model] (https:/

[2021-05-20 16:56] ianco commented on #1187
Interestingly the W3C vaccine example fails with similar errors.

[2021-05-20 17:08] domwoe commented on #1104
Also related:  #1050

[2021-05-20 18:37] swcurran opened #1189 "Add support for multiple Indy networks"
There are multiple active Indy networks being used today -- Sovrin, Sovrin Staging, etc.  We will eventually have the "did:indy" method in place to enable resolving DIDs and other ledger objects to the Indy ledger on which they reside. Until then, we need to follow a strategy of having an ACA-Py instance scan multiple ledgers in parallel to find an object, and retain a cached mapping of object IDs

[2021-05-20 19:16] swcurran commented on #1189
@andrewwhitehead -- please note this task.  Would Indy VDR be a help with this?

@dbluhm -- FYI, given the work you did on the ACA-Py resolver.

[2021-05-20 22:56] jcourt562 opened #1191 "wallet_only DIDs should be deletable"
DIDs are created for a number of reasons by ACA-py.  DIDs that are public and on the Ledger naturally are immutable and should not be removable from the ACA-py wallet.   However DIDs that are often created as a part of Invitation processes have a `posture` of `wallet_only` and are of no use if the connection is later deleted.

I propose that `wallet_only` DIDs should support the ability to `Delete

[2021-05-21 07:33] icc-vela opened #1192 "Performance problems with Docker aca-py with thousands of items in the database"
Hi,

We run aca-py using the docker image aries-cloudagent:py36-1.15-0_0.5.2 (no cpu or memory restrictions on Docker) using the Postgresql connector (no SQLite). We use a separate database for each aca-py. We run thousands of aca-py, most of them are for users, and some of them are the credential issuers. The user aca-py are shutdown after X time to avoid memory exhaustion.

We have reached about

[2021-05-21 11:41] sklump opened #1194 "Finish problem report integration in issue-cred, present-proof"
To do: emit problem reports on problems, be vigilant in not trying to set error states on abends producing null exchange records.

[2021-05-21 13:59] c2bo opened #1196 "Remove invalid/corrupted tails files"
When acapy attempts to download a tails file (e.g. for revoking/issuing a credential), it will attempt to download the file from the public URI. If this process fails, (e.g. the tails server is temporarily unavailable and answers with an error code), then acapy will download the file, check for a valid hash (this check fails) and does not remove the tails file if an invalid hash value is detected.

[2021-05-21 14:05] sklump commented on #1196
I can take a look early next week

[2021-05-21 14:11] c2bo commented on #1196
I did some manual tests and think I figured out where the problem is coming from (verified with a bit of manual testing). The biggest question for me would be the desired behavior, especially regarding allowed status codes of the tails server response (should only 200 be allowed or should we check at all - we are checking for hash validity anyway?).

[2021-05-21 15:08] sklump commented on #1184
I can't reproduce it from current main:

Holder proposes:
![1-holder-send-proposal](https://user-images.githubusercontent.com/9336556/119158918-bb5dae80-ba24-11eb-926e-3be18bea54cf.png)

Issuer counters:
![2-issuer-counters-offer](https://user-images.githubusercontent.com/9336556/119158936-c0baf900-ba24-11eb-949c-c5905b42d760.png)

Holder requests, bound on credential exchange:
![3-holder-sends-bo

[2021-05-21 15:45] dattajadhav44 opened #1198 "Error: Connection is not in the request or response state"
I am running the faber-alice-demo while doing that i getting error " Error: Connection is not in the request or response state" in **http://localhost:8021/connections/{conne_id}/accept-request**, till this point i was able to execute all the steps like Create-invite, recieve-invite, accept-invite, but unable to execute this "**accept-request**" step. Can you please help me whats the wrong here.
I

[2021-05-21 16:38] swcurran commented on #1192
Thanks for the details -- good to hear this.  I'm not sure if you can share the test case you are using, but it might allow us to help with the analysis.

@andrewwhitehead has the most information on this and should be the one to reply.

I know that the selects are from the indy-wallet code, and has to do with the very simple data model being used -- basically, just two tables of name/value pairs

[2021-05-24 06:35] icc-vela commented on #1192
Hi Stephen,

The data is production data so I cannot share full details but I can replicate any command/test you need and provide the results in the form of numbers of SQL statements, etc. That is not a problem.

I have ran one of the examples that were causing more problems, connection creation and I have enabled postgres query log
[postgresql-2021-05-24_080439.log](https://github.com/hyperledger

[2021-05-24 09:37] yunxi-zhang commented on #1184
Hello @sklump, thanks for the response. Forgot to mention in my ticket, I enabled the **multi-tenancy** mode when trying this process. I just tried it again with the **multi-tenancy mode on**, and found out the issue might occur when the issuer tries to send a credential offer.

This is the record message when the issuer receives a credential proposal. I can see status is`proposal-received` in **l

[2021-05-24 09:45] yunxi-zhang opened #1201 "Attributes with real values are not shown when verifier fetches present proof records"
When my verifier agent sends a presentation request, I put below information asking for an attribute named "issuedTo" with a value "MyCompany".
![image](https://user-images.githubusercontent.com/16185797/119329007-a7ac8500-bc7c-11eb-88ce-ba681c268a81.png)

When the holder sends a credential claim and the verifier tries to get the claim records by calling the api:`/present-proof/records,` the value

[2021-05-24 13:56] yunxi-zhang commented on #1173
Hello @ianco, could you help answer my question below?

If I use a non-free ngrok, how does it link to the ngrok url auto generated in the tails server? Will I expect to configure the ngrok url in my ngrok account to make it stable?

Thanks!

[2021-05-24 16:35] RomainMercier1975 commented on #1163
I will describe what happen when I do like that :

- Issuer issue credentials to Prover
[code]
(we have "credential_exchange_id": "297ecc1f-f0c9-4218-88c8-843bfc4f765f")

- Prover get the credentials
[code]
- Verifier send a proof request
[code]
(we have "presentation_exchange_id": "0f1454e4-7b5d-43f5-a1c1-5a6212db32d6")

- At this step when Prover play this request as you purpose :
`{{AGENCY_URL}

[2021-05-25 13:23] ianco commented on #1173
Hi @yunxi-zhang , generally you only use ngrok in a development environment (or maybe a test or demo environment) but not production.  In production you would publish any public url's that you need to expose, how you do this would depend on the platform you are running on (AWS, Azure, etc).  We use free ngrok for demo's because that allows you to publish ports that you are running on a local works

[2021-05-25 14:26] swcurran commented on #1173
FYI -- here is the pricing page for ngrok: https://ngrok.com/pricing

Would the limitations of the free plan vs. paid likely to have affected your test?

[2021-05-25 23:01] andrewwhitehead commented on #1192
So I think a large part of the performance issue here is probably coming from the DIDs associated with these connections, and the current overhead of `get_public_did` (which is used in many places in the system). There's more discussion on [this issue](https://github.com/hyperledger/aries-cloudagent-python/issues/753) but it hasn't been resolved yet. I should be able to look at improving that this

[2021-05-26 06:05] icc-vela commented on #1192
Hi Andrew,

Thanks for the feedback. Reading the issue you shared, either fetching all records and scan them in memory or having a single record for the public did should do it. I would like to add that maybe it is not only a performance because of the DIDs, but also because of the number of connections, although in my tests I deleted all the connections by hand in the database and it was still re

[2021-05-26 09:16] baegjae opened #1203 "connection error when using public did invitation"
We used public did invitation well.
But, recent changes occur connection error.

[code]
Above is part of the error log.

I debugged and I found that below line makes error when using public did invitation.
https://github.com/hyperledger/aries-cloudagent-python/blob/3751b61d6774185bec42315ddb084ec44c219fd3/aries_cloudagent/connections/base_manager.py#L290

In here, `connection.invitation_msg_id` an

[2021-05-26 13:44] swcurran commented on #1203
I think this one is for you @shaangill025

[2021-05-26 17:33] ianco opened #1205 "Validation of JSON-LD credentials - should validate on submission"
Current behaviour is - if a json-ld credential is submitted (`/send` or `send-offer`) it will be validated when the credential is issued.

Expected behaviour - the credential contents should be validated when the `/send` or `/send-offer` endpoint is called (as well as when the credential is issued) so that the issuer knows the credential is not valid.  With the existing validation it fails partway

[2021-05-26 17:39] ianco commented on #1201
Plaintext values should be available in the `"requested_proof"` block of the proof exchange object, for example see the `"raw"` values in the example below:

[code]

[2021-05-26 17:43] ianco commented on #1097
Can you provide the command you are running to start the agent locally?

(You are correct that you use your local IP as the agent endpoint.  You can also run von-network to listen on your local IP by providing it as a startup parameter - start von-network with something like `./manage start <your_ip> --logs`.  Or else if you export `LEDGER_URL` as you suggest, that should also work.)

[2021-05-26 17:47] ianco commented on #1094
I just tested this and it looks like it's working.  I suspect it's an issue with ngrok (by default the agent connects to your tails server using the ngrok endpoint.)  Try shutting everything down and (`./manage rm` in your tails server and von-network shells), then restart everything and see if you still get the issue

[2021-05-26 17:48] #1040 closed

[2021-05-26 17:50] ianco opened #1206 "[Endorser protocol] add support for create public DID and create/update revocation registry"
These are use cases that the author agent will need to do and will involve ledger writes, therefore these transactions will need to be supported by the endorser protocol.

[2021-05-26 21:30] #1203 closed

[2021-05-27 03:13] baegjae commented on #1203
It works well now. Thanks!

[2021-05-27 07:30] ducadellaforcoletta commented on #1192
Hi icc-vela, another point of performance improvement found during the investigation of the issue linked by Andrew was at https://github.com/hyperledger/aries-cloudagent-python/blob/278c8ce0e85b403f8dd4cd83fb0bdc81f7e5dd54/aries_cloudagent/protocols/connections/v1_0/manager.py#L781

In that point, in our case, there was a useless search starting from a signkey generated instead of a verkey. A pre

[2021-05-27 07:32] TimoGlastra commented on #1205
I agree!

There are multiple checks performed at different layers. I'll see which checks are done and how easy each of them can be moved to the `send` or `send-offer` endpoints.

For now I can think of the following:
- Attributes dropped
- Valid VC structure (this is already done I believe)
- Valid issuer did (not sure if this is already done)
- Valid Signature Suite (this is already  done I belie

[2021-05-27 09:07] domwoe opened #1208 "Configuration endpoint exposes wallet storage credentials"
Admin server endpoint ` /server/config` exposes `wallet.storage_creds`.

Reason is a typo in line https://github.com/hyperledger/aries-cloudagent-python/blob/52960be1ca87fbb3b48eef9a737e297c8eb5cff9/aries_cloudagent/admin/server.py#L578

should be `wallet.storage_creds`

[2021-05-27 11:15] domwoe commented on #1106
Hey @andrewwhitehead, this does not only relate to peer DID document handling, but also if ACA-Py supports receiving a DIDX Request containing a public DID (see my comment in #1104). This is currently not supported, but is described in the RFC.

Currently, resolution of public DIDs is only handled in invitations using the DID resolver with the following method:
https://github.com/hyperledger/aries

[2021-05-27 12:23] GuilhermeMenezes opened #1211 "DIDs for each connection - Aries Demo"
Hi, I hope I find you well.

I was told that on the Aries demo, a DID is established for each different connection, which means that for testing purposes I can't make Alice have the same DID on different connections, because a different DID is going to be given to her every time...

Is it possible to avoid this situation, or is it possible to make the generated DID for the connection always the sa

[2021-05-27 14:17] #1208 closed

[2021-05-27 17:03] domwoe commented on #1201
If there is no plaintext (I haven't checked myself) I would argue it's by design.

You know the value anyways because you ask the prover to prove `issuedTo == myCompany`. So  if the proof is valid you know that `issuedTo == myCompany` and if it is invalid you should not be able to infer the value of issuedTo, because this would be more information than you have asked for.

[2021-05-28 10:47] sklump commented on #1211
The DID on the left is Faber's public DID, which resides on the ledger. Issuers have public DIDs on the ledger so that holders and verifiers can verify their control of credential definitions, thereby establishing a chain of trust for credentials.

Per-connection (peer) DIDs are private, per-connection use - that's a core feature of self-sovereign identity. Peer DIDs avoid corroboration. If I have

[2021-05-28 11:01] sklump commented on #1201
Ultimately this is indy. Do experiment with the indy-sdk wrapper tests and capture the output of various operations. Navigating these data structures without indy knowledge is navigating by bat sonar.

[2021-05-28 11:16] GuilhermeMenezes commented on #1211
Thanks for the reply! It makes sense. Thanks!

[2021-05-28 11:36] sklump commented on #1198
It looks like you have directed Alice to accept the request, not Faber.

Screen shots follow, note who does what:

![1-faber-creates-invi](https://user-images.githubusercontent.com/9336556/119978166-4ee43180-bf87-11eb-9e11-503c0568fbcc.png)

![2-faber-created-invi](https://user-images.githubusercontent.com/9336556/119978192-5572a900-bf87-11eb-86fb-e7c02dd665f6.png)

![3-alice-receives-invi](https:

[2021-05-28 12:27] sklump commented on #1163
Note that the connection id has to be from the correct side of the relationship: if the prover uses the verifier's, or vice versa, he will get Wallet Item Not Found.

I'm trying to reproduce these results.

[2021-05-28 13:21] sklump commented on #1163
4: Prover sends proof, note form fill:
![4-prover-sends-proof](https://user-images.githubusercontent.com/9336556/119990060-e5b7ea80-bf95-11eb-94e1-305555d0b923.png)

![5-prover-sent-proof](https://user-images.githubusercontent.com/9336556/119990103-f23c4300-bf95-11eb-8470-9548019bb830.png)

6: Verifier receives and verifies proof:
![6-verifier-received-and-verified-proof](https://user-images.githu

[2021-05-28 14:37] burdettadam commented on #1121
Great idea! I say we do it!

[2021-05-28 16:18] burdettadam commented on #1121
https://hackmd.io/ROUzENdpQ12cz3UB9qk1nA

[2021-05-28 16:59] ianco opened #1214 "[Postgres] Placeholder, ensure updated Indy postgres plugin is supported"
There have been some issues reported deploying aca-py to AWS and Azure due to limitations of the postgres plug-in.

Some items have been summarized here:  https://github.com/hyperledger/indy-sdk/issues/2396

This ticket is to ensure that aca-py supports/works with any required updates.

[2021-05-31 23:43] shaangill025 opened #1215 "[VC_LD] Error signing presentation with BbsBlsSignature2020 suite"
- Error
[code]
- Run this test in `vc/vc_ld/tests/test_vc_ld.py` to reproduce the error
[code]
- Get the same error when processing DIF proof_request with BbsBlsSignature2020 as `format.ldp_vp`

[2021-06-01 10:07] TimoGlastra commented on #1215
This is working as expected. You need to add the bbs+ context if you're adding a bbs signature on presentation.

See https://github.com/hyperledger/aries-cloudagent-python/blob/main/JsonLdCredentials.md#json-ld-context

[2021-06-01 12:21] DaevMithran commented on #1177
@swcurran @shaangill025 , the **credential-offer** attachment type is not supported yet in out of band protocol. You can look it [here](https://github.com/hyperledger/aries-cloudagent-python/blob/main/aries_cloudagent/protocols/out_of_band/v1_0/manager.py#L551).

[2021-06-01 19:45] futureman2007 opened #1217 "Verify Credential before Storing in Wallet ACA-PY 0.6.0"
As of https://github.com/hyperledger/aries-cloudagent-python/blob/1c7bc86b91cd10d472ad15cb52c09b9424e8175c/aries_cloudagent/protocols/issue_credential/v2_0/formats/ld_proof/handler.py#L470
in the current main branch, it seems that a credential is first verified (meaning, it is checked if the raw data, matches the data inside the signature, to control if the date was altered during issue credential

[2021-06-01 19:59] swcurran commented on #1217
@TimoGlastra -- can you please take a look at this and perhaps provide an assessment?  Note that @sklump changed jobs and is no longer on the ACA-Py team 😢

@andrewwhitehead -- heads up on this.

[2021-06-01 20:57] TimoGlastra commented on #1217
@futureman2007 Are you talking about Indy or Linked Data VCs? The 0.6.0 release doesn't support LD credentials yet, however the link you sent points to the linked data proof handler (which is not available yet in the latest release)

[2021-06-01 21:04] futureman2007 commented on #1217
I am talking about indy VCs. I need the holder of the credential to check, using the credential signature, if the raw date matches the signed data of the vc. As far as i have seen, this will be checked, when the holder presents the credential to an verifier.
But what i am seeking is something like: "Hey, i got a new credential. Was it altered during the transportation?"
Or even better: "Hey, was m

[2021-06-01 22:24] #1215 closed

[2021-06-02 07:11] futureman2007 commented on #1217
What about this piece of code @ https://github.com/hyperledger/aries-cloudagent-python/blob/1c7bc86b91cd10d472ad15cb52c09b9424e8175c/aries_cloudagent/wallet/indy.py#L697 ?

[2021-06-02 12:05] Rounak210 opened #1219 "ACA-Python version 1.16_0.6.0 Revocation registry error"
![image](https://user-images.githubusercontent.com/85231262/120474247-97f01780-c3c5-11eb-9865-89ebb1b75cda.png)
Is there any way I can solve this error?. I have already set up VON tails server.

[2021-06-02 13:45] domwoe commented on #1219
The error seems not be related to the VON trails server, but the server you registered to receive webhooks, i.e. `http://dev-proof-.`. Is this server availabl?

[2021-06-02 13:51] santidediego commented on #1152
I get the same error.

I set up a local network as detailed in the [Indy sdk](https://github.com/hyperledger/indy-sdk#how-to-start-local-nodes-pool-with-docker) repo.

Then I copy the [genesis file](https://github.com/hyperledger/indy-sdk/blob/master/cli/docker_pool_transactions_genesis) from the network and pass it as argument with _--genesis-file_ and debug with _--debug_.

I get:

[code]

Other

[2021-06-02 14:22] yunxi-zhang commented on #1201
thanks @ianco, i've found the right value in my tests.

[2021-06-02 14:22] #1201 closed

[2021-06-02 14:23] yunxi-zhang commented on #1184
Hello @sklump, can you reproduce this issue. Am I the only one who got this issue?

[2021-06-02 14:26] TimoGlastra commented on #1217
I always thought that the `prover_store_credential` method from indy verifies the signature. But looking at the credx implementation in the shared components branch I'm not so sure.

@andrewwhitehead does indy verify the signature before storing a credential?

[2021-06-02 14:29] yunxi-zhang commented on #1184
Hello @swcurran , I see you put replied in another issue stating @sklump is no longer in the ACA-Py team. Could you find some one else to look at this issue, please? Thanks!

[2021-06-02 14:44] Rounak210 commented on #1219
@domwoe , the server is available at dev.thrift.identity.ky

[2021-06-02 14:51] domwoe commented on #1219
Then you have to set ACA-Py's webhook target (`--webhook-url` start parameter) to this url.

[2021-06-02 15:03] Rounak210 commented on #1219
![Screenshot from 2021-06-02 20-31-45](https://user-images.githubusercontent.com/85231262/120504406-bbc15680-c3e1-11eb-8aa6-b9cc46242e35.png)
 @domwoe , I have already added --webhook-url while starting aca py

[2021-06-02 15:43] esune commented on #1152
What other arguments are you setting when starting the agent?
Did you already confirm you can address the ledger from within the agent's container?

[2021-06-02 18:37] andrewwhitehead commented on #1217
Yes, that's right. Before it stores the credential it must be processed to unblind the signature, using the factor from the commitment to the linked secret. At the same time, it verifies the signature and the non-revocation proof (if any). It's basically the same in indy-credx: https://github.com/hyperledger/indy-shared-rs/blob/dea3d951860ced704811b490be978ca70ca5b711/indy-credx/src/services/prove

[2021-06-02 19:13] futureman2007 commented on #1217
Thank you for the link! I will have a closer look next week what the ursa piece does exactly to be 1000% Sure. I will Post my findings here.

Is something in Plan or existing that a credential Holder can Check, if his/her credentials in the wallet where manipulated? As far as i have learned, to do this one has to ask someone else to verify the credential. The Code and infrastructure, given a worki

[2021-06-02 19:18] futureman2007 commented on #1217
Ok sry. The Moment i Poster, you a
Provide the 1000% info: "yes, indy verifies VCs before storage"

[2021-06-03 07:38] santidediego commented on #1152
I am passing all of the through a .yaml file:

[code]
I am not running the agent in a docker container, rather than in my physical computer using a python environment, so the network should be accessible because it is running in docker in the same machine

[2021-06-03 14:56] Rounak210 commented on #1219
@domwoe , @esune  , can you please help, on to this issue.
![image](https://user-images.githubusercontent.com/85231262/120665988-dc54e380-c4a9-11eb-85a0-31b5d6921f93.png)

getting this error, while running aca-py version 0.6.0

[2021-06-03 15:50] esune commented on #1219
Is this a new schema/creddef or an old/existing one? I had this issue in the past when trying to start an agent with a known creddef while the tails server URL had changed (e.g.: created creddef to pint to `tails-old.mydomain.com` and now the tails server url is `tails-new.mydomain.com`).

[2021-06-03 16:03] esune commented on #1152
I suspect your agent can't actually talk to the nodes in the docker network - I have never used the ledger as per Indy SDK repo though.
Can you try running [von-network](https://github.com/bcgov/von-network) instead, and start your agent by specifying the `GENESIS_URL` as `http://localhost:900/genesis` and see if/how that works?

[2021-06-03 16:57] Rounak210 commented on #1219
It is the old one before setting up tails server. Okay, I am creating a new schema and credential_def_id, and will update if it resolves the issue. Thanks for the suggestion

[2021-06-03 17:16] Rounak210 commented on #1219
@esune, thanks, after updating the credential_def_id, the issue is resolved, and now credentials could be issued, also can you guide me on why I am getting this error.?
![image](https://user-images.githubusercontent.com/85231262/120685373-622e5a00-c4bd-11eb-9780-44739ad17da2.png)

[2021-06-03 19:06] esune commented on #1219
Posting to the webhooks endpoint failed, check the controller logs and there will likely be an http 500 error there telling you why that happened.

[2021-06-04 11:24] Rounak210 commented on #1219
![image](https://user-images.githubusercontent.com/85231262/120794034-4b3b4680-c555-11eb-8919-ce0ce377b73c.png)
@esune, I got this error while checking the logs. Do you have any suggestions?

[2021-06-04 14:09] santidediego commented on #1152
Same error, I retrieve the genesis from `http://localhost:9000/genesis` but again 403 error code.

I can see from the logs that the agent is successfully bringing the genesis-url but again it does not connect to the ledger.

Any ideas?

[2021-06-04 16:07] wip-abramson opened #1221 "Bug: ACAPY_MEDIATION_OPEN env var not working as expected"
I have moved to passing all agent configuration in through an .env file. However, when trying to set mediation using this argument, which does seem to be correct from the [argparse file](https://github.com/hyperledger/aries-cloudagent-python/blob/1c7bc86b91cd10d472ad15cb52c09b9424e8175c/aries_cloudagent/config/argparse.py#L1116) in acapy mediation requests are not being automatically granted.

I h

[2021-06-04 16:21] esune commented on #1219
Something is mismatched in your configs - I think. I have not seen this issue before though.

I would recommend you start over with a clean state so that you will not be dragging along old configurations/settings.

[2021-06-04 16:43] esune commented on #1152
Check this other issue, that seems lie it can potentially be related: https://github.com/hyperledger/aries-cloudagent-python/issues/1024

@andrewwhitehead @ianco is the `indy` wallet REQUIRED type when connecting to a ledger? If it is, this needs to be documented somewhere to avoid future issues.

[2021-06-04 16:45] andrewwhitehead commented on #1152
Yes it is, currently.

[2021-06-04 16:50] esune commented on #1152
Ha, thanks @andrewwhitehead
Is there anywhere we could document this better (if it is not already documented) to prevent further issues? I admit I never think of that paramater and had to search the repo for other issues to come up with the answer I linked.

[2021-06-04 17:25] swcurran commented on #1152
First place is to add it to the help text for the parameter -- maybe in CAPITALS :-).  Next might be to add a troubleshooting/FAQ page to the repo and add it there.  Not sure how many of those we have, but perhaps if we can make it easy to update.  Agree that the search on issues is not the easiest -- but that could be on the top of the Troubleshooting page, along with a request for people to add

[2021-06-05 10:44] juvebogdan opened #1222 "Sending image as part of credential"
Hello,

I am trying to issue a credential that has image/jpeg as a field. I am using also mobile agent and mediator. but whenever i try to issue offer i get this error:

aries_cloudagent.transport.outbound.manager ERROR >>> Error when posting to: http://192.168.65.3:8022/webhooks/topic/issue_credential/; Error: (<class 'aries_cloudagent.transport.outbound.base.OutboundTransportError'>, OutboundTra

[2021-06-05 11:22] ducadellaforcoletta commented on #1222
Hi,
i found the same problem in the past at the following code line,
 https://github.com/hyperledger/aries-cloudagent-python/blob/653a4c2c4d19e1e3a0b6b89467affcea81827434/aries_cloudagent/admin/server.py#L288

The default client size is used, it can be customized passing the size as here app = web.Application(middlewares=middlewares, client_max_size=2048**2)

@andrewwhitehead  Maybe an args params

[2021-06-05 11:55] juvebogdan commented on #1222
Hi,

I dont see that line in that file. Is that the latest code?

[2021-06-05 12:09] ducadellaforcoletta commented on #1222
Sorry, I sent an old link. Looking at the actual code it looks like it is already managed with the "admin.admin_client_max_request_size" parameter. Default 1 mb. It can be customized using this parameter.

[2021-06-05 12:12] juvebogdan commented on #1222
I saw that but whatever i put there i get the same error. There is no way i am sending more then 20MB

[2021-06-05 12:27] juvebogdan commented on #1222
Maybe its because i am running faber demo? How can i add that option in that demo?

[2021-06-07 12:06] futureman2007 commented on #1217
Closing the issue. But still open Question: "Is something in Plan or existing that a credential Holder can Check, if his/her credentials in the wallet where manipulated?"

[2021-06-07 12:07] #1217 closed

[2021-06-07 12:55] Rounak210 commented on #1219
@esune, Actually, We already have a genesis file using ACA-PY version 0.4.3, and details of all the nodes are present and all our existing service is using it. However, I wanted to test the revocation registry for one service, that should use ACA-PY version 0.6.0. We only have one genesis file. Is there any way, I can test the new configuration with a separate genesis file?.

[2021-06-07 14:42] santidediego commented on #1152
Now it seems to work perfectly, even with a local Indy network. Definitely it was the provisioning. Thanks!

[2021-06-07 15:33] Rounak210 opened #1227 "ACA-Py 0.6.0: How do I implement Revocation registry?"
I had integrated ACA-PY and could the steps I followed were:

1. Created Schema
2. Created Credential Definition ID with support revocation=true
3. Setup Von tail Server
4. Changed startup command added --auto-provision, --recreate-wallet, --tail-server-base-url {https://custom-url}.

Is this enough to setup revocation registry or am I missing something.?

[2021-06-07 16:31] esune commented on #1219
If you are starting a new agent to test things, make sure you start from scratch and do not have a previously saved wallet for that agent. I am unsure what else to recommend as this seems to be related to your specific configuration.

You also mention aca-py `0.4.3`: any reason not to upgrade your agents to a later, more up-to-date version? That release is over 1 year old now...

[2021-06-07 20:48] swcurran commented on #1054
Some additional questions.  @andrewwhitehead -- could you take a shot at these in the context of the indy-wallet that is part of the Indy-SDK and Aries Askar:

1. if there are any detailed descriptions on this topic available anywhere?
2. what are the plaintext values for "name", "value" and "type"?
3. how are secret keys designed in indy-sdk?
4. I guess SHA256 is the encryption approach used, but

[2021-06-07 21:08] ianco commented on #1054
As far as I know there isn't documentation in the internals of the Indy wallet storage.  This document describes the high-level API which applies to all Indy wallets (sqlite, postgres, and any others):  https://github.com/hyperledger/indy-sdk/tree/master/docs/design/003-wallet-storage

Because the wallet is managed by Indy itself, the plug-in (sqlite, postgres, etc) just handles the read and write

[2021-06-07 22:30] dbluhm opened #1228 "did:web resolver: DIDWeb.PATTERN too permissive"
The regular expression used for `DIDWeb.PATTERN` is currently too permissive causing other DIDs (such as `did:github:dbluhm`) to be pushed to the `did:web` resolver for handling.

The current value used is: `^(did:web:)?([a-zA-Z0-9%._-]*:)*[a-zA-Z0-9%._-]+$`

I'm not sure how this is used elsewhere but at least for resolver selection, I think the `?` on `(did:web:)` is the part causing us trouble.

[2021-06-07 22:31] dbluhm commented on #1228
@Luis-GA same problem we were seeing for the Uniresolver plugin

[2021-06-08 06:03] domwoe commented on #1228
ah, sorry! Will fix this later today.

[2021-06-08 13:15] lukwil opened #1232 "Performance issues after deleting connections and credential exchange records"
Hi,

Wer run aca-py in a cloud environment using the Postgres connector. Recently, we ran into performance issues leading to a duration of up to 5 seconds until a connection between two agents was fully established (including the whole process regarding "create invitation", "receive invitation", auto accept etc.).

After further investigation we found two issues with similar problems: #1192, #753

[2021-06-08 13:40] Rounak210 commented on #1219
@esune We are updating the current ACA-Py version from 0.4.3 to 0.6.0, as prior to this we did not need the requirement to implement a revocation registry. Before I make changes on other services, I need to make sure that it works on a development server.

Also, as you said, I had started building the server and implementing ACA-PY 0.6.0 from scratch, however, I am currently getting

![image](http

[2021-06-08 14:20] #1228 closed

[2021-06-08 14:39] #1121 closed

[2021-06-08 16:26] esune commented on #1219
Can you check the tails file hosted on the tails server and the one that was downloaded by the agent match.
It looks like they may not be the same file, as the error states. Not sure why that would be though.

[2021-06-10 14:48] dbluhm opened #1237 "Regression: errors out if no indy"
We've inadvertently made indy a requirement again with recent changes. Using the following dockerfile:

[code]

The following error occurs:
[code]

I believe this might have been introduced with #1125 @shaangill025

[2021-06-10 14:49] dbluhm commented on #1237
@Luis-GA related to the issue we were seeing from acapy-resolver-universal

[2021-06-10 15:06] TimoGlastra commented on #1237
Maybe good to add a Github Action script that builds and start ACA-Py using the above docker script?

[2021-06-10 15:12] dbluhm commented on #1237
@TimoGlastra agreed; we should be able to catch this on PRs without too much difficulty. Or else, making the unit test runner for non-indy tests not actually have `python3-indy` available in the python environment.

[2021-06-10 15:55] shaangill025 commented on #1237
@dbluhm Any ideas when was the last time this was working? I used the above docker script to test with `edfd5b52abd3f2fb4dbf30351cde35560bbb1242` [from May] and `b926cac23ed783adbd862ca49d760446acb005fb` [from January] commits and get the same error. I believe this might have been an issue since the OOB protocol was implemented earlier this year. I am working on a fix.

[2021-06-10 20:04] swcurran commented on #1232
@andrewwhitehead -- can you please look into this and respond.

Sorry for the slow response -- we've been "at" the Hyperledger Global Forum conference.

@ianco -- heads up.  We may need to get the tracing capability published so that people can use that to see where the performance issues are happening.

[2021-06-10 21:07] ianco commented on #1232
@swcurran  the tracing capabilities are out there in the latest release(s), however in this case I'm not sure they'd be much help.  It looks like the issue is due to (a) a large number of records in the database (in this case either connections or local did's), (b) the inability to delete these records, and/or (c) inefficient queries in aca-py/indy-sdk.  I know we had an issue with did queries in

[2021-06-10 21:19] #1237 closed

[2021-06-10 21:22] swcurran commented on #1232
The tracing could confirm that the problem is with the queries to the DB.  We've assumed in the past where the issue was and discovered differently.    I definitely don't understand why such a low volume (11k to 15k) should cause an issue.

And agree that the sooner we're able to try this with the shared components the better.

[2021-06-10 21:31] andrewwhitehead commented on #1232
I'm looking at a few related changes which should make it into a PR soon. One part is a profile-level cache for things that should only be cached for the current request, like the active public DID. Most important here is adding a singleton record as a pointer to the current public DID, along with auto-population of that record for existing wallets. Third, I'll be looking at the wallet DID deletio

[2021-06-10 23:04] esune opened #1238 "[Endorser Protocol] Add auto flags and default endorsement settings"
When running an instance of ACA-Py with `AUTHOR` only privileges (no permission to write to the ledger), the agent needs to explicitly request endorsement to an authorized agent when performing any action that requires writing a new transaction to the ledger. Some of these transactions are:
- creating a schema
- creating a credential definition
- creating a revocation registry
- publishing a revoc

[2021-06-11 10:08] futureman2007 opened #1239 "[Proposal/Question] Verify correctness of own Verifiable Credentials, using the Signature and Raw Data"
As of this closed Issue: https://github.com/hyperledger/aries-cloudagent-python/issues/1217
A Credential Holder verifies a new VC, if the signature matches the Raw Data before storing it in the wallet.
But then a verifier is needed to check if the VC (matching Raw data with the Signature) was not altered.

What is the proposal?
A new Feature for e.g. the Wallet endpoint to check all or a single cr

[2021-06-14 14:01] TimoGlastra opened #1240 "DIF PE handler should not determine whether "schema.uri" is type or context based on "#""
As I already mentioned in https://github.com/hyperledger/aries-cloudagent-python/pull/1125#discussion_r630778201 it is wrong to assume the `schema.uri` in PE is an `@type` if it contains a `#`.

Take a look at this playground: https://tinyurl.com/ye9whcca

the expanded types result in:
[code]

https://github.com/hyperledger/aries-cloudagent-python/blob/319a2ff30d9ddd4a9fdb4b3ab69d1946c110c21b/arie

[2021-06-14 14:35] et-taousy opened #1241 "RuntimeError: cannot reuse already awaited coroutine"
When i run ./run_demo faber the container shutdown with the error below:

`Shutting down agent ...

Faber      |

Faber      | Shutting down

Faber      | 2021-06-14 14:33:23,208 aries_cloudagent.commands.start ERROR Exception during startup:

Faber      | Traceback (most recent call last):

Faber      |   File "/home/indy/aries_cloudagent/commands/start.py", line 72, in init

Faber      |     awa

[2021-06-14 14:55] TimoGlastra opened #1242 "DIF PE handler throws error when the only "schema.uri" is VC"
Is there a specific reason the DIF PE handler throws an error if the `schema.uri` only contains `https://www.w3.org/2018/credentials#VerifiableCredential`?

Currently getting the following error in AATH:

[code]

I think we should promote more explicit PE definitions, but it don't see the need to restrict it.

@shaangill025

[2021-06-14 15:08] TimoGlastra commented on #1240
I thought maybe we can use some of the advanced WQL syntax to include an OR statement:

https://hyperledger-indy.readthedocs.io/projects/sdk/en/latest/docs/design/011-wallet-query-language/README.html

According to the docs something like this should be possible:

[code]

[2021-06-14 15:14] Nabil-oussa opened #1243 "aca-py start: error: argument --seed: expected one argument"
Hello,

I got an issue when I launch agents Aries verifier, and the error is the following :
verifier_1  | usage: aca-py start [-h] [--admin <host> <port>] [--admin-api-key <api-key>]
verifier_1  |                     [--admin-insecure-mode] [--no-receive-invites]
verifier_1  |                     [--help-link <help-url>] [--webhook-url <url#api_key>]
verifier_1  |                     [--debug] [-

[2021-06-14 15:16] shaangill025 commented on #1240
Ok, `search_credentials` in `storage.vc_holder.in_memory` has a `tag_query` parameter [tag filter cluase], I am not sure if this can be used for passing WQL query dict.

[2021-06-14 15:27] ianco commented on #1241
It looks like an error connecting to the ledger, are you running von-network locally?

Can you share more info about your setup?

[2021-06-14 15:28] ianco commented on #1243
You need to provide a 32-char seed value, for example `--seed 12345678901234567890123456789012`

[2021-06-14 15:46] shaangill025 commented on #1242
My reasoning behind this is that if the proof_request's `presentation_definition` constraint checks if `$.credentialSubject.givenName`  is 'JOHN' and on the holder side, there are 2 credentials both having `credentialSubject.givenName` as `JOHN` but one is `PermanentResidentCard` and other could be `DriverLicense`.  Then if only `https://www.w3.org/2018/credentials#VerifiableCredential` is include

[2021-06-14 15:48] andrewwhitehead commented on #1240
Yes, Askar supports the same WQL as well as `"$exist": ["key1", "key2"]`

[2021-06-14 15:50] TimoGlastra commented on #1242
In this case the verifier should either be more explicit or both values are correct.

---

Shouldn't we only disclose one of the two? Disclosing both seems like disclosing more information than necessary. IMO this shouldn't be the default behaviour

---

yes

[2021-06-14 15:53] Nabil-oussa commented on #1243
Thanks for your response. This is what i did
`SEED="000000000000000000000001SomeSeed"`

[2021-06-14 15:59] Nabil-oussa commented on #1243
The config file is as follows:

# Verifier Provisioning
export SEED="000000000000000000000001SomeSeed"
export AGENT_ENDPOINT="http://localhost:9000"
export WALLET_KEY="5UVlxFfX041L"
export ADMIN_API_KEY="secret"

export GENESIS="http://greenlight.bcovrin.vonx.io/genesis"

export AGENT_INBOUND_PORT=9000
export ADMIN_API_PORT=4000

aca-py start  --inbound-transport http 0.0.0.0 $AGENT_INBOUND_PORT \

[2021-06-14 16:11] shaangill025 commented on #1242
The holder can now restrict the credentials manually when sending the presentation. With --auto settings, I think it is difficult to restrict the applicable credentials [like by selecting the 1st one in the list] because maybe the `presentation_definition` was constructed in a way to get multiple credentials.

[2021-06-14 17:08] yunxi-zhang commented on #1054
Thanks for the info @ianco, i've viewed the article in the link you mentioned already. I still believe to have a proper documentation explaining the internal design of the wallet is helpful especially for enterprise/corporate-level systems. As there will be risks for corporates to use something that is a black box to them, especially when considering the db backup and recovery design. In addition,

[2021-06-14 19:05] TimoGlastra commented on #1242
Ah makes sense. How are you generating the presentation submission? I think that contains enough information to determine whether the credential is used

[2021-06-14 21:07] TimoGlastra opened #1244 "Error deriving proof when non BBS credential is available"
I run into an error in the following scenario:

1. Issue non-ZKP Ed25519 credential
2. Issue exactly the same credential, but with BBS signature
3. Create a proof request with `limit_disclosure: required`
4. ACA-Py tries to derive a credential with the first non-ZKP credential and errors because that's not possible.

I think if the signature suite does not support derivation/limit disclosure, it s

[2021-06-14 21:19] TimoGlastra commented on #1244
BTW -- I think this can be fixed for most use cases by also providing `proof_types` to the `search_credentials` method.

e.g. if you have the following proof type in the presentation definition

[code]

you can only retrieve credentials that match these formats from storage.

Only problem left to solve then is the case where both Ed25519 and Bbs is present in the proof_type array (which can be sol

[2021-06-15 08:26] et-taousy commented on #1241
Its not a connection error, i got that when i wasn't running an Indy-node locally( [Connect call failed ('10.0.2.15', 9000)]).
i didn't get that now i don't what happened.

[2021-06-15 22:30] esune commented on #1227
Assuming you have setup and started the tails server BEFORE you started aca-py with the tails server URL setting you should be good to go.

You will need to keep track of either the `credential-exchange-id` or `revocation-registry-id` and `revocation-id` for each issued credential (these attributes come back to you in the webhooks) in order to be able to revoke.

[2021-06-15 22:35] esune commented on #1238
A couple of other thoughts about the above changes:
- the scope of refactoring will likely bleed into `revocation`, as it is another fairly complicated set tasks to orchestrate
- ideally, both endorsement and revocation are "transparent" to the user: this means that there should be no need to keep track of the sequence of steps required to endorse a transaction, or to keep a revocation registry ac

[2021-06-17 15:57] shaangill025 commented on #1242
@TimoGlastra I have made the changes [#1247] to fix the recent DIF PE issues you opened. Yes, looking at the `presentation_submission` in `VP`, we can determine which credential [from the index] in the `verifiableCredential` list was applicable to which input_descriptor id.

This function generates the `descriptor_map` for `presentation_submission`:
https://github.com/hyperledger/aries-cloudagent-

[2021-06-18 11:45] Rounak210 commented on #1227
Thank you so much.

[2021-06-18 21:21] #1240 closed

[2021-06-18 21:21] #1242 closed

[2021-06-18 21:21] #1244 closed

[2021-06-19 23:27] shaangill025 opened #1251 "DIF PE Tests - pyld.jsonld.JsonLdError"
- DIF PE tests are failing with the following error, as I was working on #1250
`pyld.jsonld.JsonLdError: ('Dereferencing a URL did not result in a valid JSON-LD object. Possible causes are an inaccessible URL perhaps due to a same-origin pol....`
With commit a9d818315202030eac2afbd80585260420d579ae [#1250] earlier today, all tests were successful.
- As I was investigating, I found that even runnin

[2021-06-19 23:59] shaangill025 commented on #1251
- Error: issue-credential-v2 workflow
When trying to store a received credential
`Holder` agent
[code]

`Issuer` agent
[code]

[2021-06-20 14:47] TimoGlastra commented on #1251
Tests are passing for me locally... (both main and the branch of this pr) Are you still running into the issue?

[2021-06-20 19:01] shaangill025 commented on #1251
Double checked that tests are passing now without any changes, not sure what caused the error yesterday.

[2021-06-20 19:01] #1251 closed

[2021-06-21 03:16] shaangill025 opened #1253 "DIF PE Presentation Submission and optional id property in W3C credentials"
[W3C data model specification](https://www.w3.org/TR/vc-data-model/#identifiers)
`id` property is optional, this is stored as `given_id` in `VCRecord`.
DIF PE handler uses this `given_id` in generating the `descriptor_map` for `presentation_submission`. `given_id` is also used to check if the number of applicable credentials meets the requirement specification [`submission_requirement`]
- If `id`

[2021-06-21 06:08] shaangill025 commented on #1253
- Similar situation when the `presentation_definition` has `limit_disclosure` set to `true`.
If the `VP` includes multiple derived credentials with original credentials not having an `id`
- This can also be fixed by setting the `given_id` of derived credential to a `uuid4` for building the `presentation_submission` correctly.

This added `given_id` is just for internal processing in DIF PE Handler

[2021-06-21 07:29] TimoGlastra commented on #1253
I'd be cautious of setting the given_id in the pres exch handler as from then on you don't know whether the given_id is from the original cred or applied at a later stage. This can make additional processing in the future more complex.

However, I do think generating a uuid seems like a good approach. I wouldn't use the record_id for it, as that is more an internal id.

How are you handling this a

[2021-06-21 15:41] shaangill025 commented on #1253
Currently, I am only using the `given_id` of `VCRecord` as an unique identifier for credentials when adding then into `dict[input_descriptor_id][credential_given_id]`, it causes an issue [below] if it is `None` and multiple credentials have to be enclosed in `VP`. In the example below, I expect 2 credentials to be enclosed here and  `$.verifiableCredential[0]` and `$.verifiableCredential[1]` in `d

[2021-06-22 10:00] wildnano opened #1254 "Revocation : true / Credential Definition"
- Firstable **when creating a credential definition** with **support_revocation: true** I get error 400

[code]
**400: tails_server_base_url not configured**

When I send again the request, it works I get the credential_definition_id.
Is it normal to send credential definition twice in order to get the ID ? I don't think so ...

- Then,  when the **issuer sends credential** to the **wallet** and I

[2021-06-22 13:53] andre-d-gomes opened #1255 "Integration with Register & Resolver Drivers"
Hi,

I've been performing tests with this component, as well as the did-sov-drivers for DID registering & resolvance. When using the same Von-Network for both services (sharing the same seed & wallet_name for the aca-py agent, and the registry driver), after registering a new DID through the driver, I'm unable to query said DID on the agent's wallet.

Are the aca-py agents currently only able to q

[2021-06-23 01:04] #1253 closed

[2021-06-23 07:18] baegjae opened #1256 "posture inconsistency issue when assigning public did"
https://github.com/hyperledger/aries-cloudagent-python/pull/1249
I like this approach. I would like to report some issues after merging this PR.

### posture inconsistency issue
I requested POST `/wallet/did/public?did=k1ZNyPEzq4yi3kSdw4AYA`, and I got below return value.
[code]
Before merging the PR, the posture was `public`.
I can get the did by requesting GET `/wallet/did/public`, but I still t

[2021-06-23 10:34] afa1imb opened #1257 "Presentation Proof not verified"
This is related to [#175](https://github.com/hyperledger/aries-cloudagent-python/issues/175)

I'm trying to make a presentation proof request, and though the state of the presentation proof record is always verified, but the attribute "verified" is always false. This is my workflow :

First the verifier is making a connection invitation to the verifier:

Then the prover receives the invitation:

a

[2021-06-23 15:40] swcurran opened #1258 "Error sending BBS+ Credential"
I ran through the new [Alice Wants a JSON-LD Credential]() and got the following error on the `/credential/send` step.

After doing the connection and create BLS key steps, I submitted this JSON:

[code]

and got the following error in Faber:

[code]

[2021-06-23 15:41] swcurran commented on #1258
@shaangill025 -- can you please take a look?

[2021-06-23 16:40] shaangill025 commented on #1258
Are you using the Admin API for Faber? Looking at `credential_proposal` validationError, looks like the `issue-credential v1.0` endpoint was called. I tried a similar credential yesterday, it worked but I called `/issue-credential-2.0/send-offer`.

[2021-06-23 16:54] swcurran commented on #1258
Doh...user error.  Thanks.

The Swagger UI is terrible.  Is there an alternative that people use?

[2021-06-23 17:08] swcurran commented on #1258
That was it...closing.

[2021-06-23 17:08] #1258 closed

[2021-06-23 17:26] swcurran opened #1260 "What to do with a "loading remote context failed" for BBS+ Issue"
I'm running the Alice Wants a JSON-LD Credential demo and trying the second example (below), and getting the error (below that) that is ultimately `loading remote context failed`.  I suspect (from other conversations) that the issue is the schema.org reference in the `@context` array.

What should I do about that?  Is it possible to deal with that issue?

I also note that the status (on Alice's /

[2021-06-23 17:35] swcurran commented on #1260
@shaangill025 -- please take a look when you get a chance?

[2021-06-23 21:01] shaangill025 opened #1261 "RFC 0510 - ACA-Py DIF PE is_holder support"
-[ RFC 0510](https://github.com/hyperledger/aries-rfcs/tree/master/features/0510-dif-pres-exch-attach) in regards to `is_holder` states that `preferred or required as defined in the spec.Note that this feature allows the Holder to present credentials with a different subject identifier than the DID used to establish the DIDComm connection with the Verifier.`
- This means when `is_holder` is requir

[2021-06-23 21:29] swcurran commented on #1261
No -- that's sounds very wrong.  The DID used for the connection with the verifier should (almost) never be used for anything to do with verifiable credentials.  I'll take a look at that in the RFC.

[2021-06-23 22:50] swcurran commented on #1260
I guess that this specific kind of error would only happen in development, so perhaps the "terminating the protocol" is unnecessary?

[2021-06-23 23:24] swcurran opened #1262 "Giving the Controller control over what to use to satisfy a presentation request when using DIF PE"
When processing a proof request, the general flow within ACA-Py is:

- Search the wallet for the credentials that could be used to satisfy the presentation
- Construct the presentation using the identified credentials

As well, at some point, the Controller needs to be contacted to provide consent in responding to the presentation request.

In some cases, the search of the wallet will return multi

[2021-06-24 05:16] shaangill025 commented on #1262
- In case, `"rule": "pick"` is set in the request with one of `min`, `max` and `count` operators, currently ACA-Py DIF PE handler picks first X credentials from the list of credentials passed to it [X is specified by the operator].
In order to match the desired flow as with Indy, I propose no changes to be made to the handler. Instead, when the W3C credentials are fetched, the list of `VCRecord` c

[2021-06-24 08:46] TimoGlastra commented on #1261
That doesn't sound right indeed.

`is_holder` means you want the presenter of the credential to be the same as the credential holder. In most cases this translates to the signature on the VP coming from the same did as the credentialSubject.id

[2021-06-24 10:40] githubgood2020 opened #1263 "How to receive request events when connecting? Thanks!"
I installed ACA-PY agent locally, and then I started two instances of the agent to study the connection:
Agent for Faber: aca-py start --inbound-transport http localhost 8100 --outbound-transport http --endpoint http localhost 8101 --no-ledger --admin-insecure-mode --admin localhost 8102 --debug-connections
Agent for ALice: aca-py start --inbound-transport http localhost 8200 --outbound-transport

[2021-06-24 13:48] wildnano opened #1264 "Indy tails server - tails_server & tester arguments error"
Hi,

I cloned https://github.com/bcgov/indy-tails-server.git
and started  /indy-tails-server/docker/
I got these issues :
[code]
![image](https://user-images.githubusercontent.com/23073731/123274534-e5aefa00-d503-11eb-93b7-cf43ede58dfb.png)

I tried to implement the files Dockerfiletails.server and Dockerfile.test with no success
Thanks for your help

[2021-06-24 18:47] swcurran commented on #1262
The solution for the first and third examples is OK, but I'd prefer something a little more direct.  I would be nice if the Controller could use the Cred IDs to say, for this part of the submission, use this credential?  Is there a way to do that?  In other words generalize the the examples (at least 1 and 2) by asking the controller to pick for groups by credential id whenever multiple credential

[2021-06-24 18:55] swcurran commented on #1261
I'm not sure why this `preferred or required as defined in the spec.
Note that this feature allows the Holder to present credentials with a different subject identifier than the DID used to establish the DIDComm connection with the Verifier.` is in the RFC at all.

IMHO you would never want to use the DIDComm DID as the Verifier.  This wording suggests using the DID from the DIDComm connection is

[2021-06-24 20:10] swcurran commented on #1257
I'm not the best on these, but the "verified" is coming back from the the call to Indy AnonCreds to verify the proof.  I suspect that the issue has to do with the use of the self-attested attributes.  I notice that there are restrictions that the claims must come from a specific Cred Def (`Aydxxx:3:CL:2583:default`), but since they are self-attested, they don't meet that restriction.  Is it possib

[2021-06-25 04:29] shaangill025 commented on #1261
This is what is happening currently in ACA-Py [ even when `is_holder` is not specified in constraint], so what is expected when there is `is_holder` specified?
### In ACA-Py as of yet
If a `presentation_request` is processed and 3 credentials are applicable to be included in the `VP`.
- If all 3 credentials have `did:...:test` as `credentialSubject.id`, VP is signed with suite having `public_key_b

[2021-06-25 05:47] naman20sharma commented on #1257
Well I am facing a similar issue and I have not added any self-attested attribute. Although, it was working as expected in the older version (0.3.5). The state of the presentation proof record is always `verified`, but the `verified` flag is always `false`.

@TimoGlastra -- can you please take a look at this ?

[2021-06-25 10:18] TimoGlastra commented on #1261
The way you have it currently implemented seems correct, if the following is also true:

- If none of the credentials have a credentialSubject.id, an exception is raised stating that it is not possible to prove the `is_holder` requirement.

I think the statement should just be removed from the RFC

[2021-06-25 15:10] shaangill025 commented on #1261
Sounds good. For the following will this be the right approach:
- But if `is_holder` is missing/not specified then don't sign the `VP` at all? I guess it cannot be verified by the verifier then.
- In reference to the DIF spec [snippet above], currently, the `field_ids` are not being used. Maybe we should also check that each of the filtered credentials from that `field` have the same `credentialSu

[2021-06-25 16:42] esune commented on #1238
High level design document with proposed changes/approach can be found [here](https://hackmd.io/@esune/Hk1wCXz3d).

[2021-06-25 16:46] esune commented on #1257
The `verified` flag may also be returned as `false` if the requested credentials were presented, but the revocation check failed.
@naman20sharma are you using credential definitions with revocation support enabled? Older versions of aca-py may not have supported this completely/correctly.

[2021-06-25 16:49] esune commented on #1254
`400: tails_server_base_url not configured` means that you have not set the startup argument `--tails-server-base-url` indicating where to upload the tails file. The tails file needs to be pushed to a publicly accessible location in order for verifiers to be able to check the revocation state for a credential.

To generate a proof-request you need to add either a global (for the whole proof) or lo

[2021-06-25 16:52] esune commented on #1264
You need to update your startup command and specify `--genesis-url` to tell the agent which ledger to connect to, and `--tails-server-base-url` to tell it where to upload the tails files when creating a credential with revocation support.

See [this](https://github.com/hyperledger/aries-cloudagent-python/blob/main/docs/GettingStartedAriesDev/CredentialRevocation.md) for additional reference.

[2021-06-25 18:25] swcurran commented on #1238
Reviewed and added one comment.  Looks great to me!  Let's go for it.

[2021-06-25 21:33] esune commented on #1238
Perfect, I'll setup a meeting with @ianco next week to plan the work then!

[2021-06-25 22:33] shaangill025 commented on #1262
Sorry about the confusion, the complexity here is that credentials can be restricted from within `submission_requirements` in addition to `constraints.fields`. I think there is no mechanism to specify `ORs` within `submission_requirements`, only able to specify `XORs` & `ANDs` in there.
`ORs` need to specified in the `constraints.fields.filter` using `enum` or `pattern` detailed below.

For exampl

[2021-06-26 19:11] swcurran opened #1268 "Issue credential v2 for BBS+ credential fails with wallet type of askar"
I did the steps in the demo Alice Wants a JSON-LD credential while starting the demos (Alice and Faber) with wallet-type `askar`.

When I executed the `issue-credential-2.0/send` I got the following error that I think is Askar related:

[code]

[2021-06-26 23:16] andrewwhitehead commented on #1268
This should be fixed now. It's a little faster to reproduce by running Faber with `--cred-type json-ld`

[2021-06-27 18:17] iamgollum opened #1269 "Faber agent in Open API Swagger demo during connection acceptance from Alice produces 'NoneType' object is not iterable"
Observation
---

During the [Faber Agent Gets The Request](https://github.com/hyperledger/aries-cloudagent-python/blob/main/demo/AriesOpenAPIDemo.md#the-faber-agent-gets-the-request) a `NoneType object is not iterable` error is produced yielding a `500: Server to itself in trouble`.

[code]

Specs
---

1. Mac Cataline V10.15.7
2. Aries Cloudagent Python - `Main Branch` - Latest Commit - `Support i

[2021-06-27 19:27] swcurran commented on #1269
Tried it out and it (sort of worked) fine. I'm on a linux box, but shouldn't matter.  Not sure what is going on, but suggest (sorry!) that you try again.  It looks like it is looking through the connections, so I wonder if you have used Alice's connection ID instead of Faber's?

The "sort of" worked fine is that I did get an exception on the Alice side.  It didn't break anything, as the connection

[2021-06-28 08:33] shaangill025 commented on #1269
In my investigation, I went as far back as commit `2a632676b9f314f8860b146ad8d14630478a6c96`, which shows the same exception when accepting request in `faber`.

Can be fixed by either of the following:
- Add the following to `./demo/runners/alice.py`:
[code]
- Replace `./demo/runners/alice.py - 71`
from `and not self._connection_ready.done()`
to `and (self._connection_ready and not self._connectio

[2021-06-28 09:15] TimoGlastra opened #1270 "Creating a schema with incorrect version format gives cryptic error"
When creating a schema with the following body:

[code]

You get the following error:

[code]

This means you cannot just have a single digit as the schema version, but it must have at least one `.` in it, and optionally, two. (so either `1.0` or `1.0.0`). I'm happy I found the following medium article: https://noha-abuaesh.medium.com/reason-client-request-invalid-invalidclientrequest-errors-when-

[2021-06-28 09:49] TimoGlastra opened #1271 "Agent shutdown does not terminate running process"
When ACA-Py is shutdown because of an error it does not shutdown the process. I just get the following error:

[code]

Is this intentional / is there something I can do about it? I have a docker setup that automatically restarts services on shutdown, but it doesn't work because the actual process is never terminated.

[2021-06-28 09:58] shaangill025 commented on #1260
@TimoGlastra With `https://schema.org` or `https://schema.org/Person` in `@context` when issuing credentials [as mentioned in `AliceWantsAJsonCredential`] causes `Could not retrieve a JSON-LD document from the URL` error which is expected I think. Can this issue be closed, maybe the document needs to be updated?

[2021-06-28 10:13] afa1imb commented on #1257
@swcurran Thank you very much! Not using self attested attributes resolved the issue

[2021-06-28 10:13] #1257 closed

[2021-06-28 12:11] naman20sharma commented on #1257
Yes, I do have the revocation check enabled in credential definitions. Is there any other parameter required specifically ?

[2021-06-28 12:54] swcurran commented on #1269
@ianco -- could you please look at this?  You have the best handle on Alice Faber.  Thanks!

[2021-06-28 13:04] swcurran commented on #1260
Thanks, @shaangill025 -- agree that the document needs to be updated.  I'll work on that with @ianco  and we'll close this.

[2021-06-28 15:10] esune commented on #1257
Not that I can think of. Make sure the `non-revoked` interval either omits the `from` boundary, or sets it to `0`. To can be whichever epoch timestamp you want (e.g.: now).

[2021-06-28 18:38] shaangill025 commented on #1261
@TimoGlastra Any feedback will be appreciated.

[2021-06-28 19:03] swcurran commented on #1262
Got it -- sorry it took me so long.  Thanks for clarifying what is allowed.  I was thinking of the "pick" case, but obviously didn't remember that it applied only at the group level, not across groups.

I think your solution looks good.  Thanks!

[2021-06-29 07:54] naman20sharma commented on #1257
Well, I tried by setting revocation `false` and with that I am sharing my presentation-request flow [https://pastebin.com/hJTVp6fn](url). I'm still not sure what's wrong, please take a look at it.
Thank you!

[2021-06-29 12:25] gilAsier opened #1277 "Problems running run_docker"
I've been trying to start the docker(/run_docker) for a while with the aim of having the rest API enabled and being able to start developing my own controller.
The problem is that I am not being able to access the API services.
This is what I running:

![image](https://user-images.githubusercontent.com/4936241/123796695-adcdfb00-d8e5-11eb-952c-49cbe3ef6f51.png)

What should be the procedure to fol

[2021-06-29 12:36] ducadellaforcoletta commented on #1277
Hello,

have you exposed the port you are using (8021 & 8020) in the ENV variable
$PORTS?
Take a look at the run_docker script.

Il giorno mar 29 giu 2021 alle ore 14:25 gilAsier ***@***.***>
ha scritto:

[2021-06-29 13:02] gilAsier commented on #1277
That was the problem. Thanks you for the help!

[2021-06-29 13:03] #1277 closed

[2021-06-29 16:49] wildnano opened #1279 "ACA-Py agent V0.6.0 can't run agent on localhost"
Hi,
 I followed this tuto https://yunxi-zhang-75627.medium.com/hyperledger-aries-aca-py-agents-setup-and-running-tutorials-part-i-i-i-dev-environment-setup-20ab5a32457e

 After running this command
[code]

I get some errors

[code]
Thanks for your help

[2021-06-29 20:39] esune commented on #1257
Can you try and see what the outcome is if you don't use attribute value restrictions (e.g.: `attr::studentid::value`)?

[2021-06-30 06:09] naman20sharma commented on #1257
It worked after removing this attribute value restriction (but when revocation was disabled). But, actually I need this restriction to segregate the credential to be verified, as same cred def is being used for multiple credentials and I don't wish to verify all of them together. If using this attribute restriction was causing the problem, what should I do ?
Thank you! for your consistent response

[2021-06-30 09:21] Fethbita commented on #1263
While creating invitation, do not leave an empty JSON body. To connect, the other agent needs to know the endpoint. So this:
[code]
and after you receive invitation, before accepting it, you should write the Alice's endpoint in the endpoint box as such `http://localhost:8200` and now the Faber receives a connection request. Then when you are accepting request on Faber side, you should once more st

[2021-06-30 11:21] santidediego commented on #1263
I am facing the same issue, in my case I´ve also put:
[code]

I am getting in Faber´s console the following error, when calling: **POST /connections/receive-invitation** in Alice´s side

`aries_cloudagent.core.dispatcher ERROR Message parsing failed: Message does not contain '@type' parameter, sending problem report`

@Fethbita have you been able to solve your issue?

[2021-06-30 11:40] Fethbita commented on #1263
@santidediego Can you paste in the invitation you are trying to receive here? Maybe a problem in JSON format?

[2021-06-30 12:09] santidediego commented on #1263
Yes, here it is:
[code]
 I think the JSON is correct because I am getting a 200 code, but in Faber´s side I get the error message

[2021-06-30 12:29] Fethbita commented on #1263
I actually can't reproduce your error on my side :/

[2021-06-30 12:55] santidediego commented on #1263
It might be something related to endpoints. These are:

`http://lab-indy-agent-0:8030` and `http://lab-indy-agent-1:8030`, both passed it with --endpoint when starting both agents

Are you able to accept the invitation in the next step? Now I am getting, which might be useful for debugging:
[code]

[2021-06-30 14:14] Fethbita commented on #1263
I am indeed able to accept the invitation on the Alice side, while providing --endpoint, can you try `--endpoint http lab-indy-agent-0 8030`?

[2021-06-30 15:11] esune commented on #1257
@swcurran I don't believe it is expected for a proof to not be "fully verifiable" when using attribute value restrictions: should this be logged as an issue to be further investigated?

[2021-06-30 15:29] esune commented on #1279
`127.0.0.1:9000` will not work as it is referring to local IP address of localhost for the container that is running your agent. You will need to use an addressable url/IP instead (the example you linked used a publicly addressable IP address).

If you are running everything on your machine, the url/IP should be the once of your host machine: you can try `host.docker.internal` (unless you're on li

[2021-06-30 16:41] santidediego commented on #1263
Done and nothing happens. Could be the inbound or outbound parameters? they are set as:
[code]

[2021-06-30 19:22] #1196 closed

[2021-06-30 20:16] wildnano commented on #1279
Thanks a lot

It works with --genesis-url http://host.docker.internal:9000/genesis

[2021-06-30 23:51] #1254 closed

[2021-06-30 23:51] #1227 closed

[2021-06-30 23:52] esune commented on #1219
Closing as there has not been activity, please reopen if necessary.

[2021-07-01 00:05] #1219 closed

[2021-07-01 00:14] esune commented on #1173
I have seen this issue before, and it is potentially caused by the URL of the `tails-server` changing between runs: if the revocation registry (and tails file) definition was already created, aca-py will try to use the "old" `ngrok` URL to download the file, getting an error page that does not match the hash of the expected file.

A way to confirm this is to remote into the running agent pod and c

[2021-07-01 00:14] #1173 closed

[2021-07-01 19:27] wildnano commented on #1279
The problem now is that I can't access to Swagger API
(ERR_CONNECTION_REFUSED http://localhost:8001 http://localhost:8001/api/docs/swagger.json)

![image](https://user-images.githubusercontent.com/23073731/124179361-0e5e6300-dab3-11eb-8c83-923a486014fc.png)

[2021-07-01 21:07] andrewwhitehead commented on #1279
I can't see an obvious reason for this except that there might be another service or docker container using port 8001.

[2021-07-02 08:59] wildnano commented on #1279
docker ps - no port for the agent
![image](https://user-images.githubusercontent.com/23073731/124249401-20c4b500-db24-11eb-9670-3ec8e372c0f3.png)

The logs - 2021-07-02 08:51:34,527 indy.libindy WARNING _indy_loop_callback: Function returned error
![image](https://user-images.githubusercontent.com/23073731/124249584-4e116300-db24-11eb-90b4-598ee5bde466.png)

[2021-07-04 15:54] afrancoc2000 opened #1288 "Acme Agent crashes with errors"
Hi,

I'm running the [Acme Controller Workshop](https://github.com/hyperledger/aries-cloudagent-python/blob/main/demo/AcmeDemoWorkshop.md) but I am getting an error on line 213 of acme.py:

[code]

It seems something to do with this [change](https://github.com/hyperledger/aries-cloudagent-python/commit/e1a589a694d58337c4dde1c241cf8b3c72858956#diff-8ee8a2cb1f9b0c20e9da8af048d4d2cc3d898e2a08f3a2e96c

[2021-07-04 22:59] dndufufu opened #1290 "Error in Starting Faber Agent on local machine"
Preparing agent image...
sha256:570cf3f7214945158b70e000b01ed4525d454f5168a285675e70a7381643c522
Trying to detect ngrok service endpoint
jq not found
192.168.65.3
Starting [faber] agent with args [--port 8020]
ERROR:runners.support.agent:Error loading genesis transactions:
Traceback (most recent call last):
  File "/home/indy/.pyenv/versions/3.6.13/lib/python3.6/site-packages/aiohttp/connector.py"

[2021-07-05 04:34] swcurran commented on #1290
Hmmm...seems to be working fine.  What startup command did you run -- looks like you are trying to use the Greenlight ledger, and there is a mention of SSL.  Greenlight's web server does not have an SSL cert, so perhaps you had used "https" instead of "http"?

Please try again and close this issue if working.

[2021-07-05 15:24] swcurran opened #1291 "Update Alice/Faber Credential and Proof Request to use Aries RFC "Date Int" format"
A fun one for @ianco when he has some time.

Please update the Alice/Faber demo to change the "age" attribute to be "DateOfBirth" and use the "DateInt" recommended format as outlined in this recently merged [PR to Aries RFCs](https://github.com/hyperledger/aries-rfcs/pull/687).  Once done, change the proof request to use that style instead of the current ">18" check.

It would be good to demo that

[2021-07-05 19:50] iaman1998 opened #1292 "Getting error while issuing credentials"
Hello, I am trying to issue a credential using a javascript controller made by me, but I am getting the following error on sending the data to /issue-credential/send
{'connection_id': ['Missing data for required field.'], 'credential_proposal': ['Missing data for required field.']}
My credential object looks like this
{
    "comment": "string",
    "credential_proposal": {
        "@type": "did:so

[2021-07-06 07:32] swcurran commented on #1192
FYI -- some fixes were done ACA-Py to address this issue.  Are you able to run this scenario again to see if the issue has been addressed? PR was #1249

@icc-vela

[2021-07-06 07:33] swcurran commented on #1232
FYI -- some fixes were done ACA-Py to address this issue.  Are you able to run this scenario again to see if the issue has been addressed? PR was #1249

@lukwil

[2021-07-06 07:42] icc-vela commented on #1192
Hi Stephen

Can I use some pre-existing Docker image that already ahs the fix or do I need to build my own using the main branch where the fix was merged?

Regards.

[2021-07-06 07:51] swcurran commented on #1192
I think we have built some images, but not certain where -- @esune @ianco ?  Last one on bcgovimages is from 18 days ago, I think.

[2021-07-06 15:19] esune commented on #1290
@dndufufu in your logs it says `jq not found`: do you have it installed on your system?

[2021-07-06 15:27] esune commented on #1243
@Nabil-oussa were you able to solve the issue? Your startup command appear to be to start the agent natively, not in Docker - your question is about using Docker so not sure what to suggest other than checking your configuration and that all the environment variables you are using are being correctly injected into the container.

[2021-07-06 15:29] esune commented on #1211
Closing as the issue appears to be resolved/answered.

[2021-07-06 15:29] #1211 closed

[2021-07-06 15:30] esune commented on #1159
Relates to #1026 and #1238

[2021-07-06 15:34] esune commented on #1097
Likely related to #1152, see [this comment](https://github.com/hyperledger/aries-cloudagent-python/issues/1152#issuecomment-854866562).

[2021-07-06 15:34] #1097 closed

[2021-07-06 16:26] ianco commented on #1192
We should have the `0.7.0-RC1` out soon.  I haven't published any images, just built and tested locally.

[2021-07-06 19:49] esune commented on #1192
The `pre` images I have been pushing to Docker Hub do not have that fix, once we are good to create an RC1 I can build it and push it

[2021-07-07 08:05] swcurran commented on #1192
FYI -- RC0 is out, so please go ahead with the images.  Let's get people pushing on this new release!

[2021-07-07 12:34] futureman2007 opened #1299 "Issuer of Credential not shown in Credential Exchange Record in Issue-credentialsV2"
I noticed, that when an agent receives a credential proposal, there is no information about who has issued the credential (for example a credential definition ID). But when the record is stored in the wallet, this information is "magicly" provided.

Is this a bug or have i overseen something?
When for example a device is receiving a credential proposal i need the device to ask its owner: "Hey, i g

[2021-07-07 15:46] esune commented on #1292
The error message seems to indicate `connection_id` and `credential_proposal` are either missing or malformed, however the above JSON looks fine to me. @andrewwhitehead @ianco do you have any thoughts other than confirming the payload being sent to the agent matches the above?

[2021-07-07 15:50] esune commented on #1288
Probably something for @andrewwhitehead  to chime in.

[2021-07-07 15:55] ianco commented on #1288
There's an outstanding PR that should fix this:

https://github.com/hyperledger/aries-cloudagent-python/pull/1289

[2021-07-07 15:58] ianco commented on #1292
The json looks good to me.

[2021-07-07 16:00] ianco commented on #1299
Do you mean a credential offer?  A credential proposal is send from the holder to the issuer, so the issuer will provide the info about themself.

[2021-07-07 16:15] iaman1998 commented on #1292
Another thing i'd like to add for @ianco and @esune is that the same controller works fine with the aca-py agents running on play with docker, the one given in demo. And another thing is, for the agent i am running on my own computer, when i issue credentials with same json using swagger api, it works fine. Similar issue comes with the acme controller while requesting proofs, i am using the acme c

[2021-07-07 16:20] esune commented on #1292
Very odd. It sounds like the only difference in your setup is the agent you are posting requests to, so I'd start by confirming the version and startup settings are the same in both cases.

[2021-07-07 16:22] esune commented on #1264
Closing issue as I think the above answer addresses the problem. Please feel free to reopen in https://github.com/bcgov/indy-tails-server if more help is required, as the issue seems to be related to the `tails-server` rather than aca-py.

[2021-07-07 16:22] #1264 closed

[2021-07-07 16:23] iaman1998 commented on #1292
I am on the latest version of aca-py which is 0.6.0 , and i'd put the startup flags
`aca-py start --label Faber \
-it http 0.0.0.0 8000 \
-ot http --admin 0.0.0.0 8021 \
--admin-insecure-mode \
--genesis-url "http://test.bcovrin.vonx.io/genesis" \
--seed {{seed}} \
--endpoint "http://localhost:8000/" \
--debug-connections --auto-provision \
--wallet-type indy --wallet-name FABER \
--wallet-key sec

[2021-07-07 16:29] esune commented on #1292
I think the endpoint declaration is incorrect, as `localhost` will be resolved by other agents as their own service/host - you need to use an address that is addressable by other services s well (e.g.: `host.docker.internal` or the docker VM IP address, an example of scripts that pull it is[here](https://github.com/bcgov/issuer-kit/blob/master/docker/manage#L3)).

Once thing you can check is the s

[2021-07-07 16:33] iaman1998 commented on #1292
This looks possible, although all agents are running on the same network, i'll still try explicitly mentioning the ip address.

[2021-07-07 16:48] esune commented on #1192
The new image is now in Docker Hub: `bcgovimages/aries-cloudagent:py36-1.16-1_0.7.0rc0`

[2021-07-07 18:16] iaman1998 commented on #1292
@esune so I mentioned the endpoint IP explicitly, opened the ports , and even checked whether the connections are active, still I am getting the same error.

[2021-07-08 07:12] futureman2007 commented on #1299
Looking inside the JSON of the credential Records in aca-py during the whole flow, i could not find those entries like credential_definition id. In issue-credentials 1.0 it is provided as credential_definition_id. In issue-credentials 2.0 such a field is not provided (when i haven overseen it... searching it for 1 1/2 hours...)

[2021-07-08 07:18] swcurran commented on #1299
Pretty sure it is in the attachment, I think the base-64 encoded field.  Decode that and you should see it.

[2021-07-08 14:32] iaman1998 commented on #1292
Seems the issue was about Content-Type , i didn't mention application/json and thus it wasn't working. It used to work in older versions so I thought it would work here too. But now it is all settled. Thank you. @esune and @ianco for your help.

[2021-07-08 14:32] #1292 closed

[2021-07-08 18:57] #1261 closed

[2021-07-08 20:29] esune commented on #1279
Can you try replacing `PORTS="8000 8001"` with PORTS="8000:8000 8001:8001"? The agent is runing correctly, is the docker port mapping that is failing.

[2021-07-09 16:56] wip-abramson opened #1307 "Minor Bug - 0.7.0: DID wallet posture remains "wallet_only" after assigning public sov DID for agent"

[2021-07-09 17:00] wip-abramson opened #1308 "Bug: No Error when writing Schema When Not in Endorser Role"
When attempting to write a schema to the indy ledger without the appropriate role ACA-Py agent should throw error message.

Instead the schema appears to be created, including a schema_id added to list returned from "/schemas/created" endpoint.

As expected, schema is not added to ledger.

[2021-07-09 17:10] wip-abramson opened #1309 "Minor Bug: Endorse-Transaction endpoint mismatch"
Suggest

"/transaction/{tran_id}/resend"

should be

"/transactions/{tran_id}/resend"

[2021-07-10 15:07] ely459 opened #1310 "How to issue an image as part of a credential"
Is it actually possible to issue a credential where one of the attributes is an JPEG image?

What has been tried :

[code]

However, a not so descriptive error is raised:
[code]

Any help on the matter would be highly appreciated !

[2021-07-10 15:21] phearaeun opened #1311 "Basic message does not return response beside {}"
I followed [This thread](https://github.com/hyperledger/aries-cloudagent-python/issues/1263) and everything works very well but the last suggestion to send basic message in order to change status from sent to active does not work.
The basic message returns only {} (200 status code).

Any help is appreciated.

Thanks

[2021-07-10 17:02] phearaeun commented on #1311
Updated:
Even the state has not been updated to active, but we can still issue credentials based on the generated connection id. Is it the intended behavior?

[2021-07-12 02:26] #1256 closed

[2021-07-12 08:19] srbms23 opened #1312 "present-proof/create-request as QR code?"
Is there a way to show present-proof/create-request as QR code so it can be easily scanned from a Wallet on a Cellphone? The idea is same as with invitation-url when new connection is created.

If it works, I would also appreciate if someone could shortly explain how to do that.

Thanks in advance!

[2021-07-12 09:30] swcurran commented on #1312
Yes, this is a supported feature, called a "connection-less presentation".  There are a number of examples of this used in the community.  For example, you can look at [vc-authn-oidc](https://github.com/bcgov/vc-authn-oidc) which uses this technique to create an Open ID Connection IdP based on verifiable credentials.

I'm sure there are other simpler examples, but that might be a useful place for

[2021-07-12 09:31] swcurran commented on #1312
Note that there are ways to do this with AIP 1.0 (as with the example above) and with AIP 2.0 using the Out of Band Protocol.  It can be found here: https://github.com/hyperledger/aries-rfcs/blob/master/features/0434-outofband/README.md

[2021-07-12 09:38] srbms23 commented on #1312
Thank you @swcurran for a quick response!
That is a good starting point for me!

In case of further questions, I will reopen this issue.

[2021-07-13 08:17] #1299 closed

[2021-07-13 09:57] swcurran opened #1313 "Update the resolver for did:sov to use the latest DID Method Rules"
Please update the DID Resolver within ACA-Py for "did:sov" to follow the rules as recently updated in the DID Method spec.  This means adjusting the returned DIDDoc to exactly what is documented in the DID Method spec for the cases of their being no endpoint ATTRIB, a "current convention" endpoint ATTRIB and support for the defined new convention endpoint ATTRIB.

The PR for the DID Method that hi

[2021-07-13 13:12] dbluhm commented on #1313
https://github.com/hyperledger/aries-cloudagent-python/blob/main/aries_cloudagent/resolver/default/indy.py#L64-L91

[2021-07-14 12:32] mloepfe opened #1315 "--read-only-ledger command line option is either useless or buggy in provision mode"
I'm trying to provision (create wallet) an aca-py agent and tried to set the ledger to read-only. According to the --help output and the respective code, in provision mode there is the generic --read-only-ledger option.

In the settings the flag is named 'read_only_ledger'.
In the ledger code it is queried as 'ledger.read_only'.

In aries_cloudagent/commands/start.py there is an explicit assignmen

[2021-07-14 16:05] esune commented on #1315
Provisioning and starting the agent are two different tasks, and that is why there may be the need to have ledger access. @andrewwhitehead and/or @ianco might have better explanations for the reasons this is necessary.

About your need to provision an `AUTHOR`: you should not set the agent as `read-only`, as it will be writing to the ledger - just not independently, but via endorsed transactions (

[2021-07-14 18:03] #1307 closed

[2021-07-14 21:10] mloepfe commented on #1315
As much as I know, there are two ways to write endorsed trx to the ledger, one by the author and the other by the endorser. What I had in mind, was the second way, where the endorser directly writes the endorsed trx to the ledger.

[2021-07-14 22:07] Fethbita commented on #1311
If you have used `out-of-band` and `did-exchange` to create a connection, the state should automatically change to active once the establishment is completed. However if you use the older `connections` endpoints to create a connection, sending either a trust ping or basic message _should_ set the state to active. The return code aside, if you check your connections after sending a basic-message, w

[2021-07-15 05:56] jcourt562 opened #1319 "Keyword conflict with /transactions/create-request, request body schema name Date"
Running Swagger Codegen for Typescript on the 0.7.0-rc1 flags an issue with  the `Date` Model type. It causes it to rename the type to `ModelDate`.  In the past this sort of manipulation has caused issues with the packing/unpacking code Swagger generates.

**Details**
There is a model type of `Date` that seems to have been defined for the `POST /transactions/create-request` endpoints body.

It is

[2021-07-15 05:59] domwoe commented on #1313
Please don't remove support for additional service types beside did-communication/DIDcomm. In the Business Partner Agent project we rely on service type "profile"

[2021-07-15 06:28] jcourt562 opened #1320 "Invalid $ref of #/definitions/IndyAttrValue for the IndyCredential>properties>values field"
It looks like all $ref values in the generated openapi.json file has changed from 0.6.0 to 0.7.0-rc1.  They use to be of the format

"$ref" : "#/definitions/V20PresExRecordList"

They now seem to be of the format

"$ref": "#/components/schemas/V20PresExRecordList"

However this is not the case for the IndyCredential>properties>values field which seems to have retained an invalid reference to :

"$

[2021-07-15 06:48] swcurran commented on #1320
@andrewwhitehead ^^^

[2021-07-15 06:50] swcurran commented on #1313
That one is new to me.  Could you give an example and where it comes from?

[2021-07-15 06:51] swcurran commented on #1319
@andrewwhitehead ^^^

[2021-07-15 07:17] jcourt562 commented on #1320
Sorry this one looks like I jumped the gun.  Running the `generate-open-api-spec` tool in ACA-py doesn't show this issue so it is clearly something in my swagger environment.

[2021-07-15 07:17] #1320 closed

[2021-07-15 07:21] domwoe commented on #1313
https://hackmd.io/4oZOgwFOQDSFUuu3ruN-_g

[2021-07-15 08:00] domwoe commented on #358
Implemented in PR #1220

[2021-07-15 08:00] #358 closed

[2021-07-15 08:25] santidediego opened #1321 "Error when authenticating in Multitenancy mode"
I create a new subwallet with **/multitenancy/wallet** and get my received token. Body in the post method is:

[code]

Then I authenticate using swagger by using _Bearer {token}_ following the steps in the [multitenancy docs](https://github.com/hyperledger/aries-cloudagent-python/blob/main/Multitenancy.md)

When I try to run (for example) a **/wallet/did/create** method for creating a local DID I

[2021-07-15 11:27] Marco77577 opened #1322 "Create and Consume the Same Schema"
Hello there,

I am playing around with two agents, one of them issuer, the other one verifier (additionally, I am running a local VON network).

I created a controller for the issuer that will, on startup, create the required schemas and credential definitions to issue a credential. This works like a charm. However, when starting up the verifier, I am unsure on how I can retrieve the correct schem

[2021-07-15 15:41] esune commented on #1315
@mloepfe  you are right, however I believe the `AUTHOR` agent still needs to be in "write mode" in order to update their keys/metadata on the ledger (e.g.: endpoint). I am not 100% clear on this so rather than going on a goose chase I'll let the people I tagged above chime in on this.

[2021-07-15 15:55] ianco commented on #1315
I don't think the `--read-only-ledger` option makes sense in "provision" mode, it should probably be removed.

Also I believe @mloepfe is right an Author can ask the Endorser to write the transaction to the ledger.  (With the caveat that we don't have 100% of the transactions converted for Endorser support yet.)

[2021-07-15 16:01] ianco commented on #1321
Not sure off the top of my head exactly how this works, but you can check the alice/faber demo, which supports creating sub-wallets in multitenancy mode.  The demo code for creating new wallets is here:

https://github.com/hyperledger/aries-cloudagent-python/blob/89324e24dfbc46d22e4bca5895089c08558e6943/demo/runners/support/agent.py#L402

[2021-07-16 03:31] phearaeun commented on #1311
I used old connections with auto-accept not oob. Once invited and accepted automatically, I tried to send basic message. After the message is sent, the state is not updated but I can still issue credentials.
Here is the connection status:

Issuer:
`{
  "results": [
    {
      "their_label": "yy",
      "invitation_mode": "once",
      "invitation_key": "ZUeZ9aXeNodBiZ3BMDLdkB5MVzfEoBjcaxi85DFzhjh

[2021-07-16 08:38] baegjae opened #1323 "[multitenancy + askar] connection error occurs occasionally"
Congratulations on releasing 0.7.0.
With this, we are testing `askar` features.
I encountered connection error occasionally, and below is the situation.

1. Faber sub-wallet is created with `wallet_type` askar.
2. Alice sub-wallet is created with `wallet_type` askar.
3. Do Faber-Alice demo (connection, issue, proof), and delete Alice sub-wallet.
(no public invitation)

I did Step 2 and 3 repeatedl

[2021-07-16 14:39] mloepfe commented on #1315
The trigger, why I tried to use the read-only option, was the hope to get rid of the error reported because the TAA could not be handled because there is no interactive terminal (in docker) available.
The workaround I take now is to run it in 'start' mode with read-only and auto-provisioning option enabled just for provisioning. It's not nice, but works.

[2021-07-16 14:50] swcurran commented on #1311
@ianco can you please take a look at this?  Thanks!

[2021-07-16 19:30] ianco commented on #1311
I tried running with the latest version of aca-py in the `main` branch and everything seems to work.

I ran a local von-network with `./manage start 192.168.0.22 --logs` (runs a network on my local IP)

I started the alice and faber agents using the following scripts in the `aries-cloudagent-python/demo` directory (note I ran these in 2 separate shells):

[code]

These start up with the connection

[2021-07-16 19:36] ianco commented on #1311
OK I noticed that the two scripts above included `--auto-ping-connections`, which explains why they went into active status.

So I removed this flag, tried again, and now the connections ended up in `response` status

However when I send a basic message from faber to alice then it bumped the connections into `active` status

[2021-07-16 19:37] ianco commented on #1311
@phearaeun can you confirm exactly what you're doing?  What version of aca-py, how are you starting the agents, which agent is initiating the connection invitation and basic message?

[2021-07-17 04:34] phearaeun commented on #1311
Thank you for the follow-up.

I read the demo code to understand how it works and then I started to create my own controller.
I run everything locally. No docker used.

I pulled the latest update from aries_cloudagent repo (main branch).

I have created my own controller to manage the agents. The controller creates agent service by `python -m aries_cloudagent <args>`.
This controller is executed f

[2021-07-17 09:39] Fethbita commented on #1311
You forgot to accept_request from the inviter agent. `connections/{con_id}/accept-request` endpoint

[2021-07-19 01:08] phearaeun commented on #1311
@Fethbita, You are right but even I accept the request, the issue is still the same.

[2021-07-19 01:57] phearaeun commented on #1311
From the demo in `agent_container.py`
Line: 108 - 115

[code]

I think it behaves same as the codes above.
If you see the results from the above thread, Sent invitation and the result received after invitation accepted are in this check. This means `response-sent` rfc23_state is no need to be active but `response-sent` to be connected.

[2021-07-19 13:16] ianco commented on #1311
@phearaeun after you accept the invitation your connection is `"state": "request"`, which means that you have sent the connection request but it has not been accepted.

Not sure why, if you have the `auto` flags set.

 (In fact if you have `--auto-accept-invites` set then you shouldn't need to call the `/accept-invitation` endpoint, and in fact this should result in an error as the connection will

[2021-07-19 13:27] phearaeun commented on #1311
@ianco I've sent two requests for accepting the invitation
[code]

I've no idea why it doesn't produce an error while setting --auto-accept-invites and calling /accept-invitation. It's just working fine.

I tried to do it step by step including checking results in /connections.

I haven't checked at `status/config` before but recently I checked it and it looked fine. Could you tell me how it looks

[2021-07-19 13:35] ianco commented on #1311
The `/system/config` just reflects the aca-py startup settings, and it looks like your does (i.e. all your `auto` flags seem to be set)

You should just need 1 call to each agent:

1. The inviter calls `/connections/create-invitation`
2. The invitee calls `/connections/receive-invitation`

Everything else should happen automatically (since you have auto accept invites, auto accept requests, and au

[2021-07-19 14:01] ianco commented on #1311
Going through this ticket again I'm pretty sure the endpoints are the issue.

I notice both agents have endpoints using `localhost` - are you running these agents locally, in docker images, on a platform such as AWS, or ... ?

The endpoints need to be something meaningful to the agents, for example of they are running in separate docker containers the endpoint should use the docker IP or docker im

[2021-07-19 14:08] phearaeun commented on #1311
I am running all instances on localhost, No docker or and vps involved. Yes, I think it is an issue as well but all my endpoints are accessible. At the moment, I am testing with auto-accept/request and it produces the same result but a few second or after I go to /connections, there is one error coming:
[code]

I am still looking into this.

[2021-07-19 14:18] ianco commented on #1311
Try setting the logger to debug to get more info about what the agent is trying to do.

This is the method that is throwing the error (server.py line 199):

[code]

[2021-07-19 14:22] phearaeun commented on #1311
It happens only when `hard refresh` on agent hosts (Both issuer and holder)

[2021-07-19 14:35] phearaeun commented on #1311
Here is the logs for the connection process:
[code]

[2021-07-19 14:38] phearaeun commented on #1311
I think the error `HTTP Not found` is not related to the connection process. It's probably a bug on the web access. You can test with hard refresh (`shift+refresh(F5)` for my case)

[2021-07-19 15:12] ianco commented on #1311
From the logs it looks like everything is working

[2021-07-19 15:21] phearaeun commented on #1311
You are right. It's working. I can even call `/issue-credential-2.0/send-offer` after the invitation accepted. You can see from the above comments.

Could you also explain the reason from `agent_container.py`, line: 108 - 115? From Alice and Faber demo

As I see that condition is very similar to my case.

[2021-07-19 15:40] ianco commented on #1311
When the connection request is accepted the state goes to `response-sent`

If "auto ping" is enabled then that will put the connection in `completed` state

In either case the connection can issue credentials and ask for proofs

[2021-07-19 15:43] phearaeun commented on #1311
That means it doesn't to be `active` to be connected? So in my case `response-sent` is enough or is there anything else requires the state to be `active`?

[2021-07-19 16:00] #1323 closed

[2021-07-20 09:25] phearaeun commented on #1311
Here is the last update from the successful test result.
I removed:
[code]

Changed `--genesis-url` to `--genesis-transactions` to load response text instead of url.
I did everything manually. It WORKS!. However, the auto option still doesn't work.
[code]

[2021-07-20 09:27] srbms23 opened #1326 "Webhook URL specify"
I have 2 questions regarding Webhook URLs.

What is the easiest way to use Webhook-URL, what should I specify there?

How to start server in admin folder? Does this provide server that can be used for Webhooks?

Thanks!

[2021-07-20 12:10] swcurran commented on #1322
This is the core of the verifier's challenge -- what issuers do you trust and how do you decide?

In the "real world" and with paper credentials, we "hard code" the value -- we decide what credentials we want and ask for them: "Please provide your driver's license and one other piece of ID from a bank or utility company". For VCs, you are faced with the same issue.

For small use cases, with limit

[2021-07-20 12:10] #1322 closed

[2021-07-20 12:16] swcurran commented on #1313
Dom -- the "profile" is not a convention that has been supported in Indy AFAIK -- e.g. are there any ATTRIBs on Sovrin MainNet using it?  On the other hand, the "endpoint" ATTRIB is commonly used on Sovrin and likely other Indy networks.

For that and many other use cases, we really need to have "did:indy", so that the controller of the DID can define what they want in their DIDDoc.  That is suppo

[2021-07-20 13:39] phearaeun commented on #1326
1. What is the easiest way to use Webhook-URL, what should I specify there?
As webhook url is another web service which waiting for the requests, you can set it anywhere which your controller can access to.
From `aca-py`, your webhook will receive some endpoints such as:
[code]
and several more.

Your webhook should be able to handle those requests so that your controller can interact the request

[2021-07-20 23:10] jcourt562 opened #1327 "GET ​/present-proof​/records​/{pres_ex_id}​/credentials model doesn't match returned presentation_referents"
Version  : 0.7.0

Description :
The model for `IndyCredPrecis` provides a field name of `pres_referents` however the returned response body for `GET ​/present-proof​/records​/{pres_ex_id}​/credentials` has the field called `presentation_referents`.  For code generation to work for any language these have to match .  Attaching a screen shot of from the Swagger UI showing the response and model.

![

[2021-07-20 23:45] jcourt562 commented on #1327
I should point out that this is the result using the V1.0 interfaces. I haven't yet tried with the V2.0 interfaces.

[2021-07-21 07:52] domwoe commented on #1313
I agree that we should move forward with did:indy, but it would be great to preserve this functionality in did:sov as well to not break our BPA deployments.

The did-sov driver of the uni resolver has always supported this feature and still is (see https://dev.uniresolver.io/1.0/identifiers/did%3Asov%3Aidu%3A4PDz9iiQqgVXhMA7nWqRzS). Although an ID should be added to the service.

Furthermore, we a