[2019-06-18 20:26] nrempel opened #11 "IIWBook no longer boots. Investigate"
Looks like possible change in the way agent retrieves schema

[2019-06-20 16:44] nrempel opened #10 "add ability to add alias to connection (internal only)"

[2019-06-20 16:45] nrempel opened #9 "Automate invitation bootstrap in development"

[2019-06-20 17:07] nrempel opened #8 "Go deeper on issuer_reg docs expected payload"

[2019-06-20 18:10] nrempel opened #7 "Create "context builder""

[2019-06-20 18:11] nrempel opened #6 "Create top-level queue abstraction"

[2019-06-20 18:13] nrempel opened #5 "Create Model abstraction"
roll up model storage pattern into new abstraction

- sends webhooks
- ephemeral option (only send webhook)

[2019-06-20 18:14] nrempel opened #4 "Move webhook utils to top level as service provider"

[2019-06-20 18:23] nrempel opened #3 "Create admin interface for dynamic registration of webhooks"
subscribe for an endpoint (return path) and topics requested

[2019-06-20 18:26] nrempel opened #2 "Clean shutdown"

[2019-06-22 02:47] swcurran opened #1 "Rename or recreate the repo"
Please at least rename this repo to "aries-cloudagent-python" in preparation for transferring it to Hyperledger.  Alternatively create a new repo by that name.  Either way, please make sure that the standard BC Gov files are put into the repo - licence, contributions, etc.  All repos should always have that, and Shea mentioned there might be a tool for doing that.

@nrempel - should we just create

[2019-06-24 22:59] WadeBarnes commented on #1
All issues have been transferred to the new repo, and the `indycat-agent` has been deleted.

[2019-06-25 15:53] swcurran opened #12 "Get the ReadTheDocs code generating cleanly and completely"
We'll add text around that, but at minimum get the generation working for all of the code.

[2019-06-25 15:55] swcurran opened #13 "Consolidate and clean up the Alice/Faber demo"
Things wanted:

- get all the demo components in one directory - scripts, docker files, instructions.
- call the script to run it "manage" to match the rest of our repos
- have a stop and options at every webhook part for both Alice and Faber
- pretty print the JSON dumps

[2019-06-25 15:57] swcurran opened #14 "Get circleci running in bcgov environment in prep for transfer to HL"

[2019-06-26 21:54] swcurran commented on #14
Reassigning to @WadeBarnes in hopes he can fit this in this week.

If you can't, please at least comment out the CircleCI badges on the readme so that those don't show up, and reassign to me.

Thanks!

[2019-06-26 22:00] swcurran opened #16 "Remove von_anchor dependency - migrate utils being used into repo"
@nrempel did a bit of investigation.  @andrewwhitehead, you might check with him if you aren't sure of the scope of this.

[2019-06-27 21:24] WadeBarnes commented on #14
Wired up CircleCI and CodeCov with some help from @nrempel.  CircleCI as been configured to build PRs from forks.  Badges and links are working.

The `master` branch has been protected.  Merges require a review, build to succeed, and DCO sign-off.

Just need a new logo.

[2019-06-28 16:24] swcurran opened #20 "Update the RTD docs-from-code process to produce more useful information for developers"
We have functioning ReadTheDocs (RTD) from source code generating at https://aries-cloud-agent-python.readthedocs.io/en/latest/ (See the "Modules" link).  It's working (yay!) but the generated result is not useful. Everything appears to be in the "aries_cloudagent" module, so you can't traverse the modules.

The current method for generating is here: https://github.com/swcurran/aries-cloudagent-py

[2019-06-28 17:14] WadeBarnes commented on #20
Switched to using `sphinx_rtd_theme`:
`pip install -U sphinx-rtd-theme`
Update `./docs/conf.py`; `html_theme = 'alabaster'` => `html_theme = 'sphinx_rtd_theme'`

[2019-07-02 18:00] swcurran opened #32 "Remove references to "host.docker.internal" in storage/wallet tests"
In the storage and wallet tests, the docker host reference is hard-coded to "host.docker.internal", which doesn't work on Linux.  Please change the reference to an environment variable (likely DOCKERHOST) and then trace back to how the tests are run to make sure they are invoked properly.

Let me know how to run the tests before so I can try them, and then after to verify the fix on Linux.

[2019-07-02 20:52] jljordan42 opened #35 "Transfer bcgov/aries-cloudagent-python repo to Hyperledger organization"
@WadeBarnes

Please transfer this repo to the Hyperledger organization.

[2019-07-02 20:57] WadeBarnes commented on #35
Transferred `https://github.com/hyperledger/aries-cloudagent-python`

[2019-07-02 21:05] #35 closed

[2019-07-03 16:02] dbluhm opened #37 "Unpacking and decorator check ordering"
For context: https://github.com/hyperledger/aries-cloudagent-python/blob/727b3430492e3d3b9d96c8a648d792f673799058/aries_cloudagent/messaging/serializer.py#L51-L90

The order of decorator checks and unpacking seems off; it first deserializes which would result in a dictionary with 'tag' and 'iv' and 'ciphertext' etc for a packed message but then checks for '~thread' and '~transport' in that diction

[2019-07-03 16:45] swcurran commented on #37
@nrempel - please take a look. Thanks.

[2019-07-03 17:43] nrempel commented on #37
This logic looks sound. I've tested this and it is working as intended with packed messages.

The code block referenced above handles plaintext messages.

If the message is packed it falls through to the following code-block which will be run when the message is packed:

https://github.com/hyperledger/aries-cloudagent-python/blob/727b3430492e3d3b9d96c8a648d792f673799058/aries_cloudagent/messaging/

[2019-07-03 17:53] WadeBarnes commented on #37
I believe @sukalpomitra has an example of a deserialization error.

[2019-07-03 17:55] dbluhm commented on #37
https://github.com/hyperledger/aries-cloudagent-python/blob/727b3430492e3d3b9d96c8a648d792f673799058/aries_cloudagent/messaging/serializer.py#L88

For the decorator parsing to be run on messages that are packed, though, wouldn't the dictionary obtained at this line need to go through the processing above this block as well?

I don't have code myself; @sukalpomitra (rocket.chat handle) brought this

[2019-07-03 18:23] nrempel commented on #37
The processing still occurs, but it happens as part of a (de)serialization pipeline. You can see the decorators that are supported here:

https://github.com/hyperledger/aries-cloudagent-python/blob/727b3430492e3d3b9d96c8a648d792f673799058/aries_cloudagent/messaging/decorators/default.py#L12-L16

The prefix is applied here:

https://github.com/hyperledger/aries-cloudagent-python/blob/727b3430492e3d

[2019-07-03 18:27] andrewwhitehead commented on #37
The ~thread and ~transport parsing should move after the unpacking, they're both used in the return route handling.

[2019-07-03 23:09] swcurran opened #39 "Review and define tasks to implement the did:peer method in aries-cloudagent-python"
Please review the most recent updates to the did:peer method spec - https://openssi.github.io/peer-did-method-spec/

As you review it, please identify tasks we can add to this product now. For example:

- naming DIDs with the "did:peer:" prefix. Likely that would continue to be interoperable with any other agent.
- Generate the DID itself using the algorithm defined in the spec. Again - likely to

[2019-07-03 23:10] swcurran commented on #39
@nrempel not sure if this is best for you or Andrew or both. If Andrew or both, please add him next week when he is back from va-cay. Thanks

[2019-07-04 09:39] sukalpomitra commented on #37
Hi All, I think we can close this defect. The actual defect was the byte array was coming as empty. But once it came in, it actually worked. So no change is required. Once the dictionary does not have the @type key, it goes to the routine where it gets unpacked.  @dbluhm please feel free to close the bug

[2019-07-04 11:40] sklump commented on #37
I'm not so sure about that. If a decorator is marked `required=True` in the schema class, this code strips it out before marshmallow validation and so no model instance can deserialize; marshmallow raises 'data not found' for it.

Aries#0036 is built on data structures with attachment decorators, so I've had to kludge around it like this in `aries_cloudagent/messaging/decorators/base.py:BaseDecora

[2019-07-08 19:20] #1 closed

[2019-07-08 20:14] kdenhartog opened #45 "Demo bug discovered"
When I was running through the demo using the `./run_demo` scripts I encountered a bug.

Steps to reproduce it:
1. start the VON network.
2. start Faber agent using `./run_demo faber`
3. start Alice agent using `./run_demo alice`
4. Send invitation details from Alice agent to Faber Agent
5. close Alice agent
6. start Alice agent again using `./run_demo alice`
7. Resend same invitation details from

[2019-07-08 22:33] ianco opened #47 "Credential exchange receiving webhook callback with no "state""
To reproduce:  send a credential using the '/credential_exchange/send' admin method

Callbacks are received with each message state (including 'issued') however additional messages are received by the web hook with no 'state in the message

[2019-07-09 01:22] andrewwhitehead opened #48 "Connection invitation handling improvements"
Some updates to improve the granularity of the 'auto-accept' feature for invitations and reduce the number of configuration options.

- [ ] Remove the `--accept-invites` and `--accept-requests` command line parameters

- [ ] Add an `auto_accept` property to connection records. When the flag is set on a given connection record and corresponding connection request is later received, automatically se

[2019-07-09 01:38] andrewwhitehead commented on #45
Hi Kyle, that's actually expected behaviour, apart from the 'Message parsing failed' message which should be fixed shortly (it's in a PR). The agent doesn't currently allow invitations to be reused.

[2019-07-09 02:09] swcurran commented on #48
@andrewwhitehead - what is the planned timing on this?  I have this documented in the OpenAPI demo that I'm planning to use on Wednesday.  Are you talking before or after?

Documentation is here:  https://github.com/hyperledger/aries-cloudagent-python/blob/master/demo/AriesOpenAPIDemo.md#running-the-demo-steps

Main thing to look at is the invocation.

[2019-07-09 02:14] andrewwhitehead commented on #48
@swcurran  I'm not planning to implement this right away, nothing is currently depending on it.

[2019-07-09 02:20] swcurran commented on #48
OK good.  I think it looks good.

On Mon, Jul 8, 2019 at 7:14 PM Andrew Whitehead <notifications@github.com>
wrote:

[2019-07-09 19:19] andrewwhitehead opened #50 "REST API support for DID operations"
In order to connect a running Agent to a non-von-network ledger, it would be useful to have some wallet/DID operations exposed through the API.

- [ ] Create a new DID (from a random seed)
- [ ] List existing DIDs and verkeys
- [ ] Nominate a DID as the current public (ledger) DID

It would also be nice to return the active DID from the /status endpoint.

[2019-07-09 20:27] #47 closed

[2019-07-09 20:28] nrempel commented on #14
circleci is up and running now 👍🏼

[2019-07-09 20:28] #14 closed

[2019-07-09 20:29] nrempel commented on #11
This has been fixed in a previous update to icatagent - now aca-py

[2019-07-09 20:29] #11 closed

[2019-07-10 00:15] kdenhartog commented on #45
Ahh gotcha, that makes sense that it shouldn't be possible to replay an invitation. I'll take a look and see if I can add a few lines in the guide as well to highlight that invitations cannot be reused as well.

[2019-07-10 00:15] #45 closed

[2019-07-10 00:20] swcurran commented on #45
The guide is getting updated right now, so probably best to hang on for that a bit :-)

[2019-07-10 17:06] muhammadusman93 opened #57 "Aries OpenAPI Demo Issue"
In Issuing a Credential section, the demo instructions asks to following

**_Next, scroll down to the POST /credential-definitions section that was executed in the previous step._**

However, the document never asked to execute the POST/ credential-definitions. Kindly check .

Thanks.

[2019-07-10 17:14] ianco commented on #57
Thanks for the feedback!

This is fixed in https://github.com/hyperledger/aries-cloudagent-python/pull/58

[2019-07-10 17:45] muhammadusman93 commented on #57
Thanks for the quick reply.

I also changed the "p_value":  18 to "p_value":  180 in requesting a proof.
I cannot see a difference as both of these show "state": "presentation_received".

Thanks.

[2019-07-10 17:56] ianco commented on #57
Try to validate the proof and see what happens!

[2019-07-11 18:19] SmithSamuelM opened #61 "Open API Aries Faber Alice Demo"
I am able to run the demo using docker playground up until the send credential step
On the Faber tab
The connection id is from the get_connection on the faber tab
The cred_definition is the CRED_DEF Transaction ID
The credential body

[code]

request url
http://ip10-0-55-4-bkjn6p15do8g14edjijg-8021.direct.play-with-von.vonx.io/credential_exchange/send

The response returns an error

500 Internal S

[2019-07-11 19:41] SmithSamuelM commented on #61
I was able to get the demo to work using docker not docker playground. So there might be a bug in the docker playground setup or something.

[2019-07-11 19:49] SmithSamuelM opened #62 "Document updates for the Controller Demo and getting it working under python"
Should change readme.md to include explicit link to von-network setup page where it says to start up von-network

https://github.com/bcgov/von-network#running-the-network-locally

[2019-07-11 19:55] SmithSamuelM commented on #62
This section is not sufficiently specific:

Follow The Script

With both the Alice and Faber agents started, go to the Faber terminal window. The Faber agent has created and displayed an invitation. Copy this invitation and paste it at the Alice prompt. The agents will connect and then show a menu of options:

It should say:  Copy only the value of the invitation: key from the Invitation Response.

[2019-07-11 19:58] SmithSamuelM commented on #62
The menu is wrong

The correct menu for Faber is

(1) Issue Credential,
(2) Send Proof Request,
(3) Send Message
(X) Exit? [1/2/3/X]

The correct menu for Alice is

(3) Send Message
(4) Input New Invitation
 (X) Exit? [3/4/X]:

[2019-07-11 20:09] SmithSamuelM commented on #62
The Running Locally instructions are bad.
There is not faber-pg.py file and faber.py does not seem to be meant to be run from the command line.
Likewise for alice-pg.py and alice.py

Running Locally

To run locally, complete the same steps above for running in docker, except use the following in place of the run_demo commands for starting the two agents.

python faber-pg.py 8020
python alice-pg.py

[2019-07-11 20:55] SmithSamuelM commented on #62
I used the python -m from the parent directory to avoid the module not found (due to relative import references) but still get this error

Looks like there is still a dependency on indy? that is not installed?

import indy.anoncreds
Faber      | ModuleNotFoundError: No module named 'indy'
Faber      |

$ python3 -m demo.faber 8020

#1 Provision an agent and wallet, get back configuration details
F

[2019-07-11 21:01] SmithSamuelM commented on #62
The offending file is

wallet/indy.py

with

import indy.anoncreds
import indy.did
import indy.crypto
import indy.pairwise
from indy.error import IndyError, ErrorCode

Note that in requirements.txt

aiohttp~=3.5.4
aiohttp-apispec~=1.1.2
aiohttp-cors~=0.7.0
base58
marshmallow==3.0.0rc3
msgpack>=0.6.1<0.7
pysodium>=0.7.1<0.8

There is no dependency on
indy

[2019-07-11 22:24] nrempel commented on #62
Hi Sam, at the moment the recommended approach for running aca-py is to use the provided Dockerfiles.

Indy has a number of complicated dependencies so we wrap those up in a docker image.

For running the agent locally, please refer to instructions here: https://github.com/hyperledger/aries-cloudagent-python/blob/master/DevReadMe.md#running-locally

For running the demo, please refer to the docker

[2019-07-11 22:52] SmithSamuelM commented on #62
@nrempel

Thanks for the pointer but that doesn’t really help me much. I am trying to dig into the code to understand how it works so I can write something for real besides the demos. I want to be able to run the agent demo code locally (not in docker) so I can single step through the code and trace all the calls and dependencies. Especially so I can write my own controller or change the functiona

[2019-07-11 22:56] swcurran commented on #62
Sam, the even better answer that will help you even more is learning how to debug when running in docker. Best of both worlds. I think Nick has that nailed.

[2019-07-11 23:13] SmithSamuelM commented on #62
@swcurran as far as I can tell the only support for debugging is for Visual Studio debugger and I am on MacOS and don’t use visual studio.  It really shouldn’t be hard to get it running locally I can just trial and error the Indy dependencies but I thought your guys would just know which one to use to save me time.    Moreover debugging a demo is not the same as doing development.  As this is a py

[2019-07-11 23:16] nrempel commented on #62
@SmithSamuelM, gotcha.

There are several reasons we lean on Docker heavily:

A) Indy is intended to be an optional dependency to aca-py since the project should be agnostic to the ledger identities are anchored in. Indy is only referenced if the agent is run in an "Indy" mode - we will be working to split this out further in the future.

B) We use Docker internally for our deployments.

C) Instal

[2019-07-11 23:28] SmithSamuelM commented on #62
As it should be. Happy to help.  From the docker config it looks like the only issues that really require docker like config are permissions issues for storing private keys which are not so important in development. The rest are just library dependencies for the Indy crypto libraries which should be installable as either wheel packages are explicit dependencies.  Using docker just hides making the

[2019-07-11 23:33] nrempel commented on #62
Thanks Sam!

[2019-07-14 02:00] dongwangdw opened #69 "incompatible shell"
I try to run through the docs. when to run `run_tests`, I got the error:

```./scripts/run_tests: [[: not found```

As I found the in the script that this shell script just uses `sh` not `bash`. And `[[ ... ]]` is not good. I would advise to the syntax consistent.

My os is: ubuntu 18.04, bash and amd64. Is this anything which should be fixed?

[2019-07-14 03:49] dongwangdw opened #70 "ptvsd never return."
I try to run the local daemon with `./script/run_docker`.
The script is stuck at `=== Waiting for debugger to attach ===`.

I doubt it is expected. Just want to confirm this. Or I missed anything.
I have installed the ptvsd module.

[2019-07-14 13:20] swcurran commented on #69
Definitely should be bash. Will need to address this.

[2019-07-14 13:59] dongwangdw commented on #69
Yes, I think so. Let me make a pr for this.

[2019-07-15 10:09] pshannigan commented on #61
Hi

I've been having trouble geting the demo to work on a Ubuntu virtual box, I've installed Docker CE successfully and followed the instructions but the scripts fail to compile.  Could you give me some details on how you accomplished it within docker as I am struggling.

[2019-07-15 13:28] swcurran commented on #61
I'm on Ubuntu and just ran through it and all worked.  Can you please post where you ran into trouble.  I was following the instructions here:

https://github.com/hyperledger/aries-cloudagent-python/blob/master/demo/AriesOpenAPIDemo.md

[2019-07-15 21:15] swcurran commented on #69
FYI - here is the low down on single vs. double square braces in bash:

https://stackoverflow.com/questions/13542832/difference-between-single-and-double-square-brackets-in-bash

We should be using just a single `[` in the scripts and definitely all should be running bash only.  If it works with other shells, that's good, but bash is the target.

I'm going to update the demo script (./run_demo in

[2019-07-15 21:27] swcurran commented on #70
@nrempel - can you please take a look at this?  Thanks!

[2019-07-15 21:29] swcurran commented on #62
@ianco - can you please take a look at this one?  I can't assign it to you.  There are a couple of things referenced in this - the menu, some instructions text and then running locally.  I could address the first two, but the last I can't do because, well - you know - I don't have a fan.

I'll assign to me, but if you could look, that would be great...

[2019-07-15 21:31] #32 closed

[2019-07-15 21:32] #2 closed

[2019-07-15 21:32] #4 closed

[2019-07-15 21:33] #6 closed

[2019-07-15 21:33] #7 closed

[2019-07-15 21:33] #13 closed

[2019-07-15 21:36] swcurran commented on #37
@nrempel @andrewwhitehead - this is marked as Done, but the last comment does not shout "resolved" to me.  Can one/both of you please confirm that we are good and that the issue can be closed?

Thanks

[2019-07-15 21:36] #16 closed

[2019-07-15 21:37] andrewwhitehead commented on #37
@swcurran  Different issue, we can address that on the Aries 36 PR.

[2019-07-15 21:48] nrempel commented on #70
Hi @dongwangdw, this is intended behaviour if you pass the `--debug` flag when running the agent. If you do not use `--debug`, you should not see this.

[2019-07-15 21:53] #8 closed

[2019-07-15 21:54] nrempel commented on #9
@ianco I believe you picked this one up and accomplished this in the issuer controller. Feel free to reopen if it still needs to be completed.

[2019-07-15 21:54] #9 closed

[2019-07-15 22:26] sklump commented on #37
It's resolved. One solution is to subclass the decorator set, inherit extract/load-decorators method, they pass that to the agent message+schema initializer in the AgentMessage subclass à la Aries#0036 PR.

[2019-07-15 23:29] dongwangdw commented on #69
@swcurran
I have composed a patch for this. If you did not do it, let me do this.

[2019-07-15 23:40] dongwangdw commented on #70
Yes, I run the command with `--debug`.  OK, if it is expected, shall we just make it clear on the doc and tell people what is this and what to do with it.

[2019-07-16 00:07] swcurran commented on #69
Sure - go for it.  Thanks!  @dongwangdw

[2019-07-16 00:11] swcurran commented on #70
I think the question is more whether the `run_docker` script should be using debug mode by default.

@dongwangdw - I assume since you mentioned ptvsd you are aware of what it is, and you know about the various command line parameters - listed here: https://github.com/hyperledger/aries-cloudagent-python/blob/master/DevReadMe.md#command-line-arguments (--debug means `Enables a remote debugging servi

[2019-07-16 00:21] swcurran commented on #70
Hmmm... run_docker doesn't do --debug by default, so all good.

[2019-07-16 01:21] dongwangdw commented on #70
@swcurran thanks for the info.
I just want to run through the startup. So that does mean I would need to config the debugger connection before I run the command ,right?
The command I ran is `./scripts/run_docker --inbound-transport http 0.0.0.0 10000 --outbound-transport http --debug --log-level DEBUG` from [here](https://github.com/hyperledger/aries-cloudagent-python/blob/master/DevReadMe.md#runn

[2019-07-16 01:34] dongwangdw commented on #69
https://github.com/hyperledger/aries-cloudagent-python/pull/72

[2019-07-16 21:56] nrempel opened #79 "Automate creation of releases"
We should create a way to automate new releases.

Ideally, the process is triggered from the creation of a github release. This would build and push a new release to PyPI.

It would also be nice if we could automate the updating of the [changelog](https://github.com/hyperledger/aries-cloudagent-python/blob/master/CHANGELOG.md)

[2019-07-16 21:58] nrempel opened #80 "Add PyPI badge to README.md"

[2019-07-17 17:56] nrempel commented on #70
Hi @dongwangdw, you can run `./scripts/run_docker --inbound-transport http 0.0.0.0 10000 --outbound-transport http --log-level DEBUG` which omits the `--debug` flag. This will run the framework without waiting for a debugger to connect.

[2019-07-17 17:58] nrempel commented on #69
Thank you @dongwangdw! The patch has been merged and is available in the latest release.

[2019-07-17 17:58] #69 closed

[2019-07-17 18:09] swcurran opened #83 "Updating and documenting running demos with plain python"
Current documentation references running a script that doesn't exist and doesn't account for getting the python requirements installed.  Trying to run it how we thought would work didn't - things were in folders that are not accessible.  Without breaking the docker stuff (or adjusting that as needed), get the "running python" approach working and documented.

Current document: https://github.com/h

[2019-07-17 22:40] #37 closed

[2019-07-17 22:45] #61 closed

[2019-07-17 22:45] swcurran commented on #39
@nrempel - ping for you to take a look.

[2019-07-17 22:46] #57 closed

[2019-07-17 23:33] ianco commented on #62
I think you just need to:

pip install python3-indy

This is part of the base image when we build the docker image so it's not in requirements.txt

[2019-07-17 23:48] swcurran commented on #62
The problem of building indy on bare-metal has been a constant pain in this project, which is why very early on we decide docker only. We see countless developers trying to sort these issues out for days just trying to get Indy to running on bare-metal.

We've got a pull request in to fix the folders problem, and we'll update the docs to give some guidance on how to run it, but the problem of gett

[2019-07-18 00:23] dongwangdw commented on #70
@nrempel OK. I will run that again, any issue I will let you know.

[2019-07-18 02:46] SmithSamuelM commented on #62
Thanks for following up.  I reported my problem in rocket chat I will copy. Here.
I was able to get the Indy working on bare metal. It  just needs a little more depth on the explaination and I will write that up as a pull request so the next person doesn’t have to repeat my problem. The biggest problem I had was not an Indy issue at all but that fact that rustc 1.36 and rusqlite 0.13.0 are incompa

[2019-07-18 03:09] SmithSamuelM commented on #62
A suggestion:  As a long time python developer. The standard practice that Python devs are familiar with and would be more welcoming is to use python virtual environments to freeze dependencies you don’t have control over instead of docker.  It makes sense to use docker to run the indy ledger its an external dependency but not the agent.  Although your design approach is that the agent should be s

[2019-07-18 18:51] nrempel commented on #39
Sorry I missed this, I'll look into it

[2019-07-18 19:02] swcurran commented on #83
Updates made to the scripts and updates made to the documentation.

[2019-07-18 19:02] #83 closed

[2019-07-18 19:10] swcurran opened #88 "Running the demo on a raspberry pi - agent not starting"
A user reporting running ACA-Py demo on a raspberry pi. The user has the demo running on a regular system, but it's failing to start up on the Pi, with the following details:

[code]

On the Pi I run:

[code]

Resulting Log:

[code]

[2019-07-18 20:35] swcurran commented on #62
Thanks for the thoughts, Sam.

We are very happy with our choice to be all in on container-based development and we won't be able to go too deep in supporting the range of bare-metal setups that might be used.  We're glad to help, and we're very glad to take PRs on how to do that, but we will stick to a Docker/container focus for our dev work.  I would add that our take is the use of Docker is VER

[2019-07-18 20:39] swcurran commented on #88
Suggestions from the team:

Another thought to confirm access to the ledger:

Try: `curl http://192.168.31.186:9000/genesis` from the PI. It will either give you the genesis file or not (if for example it's an IP only visible on the docker network)

[2019-07-18 21:15] swcurran commented on #88
A further follow up on this from one of the devs:

[2019-07-19 03:18] zzx02 commented on #88
Thanks for opening this issue, I tried `curl http://192.168.31.186:9000/genesis` and it returns the genesis file.
Using LOG_LEVEL=debug, I get the following:

[code]

[2019-07-19 03:24] andrewwhitehead commented on #88
It looks like the wallet's DeriveKey just runs very slowly on the Raspberry pi (13+ seconds) and the demo is timing out waiting for the agent to start. The `detect_process` method in `agent.py` currently waits 20 seconds but we could probably add a command line argument to adjust this.

[2019-07-19 13:41] SmithSamuelM commented on #62
@swcurran  thanks for the detailed explanation.  Docker is popular and capable enough that I can see it being chosen as a hard dependency; with good reason. =) Docker first, only, and always. Which means only remote debugging and only docker deployment. That would also naturally but unnecessarily tend toward hard dependency on Docker injection of environment dependencies even in dev. My confusion

[2019-07-19 14:54] swcurran commented on #62
We have the demo running locally on a mac with the most recent code update
using the most recent documentation updates.  Have you given that a try?
We're glad to help out with the issues you are having - please spin it up,
and send us the init setup and log (debug level).  We can also get on a
Zoom session with you to debug it.  We got logs yesterday and think we have
a fix for a "time out too sho

[2019-07-19 19:40] SmithSamuelM commented on #62
Thank @swcurran I had some other stuff keep me busy last couple of days. I will update to the latest version and try again. The zoom call offer is much appreciated.   =)

[2019-07-20 20:43] SmithSamuelM opened #90 "Running Alice Faber Demo locally on macOS"
I am following the instructions here
https://github.com/hyperledger/aries-cloudagent-python/tree/master/demo#Running-Locally

The place where I get stuck is  here:

"
Alternately, you can run the ledger using von-network mechanism, or some other instance of the ledger. In those cases, you must provide the agents access to the ledger genesis file, and you must ensure that the agents have write acce

[2019-07-20 20:55] SmithSamuelM commented on #90
If I just go ahead and run the faber agent without doing anything to setup the genesis file I get the following error.

#1 Provision an agent and wallet, get back configuration details
Faber      | Registering Faber Agent with seed d_000000000000000000000000655415
Faber      | Got DID: dTdsPpQPWxUxmDDM9TP1i
Faber      | 2019-07-20 14:51:40,854 asyncio ERROR Task exception was never retrieved
Faber

[2019-07-20 21:22] SmithSamuelM commented on #90
I also tried running the pool using the indy-sdk
Use instructions in the indy-sdk repo to run a local ledger.

https://github.com/hyperledger/aries-cloudagent-python/tree/master/demo#Running-Locally
$ cd indy-sdk/
1) Starting the test pool on localhost
Start the pool of local nodes on 127.0.0.1:9701-9708 with Docker by running:
$ docker build -f ci/indy-pool.dockerfile -t indy_pool .
$ docker run

[2019-07-21 00:03] gcsfred opened #91 "Broken links to demo/alice.py and demo/faber.py"
https://github.com/hyperledger/aries-cloudagent-python/blob/master/demo/README.md
has broken links to

https://github.com/hyperledger/aries-cloudagent-python/blob/master/demo/alice.py
and
https://github.com/hyperledger/aries-cloudagent-python/blob/master/demo/faber.py

[2019-07-21 02:05] SmithSamuelM commented on #90
I tried setting environment variables for the faber runner to point to the von-network url

The demo/run_demo  bash script looks for the environment variable LEDGER_URL
and the sets up the agent to use that and creates the associate GENESIS_URL
so maybe the .py files expect these

$ cd cloudagentpy/demo/
$ export LEDGER_URL="http://localhost:9000"
$ echo $LEDGER_URL
http://localhost:9000

$ export

[2019-07-21 02:06] SmithSamuelM commented on #90
So it seems to be stuck at the same point.

[2019-07-21 13:39] ianco commented on #90
Hi @SmithSamuelM

To run the demo locally I do the following:

1. Run the indy ledger as per the sdk:

$ docker build -f ci/indy-pool.dockerfile -t indy_pool .
$ docker run -itd -p 9701-9708:9701-9708 indy_pool

2. Run a local postgres database (if you want to use postgres wallets, you need to make a code change to pass "postgres=True" when initializing the agent):

docker run --name some-postgres

[2019-07-21 13:58] swcurran commented on #91
Thanks!  PR submitted.  We moved the scripts from the demo folder into a sub-folder (runners) but didn't update the links.

[2019-07-21 14:27] swcurran commented on #90
@ianco - I think those are the same instructions as in the readme file, and I think Sam's following them.  The error is later, so worth a look at the stack trace.  Where is the error happening?  Perhaps ledger/wallet mismatch?

Sam, obviously we need to document the env. variables - here is a clarification, although I think you have it working.  If you run with von-network it provides a server and

[2019-07-21 15:19] ianco commented on #90
The error "Caused by: Ledger merkle tree is not acceptable for current tree." is a genesis file mis-match

[2019-07-21 15:41] swcurran commented on #90
Ah... Thanks @ianco. Well there you go.

On Sun, Jul 21, 2019, 8:19 AM Ian Costanzo <notifications@github.com> wrote:

[2019-07-22 15:31] swcurran opened #92 "Evaluate new Sovrin TAA feature and how to handle that in ACA-Py"
The new Transaction Author Agreement (TAA) will soon be added to the Sovrin ledger (MainNet, BuilderNet and StagingNet) and support will need to be added to ACA-Py to support it for Aries instances accessing and writing to those networks.

Please review this new feature and evaluate how we can add support for the TAA in ACA-Py.  This is a good starting article, and there links at the bottom of the

[2019-07-22 15:59] SmithSamuelM commented on #90
Yippe it works.

Some corrections and additions to the instructions

Python 3
GENESIS_FILE=/.../local-genesis.txt PORT=9000 REGISTER_NEW_DIDS=true python3 -m server.server

Also the von network server has a couple of dependencies that need to be installed

$ pip3 install aiohttp_jinja2
$ pip3 install aiosqlite

Too use postgres in the agents the environment variable is
DEFAULT_POSGRES=true

runnin

[2019-07-22 16:00] SmithSamuelM commented on #90
thanks.  I have some questions as too why this works and the other doesn't.

[2019-07-22 16:21] swcurran opened #93 "Add web-based Alice/Faber demo to ACA-Py"
In the Blockchain for Business edX course, we used the work done by the BYU team to create a web-based, [node.js Alice/Faber workshop](https://github.com/hyperledger/education/blob/master/LFS171x/indy-material/nodejs/README.md) that has been very well received.  It gives a good, visual way for those new to the Indy/Verifiable Credentials world to see how credentials can work.  The problem with the

[2019-07-22 18:26] swcurran commented on #90
Hi Sam - @ianco sent you a note via hyperledger rocketchat to connect and have a zoom session.

[2019-07-23 01:32] dongwangdw commented on #93
@swcurran This looks interesting. I will be on this.

[2019-07-23 17:03] nrempel commented on #70
@dongwangdw I'm closing this for now, but please open a new issue if you have any further problems.

[2019-07-23 17:03] #70 closed

[2019-07-23 17:30] nrempel opened #95 "Add new credential_exchange state transition credential_received"
We need to add an additional credential_received state before the credential is stored. This gives the controller a chance to look at the credential before storing it.

There should be a CLI flag to automate this transition if the user wants.

[2019-07-23 17:34] nrempel opened #96 "Add the ability for a controller to trigger a problem report in an in-flight protocol"
We need a way for the controller to instruct an agent to bail out of a protocol and send a problem report. Perhaps this can be an endpoint that takes the protocol name, internal id, and message

[2019-07-24 16:22] #95 closed

[2019-07-25 13:57] zzx02 commented on #88
I tried increasing the timeout, it works for that problem, but I meet another problem, which shows
[code]
I guess if it related to the genesis file or ip settings and what is the best practice to configure these things? But even if I execute `GENESIS_URL=http://192.168.31.186:9000/genesis LEDGER_URL=http://192.168.31.186:9000 LOG_LEVEL=debug python3.6 -m runners.faber -p 8020`, the error persists

[2019-07-25 17:17] ianco commented on #88
"Pool timeout" usually means the indy sdk is tryong to connect to the pool using the wrong IP

Check the output from http://192.168.31.186:9000/genesis (should contain the IP's of the indy nodes) and then make sure wherever you are running aca-py can connect to these IP's

[2019-07-28 00:55] vinomaster commented on #92
@swcurran You may want to review this draft diagram that has been submitted as part of an update to Sovrin Glossary Appendix E. It has been used for discussions with respect to contractual instruments for GDPR/CCPA/other-regulation compliance.

The right side of the diagram is pertinent to this issue. It implies that the SF will require an Agent that can present a click-through license for a Trans

[2019-07-30 18:26] nrempel commented on #91
Looks like this has been resolved. Thanks!

[2019-07-30 18:26] #91 closed

[2019-07-30 18:28] andrewwhitehead commented on #88
It could be the same issue with crypto operations just taking too long, especially if the ledger is running on the same machine. I've seen some talk about kernel extensions and custom OpenSSL builds for the Pi to take advantage of hardware support for the crypto operations, but I don't remember any specifics, or if the current CPU or graphics chips even have such support.

[2019-07-30 18:28] nrempel commented on #96
This has been added in https://github.com/hyperledger/aries-cloudagent-python/pull/98

[2019-07-30 18:28] #96 closed

[2019-07-30 19:31] nrempel opened #104 "Send problem-report when webhook fails to reach controller"
The agent retries webhooks if a request fails to reach the controller or the controller does not respond with a 2** response.

In the case of failure and the agent stops sending retries, should the agent send a problem report back to the initiating agent?

@andrewwhitehead what do you think about this? I think there could be arguments in both directions.

cc: @swcurran @ianco

[2019-07-30 19:46] nrempel opened #105 "Add new stored state to issuer credential_exchange"
The holder should notify the issuer that the credential was successfully stored and the issuer should transition to a `stored` state

[2019-07-30 20:14] andrewwhitehead opened #106 "Issue with proof request in Alice/Faber demo"
Currently, the Alice agent fails to locate any credentials, and submits a proof request that doesn't satisfy the requested predicates. This raises the following stack trace:

[code]

[2019-07-30 20:59] nrempel opened #107 "Make webhook interface more robust"
Webhooks be a consistent format. Right now we simply serialize and send an internal state object.

We should design a consistent patter and also include related metadata such as thread information.

[2019-07-31 03:22] andrewwhitehead commented on #92
I would suggest adding this to the `aca-py provision` command, probably as an automatic part of `aca-py provision ledger` (which doesn't exist yet). It could automatically download the AML and TAA if they exist, and assuming `session_agreement` is an option then it could present the terms and ask for user acceptance. Each acceptance record would be stored in non-secrets and the latest one would be

[2019-07-31 19:42] SmithSamuelM opened #109 "Add support for --version command line option to aca-py"
aca-py is to about to go to version 0.3.0.  Users need a easy way to figure out which executable script is installed on their machine.

A typical way to do this is with a --version options as

$ aca-py --version

[2019-07-31 23:43] jordanmmck opened #111 "AriesOpenAPIDemo not working with von-network"
The OpenAPI demo is failing for me. I'm up to date on `aries-cloudagent-python` and `von-network`. Also just updated Docker. Using Docker desktop 2.1.0.0 on Mac 10.14.6 Mojave.

I found exactly where it's failing, and got it working by making basically one change (see below), but I don't how to solve the problem properly so not confident creating a PR.

Steps taken:

1. Clone the `aries-cloudagent

[2019-08-01 17:50] SmithSamuelM opened #113 "aca-py failing to open wallet"
This is with the latest master release of aca-py. I had the same problem with the previous release so its not a new bug but I pulled the latest version to see if the new version fixed it but it didn't. The bug is triggered when I supply a --seed parameter. It does not error when I do not supply a seed but then I can't create any schema etc on the ledger because no public DID.

Here is the invocati

[2019-08-01 17:55] ianco commented on #113
aca-py doesn't register DID's on the ledger so you need to register your DID in advance, before starting aca-py

If you are running von-network you can register your did using the ledger browser UI.

[2019-08-01 18:12] SmithSamuelM commented on #113
Sorry for the confusion. I did register the DID on the ledger beforehand. It still creates this error. So maybe its just trying to put the DID it is creating from the seed into its wallet and that fails.

[2019-08-01 18:13] SmithSamuelM commented on #113
I need the public did in order to put stuff on the ledger like credentials. Its not clear to me what all the steps are on boot up.

[2019-08-01 18:19] ianco commented on #113
I'll have to defer to @andrewwhitehead  or @nrempel  on this question

[2019-08-01 21:49] swcurran commented on #111
Thanks - we'll take a look at this. Weird that this has worked many times before - not sure what is different from a setup we've seen before and this. That said - if we have two variables, why are we setting them to the same thing?  We should be looking at where those two variables are used.

I wonder if both were set to 'localhost' would the demo start up properly?

[2019-08-01 21:53] jordanmmck commented on #111
I tried that and it failed for me. `DEFAULT_EXTERNAL_HOST` needs to be set to that `DOCKERHOST` env var, and `DEFAULT_INTERNAL_HOST` needs to be some variation of `localhost`.

[2019-08-02 17:30] jordanmmck opened #115 "`aca-py start` not working?"
Apologies if I'm missing something obvious, but it seems like `aca-py start` is not recognized?

Steps I took:

[code]

Trying to run `aca-py` was producing complaints about `libsodium` missing, so I did `brew install libsodium` and all seemed good...

If I run the example commands from the [dev readme](https://github.com/hyperledger/aries-cloudagent-python/blob/master/DevReadMe.md#running), howev

[2019-08-02 17:48] jordanmmck commented on #115
Looking into the `aries_cloudagent` directory in my Python3 site-packages, I see that the `commands` directory is not there, while it is present in the `aries_cloudagent` dir in the repo project.

![Screen Shot 2019-08-02 at 10 47 58 AM](https://user-images.githubusercontent.com/16055268/62388791-156d4700-b513-11e9-8a2f-96e1d4183c5b.png)

[2019-08-02 18:07] brianorwhatever commented on #115
interesting.. @nrempel and @andrewwhitehead do you have any ideas why the pypi package might be missing the commands?

[2019-08-02 18:10] andrewwhitehead commented on #115
Leave out the ‘start’ for aries_cloudagent before 0.3.0, which hasn’t been packaged yet.

[2019-08-02 18:10] #115 closed

[2019-08-02 18:23] swcurran commented on #115
Sorry for the confusion.  We're working on a better way to tag documentation to releases so this confusion won't arise.  Plan is to get ReadTheDocs going that is based on the latest released code so the documentation is tied to the release.

[2019-08-02 19:05] brianorwhatever commented on #115
Great to hear @swcurran! Can @jordanmmck and I assist in anyway with that work?

[2019-08-04 00:23] SmithSamuelM opened #120 "Bug default_logging_config.ini in aca-py tag 0.2.1"
When running aca-py  (version in tag 0.2.1) from the command line it gets an error because it can't find the default logging config. This is because when installed via pip from the PyPI repo, the default logging config file  at /,../aries_cloudagent/config/default_logging_config.ini' is not in the directory tree for the aca-py executable which is installed in /usr/local/bin/aca-py . This means the

[2019-08-04 00:24] SmithSamuelM commented on #120
It doesn't matter what command line args are passed as long as the required ones are provided and --log-config is missing.

It always fails

[2019-08-04 02:08] SmithSamuelM opened #121 "Breaking Bug: hard coded wallet seed in aca-py can't use a different public did"
When using aca-py  (but with working around this fatal error https://github.com/hyperledger/aries-cloudagent-python/issues/120). I try to run aca-py with a different --seed (wallet seed) than that used by the faber.py agent.

I first go to the von-network web browser and register a new did with a seed. This seed.

0123456789ABCDEF0123456789ABCDEF

dentity successfully registered:

Seed: 0123456789

[2019-08-04 02:16] SmithSamuelM opened #122 "Feature: Add aca-py command line option --genesis-file"
The current aca-py has two methods for injecting the genesis transactions.
1) --genesis-transactions
2) --genesis-url

The first is not a great user experience. The genesis transactions are a newline separated list of JSON data structures; not event a JSON list. This requires escaping to get the transactions to correctly input from a command line shell.  A minimal four node set of genesis transact

[2019-08-04 02:26] SmithSamuelM opened #123 "Feature: Suggest alternative approach to providing connection information to indy ledger"
The aries cloud agent is architected to extract the IP address of the nodes in the indy ledger from the genesis transactions for the ledger. If I am not mistaken this may be problematic in the future.  A given indy ledger may over time have a complete turnover in the nodes hosting the ledger and hence not share any IP addresses with the nodes that formed the genesis transactions. Given that the ar

[2019-08-08 18:17] swcurran commented on #123
I agree with the thought here, but I think it is an indy-node issue, not an aca-py issue.  Once a better mechanism is supported in indy-node for contacting the ledger from a genesis file, we can support it in aca-py.

Some additional points:

- the use of a URL for retrieving the genesis file works for other than von-network. For example, the Sovrin ledgers post their genesis files on github so th

[2019-08-08 18:21] swcurran commented on #122
Agree that is a reasonable approach - I thought that was an option.

Can this be used as a temporary workaround?  `--genesis-transactions "$(cat <genesis-file>)"`

[2019-08-08 18:32] swcurran commented on #111
@jordanmmck - a user on rocketchat reported the same stack trace and a timeout change was made to the code and recently merged.   Could you please retry and report back the results?  If all good, please close this error.

If it works, I think it can be put down to timing, and not the adjustment you made above.

Thanks!

[2019-08-08 18:53] jordanmmck commented on #111
Pulled latest changes, and it all seems to be working fine now. Thanks @swcurran, closing now.

[2019-08-08 18:53] #111 closed

[2019-08-08 19:06] SmithSamuelM commented on #123
I was missing something and that is the practice of adding all current nodes to the genesis file. So this is not a latent issue if indeed that practice continues.  I think then the one thing that ACA can do is support a local copy of the genesis file via a file path  not the contents of the file.

[2019-08-08 19:07] SmithSamuelM commented on #122
I can't find it as an option anywhere so it would be good to add. Thanks. Also good suggestion for workaround.

[2019-08-08 19:14] swcurran commented on #123
Sounds good.  We have another issue for supporting adding the `--genesis_file <file>` option.

Closing this issue.

[2019-08-08 19:14] #123 closed

[2019-08-09 00:23] SmithSamuelM commented on #123
I agree although genesis file is now a bad name if it includes more that the genesis nodes

[2019-08-09 00:23] SmithSamuelM commented on #123
That’s up to the Indy guys to address

[2019-08-09 04:03] andrewwhitehead commented on #122
Resolved via PR #127

[2019-08-09 04:03] #122 closed

[2019-08-09 04:05] andrewwhitehead commented on #120
Resolved via PR #128

[2019-08-09 04:05] #120 closed

[2019-08-09 04:06] andrewwhitehead commented on #121
As of PR #127 the `--replace-public-did` option can be passed to allow replacement of the current public DID.

[2019-08-09 04:06] #121 closed

[2019-08-09 04:07] andrewwhitehead commented on #106
Resolved via #108

[2019-08-09 04:07] #106 closed

[2019-08-09 04:08] andrewwhitehead commented on #92
Resolved via #127

[2019-08-09 04:08] #92 closed

[2019-08-09 04:08] andrewwhitehead commented on #80
Resolved via #103

[2019-08-09 04:08] #80 closed

[2019-08-09 04:09] andrewwhitehead commented on #50
Resolved via #102

[2019-08-09 04:09] #50 closed

[2019-08-09 04:10] andrewwhitehead commented on #48
Resolved via #82

[2019-08-09 04:10] #48 closed

[2019-08-09 04:11] andrewwhitehead commented on #5
Resolved via #75

[2019-08-09 04:11] #5 closed

[2019-08-10 12:18] TelegramSam opened #132 "Reusable Invitations"
Allow the creation of a reusable invitation. This is just like a normal invitation, but after use (receiving a request based on the invitation) the invitation is not consumed.

This is useful when a non-public-did holding entity wants an invitation intended for multiple people. This includes an invite at the end of a presentation, perhaps one on a business card, or an invitation shared with everyo

[2019-08-10 15:36] dbluhm opened #135 "Public Invite URLs are malformed"
When `--public-invites` is enabled, using the admin interface to retrieve an invite URL returns a string that looks something like the following:
[code]
The encoded invite is correct; it only includes the type and the did which should be used to resolve endpoint information and keys etc. However, since the endpoint is not specified on invite creation, it appears that the invite object doesn't know

[2019-08-10 18:17] andrewwhitehead commented on #135
I feel like this should be addressed in the DID exchange RFC, maybe a standard base URL can be used that resolves to a page with instructions?

[2019-08-10 20:26] swcurran commented on #93
Hi @dongwangdw - any luck finding time to make progress on this?  Let me know how it is going.

[2019-08-10 20:53] swcurran opened #137 "Create controller and docker compose mechanism to run the aries-protocol-test-suite"
It would be helpful to have an easy way to have `aries-cloudagent-python` run through the set of tests in the `aries-protocol-test-suite`. Investigate the test suite and determine what tests are currently in the test suite. Once understood, create in a folder in this repo (perhaps `aries-test-suite`) a process to execute the test suite.  I would imagine the process would include:

- an ACA-Py cont

[2019-08-11 14:16] dongwangdw commented on #93
@swcurran
I got some urgent things recently. Have to deal with it with first priority.
I have some initial investigation and plan for this issue. I will keep updating it.

[2019-08-11 16:33] swcurran commented on #93
Great - thanks.  Others may work on this well, so keeping this issue up to date would be great.

[2019-08-12 09:39] dongwangdw commented on #93
OK. that's cool.

[2019-08-13 03:15] zzx02 commented on #88
Thanks for updating, I configured the IPs, and now it should have connections to pool nodes. However, I am getting another error, which doesn't exist when I was running the demo on PC, below are the some of the latest logs:

[code]

[2019-08-13 20:48] muhammadusman93 opened #139 "Error in Starting Faber Agent on local machine for Open API Demo"
Starting faber...

#1 Provision an agent and wallet, get back configuration details
Faber      | Registering Faber Agent with seed d_000000000000000000000000666877
Faber      | Got DID: PkycMbtb1iayz33JgqRgAU
Faber      |
Faber      | Shutting down
Faber      | 2019-08-13 20:45:54,018 aries_cloudagent.commands.start ERROR Exception during startup:
Faber      | Traceback (most recent call last):
Fa

[2019-08-13 21:26] swcurran commented on #139
Hi @muhammadusman93

Could you please provide a bit more information about your local environment?   Helpful info would be OS you are using, and the commands you have run to set up your environment and start the demo.

We'll take a look at where your run timed out.

[2019-08-13 22:03] swcurran commented on #139
Looks like the timeout occurred with a first call to the ledger (could be ledger not configured properly) and is related to the new Transaction Author Agreement (TAA) that was just added to Indy and ACA-Py. Perhaps the instance of the ledger you are using does not support the TAA.  Either way, I'd be looking at what ledger you are using, how you started it, and how the Faber agent was told where t

[2019-08-13 22:57] #132 closed

[2019-08-14 06:42] muhammadusman93 commented on #139
I am using Linux OS. I am running everything locally on my linux machine. I
first started the VON Network as mentioned in the guidline. I then did
./run_demo faber and ./run_demo alice

On Wed, Aug 14, 2019 at 3:03 AM Stephen Curran <notifications@github.com>
wrote:

[2019-08-14 17:17] TelegramSam opened #142 "Queue messages for connections with no endpoint"
This will allow communication with an edge agent without an inbound route. This includes OSMA (open source mobile agent).

[2019-08-14 17:28] andrewwhitehead commented on #139
Try running `git pull` and `./manage build` in the `von-network` directory and restarting it. The latest release is on indy-node 1.9 and supports TAA.

[2019-08-15 21:29] andrewwhitehead opened #146 "Implement revocation registry support for credential issuance"
- [x] Generate tails files when revocable credential definitions are created or additional tails files are needed [controller must trigger this]
- [x] Share tails files with a common tails server [controller must perform this]
- [ ] Submit tails metadata to the ledger and update accumulator value when credentials are revoked

[2019-08-19 18:54] SmithSamuelM opened #147 "Open API Demo Controller Documentation"
It would be great to have some more guidance on how to interpret and then use the  web hook posts to the controller.

Working through the Open API demo the events posted Faber's controller for first creating a invitation on Faber and then receiving that invitation on Alice  generate the following set of events.

[code]

I can see that the "state" field corresponds somewhat to the open api endpoint

[2019-08-19 20:46] SmithSamuelM opened #148 "--pool-name broken in 0.3.1"
Running the ace-py version 0.3.1 tag objects to the --pool-name option.  This worked in 0.2.1.
The docs say --pool-name but looks like the actual option is
--ledger-pool-name

Need to fix the docs  (Dev Read Me)

[2019-08-20 17:26] SmithSamuelM opened #150 "Feature. Create Public DID from aca-py"
Currently in order to create schema and crew_defs on an Indy ledger the demos for the aca-py suggest using the von-network browser web interface for creating the public DID.  A useful feature would be to provide this capability in the OpenAPI interface for aca-py. This makes the aca-py agent more self contained.

[2019-08-21 01:58] sukalpomitra opened #151 "Cache module for aca-py"
Is there a cachin g module in aca-py? If yes how to activate it? So that we can cache the ledger and the presentation exchange operation can be made faster?

[2019-08-22 05:09] rsbhardwaj opened #153 "Issue while sending response of proof request (Alice-Faber demo)"
Hi,
(In Alice-Faber Demo)
I have modified the controller file in Aries python cloud agent demo with different attributes, till the issuance it works fine but while sending the response of proof request it fails at the proof holder agent with error as below -

#26 Send the proof to X
Farmer | 2019-08-21 12:14:06,857 aiohttp.server ERROR Error handling request
Farmer | Traceback (most recent call la

[2019-08-22 16:50] nrempel commented on #151
Hi @sukalpomitra,

There is a cache module available. Currently there is only an in-memory implementation of it.

You can see an example of its use here: https://github.com/hyperledger/aries-cloudagent-python/blob/cae81410ee25a1b9b0a3276425114bb4d9dc4cef/aries_cloudagent/messaging/credentials/manager.py#L57

[2019-08-22 17:24] swcurran commented on #153
@rsbhardwaj - it looks like the error you are getting is from the Indy SDK, which suggests to me that the format of the data you are passing is incorrect.  Suggest comparing the flow and data between the proof done by Alice and the one you have done with Farmer.  If we can look at the fork you are using for this, we might be able to find the issue, but that's likely the area you should be looking.

[2019-08-23 14:58] dbluhm opened #154 "Support for connecting to a Static Agent"
I would like to be able to connect a static agent to the Aries cloud agent. A static agent could have a partial implementation of the connection protocol (rather than creating a new keypair and DID, just pass it's statically configured key and DID) but I don't think this is the best option for all static agents. I would like to add support for somehow passing in a DID, key, and endpoint to ACA and

[2019-08-26 22:37] SmithSamuelM opened #155 "Presentation Request is not verified but no errors"
I am trying to work through the open api demo here:
https://github.com/hyperledger/aries-cloudagent-python/blob/master/demo/AriesOpenAPIDemo.md

But using the act-py CLI instead.  I run into difficulty when requesting presentation of an issued credential. It does not perform as described in the demo documentation. I cannot see anything that I am doing wrong so I am stuck. Some help would be apprec

[2019-08-27 16:03] SmithSamuelM opened #156 "Tracing both sides of a conversation with aca-py api"
I mentioned this in another issue but decided it would be better to have its own issue.

In working through the swagger api the id on both sides of a connection or exchange are different for each side. While its possible to figure from the order of events what responses belong to a given connection/exchange it seems like it would be much easier if the API included the ids from the other side. Inde

[2019-08-28 02:32] andrewwhitehead opened #160 "Refactoring protocol packages"
As discussed with @swcurran

- Protocol packages (currently located under `aries_cloudagent.messaging` along with various messaging framework classes) should be moved into a new subpackage, likely `aries_cloudagent.protocols`. This aligns with the move from 'message families' to 'protocols' in the RFCs. It may be desirable to use a script or refactoring tool to reduce the manual edits required as

[2019-08-29 18:15] #105 closed

[2019-08-29 18:28] SmithSamuelM opened #162 "Swagger API example ValueModel ambiguous in places"
The POST /credential_exchange/{Id}/store  example is

[code]

But there are two different credential_id  used in the credential exchange and in the credential exchange record , that are,  credential_def_id and credential_exchange_id and nothing that is exactly credential_id. . Given the proximity of these two real fields the example field name is ambiguous and needs to reflect that actual field na

[2019-08-29 18:56] SmithSamuelM opened #163 "GET /credentials/{id} not working"
I successfully issued from Faber to Alice a credential and stored a credential on Alice.
aca-py v 0.3.1

On Alice's Swagger interface

GET /credentials/  returns

{
  "results": [
    {
      "referent": "c45c1565-b8fb-479d-a6fa-5bdc1895f7d2",
      "attrs": {
        "name": "Alice Jones"
      },
      "schema_id": "3avoBCqDMFHFaKUHug9s8W:2:fabername:0.1.0",
      "cred_def_id": "3avoBCqDMFHFaKU

[2019-08-29 19:24] SmithSamuelM commented on #155
I started over with ```--auto_store_credential```

This fixes one issue, The new credential created is stored on Alice but I can't retrieve the credential by ID.

I redid everything from scratch and recorded all the steps.
However the presentation request fails just like before. I get the same problem on Alice.
It looks to me like there is a bug in the agent in that it is not able to retrieve cred

[2019-08-29 19:27] SmithSamuelM commented on #155
Changed request from Faber to this and it verified.

{
  "connection_id": "9793558d-2d24-42d2-a249-dc9a4c48a886",
  "version": "1.0.0",
  "name": "Proof of Name",
  "requested_attributes":
  [
    {
      "name": "name",
      "restrictions":
      [
        {"cred_def_id" : "3avoBCqDMFHFaKUHug9s8W:3:CL:15:default"}
      ]
    }
  ],
  "requested_predicates":
  [

  ]
}

[2019-08-29 19:36] SmithSamuelM commented on #155
So the two issues are not related.

The question I have is what exactly did the presentation request ask for.

I wanted to get proof of name but  the request looked like it was asking for proof of attribute name not proof that the value is Alice Jones?

[2019-08-29 20:17] swcurran commented on #155
The proof request format is exactly what Indy supports, so what you will
need to do is determine how to do what you want to do in the indy-sdk - how
to format the proof request.  There is no ACA-Py magic happening there.

It looks like you are trying to do an "equals" predicate, but I'm not sure
that is supported in the indy-sdk, or if it is, how to request it.  AFAIK
only the ">=" predicate is th

[2019-08-29 22:56] SmithSamuelM commented on #155
Hmm. It seems like proof of equals would be the majority use case.  Like proof that your registration identifier is equal to X. As in the ID we issued you. Or that your birth name is your birth name on your certificate. Your answer  is totally surprising to me. There must be something I am missing.

[2019-08-29 23:05] nrempel commented on #155
This is what I'm looking at right now in libindy - we actually ran into the same issue.

There are a number of tags that are added to credentials stored in the wallet that can be used in wql queries. For some reason, the proof request restrictions is a limited subset of the tags and does not support the "value equals" tag.

In theory, you should be able to do the following:

[code]

"Restrict cred

[2019-08-29 23:14] SmithSamuelM commented on #155
BTW here is a writeup of the full Demo with all the steps.
https://github.com/SmithSamuelM/leopy/blob/master/src/demo/FaberAliceCredential.md

[2019-09-03 17:44] andrewwhitehead opened #165 "Support number_read_nodes parameter to indy_open_pool_ledger"
New in indy-sdk 1.11.1. This parameter allows the maximum (?) number of read nodes to be set, limiting the number of concurrent ledger connections. A command line parameter should be added to allow this value to be set, suggesting `--ledger-read-nodes`.

[2019-09-03 18:23] swcurran opened #166 "Remove references in code and demos to aries0036/0037 and handle protocol versioning"
As part of the clean up of the references, address the following issues:

- Define how versioning should manifest in the code - e.g. method names, variables
- Define how versioning should manifest in the admin interface. For example, define a non-versioned set of endpointys that are the latest, and include versioned references that are aliases.
- Remove all references to "aries0036" and "aries0037

[2019-09-03 23:04] swcurran commented on #166
PR merged. Closing issue.

[2019-09-03 23:04] #166 closed

[2019-09-03 23:05] swcurran opened #168 "New release - 0.3.2 with new credential exchange instances"
Please do a new release to PyPi of the agent.

[2019-09-04 16:46] swcurran commented on #10
@andrewwhitehead - is this now complete?  I thought I saw it in the 0.3.2 release notes.

[2019-09-05 11:55] adityaishan opened #171 "Running Alice Faber Demo locally on Ubuntu 18.04, FAILING!"
I am following instructions from this read.md https://github.com/hyperledger/aries-cloudagent-python/blob/master/demo/README.md#running-locally.

Von network is running locally. ✔️
_output:_

Alice agent is running and waiting for invite details. ✔️
_output:_

Faber agent is failing ❌
_output:_

Any help from here would be grateful.

[2019-09-06 06:48] arner commented on #88
I get the same last error on a Raspberry Pi 4 in Docker. See the installation process here:
https://github.com/arner/arm32v7-aries-cloud-agent/blob/061342b0d0ff550c2d11af8998532199aa9cb73c/agent/Dockerfile

And here:
https://github.com/arner/arm32v7-aries-cloud-agent/blob/061342b0d0ff550c2d11af8998532199aa9cb73c/demo/Dockerfile

[2019-09-06 18:49] andrewwhitehead commented on #88
I think this could happen if the python wrapper version doesn't match the indy-sdk version, but I can't reproduce it myself. Please check the output of `pip freeze` for the python3-indy version.

[2019-09-06 21:26] swcurran opened #172 "HOLD: Support DID-Exchange in ACA-Py"
IBM (and potentially others) want to test interoperability with our agent.  They started development based on the Aries RFCs and so they call their messages that establish connections "DID-Exchange". We need to add support for DID-Exchange.

Ideally, we would also support "Connections" so that we can continue to use the latest ACA-Py with other agents that support it, and we could have a single ag

[2019-09-07 12:30] arner commented on #88
aries-cloudagent==0.3.2
indy-sdk==0.0.1.post152
python3-indy==1.11.1

Besides installing indy-sdk with pip3, built the library v1.11.1 from source with libsodium statically linked (cargo build --release --features sodium_static).

[2019-09-09 19:03] SmithSamuelM opened #173 "Complete GettingStarted ToDo Documentation"
The Getting Started Document

https://github.com/hyperledger/aries-cloudagent-python/tree/master/docs/GettingStartedAriesDev

Lists several documents that are To Do items:
Request filling in. Especially the credential attributes to better understand how to use Sovrin ZCP credentials.

To Do: Establishing a connection between Aries Agents
To Do: Issuing an Indy credential: From Issuer to Holder/Pro

[2019-09-09 21:24] SmithSamuelM commented on #163
Figured out the problem. The credential record returns 3 IDs related to a credential. These are

"cred_def_id": "3avoBCqDMFHFaKUHug9s8W:3:CL:13:default"

"credential_exchange_id": "e4abc052-1425-4a7f-a035-fbec52b77b51"

"credential_id": "64ea2e85-c70f-45ad-b609-68bc1ac89816"

In another issue I asked one of the BC Gov Devs which credential ID to use the answer was use the credential_exchange_id  t

[2019-09-09 21:24] SmithSamuelM commented on #163
[code]

[2019-09-09 21:30] SmithSamuelM opened #174 "GET /credentials does not return credential_id"
This issue is a result of figuring out the issue https://github.com/hyperledger/aries-cloudagent-python/issues/163

The problem is that GET /credentials  does not return the credential_id needed to use GET /credentials/{id}

The only place to find credential_id is in the associated exchange record but finding the appropriate record may be problematic. But once found the record has three credential

[2019-09-09 22:39] swcurran commented on #163
Thanks @SmithSamuelM - sorry I didn't push to get this looked at.  I knew that you wanted `credential_id`, but didn't realize it doesn't get returned in GET /credentials.  That does seem odd. Thanks for creating an issue.

I'll ask @andrewwhitehead to take a look.

[2019-09-09 23:21] SmithSamuelM opened #175 "Clarify Presentation Request Interior Requested_Attributes syntax and semantics"
This is is related to https://github.com/hyperledger/aries-cloudagent-python/issues/155
In that it is the result of trying to create a proof of equality to a string using the "requested_attributes" field in the presentation request. Apparently the "requested_predicates" field in the presentation request only applies to integer valued fields in the credential and does not have an equality predicate

[2019-09-10 00:12] SmithSamuelM commented on #175
The full presentation exchange records for each of the four proof requests are given here

https://github.com/SmithSamuelM/leopy/blob/master/src/demo/FaberAliceCredential.md

[2019-09-10 02:28] swcurran commented on #175
Awesome stuff @SmithSamuelM.  Especially the full sequence of data.

The immediate answer I have for you is not helpful: Questions and requests for changes about the behaviour of proof requests and proofs belong in the indy-sdk repo, not in aries. The reference material in aries-rfc 0037 is likewise intentionally vague and points to indy-sdk as a reference because in theory an Aries agent should/w

[2019-09-10 08:20] adityaishan commented on #171
I got it working....

[2019-09-10 08:20] #171 closed

[2019-09-10 17:09] #20 closed

[2019-09-10 17:19] swcurran commented on #163
@SmithSamuelM - mystery solved.  The field "referent" is the credential_id. The endpoint returns the data structure directly from indy-sdk and that's what it calls it.

Given that Aries agents are supposed to be ledger/verifiable credential model agnostic, this is incorrect in the long term, and we should probably be handling this the same way as is done in 0036/0037, with some metadata (including

[2019-09-10 18:10] swcurran commented on #135
@dbluhm - please review @andrewwhitehead's note - does that resolve the issue.  Is there more that needs to be done to this issue other than perhaps to raise it as a concern in the aries-rfcs repo?  Or is there something that ACA-Py is missing?

Thanks

[2019-09-10 18:11] swcurran commented on #3
@nrempel - could you add some detail to this.  I don't get what you are looking for with this.

[2019-09-10 18:11] swcurran commented on #62
I think we are pretty good with this issue and am closing.

[2019-09-10 18:11] #62 closed

[2019-09-10 18:12] swcurran commented on #151
Closing this issue.  Please reopen if there are other specific questions.

[2019-09-10 18:12] #151 closed

[2019-09-10 18:31] #156 closed

[2019-09-10 18:31] swcurran commented on #156
I'm closing this issue as we have an issue open already on adjusting the data delivered via the webhook. Threading information is an obvious choice as @andrewwhitehead noted above.  We are using ACA-Py in a high volume use case where we are scaling both sides of the connection and I don't think we're having any issues with tracking in the controller what's happening.

[2019-09-10 18:34] swcurran commented on #153
Closing this issue. Let us know if you are still having an issue.

[2019-09-10 18:34] #153 closed

[2019-09-10 18:36] swcurran commented on #148
Documentation for the command line options is now part of the executable. Docs have been updated to remove the command line parameters and replaced with instructions on how to run an executable to get them.

Check --help for the latest.

[2019-09-10 18:36] #148 closed

[2019-09-10 18:38] rosenbrockc commented on #150
I need this now and am happy to contribute it. I propose adding the following abstract method to `aries_cloudagent/wallet/base.py` and implementing it for `indy`:

[code]

I would expose it as an endpoint in the `wallet` section of the swagger. Also, at the same time I would like to expose the `sign_message`, `verify_message` methods of the wallet to the swagger.

On a slightly different topic, I

[2019-09-10 18:40] swcurran commented on #150
Awesome!  I'll ping @andrewwhitehead and @nrempel to take a look at this idea and provide feedback.  Would love to get input from a broader community.

FYI @jljordan42

[2019-09-10 18:46] swcurran commented on #162
As noted in another issue, `referent` is the same as `credential_id` and the API demo doc (at least) have been updated.  We're not going to add a ticket yet to change this as it is tied to the handling of the indy-sdk wallet implementation that will change over time.

Closing this issue.

[2019-09-10 18:46] #162 closed

[2019-09-10 19:05] rosenbrockc commented on #150
On second thoughts, I think that `register_nym` belongs in the `ledger` section. That's where I'm putting it for now.

[2019-09-10 19:07] #174 closed

[2019-09-10 19:19] andrewwhitehead commented on #150
What is the use case for `register_nym`? Since only a steward can perform that action on the ledger it doesn't seem generally useful. I also wonder about exposing the other methods via the admin API versus adding more task-based functionality. If the controller asks for a message to be signed, how does that message then get delivered? If you're fetching the endpoint manually and delivering it from

[2019-09-10 20:10] rosenbrockc commented on #150
At the moment, ACA won't start unless it can verify that it's DID is on the ledger. Thus, every agent needs to have someone register their DID/verkey for them independently before they can even start the agent. Generally, the only reason the ledger exists is to stake a point-in-time claim to a DID and register its endpoint.

Use case: suppose that we want our users to have their own cloud agents a

[2019-09-10 20:21] swcurran commented on #150
FYI - An ACA-Py agent does not have to have a DID on the ledger.  In the Alice-Faber example, Alice does not have a public DID.

[2019-09-10 20:31] swcurran commented on #150
@andrewwhitehead - your comment about not exposing other methods vs. task-based functionality is confusing to me.  If the agent interfaces with the ledger, but the controller is the one that knows what the applications requirements are, how else are we to control the agent to take actions other than to use the admin API.  For example, to revoke a credential, there is not an exchange required betwe

[2019-09-10 20:32] swcurran commented on #150
What startup parameters are you using?  Perhaps the --seed parameter?  We think that is the issue with the start up.

[2019-09-10 20:56] swcurran commented on #10
@nrempel - is this complete? I think self-verify required this?

[2019-09-10 21:58] andrewwhitehead opened #177 "More flexible support for endpoints"
- [x] Support multiple `--endpoint` arguments and add them all to generated DIDDocs
- [ ] Support a `--hostname` parameter and automatically derive endpoint(s) based on the inbound transports supported, when endpoints are not provided manually

[2019-09-10 23:21] swcurran commented on #171
Awesome. Sorry for the lack of response.  It was tough to figure out what was happening from the info.

Any info on what you changed to make it work?

[2019-09-11 14:40] SmithSamuelM commented on #175
@swcurran   Much appreciate the thoughtful response. Your answer on the details was very informative but doesn't really answer my question =(  trying to understand more.  I will dig deeper into the Indy SDK documentation.  Based on the recent Hyperledger Indy Contributor and Aries working group calls it seems that going forward presentation proofs of Indy AnonCredsZKPs will be an Aires plugin not

[2019-09-11 15:41] SmithSamuelM commented on #175
Given that restrictions handle the equality contraints (was not obvious) then the predicates which are really limited to integer threshold predicates (in this sense the naming is confusing as restrictions are predicates) is understandable. One could create the equivalent of an equality integer predicate by creating a range predicate with only one integer in the range.   So understanding restrictio

[2019-09-11 16:05] swcurran commented on #175
I definitely agree on the need for documentation that gets the developer up to speed quickly is crucial, and you are right, it should be driven from Aries.  We don't have the capacity to do that on our own - the team or absolute knowledge of the workings of indy.  That has been an ongoing challenge in the community.  We're getting a lot better.

It appears that the restrictions "value equals" impl

[2019-09-11 16:14] rosenbrockc commented on #150
Yes, I am using the seed parameter. Though, in thinking about it further, I think I was initially able to do lots of things without setting the seeded DID to be public. I was experimenting with the OpenAPI and two agents a while back. Then, I needed a public DID to do something, so I set it using the OpenAPI endpoint.

I would recommend adding a check into the `/wallet/did/public POST` endpoint th

[2019-09-11 22:05] swcurran opened #180 "Make the Alice agent accept different format invitations"
Currently Alice accepts only a JSON plaintext invitation and we'd like her agent to be able to handle other invitation formats.  We'd like this for a demo at the MyData conference on Sept. 25.

Please update the implementation so that Alice can also accept a URL such as:

[code]

Or the base64URL encoded argument to the URL:

[code]

[2019-09-13 14:13] dbluhm commented on #135
The following is what the [DID Exchange Protocol RFC](https://github.com/hyperledger/aries-rfcs/blob/master/features/0023-did-exchange/README.md#standard-invitation-encoding) has to say about the invitation URL (same wording also in the connection protocol RFC):

On closer inspection, though open-ended, the DID Exchange protocol does cover this topic enough that I didn't feel I had enough to open

[2019-09-13 21:43] swcurran commented on #135
So @andrewwhitehead, for BC issuers, would we have this go to (for now) a vonx.io page that is rendered with instructions, a QR code version of the invitation, and the text invitation that can be copied and pasted? E.g. https://toip.vonx.io with a null path.

I presume the URL needs to be a parameter passed into the agent when it is started, right?

[2019-09-13 23:01] andrewwhitehead commented on #135
@swcurran Yes, we can add a startup parameter to provide a custom invitation base URL (`--invite-base-url` ?). The page would likely need to do some vetting to avoid presenting unofficial invitations with a BC masthead, too bad they aren't signed.

[2019-09-16 14:49] swcurran commented on #135
Sounds good. I don't get the three cases, but probably haven't thought enough about them. What is the difference between and accepted and unaccepted invitation?  How would the service presenting the data know the difference?  Second, even if a public DID is to be used, wouldn't there need to be presentation of that DID as part of an invitation?  I thought is was the same format but with the DID re

[2019-09-17 21:12] nrempel opened #182 "Add support for querying multiple referents at once for credentials for a proof request"

[2019-09-17 21:13] nrempel commented on #182
addressed in https://github.com/hyperledger/aries-cloudagent-python/pull/181

[2019-09-17 21:28] swcurran commented on #172
To be addressed the week after IIW - October 6, 2019.

[2019-09-17 21:36] swcurran opened #183 "Update the performance demo to report wallet size and storage usage; test tweaks to credentials"
Once storage tracking is enabled, test:

1. Using unencrypted tags. Report back time and storage usage.
2. Purging credX records after use.
3. Using the registration credential during the test and using an tag policy that aggressively removes tags.

[2019-09-17 21:45] swcurran opened #184 "Setup process to purge the CredXchg records following use"
Once the CredXChg records are no longer needed, purge them from the wallet.  Vacuum will be needed to retrieve space.

[2019-09-17 23:20] nrempel commented on #155
I'm closing this for now but please open a new issue if you have any questions!

[2019-09-17 23:20] #155 closed

[2019-09-17 23:40] #168 closed

[2019-09-18 21:03] #180 closed

[2019-09-19 23:00] swcurran commented on #93
@seanadipose - this is the issue we were discussing.

[2019-09-20 23:48] nrempel opened #189 "Add parameter to credential store endpoint to specify credentiial id"

[2019-09-21 02:51] nrempel opened #190 "Determine if libindy ignores extra tag queries, or returns no results"
This will determine whether or not verifiers will require knowledge of the cardinality rules applied to the given credential

[2019-09-23 01:38] nrempel opened #191 "Create mechanism to "expire" old internal exchange records"
We may need to add an additional cron-like scheduler for tasks

Questions:

ACA-Py instances can be distributed so what if 2 try to clear record at the same time?
Are the legitimate cases where exchange records should be kept indefinitely? Is it safe to make the design decision to always remove old records?

[2019-09-24 01:56] Alexis-Falquier opened #194 "Webhook documentation"
Is there documentation of all the different webhook URL's and their payloads? Currently in order to figure it out I have been testing each call.

[2019-09-24 02:12] Alexis-Falquier opened #195 "Support of Ephemeral Protocol"
plans for aca-py to implement the ephemeral protocol? Its possible to implement through the controller as an additional functionality which is what I have done, but I think people would find it useful to have as part of it's native functionality.

[2019-09-24 11:12] swcurran commented on #195
Thanks, Alexis.  We're going to look into it - take a look at what is in
`aries-framework-dotnet` and talk with the folks at MattrGlobal on the
state of the protocol.  Last I checked it was not in an RFC form, but I've
not checked in awhile (and am offline as I type this.).  We'll be meeting
with @tplooker at IIW and will talk to him about adding support for the
protocol.

Do have an immediate nee

[2019-09-24 11:12] swcurran commented on #194
We're going to figure out how best to document this. There is only one
Webhook that fires on events in the agent. I suspect the answer is to look
at the data models for the incoming messages, but we'll confirm that.  The
messages are in the `messaging` folder under `aries-cloudagent`.

More to come on this one.  Thanks for the reminder.

On Tue, Sep 24, 2019 at 3:56 AM Alexis Falquier <notificatio

[2019-09-24 16:42] Alexis-Falquier commented on #194
Sounds good Ill keep an eye out, thanks!

[2019-09-24 17:02] Alexis-Falquier commented on #195
Sounds good, I'll be at IIW as well would love to be there when for that discussion. we are big fans of the ephemeral protocol.

And we are working on an api solution which would allow the use of SSI as a log in flow, for this we found ephemeral challenges to be extremely useful. I've actually integrated it through our aca controller as an additional functionality to the agent, and tested with Str

[2019-09-24 17:57] Moopli opened #196 "Modify crypto envelope packing so header algorithm is accurate"
The envelope header states it uses XChacha20 while the internals use Chacha20.

It's unclear which of these needs to change, but agreement is necessary so communication with other agents (using different implementations) will work.

[2019-09-24 17:59] Moopli commented on #196
For context, I'm running into this issue while implementing a compatible pack/unpack in aries-framework-go.

[2019-09-24 21:28] andrewwhitehead commented on #196
The crypto envelope format is currently consistent with indy-sdk. An updated envelope format is under development in the Aries community and we will sync up with that once it's finalized.

[2019-09-25 04:50] swcurran commented on #195
A ping of @andrewwhitehead and @esune to meet with @tplooker and @Alexis-Falquier to talk over adding the ephemeral challenge to ACA-Py. Tobias mentioned in a side conversation that it was changing, so we definitely want the latest info before we add the implementation.

[2019-09-25 18:23] swcurran opened #198 "Message mishandled when return route decorator is used for recipient with routing enabled"
This issue was found by @mickrau.

An ACA-Py agent has been given a DIDDoc from a mobile agent that has both a recipientKey and a routingKey. When a message is sent by the ACA-Py agent to the mobile agent via that route, the message is properly wrapped as a forward to the routing agent, who then gets the forwarded message to the mobile agent.  All good.

However, when the mobile agent sends a mess

[2019-09-25 21:09] domwoe opened #200 "Error when verifying non valid predicate proof"
I've played with the OpenAPI Demo and changed the predicate of the proof request to an age such that the condition is false ( 24 >= 30). This leads to the following error message:

[code]

Seems that the resulting JSON document is unexpected.

[2019-09-26 03:40] #198 closed

[2019-09-26 03:46] swcurran commented on #198
@mickrau - this has been fixed and is in master right now.  Are you able to test this?

[2019-09-26 03:49] swcurran opened #201 "Code alerts from github"
github has an analysis tool for code and this project currently (as of opening this request) has 43 alerts.  Please review the alerts and clean them up as appropriate:

https://lgtm.com/projects/g/hyperledger/aries-cloudagent-python/?mode=list

Determine if the analysis is useful and what we should do with it from a CI pipeline perspective.  Do we want to post them badges in our readme?

Assigning

[2019-09-26 03:52] swcurran commented on #200
Thanks for the submission @domwoe. I suspect this is in a lower level than ACA-Py, but we can look.

Can you please post the issued credential and the proof request that you provided in the call that failed?

Thanks

[2019-09-26 05:58] domwoe commented on #200
The Credential:
`{
      "referent": "f7656a34-d74f-4509-982d-aa1d2a0fa9c6",
      "attrs": {
        "name": "Alice Smith",
        "date": "2018-05-28",
        "degree": "Maths",
        "age": "24"
      },
      "schema_id": "DeipsSP85X438k9boJ8viK:2:degree schema:71.33.26",
      "cred_def_id": "DeipsSP85X438k9boJ8viK:3:CL:40:default",
      "rev_reg_id": null,
      "cred_rev_id": null

[2019-09-26 22:46] Alexis-Falquier opened #202 "aca-py admin api wont work with newer/current version of apispec"
When running aca-py on a server I recently set up I am getting this error:
[code]
I tried on my local machine and it was working fine so i ran pip list and noticed my machine has apispec v2.0.2 and the server has v3.0.0

[2019-09-26 22:49] Alexis-Falquier commented on #202
downgrading apispec to 2.0.2 fixes the error

[2019-09-27 03:21] swcurran commented on #202
New release pending that will address this issue (and others).  Sorry
about this one.

On Fri, Sep 27, 2019 at 1:49 AM Alexis Falquier <notifications@github.com>
wrote:

[2019-09-27 16:07] #150 closed

[2019-09-27 16:07] #189 closed

[2019-09-27 16:08] #163 closed

[2019-09-27 16:08] #182 closed

[2019-09-27 16:09] #135 closed

[2019-09-27 16:13] andrewwhitehead commented on #201
Many of these are fixed now and the rest are spurious errors.

[2019-09-27 16:40] swcurran commented on #201
Thanks.

[2019-09-27 16:40] #201 closed

[2019-10-02 18:46] mickrau commented on #198
I can confirm that this bug is fixed in version 0.3.3.
Thanks a lot!

[2019-10-03 13:43] wip-abramson commented on #93
I would be interested to hack on this with someone. Has anyone made any progress?

[2019-10-11 22:13] nrempel opened #216 "investigate connection protocol problems"
reply message sent before other agent has finished setting up the connection

[2019-10-12 12:10] vaniisgh commented on #137
Hey ! I'm a complete newbie to the Hyperledger framework, though I have been reading up on it ... I look forward to contributing to it and learning as I go ... would it be ok if I took up this issue :)

[2019-10-15 07:14] ArPhil opened #220 "Loading a credential-definition by id returns a credential-definition with schema transaction id instead of schema id"
After storing a credential-definition on the GreenLight Dev Ledger provided by British Columbia (http://dev.greenlight.bcovrin.vonx.io/) by using the aries-cloudagent-python, I would like to fetch the credential-definition data from the ledger again. Therefore I use the /credential-definitions/{id} API Endpoint with a valid credential-definition ID. E.g.:

`http://localhost:10010/credential-defini

[2019-10-15 15:34] swcurran commented on #202
Corrected in release 0.3.3.  Closing Issue.

[2019-10-15 15:34] #202 closed

[2019-10-15 15:38] swcurran commented on #220
@andrewwhitehead - can you review and respond to this?  @sklump - do you have any opinion on this?

[2019-10-15 15:45] sklump commented on #220
This is the intended behaviour.

There are two acceptable forms of cred def id: long and short.

The long form arises if the issuer writes the cred def id to the ledger before retrieving the corresponding schema id (i.e., create schema, create cred def id, write both). If the agent writes the schema to the ledger, the cred def id will always have its seq number instead of the schema id. Once a cre

[2019-10-15 15:57] swcurran commented on #216
Can we add some details about this?  What's the issue?  What's the expected result?  What's the priority of this vs. other work?

[2019-10-15 16:03] swcurran commented on #194
Documentation has been added [here](https://github.com/hyperledger/aries-cloudagent-python/blob/master/AdminAPI.md#administration-api-webhooks) to get started with the webhook interface.

Closing this issue.  Since it is documentation it can always be improved, so we welcome further PRs on this and suggestions on more useful ways to document this.

[2019-10-15 16:03] #194 closed

[2019-10-15 16:08] swcurran commented on #220
Thanks, Stephen.  Hopefully that addresses the issue for now.

Not sure where this should be added to the code/docs to prevent the issue from coming up again.  Suggestions welcome.

Closing the issue.

[2019-10-15 17:48] nrempel commented on #216
@andrewwhitehead can you reliably reproduce this? If so, can you add steps to reproduce here?

[2019-10-16 08:10] ArPhil commented on #220
First of all: Thank you very much for the fast reply! :-)

Regarding your answer:

I am not sure, If you got my point here. The issue is not the credential-definition id. Since I create a schema and write it to the ledger first (checked it by using http://dev.greenlight.bcovrin.vonx.io/), the credential-definition id is always in the long format.

However, the schema id which is referenced within

[2019-10-16 13:00] swcurran commented on #220
Thanks for the follow up and that makes sense.  @sklump has stepped forward to take a look at this.

[2019-10-16 17:30] sklump commented on #220
Track https://github.com/hyperledger/aries-cloudagent-python/pull/223 for progress of this update.

[2019-10-16 18:58] andrewwhitehead commented on #216
This was happening in the IIWBook demo due to the way the webhooks and admin API interact. The controller would receive a webhook indicating that the connection had entered the `response` state (not `active`, as the mobile client never sends an acknowledgement message) and would immediately send a proof request on that connection. The problem is that the webhook is sent as the connection record is

[2019-10-16 20:56] swcurran commented on #216
Ah...hence the intermittent success in running the demo.  Can this be closed, referencing a commit?

[2019-10-17 17:42] andrewwhitehead commented on #216
@swcurran We worked around it by adding a delay. A better solution might be to add an explicit acknowledgement message in DID-Exchange and then move the logic to the 'active' phase of the connection.

[2019-10-21 19:00] swcurran opened #227 "Investigate SQL performance in current non-secrets storage and experimental version using a separate database"
Using ICOB (Indy Catalyst OrgBook), investigate the Indy/Aries storage SQL performance for the management of non-secrets data. In addition, apply the same investigation to the experimental non-secrets data storage implementation that @andrewwhitehead has done.

Determine if and what improvements can be made to the interface.

[2019-10-21 19:03] swcurran opened #228 "Remove reuse of CredRequests as used in ICOB and apply an automatic deletion policy for completed protocol state records"
Per discussions in meeting of 201.9.10.18, remove the magic code for reusing a CredRequest record for multiple Credential issuances. Once done, revise the implementation of auto-deleting completed protocol state records given that CredRequest processing is no longer being done.

[2019-10-21 19:19] swcurran opened #229 "Test and if necessary update to support using websockets as an endpoint"
Verify that if we specify websockets as an inbound transport, that we can specify that as the DIDDoc endpoint and the agent still works.

NTH - use that to test the impact of using HTTP vs. Websockets in the performance test.

[2019-10-21 20:37] dbluhm opened #230 "Present Proof Ack"
Right at the beginning of the RFC, it mentions that `ack` is adopted into the protocol for confirmation:
https://github.com/hyperledger/aries-rfcs/blob/master/features/0037-present-proof/README.md#tutorial

This adoption of `ack` is not explored in detail but it would be useful to have this implemented in ACA-Py so the holder knows more than just a final state of `presentation_sent` at the end of

[2019-10-21 21:38] swcurran commented on #230
So after receiving the proof, the verifier would send an ack back to the prover.

@sklump - does this make sense as an addition to the protocol?  Do you want to do this?

[2019-10-22 12:01] sklump commented on #230
I can take this.

[2019-10-30 03:37] swcurran commented on #137
My apologizes for the delay in responding to this--my email got backed up.  Not sure if you are still interested in this, but we'd be glad to have someone work on this.

Hopefully the documentation on ACA-Py and what a controller is gives you what you need to get started. Let us know if you have questions.

If you know Python, using "Faber" in the /demo folder might be a good way to go. If you are

[2019-11-01 17:52] nrempel opened #244 "Support new message type prefix"
Per [aries-rc issue 225](https://github.com/hyperledger/aries-rfcs/issues/225#issuecomment-545645456), the prefix of all core Aries protocols will be "https://didcomm.org", instead of the current "did:sov:BzCbsNYhMrjHiqZDTUASHg;spec". The transition approach to this change across the community has been proposed in [this PR](https://github.com/hyperledger/aries-rfcs/pull/348), which will eventually

[2019-11-02 02:26] Brownie79 opened #247 "Feature Request: Hot swapping wallets without restarting acapy"
Building scalable acapy agents requires a way to hot swap wallets without needing to restart the agent (which currently has a six second startup time).

[2019-11-04 22:12] Alexis-Falquier commented on #247
^ second this

[2019-11-04 22:20] swcurran commented on #247
Not quite sure what the use case is for this.  Could you explain a bit about what is needed?  That will better inform what is needed.

@andrewwhitehead @ianco - heads up on this request.  What changes do we need to make to support the (to be received :-) ) use cases.

[2019-11-05 01:50] Alexis-Falquier commented on #247
We are building a cloud custody solution which manages multiple wallets using aca-py.  Since aca-py is built to handle one wallet at a time, a way in which to tell aca-py to switch context from one wallet to another without the need to fully stop the agent and start it up again as the other wallet would be massively useful as scaling is currently very difficult.

[2019-11-05 01:57] Alexis-Falquier opened #251 "Aca-py storage / migration question"
I was wondering where the meta information (i.e connection-id's, credential-exchange-id's etc.) is stored (using wallet type and storage type indy)? This is useful in case one would want to migrate the wallet from one server to another and still use aca-py, that way when starting aca-py in the new server it still has all the information to act correctly.

Would simply moving the wallet file in hom

[2019-11-05 17:33] nrempel commented on #247
We chose to build aca-py in such a way that there is always a 1:1 relationship between an identity controller (wallet) and an agent.

For an agenc**y** (multiple controllers) scenario, we envision an agent for each controller and a routing agent in front of them to act as the domain endpoint.

Note that this doesn't necessarily mean that the database cannot be multi-tenant since wallet and storage

[2019-11-05 17:46] Alexis-Falquier commented on #247
@ianco I agree context switching would be great for our use case as it is more scalable. Currently the handler I built is pretty much what @nrempel described for an agency. It sets up the aca-py agent with its incoming endpoint to be the handler and gives context to which wallet the call is for and forwards it to the correct aca-py agent if its running or starts it up again if its not running. Thi

[2019-11-05 21:24] swcurran commented on #247
The questions I would have are

- How are you managing the encryption key per wallet (or more precisely I think - per identity owner)?
- How do you want to handle multi-tenancy separation?

On the former, how do you get the keys to encrypt and decypt the data per wallet?

On the latter point, could you have a single database with all the data in it, and a wallet-id flag that filters requests for t

[2019-11-06 00:29] Alexis-Falquier commented on #247
For the second question, we would rather not do multi-tenancy but rather context switching. The reason being the ability to move / migrate the wallet. e.g. if the user whose given us custody of the wallet wants to download it to be used elsewhere or to retrieve their information from us. we need to be able to do that, correct me if I am wrong, multi-tenancy would make this problematic.

for the fi

[2019-11-06 16:14] swcurran commented on #251
Right now, ACA-Py uses the Indy non-secrets storage for the metadata - connections and protocol state. There are startup options for what implementation that you want to use via the "storage" module. Currently basic and Indy storage can be used, and for Indy, either the SQLite or Postgres options - the same options that are available for the secrets storage.

I'm not certain of the details, but if

[2019-11-06 16:40] swcurran commented on #142
Moving this to backlog. Any update on this @TelegramSam ?

[2019-11-06 16:42] swcurran commented on #184
Confirming that this is done - @andrewwhitehead ?  Or cancelled?

[2019-11-06 16:44] vaniisgh commented on #137
Sounds good! I'm going through the demos and setting learning up ... It should take a me a few days but as soon as I get the hang of it I look forward to completing this task :) !

[2019-11-06 17:38] #229 closed

[2019-11-06 17:49] #191 closed

[2019-11-06 17:49] #184 closed

[2019-11-06 17:50] #228 closed

[2019-11-06 17:50] #175 closed

[2019-11-06 19:01] nrempel commented on #244
Pausing this for now since the implementation gets a bit messy.

Draft: https://github.com/hyperledger/aries-cloudagent-python/pull/253

Handling multi-step protocols require us to track which prefix to use and persist this information.

[2019-11-14 18:05] simon-wang-depot opened #267 "set request body size of basic message in aries-cloudagent"
hi gurus,

I got 413 "Request Entity Too Large" error when transferring a big message through DID connection by endpoint: basicmessage/post_connections__id__send_message. the reason is "Maximum request body size 1048576 exceeded, actual body size 11xxxxx".

does aries have the configurable parameter exposed or where is the piece of the code i can adjust it?

[2019-11-19 20:08] burdettadam opened #270 "ISO 8601 time format support."
ISO 8601 time format "u" is supported but there is no flexibility for format "s". That is
` 2019-11-18T22:20:37` vs `2019-11-18 22:20:37Z`, the difference of a T and Z. It would be nice to support more time formats.
relavent links.
- RFC specifies ISO 8601 UTC format, https://github.com/hyperledger/aries-rfcs/tree/master/features/0095-basic-message
- https://github.com/hyperledger/aries-cloudagent

[2019-11-21 16:51] burdettadam commented on #270
PR #275 added support for time format "s", no trailing Z. I am closing this issue in favor of #275 being merged.

[2019-11-21 16:51] #270 closed

[2019-11-26 17:12] andrewwhitehead commented on #220
Closed via #223

[2019-11-26 17:12] #220 closed

[2019-11-26 17:14] andrewwhitehead commented on #216
Worked around the issue. In future we may send feature-discovery as the first message, which has fewer requirements and would indicate which credential issuance protocol to use.

[2019-11-26 17:14] #216 closed

[2019-11-26 17:15] andrewwhitehead commented on #196
Closed pending updated envelope format.

[2019-11-26 17:15] #196 closed

[2019-11-26 17:16] andrewwhitehead commented on #183
Wallet size reports added to performance demo. Tagging policy was unworkable due to credential lookup restrictions.

[2019-11-26 17:16] #183 closed

[2019-11-26 17:18] andrewwhitehead commented on #154
Added via `--test-suite-endpoint` flag.

[2019-11-26 17:18] #154 closed

[2019-11-26 17:19] andrewwhitehead commented on #142
Added via #158

[2019-11-26 17:19] #142 closed

[2019-11-26 17:22] andrewwhitehead commented on #230
Closed via #232

[2019-11-26 17:22] #230 closed

[2019-11-26 17:25] andrewwhitehead commented on #104
@nrempel Do we still think this would be useful? I think it would depend entirely on what protocol is being used and would probably be more like timeout on pending requests.

[2019-11-28 16:15] WadeBarnes opened #280 "Agents can get into a bad state and not recover"
## Summary

It would appear agents can get into a bad state and continue to run in that state, stopping traffic from reaching the receiving controller.

When agents get into a bad state, they either need to recover or stop processing traffic. If it's possible to implement a health check on the agents that monitors such conditions we could wire it up in OpenShift and have the pods taken out of serv

[2019-11-28 16:19] WadeBarnes commented on #280
This issue was initial discovered yesterday.  Overnight, under load, the agents (21 Issuers, 17 receivers) got into the same state which all but stopped credential processing.

[2019-11-28 17:41] andrewwhitehead commented on #280
@WadeBarnes The first error is fixed in the refactoring branch (bad path for the problem report module). The second one is odd, when ICIA doesn't get a response to a credential offer does it send a message with the same thread ID?

[2019-11-28 19:13] WadeBarnes commented on #280
@andrewwhitehead, @ianco may be able to confirm.

[2019-11-29 18:13] #267 closed

[2019-12-05 11:40] domwoe opened #292 "Bug in Presentation Proposal/Preview?"
In [presentation_preview.py](https://github.com/hyperledger/aries-cloudagent-python/blob/1801d4af9234c3c77dd7d54413d8ce5621a0caf5/aries_cloudagent/protocols/present_proof/v1_0/messages/inner/presentation_preview.py)

requested attributes  and predicates are named with literal uuid instead of an unique name

[code]

Is this desired or is this a bug?

[2019-12-05 14:29] swcurran commented on #292
@sklump - can you please take a look at this?

[2019-12-05 16:11] sklump commented on #292
It's just a token. The `uuid` is a historical artifact of the time when these were called uuids instead of referents (circa indy-sdk <1.4-ish). As long as the referent has a unique key within the proof req, it is fine. Since the formatter takes the ordinal of the cred def id within the proof req and the attribute name, it is guaranteed unique.

[2019-12-05 17:08] #292 closed

[2019-12-06 19:53] Alexis-Falquier commented on #195
Related to this, has aca-py implemented the service decorator protocol? https://github.com/hyperledger/aries-rfcs/tree/master/features/0056-service-decorator

[2019-12-06 20:24] Alexis-Falquier opened #295 "Issuer cred_def_id randomly corrupted?"
I am going to do my best to describe this error as it is very odd.

a handful of times now we have experienced an error where a cred_def_id will suddenly become seemingly invalid. What I mean by this is that at some point it seems the cred_def_id is (for lack of a better word) corrupted (at least the cred_def_id seems to be where the issue lies), where the issuer is able to 'send' the credential b

[2019-12-06 21:10] Alexis-Falquier commented on #295
we have a new lead to a possible source for this and it might not be aca-py related. Closing for now until I can confirm it is indeed aca-py related.

[2019-12-06 21:10] #295 closed

[2019-12-09 22:03] swcurran commented on #195
We are using the ephemoral challenge with ACA-Py, where ACA-Py is in the role of the verifier.  We have an example of this you can try out with the Streetcred agent by getting a verified email credential from here, https://email-verification.vonx.io/ and using it here: https://law-society-demo.pathfinder.gov.bc.ca/.

Caveats:

- you can get an IOS Streetcred Identity Agent from the App Store
- Aft

[2019-12-10 21:31] #280 closed

[2019-12-10 22:01] andrewwhitehead commented on #160
Addressed by #250, #301

[2019-12-10 22:02] #160 closed

[2019-12-12 17:55] swcurran commented on #227
I'm going to close this issue, as it is unlikely we will go further down this path. We're going to move to the breakup of the Indy SDK into multiple components.

[2019-12-12 17:55] #227 closed

[2019-12-12 18:04] swcurran commented on #251
Closing this issue as answered.

Note that in the future implementation of the Indy-sdk/aries-sdk, storage will be separated into the KMS for keys and keys metadata, and a protected storage mechanism. Things like credentials and protocol state objects will go in the protected storage mechanism. It's possible that such a storage mechanism will make use of efforts around Identity Hubs (DIF), replica

[2019-12-12 18:04] #251 closed

[2019-12-12 18:17] swcurran commented on #195
@Alexis-Faquier - is the support we currently have in ACA-Py sufficient for your needs?  That is, the ability to use ACA-Py as a verifier using the ephemeral challenge, based on the service decorator?  We have a live demonstration of this [here](https://github.com/bcgov/vc-authn-oidc/blob/master/docs/DemoInstructions.md).

ACA-Py still does not respond to ephemeral challenges, and does not respond

[2019-12-12 18:18] swcurran commented on #104
I'm guessing that we can close this.  @andrewwhitehead - can you please confirm?

[2019-12-12 18:21] swcurran commented on #190
Closing as no longer relevant.

[2019-12-12 18:21] #190 closed

[2019-12-12 18:33] swcurran commented on #247
We talked about this a lot with Evernym's architects and some at the Aries Connectathon.  We think the solution for this is most likely to have a wallet-id to the context of the KMS/storage APISs that might:

- filter on an extra column in the data store to limit results to an individual "wallet" in the database.
- prefix table names that are referenced to access the data for an individual wallet;

[2019-12-12 18:33] #247 closed

[2019-12-12 18:34] swcurran commented on #177
@andrewwhitehead - is this still needed or can we close this?

[2019-12-12 18:38] andrewwhitehead commented on #177
It's not essential, I think we can close it.

[2019-12-12 18:38] #177 closed

[2019-12-12 18:42] swcurran commented on #10
Closing this as no longer relevant.

[2019-12-12 18:42] #10 closed

[2019-12-16 23:03] swcurran commented on #146
Work partially completed and PR #306 put in to capture the work done and listing the work to be done. Medici Ventures is planning on taking over the effort.

[2019-12-17 18:20] domwoe opened #311 "Presentation Ack missing?"
According to the present-proof protocol, the verifier should send an ACK message to the prover.

I'm using the /present-proof/send-proposal with all the auto flags enabled at the agent which leads to the following final states:
verifier: verified
prover: presentation_sent

I would expect, that the prover ends up in a different state and I can't see anything about the ack message in the logs.

[2019-12-17 20:59] Alexis-Falquier commented on #195
In our use case we also respond to ephemeral challenges, so currently the controller handles it when one comes in instead of sending it over to the acapy instance

[2019-12-20 22:58] WadeBarnes opened #313 "`aca-py` agent can duplicated `cred-defs`"
If `cred-defs` already exist in the wallet and on the ledger, and they were NOT written there by the `aca-py` agent, and the DID for the agent has the permission to write to the ledger, the first time the agent starts up it will write duplicate `cred-defs` to the ledger.

*Steps to reproduce:*
Using local (docker) instances of `von-network` ([von-network](https://github.com/bcgov/von-network)), `I

[2019-12-20 23:06] WadeBarnes commented on #313
`von-network` `indy-cli` script process is here; [Writing Transactions to a Ledger for an Un-privileged Author](https://github.com/bcgov/von-network/blob/master/docs/Writing%20Transactions%20to%20a%20Ledger%20for%20an%20Un-privileged%20Author.md)

A script following that process, for the described *Steps to reproduce* is attached; [BCReg-reg.txt](https://github.com/hyperledger/aries-cloudagent-pyt

[2019-12-20 23:19] WadeBarnes commented on #313
The code referenced here, https://github.com/bcgov/von-network/blob/master/cli-scripts/cred_def.py#L120, creates a `cred-def` in the wallet only if it does not exist, and returns the `cred-def` `json` and `id`.  If the `cred-def` already exists in the wallet it returns the `json` and `id` of the existing `cred-def`.  So something similar could be used to "search" for an existing `cref-def`.  The c

[2019-12-22 16:17] ianco commented on #313
I suggest adding a "--wallet-sync" command that specifically checks for this situation (wallet is pre-initialized with cred defs but there are no non-secrets records).  This is something we only need to run once, not something that needs to run every time the agent starts up.

[2019-12-23 12:31] sklump commented on #311
I'll take a look at this.

[2019-12-23 14:08] WadeBarnes commented on #313
`aca-py` behaves as one would expect with the `schemas`, it does not attempt to write a duplicate to the ledger.  One would expect it to behave the same with the `cred-defs`.  The end user of `aca-py` should not have to make a conscious effort to ensure the desired (expected) behavior whenever a new `cred-def` is written to it's wallet and the ledger by another process, since for many agent's this

[2019-12-23 16:38] sklump commented on #311
PR#314 fixes.

[2019-12-24 12:42] #311 closed

[2019-12-27 15:46] tmarkovski commented on #195
Ephemeral challenge is superseded (though not officially) by Presentation Protocol with support for Service Decorator. This is currently implemented and interoperable in acapy and .net framework.

[2020-01-02 16:27] swcurran commented on #195
Closing this for now.  We'd like to raise this in the Aries Working Group based on the idea of merging the invitation process with a prove challenge and any other potential request arriving with no pre-established connection. Changes to ACA-Py will follow once that is in place.

[2020-01-02 16:27] #195 closed

[2020-01-02 19:07] sklump commented on #313
I don't see how a cred def ends up in the wallet of an agent who did not issue it?

[2020-01-02 21:11] ianco commented on #313
@sklump  the cred def is created through an "endorser" process, not through aca-py.  (See the links in @WadeBarnes 's comments above.)  The aca-py DID does not have privileges to write to the ledger.

The "endorser" process creates the cred defs on the ledger and in the wallet, but it does not create the "non secrets" records that aca-py uses to look up the cred defs, so aca-py does not know the c

[2020-01-03 00:16] ianco commented on #313
... actually to amend the above, aca-py tries to create the cred def in the wallet using Indy Anoncreds, however if the cred def already exists then it appears that Anoncreds updates the existing wallet record, and then the ledger needs to be updated to match, so this results in the second cred def entry on the ledger.  Even for a non-privileged DID.

[2020-01-03 13:03] sklump commented on #313
Can the endorser process not check the ledger first via indy-sdk (e.g., https://github.com/PSPC-SPAC-buyandsell/von_anchor/blob/a88dde5659bfced2dc983ab7f89034c85edc40a9/von_anchor/anchor/issuer.py#L393) ? Or is a race condition with multiple competing endorsers trying to send the same cred def a reasonable expectation?

[2020-01-03 14:31] ianco commented on #313
It's not an issue with the endorser process, aca-py needs to check on startup (or on registration) for any existing cred defs.

[2020-01-03 15:50] sklump commented on #313
Humour me here, because I know on some level I am missing something fundamental.

If the endorser can create the cred def and write it to the wallet of the issuer, then surely it can write corresponding non-secret records as per https://github.com/hyperledger/aries-cloudagent-python/blob/6c669cf1d0ddb7701fe82a6becd1c884c485d51e/aries_cloudagent/ledger/indy.py#L563?

Then on startup, aca-py would f

[2020-01-03 15:58] ianco commented on #313
@sklump correct, that is one option.  The endorser process is currently using indy-cli (augmented with some scripts by @WadeBarnes ) but could be updated to write the aca-py records.  It doesn't handle the case where we're upgrading a von-x agent to aca-py, so that's why we're considering an alternate approach to update aca-py to handle this situation.

[2020-01-03 16:02] sklump commented on #313
Just a note that the non-secrets records are highly useful, since they allow aca-py clients to ask what cred defs are available from an issuer without having to trawl the whole ledger and filter for issuer-id. Whatever we come up with, I hope we can keep these in.

[2020-01-03 16:04] sklump commented on #313
The trouble is that without those records, an agent would have to do just that (on startup): trawl the ledger, get every transaction, keep cred defs it authored. As the ledger grows, this becomes worse and worse. There is no way to query the ledger intelligently.

[2020-01-03 23:15] nrempel opened #319 "StorageNotFound error during proof"
This error occurs during proof-request proof flow

[code]

[2020-01-04 18:08] ianco commented on #313
Tested with the attached script
[BCReg-reg.txt](https://github.com/hyperledger/aries-cloudagent-python/files/4022254/BCReg-reg.txt)

[2020-01-06 12:23] sklump commented on #313
I can't export the wallet:
[code]
Similarly for any indy-cli command.

[2020-01-06 17:45] swcurran commented on #313
@sklump - I think the basic problem is likely that the volume mounted folder that is being used is owned/writeable being created by Docker as root on Linux, and being accessed in the Docker scripts by another user. Covered here: https://stackoverflow.com/questions/47197493/docker-mounting-volume-permission-denied

Suggestion for the short term is to pre-create the folder and make it's access open,

[2020-01-06 22:18] WadeBarnes commented on #313
@sklump tagged on the fix here; https://github.com/bcgov/von-network/pull/85

[2020-01-07 17:32] sklump commented on #313
There is more to this fix to come. It appears (as Andrew noticed) that indy-sdk doesn't raise AnoncredsCredDefAlreadyExistsError anymore for cred def repeats, for starters. And checking the ledger first should change some logic after the wallet check (i.e., never check twice). So I'm refraining from approving this at the moment until I figure out what's up with indy-sdk, then I ought to take a dee

[2020-01-08 16:30] ianco commented on #313
I think the fix is:

1. Check if the cred def is on the ledger, if it's not we're good and we can create it
2. Try to create a credential offer, if successful then the cred def is in the wallet

If the cred def is in the ledger and not in the wallet, bail with a fatal error.

If the cred def is in the wallet and not on the ledger, also fatal bail (?)

If the cred def exists in both ledger and wall

[2020-01-09 13:57] sklump commented on #313
I will work on this and propose something today.

[2020-01-09 18:57] sklump commented on #313
Please have a look at https://github.com/hyperledger/aries-cloudagent-python/pull/323. I think it covers all the bases.

[2020-01-13 17:28] TimoGlastra opened #324 "attr_names in SchemaSchema class should be attrNames"
I don't know much about the internals of this project or python in general, but the [`attr_names`](https://github.com/hyperledger/aries-cloudagent-python/blob/caf0b39f8c3762a3cdc578b2343913af662a490b/aries_cloudagent/messaging/schemas/routes.py#L68) property in the `SchemaSchema` class is written in snake_case (`attr_names`) but in reality is returned in camelCase (`attrNames`).

As the property `

[2020-01-15 16:11] dbluhm commented on #319
I also noticed this but this should be fixed with #314

[2020-01-15 16:28] dbluhm opened #327 "Can webhooks be generalized? Or a different solution?"
While writing the plugin for the toolbox, I'm finding that being able to tap into the information emitted to webhooks without having to have a separate web server running to receive it would be very useful.

Would it be possible to generalize the `send_webhook` system to more of a `notify` or `observer` style system of which the webhook sender is just one consumer?

To talk through my use case in

[2020-01-17 11:41] sklump commented on #324
Schema is as defined in indy-sdk. Touch nothing.

[2020-01-17 11:44] sklump opened #329 "issue-credential protocol needs a touch-up: proposal preview, version"
Version number is moving to 1.1 to comply with semver. The code base should remove v1.0 lock-in en passant.

The preview of the credential proposal should be optional; neither issuer nor holder should assume its presence.

[2020-01-17 11:58] TimoGlastra commented on #324
I get that the schema is returned as it is defined in the indy-sdk.

The indy-sdk returns the `attrNames` in camelCase, and not as `attr_names` in snake_case. See the [Rust code](https://github.com/hyperledger/indy-sdk/blob/b418cca7c8fe6e1c5fbfc281f4b72d19a0ddc67e/libindy/src/domain/anoncreds/schema.rs#L19) and for example the [NodeJS wrapper docs](https://github.com/hyperledger/indy-sdk/blob/b418

[2020-01-17 13:24] sklump commented on #324
I will make it match indy.

[2020-01-17 15:09] swcurran commented on #329
What is the change that triggers a version change?  Is it in aries-rfcs as a version change?  If it is just that the preview in the credential proposal is optional, that is a clarification, as it was intended that way.  Note that if it is the 0036 change that Keith Smith made, we don't want to support that yet, as it is not part of Aries Interop Profile (AIP) 1.0.0. (3.0.2).

Are you make the chan

[2020-01-17 15:20] sklump commented on #329
There are two changes here. One is the version number, and I will do whatever BC likes here. The other is to make the code implement the standard, which always had the preview as optional.

[2020-01-17 15:23] sklump commented on #329
I'd like to take out the v1_0/ subdirectory and the V10 prefixes on artifacts, which I put in originally to avoid duplication with the existing v0 implementation (name collisions cause crash on startup). I can do this once aca-py removes v0 code, or at the same time.

[2020-01-17 15:27] swcurran commented on #329
OK - as we adopt AIP, and initially AIP 1.0.0 (https://github.com/hyperledger/aries-rfcs/tree/master/concepts/0302-aries-interop-profile#aries-interop-profile-version-100), we should advertise that in ACA-Py, and stick to it. AIPs indicate the specific versions of protocols to support.

For 0036 in particular, AIP 1.0.0 uses this version - https://github.com/hyperledger/aries-rfcs/tree/64e5e55c123

[2020-01-17 15:32] sklump commented on #329
Maybe keep the V10 prefixes in, but locking versions into the directory structure was a small mistake IMO. It is going to encourage sloppy copy-paste practice.

[2020-01-17 15:37] swcurran commented on #329
Your call - you folks you far, far, far better than I. :-)

[2020-01-17 15:44] swcurran commented on #329
Note, we can make clarifications in the RFCs without changing the protocol version and change the link in the AIP, if that would help. I notice that the preview being optional is not explicitly stated, but was only was intended to be.

[2020-01-17 15:59] sklump commented on #329
It _is_ stated though:
'''
credential_proposal -- an optional JSON-LD object that represents the credential data that Prover wants to receive. It matches the schema of Credential Preview.
'''
I just never got it.

[2020-01-17 16:38] swcurran commented on #329
Ah good. I scanned it and missed it 🤔

On Fri, Jan 17, 2020, 7:59 AM Stephen Klump <notifications@github.com>
wrote:

[2020-01-17 16:41] sklump commented on #329
Puzzling evidence: although it is of type preview, it is called proposal, although it is itself a component of the credential proposal message. Historical artifact.

[2020-01-17 21:58] TimoGlastra commented on #324
Yeah it seems like the casing is not very consistent and can be confusing (for me at least).

I see it is already fixed and merged. Thank you!

[2020-01-17 21:59] #324 closed

[2020-01-20 19:59] swcurran opened #334 "Investigate EDV and CHAPI to see if they might be applicable to ACA-Py/Aries in general"
A demo was recently created by Transmute that uses a proposed standard from Digital Bazaar (the Veres One folks) called Encrypted Data Vaults (EDV). An EDV uses arbitrary cloud storage to hold data that is encrypted using a DID such that the holder of the storage cannot see inside it. Decryption only occurs in the DID owner's client. Links for the demo:

Email about the demo: https://lists.w3.org/

[2020-01-20 22:15] swcurran opened #335 "Testing sending and receiving messages with multiple mediators"
In DIDComm, an agent is supposed to be able to define in a DIDDoc they give to another party a string of 0 or more mediators that will handle messages inbound to the agent. An endpoint is associated with the outer most mediator (or the agent itself if there are no mediators) and the message is passed along the string of mediators until it reaches the recipient agent, with an encryption layer remov

[2020-01-20 22:27] WadeBarnes commented on #313
#323 was re-submitted as #333

[2020-01-22 02:40] #172 closed

[2020-01-22 02:40] swcurran commented on #172
Closing for now. This will be added sometime in the future when DID-Exchange is ready.

[2020-01-22 02:40] swcurran commented on #88
Developer reported that they got this working as part of a Hyperledger Internship. Closing for now.

[2020-01-22 02:40] #88 closed

[2020-01-22 21:46] swcurran opened #337 "Change base64 decodes to retry on failure with padding"
Python's base64 library expects base64 strings to be padded.  When the string is not padded, Python throws an error. Please update all instances of base64 decoding to retry decode failures with padding as necessary.

Thanks

[2020-01-23 17:30] swcurran opened #340 "Checking encoded value vs. raw when verifying a presentation"
Per https://github.com/hyperledger/aries-rfcs/issues/391, please add support for verifying that the raw and encoded values match.

~~Because of the intricacies of the Aries Interop Profile versioning, I'd like to know what the impact would be of adding support for version 1.1 of [credential proposal in 0036](https://github.com/hyperledger/aries-rfcs/tree/master/features/0036-issue-credential#propo

[2020-01-23 18:06] sklump commented on #340
The changes in v1.1 of the credential proposal are nothing to do with encoding. The v1.1 changes allow for a proposal of a credential without the holder needing to know the cred def id. I believe v1.1 is still missing `schema_issuer_did` as a criterion. I've raised it here https://github.com/hyperledger/aries-rfcs/issues/370.

Closing up the raw/encoded bait-and-switch is a totally separate issue.

[2020-01-23 19:21] swcurran commented on #340
I understand that the 1.1 issues have nothing to do with encoding. It's how we handle the AIP versioing that I'm trying to get a handle on with the second part of this.  As such, I'm trying to understand the impact of implementing 1.1 so we can make another decision on that as a community.

I'll make it a separate issue and remove it from here.

[2020-01-23 19:25] swcurran opened #341 "Evaluate effort and impact of implementing 0036 Credential Proposal V1.1"
Because of the intricacies of the Aries Interop Profile versioning, I'd like to know what the impact would be of adding support for version 1.1 of [credential proposal in 0036](https://github.com/hyperledger/aries-rfcs/tree/master/features/0036-issue-credential#propose-credential). The change is outlined [here](https://github.com/hyperledger/aries-rfcs/tree/master/features/0036-issue-credential#11

[2020-01-23 22:56] swcurran opened #342 "Prepare and release ACA-Py 0.4.1"
Please include work up until now, plus:

- required: PR #240 (please merge it)
- required: PR #338
- required: PR #336
- optional: PR #333
- optional: PR #339

As well, we need the issues raised in [Aries RFCs 391](https://github.com/hyperledger/aries-rfcs/issues/391) resolved and included.  Needed for ACA-Py are updates to the presentation verification (checking raw vs. encoded) and possibly the

[2020-01-23 23:22] swcurran commented on #341
@andrewwhitehead Can please take a quick look at this issue and reply with a comment that answers my questions?

Thanks

[2020-01-24 12:08] sklump commented on #342
The encoding algorithm has been present from day 1: https://github.com/hyperledger/aries-cloudagent-python/blob/401a82b10a33accd391b465f902dddc98da81803/aries_cloudagent/issuer/util.py#L9

Any change to it will break every aca-py and every indy-cat-agent credential in history. No pressure.

[2020-01-24 15:59] swcurran opened #343 "Execute Step 1 of the transition from DID-based message types to HTTP ones per RFC 0348"
Aries messaging is going to transition from using "did:sov:...;spec/" as the namespace prefix on message type strings to using "http://didcomm.org/". The transition process is documented [here in a community transition RFC](https://github.com/hyperledger/aries-rfcs/tree/master/features/0348-transition-msg-type-to-https) that allows frameworks to migrate to the new format independently.

Please rev

[2020-01-24 16:01] swcurran commented on #343
Assigning to you Nick since you looked at this already. Not a priority now, but needs to be done by early Feb.  When you want to work on something easy, you can do this.  Note the limited scope of the first step.

[2020-01-24 22:45] WadeBarnes commented on #313
I've finished testing on the RC image, `bcgovimages/aries-cloudagent:py36-1.11-1_0.4.1-rc1`, containing the changes in #333.  The updates address the described issues.

[2020-01-24 22:47] swcurran commented on #313
w00t!!! Go forth and LOAD!

On Fri, Jan 24, 2020 at 2:45 PM Wade Barnes <notifications@github.com>
wrote:

--

Stephen Curran
Principal, Cloud Compass Computing, Inc. (C3I)
Technical Governance Board Member - Sovrin Foundation (sovrin.org)

*Schedule a Meeting: **https://calendly.com/swcurran
<https://calendly.com/swcurran>*

[2020-01-28 15:34] sklump commented on #341
The business logic is already in place.

What's left is to change the `PROTOCOL_URI` to read `1.1` instead of `1.0` in `message_types.py`, and/or to change the V10 prefixes all over everything, which prevents duplicate names with the bronto-protocol, then finally to rename the subdirectory (subpackage) from `v1_0` to `v1_1`. I don't know whom that affects though.

Since any v1.0 proposal, other th

[2020-01-28 15:36] sklump commented on #340
PR#344 has the verifier check for tamper evidence before submitting to indy-sdk for verification.
https://github.com/hyperledger/aries-cloudagent-python/pull/344

[2020-01-28 15:45] sklump commented on #341
What I can do is duplicate the v1_0 subpackage into a v1_1 subdirectory, which I'll submit in a PR for evaluation.

[2020-01-29 16:32] #313 closed

[2020-01-29 17:11] swcurran commented on #337
Addressed with change in #338

[2020-01-29 17:11] #337 closed

[2020-01-29 17:12] swcurran commented on #340
Resolved. The existing ACA-Py encoding algorithm is the same.

[2020-01-29 17:12] #340 closed

[2020-01-29 17:14] swcurran commented on #319
Closing this issue - addressed with #314.

[2020-01-29 17:14] #319 closed

[2020-01-30 12:33] sklump commented on #329
https://github.com/hyperledger/aries-cloudagent-python/pull/347 addresses.

[2020-01-30 19:06] swcurran opened #351 "Running test and production instances of ACA-Py on AWS or other cloud platforms"
We'd welcome documentation contributions in this repo about running ACA-Py instances on cloud platforms.  Ideally the document would include simple test instances and more robust production instances.  For the former, a simple tutorial would be a good start.  For the latter, we would like to get sample configurations, shell scripts, architectural drawings and guidance to make deployments robust.

[2020-01-30 19:16] santacruzm commented on #351
Hello! My team and I would like to get more information on this issue and are interested in looking into it! Can we pick it up?

[2020-01-30 19:32] swcurran commented on #351
You bet! We know a lot about running ACA-Py on OpenShift (Red Hat's Kubernetes distro) and may be able to help if you want to discuss.  We don't know AWS that well, so that's where we (and others could use help).  I'm thinking of a folder in the repo as a start.

Thanks!!

[2020-01-30 22:17] swcurran commented on #351
Note from Hyperledger Rocketchat from sebastillar (eSatus, I think):

[2020-01-31 17:09] Alexis-Falquier opened #352 "transaction author vs endorser"
There are some clarifying questions about the Transaction Author - Endorser flow that I have about aca-py:

1. how does a transaction author make the calls to aca-py to make a schema or cred defs without sending them to the ledger but then be able to send them off to an endorser to write on the ledger?

2. how does an endorser receive said calls to sign and then publish on the ledger on behalf of

[2020-01-31 17:25] swcurran commented on #352
I'll leave @Andrew Whitehead <andrew@1crm.com> to provide a full answer on
this.  He's looked into that before, and the work he has been doing on
indy-vdr has enabled some very useful capabilities in that area.

My thought is to keep separate the "normal" operation of ACA-Py and the
places where writing to the ledger is needed - e.g. provisioning DIDs,
schema and credential definitions.  Those are

[2020-02-01 11:36] domwoe opened #358 "Use of public DID in connection"
I'm wondering what would be the downsides of using the public DID for connections in case of an agent that acts mainly as an issuer.

I think this could be useful to be implemented as an option to the create and receive invitation endpoints.

[2020-02-03 16:13] swcurran commented on #358
That is a viable option that I think is (or should be) included in the 0160-Connections and 0023-DID-Exchange RFCs. Rather then waiting for an invitation, an agent that learns of an issuer's public DID can just send a connection/did-exchange "request" message using the endpoint and keys from the DID. For example, a verifier receiving a verifiable credential issued by an issuer the verifier has nev

[2020-02-03 16:39] domwoe commented on #358
@swcurran Thank you for your reply.

In ACA-Py it is already possible to use the --public-invites flag. This allows to send a connection request message using the endpoint and keys from the DID. However,  on receiving this message ACA-Py will still create a new pairwise DID for this connection. That's why I'm wondering if there are strong reasons to do this or if there should be an option to use t

[2020-02-03 16:58] swcurran commented on #358
Ah.  That gets into a rabbit hole that has been discussed, but not resolved.

There are a number of people that want to allow an agent to use a public DID for all connections (and a number that don't). The technical challenge right now is that based on the data available to the receiver, there is no way to tell which sender sent the message. The public key of the receiver's DID is used by the rece

[2020-02-03 21:14] #342 closed

[2020-02-03 21:16] andrewwhitehead commented on #358
@swcurran ACA-py uses the sender verkey when it's available to identify the connection, so in most cases except for anon-packed messages.

[2020-02-04 02:52] swcurran commented on #358
If that's the case, it should work.  Interesting.  There was a discussion on the aries-rfcs about this that AFAIK did not get resolved.  See this issue: https://github.com/hyperledger/aries-rfcs/issues/239

I believe that is the same topic, right?

[2020-02-04 21:12] nodlesh opened #360 "Aries Agent Test Harness determining Compliance with Aries Interop Profile 1.0.0 for Agent Builder"
AS AN [Aries Cloud Agent-Python (ACA-Py)](https://github.com/hyperledger/aries-cloudagent-python) Agent Builder, I WANT to run a series of tests, SO THAT I can determine compliance with [Aries Interop Profile 1.0.0](https://github.com/hyperledger/aries-rfcs/tree/master/concepts/0302-aries-interop-profile)

### Acceptance Criteria
**Scenario:** Agent Builder creates agent and gets compliance report

[2020-02-05 17:33] #360 closed

[2020-02-05 17:33] nodlesh commented on #360
Closing issue in this repository to open it in the Test Harness repo.

[2020-02-05 22:45] swcurran opened #361 "Update the Alice/Faber OpenAPI (Swagger) demo to show webhooks, remove automation"
A good issue for anyone familiar with the /demo examples.  I think the code changes are simple, but happy to discuss.

Update the OpenAPI demo behaviour and script to handle manually all of the connection, issue and prove events via the OpenAPI (Swagger) UI. In conjunction with changing the steps to be done, invoke the demos/run_demo script with two new options:

`run_demo --no-auto --events alice

[2020-02-05 23:00] swcurran commented on #352
Good discussion on this today on the ACA-Pug call. So it's entirely separate from what I talked about above. Even if you do split out initialize vs. operations (which is still likely a good idea), you still have to write the transactions and it would be good to be able to use ACA-Py to do that vs a half manual sequence of scripts.

As @TelegramSam said, this is likely a protocol with the roles "au

[2020-02-05 23:55] swcurran opened #362 "Add option to prevent writes to the ledger"
Add a start up option that would disable the ability of the agent to write to the ledger.

This can be used in an operational agent that should not be writing to the ledger.

Please suggest a behaviour for handling a request to write to the ledger when the option is used.

[2020-02-05 23:56] swcurran commented on #362
@andrewwhitehead and @ianco please discuss if this makes sense and how to apply it.

@WadeBarnes has details on the urgency.

[2020-02-06 01:32] swcurran commented on #93
This is now done. Work is currently in https://github.com/petridishdev/aries-acapy-controllers and will be moving to Hyperledger soon.  Great work done by @amanji!

The structure created is such that more controllers can be added - either tied to the demo agents or not.

Closing this issue.

[2020-02-06 01:32] #93 closed

[2020-02-06 19:02] ianco commented on #362
Adding a "--ledger-read-only" parameter to prevent *any* ledger writes.

Two comments on this one:

1.  I don't think preventing ledger writes will solve the problem, because there will still be one agent with an incorrect endpoint

2.  Aca-py will throw an exception if a ledger write is attempted when in "read only" mode, so the calling controller will still have to handle the scenario of connect

[2020-02-06 20:09] swcurran commented on #362
The point is not to solve this problem - it has to be solved a different
way.  The point is to not do unexpected ledger writes.  The provisioning
app should do all of the writes to make things ready, the operational app
can operate with everything in place.

When things aren't in place, we have to solve how to make them right.

On Thu, Feb 6, 2020 at 11:02 AM Ian Costanzo <notifications@github.com

[2020-02-07 15:01] dgunseli opened #365 "Push notification outbound-transport with message pickup protocol"
Currently we are working on a native mobile edge agent solution. For informing mobile applications about any messages from agent, we are planning to use push notifications. For that reason we implemented a basic outbound-transport. It is working.

But the problem is, agent messages reach push notification data limit easily. Than we decided implement a message store&pickup protocol according to  [R

[2020-02-07 19:15] matgnt opened #366 "Websocket "Webhook" not working"
Hi all,

from the code in `server.py` I found that websockets are a way to receive push notifications. I very much like this idea! After playing around with it a little, I could only receive the very first message after I connected to the `/ws` endpoint. 1 message on the "settings" topic. Right after this message, the connection got closed.

After debugging `aca-py` a bit, I can locate the issue n

[2020-02-07 19:54] swcurran commented on #366
@andrewwhitehead - can you please take a look at this?  Thanks!

[2020-02-07 21:26] swcurran opened #367 "Create a "NOTICES" file for ACA-Py that references all dependencies and their licenses"
Generate a list of all dependencies used in the ACA-Py code base, determine the licence for each, and then construct a NOTICES file to be added to the route of the directory. This file is a requirement for Open Source projects.

Here is an example of a NOTICES file from another Hyperledger project:

- https://github.com/hyperledger/sawtooth-core/blob/master/NOTICES

Guidance from Apache on how to

[2020-02-08 17:06] ianco commented on #362
Aca-py updates are done, to separate the provisioning steps into "aca-py provision" and to make "aca-py start" by default "read-only" (with respect to the ledger) https://github.com/hyperledger/aries-cloudagent-python/pull/364

Corresponding updates to the docker-compose files for indy-catalyst and BC Reg agent are in PR's in their respective repo's

Note that I added a "--dev-provision" flag (i.e

[2020-02-09 01:17] amanji commented on #361
Hi @swcurran I'm happy to take this one on. I'm walking through the code to get an idea of the demo workflow with `--auto-accept-invites` and `--auto-accept-requests` off. Is there any other documentation that I should checkout?

[2020-02-09 01:21] swcurran commented on #361
Cool. Unfortunately, there is not a lot.  The existing demo is here: https://github.com/hyperledger/aries-cloudagent-python/blob/master/demo/AriesOpenAPIDemo.md

The idea would be to run either or both agents (e.g - https://github.com/hyperledger/aries-cloudagent-python/blob/master/demo/AriesOpenAPIDemo.md#running-the-faber-agent) with the new options and then add in the extra steps in the story t

[2020-02-09 23:49] amanji commented on #361
@swcurran I have gone through the demo with the `--auto-..` flags turned off. There are parts of the `issue_credential` workflow that are not controlled with those flags.

For example:

When Faber sends a credential offer there is a an `auto_issue` request body parameter that needs to be set to false, otherwise the credential will automatically be issued to Alice,  who then has to explicitly store

[2020-02-09 23:52] swcurran commented on #361
We need to get @andrewwhitehead or @nrempel involved in this.  I'll try to touch base with Andrew tomorrow to review this and connect with you.

Were you able to make the --events option work and was it useful?  I would think that would be a generally useful, if somewhat noisy capability.  How did it work?

This is awesome!  Thanks!

[2020-02-09 23:59] amanji commented on #361
I haven't implemented that part yet. Was hoping to get the documentation completed first (which I was able to at least for establishing a connection). Based on the issue description for the `--events` flag, I'm guessing you're looking for something like an event logger that gets enabled which prints out methods/webhooks that we're called? Please, correct me if I'm wrong here.

[2020-02-10 00:13] swcurran commented on #361
Yes.  If I am going to write a controller, and I'm using the Swagger API to learn about the endpoints available for me to call, I'm going to want to see the content of the events I receive. Presumably, a lot of the data I need to use in responding is going to be in the event data I receive.

Does that make sense?

[2020-02-10 00:20] amanji commented on #361
Im just wondering since the Agent modules imports a `logger` package we could just use that to print out relevant information in the Agent/Alice/Faber runner methods? I was thinking along the lines of a sort of debug info level option that is turned on when the `--event` flag is set. Perhaps I can fill in those methods with calls to the logger. I'd have to take a look at the documentation for that

[2020-02-10 15:38] kristiehunter opened #372 "Demo Architecture Question"
Hi,

I have a question about the demo architecture that I was hoping I could get some clarification on.

In the documentation there's a clear separation between the Controller API inside the Agent and the Controller Logic outside the agent.  In the recording of walking through this demo, the instructions are that the "Controller" never communicates with the ledger, but one of the first thing the C

[2020-02-10 16:00] swcurran commented on #372
Good questions.  The intended design of an ACA-Py based agent is as outlined in the recording - the controller is external to the ACA-Py instance and can be in whatever language you want.  The demo does muddy that up a bit by making the ACA-Py instance a child process of the controller.  In all of the "real" implementations, the controller is external and often written in whatever language makes s

[2020-02-10 16:30] kristiehunter commented on #372
Fabulous, thanks!

[2020-02-10 16:30] #372 closed

[2020-02-12 22:56] swcurran commented on #343
Don't forget this one, @nrempel ! :-)

[2020-02-12 23:00] swcurran commented on #361
@amanji - I that might work.  Could it have unintended consequences. E.g. if you associate the webhook data to be displayed when the "debug" level is set, and the "--event" is the equivalent of turning on debug, wouldn't you get lots of other "debug" events?  Does `logger` allow for specified logging type names?

[2020-02-12 23:40] swcurran commented on #361
Also, I checked with Andrew on the --auto... stuff above.  He checked and he think it looks right.  Perhaps not all of the auto options were removed?

From Andrew:

[2020-02-14 19:54] OR13 commented on #358
You mean the publicKey thumbprint / fingerprint is used? or the did publicKey.id? or the full publicKey bytes?

the term `public` in front of DID seems unnecessary, these connections are built on the did document data model right?

the did is either resolvable or its not, whether its publicly resolvable is irrelevant no?

[2020-02-14 21:58] swcurran commented on #358
@OR13 - there are two ways to use the invitation mechanism to establish a connection starting from the invitation (which is an out-of-band message). One is to have an inline service block to which the next message in the sequence is to be sent.  The second is to provide a public DID (one that is globally resolvable) and a service block from the resolved DID can be used.  The follow up message is a

[2020-02-15 03:31] amanji commented on #361
After reading the Logger documentation there are basically three possible approaches:

1. Create a custom logging level but for events
2. Creating a custom filter or handler for event logs
3. A named `Logger` instance that strictly handles event logs

The first creates additional log levels that deviate from the established standard levels. The second will require filtering through all logs or cre

[2020-02-15 05:54] swcurran commented on #361
Agree that third sounds best.

On Fri, Feb 14, 2020, 7:31 PM Akiff Manji <notifications@github.com> wrote:

[2020-02-19 18:46] swcurran commented on #362
This was completed using the "--read-only-ledger" flag added to the startup parameters.

[2020-02-19 18:46] #362 closed

[2020-02-23 23:51] #366 closed

[2020-02-25 19:49] swcurran commented on #334
Reassigning to @andrewwhitehead, as he is likely to have a little more time for this :-).

[2020-02-25 19:50] #361 closed

[2020-02-25 20:29] swcurran opened #386 "Shepard aries-acapy-controllers repo into Hyperledger"
@WadeBarnes, please work with @amanji to shepard the movement of this repo directly into Hyperledger.  This is not a BC Gov repo, so no need to have it stop there.

There is a PR to be reviewed/revised/merged which should be done first, and it would be great if you could verify DCO and activate the DCO bot. Once that and anything else you think is needed, please help @amanji and Ry (from Hyperledg

[2020-02-26 17:02] WadeBarnes commented on #386
Preparations complete.  Coordinating transfer.

[2020-02-26 17:33] WadeBarnes commented on #386
Transfer complete; https://github.com/hyperledger/aries-acapy-controllers

[2020-02-26 17:33] #386 closed

[2020-02-29 20:00] swcurran opened #393 "Running straight Alice/Faber demo gives "Proof=false" result"
We've got a bug in the Alice/Faber demo that I'd like to get addresses ASAP.  Perhaps the version of the Indy SDK?

[code]

[2020-02-29 20:02] swcurran commented on #393
@andrewwhitehead - please take a look when you can.

This is on master.

[2020-02-29 20:05] swcurran commented on #393
The error is from the pre-verifier - possibly on the canonicalization phase.  Maybe the proof request being passed in has a case mismatch with the returned proof?

https://github.com/hyperledger/aries-cloudagent-python/blob/7d0a21bd8fd3c8eb5b1e639fbd8b0f387eaa6774/aries_cloudagent/verifier/indy.py#L21

[2020-03-02 01:31] #393 closed

[2020-03-03 17:00] sklump commented on #367
I can take this.

[2020-03-04 11:40] #367 closed

[2020-03-04 14:46] sklump commented on #200
verifier/indy.py pre_verify() checks now.

[2020-03-09 16:59] swcurran opened #407 "Test revocation with Streetcred"
Please try out using ACA-Py revocation with Streetcred, to see if that is supported in the mobile app. If the proof is still sent to the other side, can the ACA-Py verifier detect the lack of a proof of non-revocation?

Please document the process so that I can try it with OSMA as well, and share the steps with other mobile agent makers.

Include any UI comments that you have about what could chan

[2020-03-10 19:51] swcurran opened #409 "Add support for minor version handling"
In aries-rfcs issue [407](https://github.com/hyperledger/aries-rfcs/issues/407), it was agreed that there were rules that frameworks should support around the handling of minor versions of a protocol:

1. Minor versions can only include the addition of new fields and the continued semantic meaning of existing fields. When a change violates those conditions, a new major version is required.

2. An

[2020-03-10 21:32] swcurran opened #410 "Add support for separating revoking a credential and posting an update to the ledger rev-reg (aka bulk revocation)"
The current implementation of revocation in ACA-Py triggers an update to the ledger (the Revocation Registry) each time a credential is revoked.  A common use case we expect to see used is the batching of revocations into a single ledger update on a periodic basis - e.g. hourly, daily, etc.

This issue is a request to enhance ACA-Py so that a controller can have separate mechanisms to revoke crede

[2020-03-11 11:36] sklump commented on #410
I can take this on once I complete unit test coverage for what we already have.

[2020-03-13 19:55] nodlesh opened #418 "ACA-Py Agent throwing 500 internal server error for 3rd agent reusing a single use invite"
#### Issue
With a single use invite, and that invite has already been used to establish a connection with Alice(inviter) and Bob(invitee). If Mallory attempts to use that invite to initiate a connection with Alice, Alice will respond with a 500 internal server error to Mallory.

#### Steps to Reproduce
##### Scenario: Inviter Sends invitation for one agent second agent tries after connection
[code

[2020-03-13 22:28] swcurran commented on #418
We're working on having the Aries Agent Test Harness (where this issue was found) available, but in the meantime, it would be nice to get this issue fixed.  The following should work for this -- I think it is the easiest way:

- Follow through the non-revocation steps of the mobile agent demo stopping at establishing a connection between Faber and a mobile agent.  Steps are [here](https://github.c

[2020-03-15 22:04] swcurran opened #419 "Exception in Faber ACA-Py instance when executing the credential send"
Following the instructions (currently being revised) for the OpenAPI/Swagger demo, the issue credential `send` worked (200 response, credential exchange record sent), but there was an exception visible on the Faber terminal session:

[code]

[2020-03-15 22:26] swcurran commented on #419
This is happening on the "issue" call and looks to be a problem in ACA-Py. The state of the exchange is in `request-received`, meaning that the `issue` step did not happen.  Trying the `issue` again causes the same error.

[2020-03-15 22:36] ianco commented on #419
"Provided credential values are missing a value for the schema attribute"

You need to make sure all of the attributes in the schema are included in the credential.

[2020-03-15 22:39] swcurran commented on #419
Got it - the timestamp is indeed missing.  Must have been added when the revocation work went in?  I'll give it a try again.  Thanks.  I had checked the schema, but not very carefully :-).  Missed the extra field.

I'm updating the instructions so will fix from there.

[2020-03-15 23:16] swcurran commented on #419
Resolved.  Thanks!

[2020-03-15 23:16] #419 closed

[2020-03-15 23:22] swcurran opened #420 "Proof not verifying in the OpenAPI demo"
When doing the proof, Faber does the send and Alice gets it and seems to process it entirely (the exchange record is gone), but Faber has it still in request sent state and the verify fails.

Any ideas?

[2020-03-16 15:21] ianco commented on #420
Can you attach the proof request that you are sending?

[2020-03-16 15:30] swcurran commented on #420
It was the one from the instructions, with changes as specified - the connection_id and cred_def_id. The only change was the addition of the comment, line 2 below.

[code]

[2020-03-16 15:32] ianco commented on #420
It works when you just run the alice/faber scripts, connect and then pick option "1" to send a credential and then "2" for a proof request, so there's prob just an issue with one of the fields.

I'll try it out

[2020-03-16 15:34] swcurran commented on #420
It's weird that it gets a chunk of the way through - seemingly all of
Alice, but does not progress on the Faber side.  Extremely possible it was
just me doing something...

On Mon, Mar 16, 2020 at 8:32 AM Ian Costanzo <notifications@github.com>
wrote:

--

Stephen Curran
Principal, Cloud Compass Computing, Inc. (C3I)
Technical Governance Board Member - Sovrin Foundation (sovrin.org)

*Schedule a M

[2020-03-16 15:34] ianco commented on #420
Yes that's what I suspect! :-D

... but the proof request you sent looks ok ...

[2020-03-16 15:36] swcurran commented on #420
That's copied from the course, so it's not the exact one.  Sorry - should
have said that.  But I'm guessing that anything wrong with the Proof
Request would have shown up in the Alice events/terminal.

On Mon, Mar 16, 2020 at 8:35 AM Ian Costanzo <notifications@github.com>
wrote:

--

Stephen Curran
Principal, Cloud Compass Computing, Inc. (C3I)
Technical Governance Board Member - Sovrin Foundatio

[2020-03-16 15:53] sklump commented on #420
Was revocation on? If so, this is the tails file non-download bug.

[2020-03-16 16:21] sklump commented on #410
Here's a meagre design sketch. I think where I go from here is a prototype.

I may have misunderstood the exercise: Andrew was talking about doing it at the indy level. Regardless, I'll get something together to show what's possible with the current state of the art.

https://drive.google.com/open?id=1U6oRQgTF98Avu8OnGNnvjvMe-eBtYnsW

[2020-03-16 16:55] ianco commented on #420
Tested, everything works for me:

[code]

[2020-03-17 03:06] cyrilhl commented on #147
You can find out the list of state in here:
https://github.com/hyperledger/aries-cloudagent-python/blob/10db5494597568eaf1b59c7de3327a7e7ffe6b02/AdminAPI.md

For step by step API DEMO, I suggest you to read the API Demo document:
https://github.com/hyperledger/aries-cloudagent-python/blob/master/demo/AriesOpenAPIDemo.md

[2020-03-17 15:29] swcurran commented on #147
Lots has been done on improving the OpenAPI demo.  Closing this issue.

[2020-03-17 15:29] #147 closed

[2020-03-20 18:44] matgnt opened #427 "Websocket webhook not working with --admin-api-key enabled"
Hi all,

I'm using the websocket webhook to receive changes from aca-py, e.g. new connection invitations and I pretty much like this feature :-)

Unfortunately after activating ```--admin-api-key```, websocket can't connect any more. Reason: the ```server.py``` middleware code correctly checks for the http header ```x-api-key```
Problem is, that with (builtin) Javascript ```WebSocket()``` there is

[2020-03-20 20:46] swcurran commented on #427
@andrewwhitehead @nrempel -- please take a look and help out with this one.

Thanks!

[2020-03-20 21:15] swcurran opened #428 "ACA-Py Admin endpoint for revoking a credential"
The initial implementation of the revocation in ACA-Py is that the to revoke a credential, the controller invokes this endpoint:  `/issue-credential/records/{cred_ex_id}/revoke`.  Given the credential exchange ID, the necessary data to revoke a credential (the rev_reg_id and the cred_revoc_id) can be collected and the revocation executed.

However, in "normal" operation of an ACA-Py wallet, the cr

[2020-03-23 18:38] nrempel opened #430 "Use new anoncreds.generate_nonce function for proof requests"

[2020-03-24 11:02] sklump commented on #428
I can take this on later this week

[2020-03-24 22:58] swcurran opened #433 "Support revocation for small volume (>100,000) credential scenarios"

[2020-03-24 23:33] #244 closed

[2020-03-24 23:33] #430 closed

[2020-03-25 16:33] swcurran opened #434 "ACA-Py Interoperability"
Issues related to increasing ACA-Py interoperability across the the Aries community using Indy and other ledgers and VC formats.

[2020-03-26 20:54] nrempel opened #436 "Performance demo fails with error"
Running the performance demo fails with the following error repeatedly:

[code]

[2020-03-26 21:08] swcurran commented on #436
@andrewwhitehead please investigate and fix.

[2020-03-26 21:09] swcurran commented on #436
See this discussion @sklump had on HL Rocketchat -  https://chat.hyperledger.org/channel/aries-cloudagent-python?msg=ooMJDZE4tqBtxiSQS

The fix is in the discussion.

[2020-03-26 21:38] swcurran commented on #436
Resolved with #437

[2020-03-26 21:38] #436 closed

[2020-03-26 23:39] swcurran opened #438 "Rationalize the logging in ACA-Py"
While the team building ACA-Py has been pretty good at maintaining the logging, there is some inconsistency in the handling of logging.  This task is to formalize the logging approach across the board, and then to do a pass through the code ensuring that the logging statements match the intention of the approach.

The first part (formalizing) is likely just creating something like a "logging.md" t

[2020-04-01 13:07] sklump commented on #433
There is no reason in principle why aca-py as it stands won't scale to 100000 credentials, say 100 revocation registries of 1000 credentials each. What does this item entail?

[2020-04-01 13:08] sklump commented on #410
Can we close this one? It's in master now.

[2020-04-01 13:08] #410 closed

[2020-04-02 19:34] nacerix commented on #438
I am interested in working on this issue.

[2020-04-02 19:50] swcurran commented on #438
Assigned to you @nacerix -- thanks.  Please let us know if you have any questions.

Please look at the contributor guidelines and especially make note of the need to DCO sign off every commit.  That is a requirement with all Hyperledger repos.  Much worse if you find out about that later. :-)

[2020-04-02 21:12] james-cohen opened #444 "ConnectionManagerError when establishing initial connection between agents on local aca-py"
I've been trying to run agents locally outside of the demo and have been struggling to get them to connect initially. Had no problems running the Faber-Alice demo and was able to customise their web handlers and work correctly with no issue. I have a few ideas of what it might be but don't know how to solve it in any case.

Here is how I've been attempting to run it:

1) Setting up dockerised Von

[2020-04-03 07:33] euroledger opened #446 "Some Minor Issues with the Acme Demo Workshop"
I have been working through the "Acme Controller Workshop"

To get the pasted code to work I had to do a number of things that are not documented in the workshop:

Add import statements:
`import random`
`from uuid import uuid4`
`from datetime import date`

Also it looks like the CredentialPreview class is not available to demo code. So I had to comment out the use of this class for the option 1 (I

[2020-04-03 13:02] sadeghd opened #448 "Incorrect endpoint to store credential in Aries OpenAPI Demo"
In "Aries OpenAPI Demo", section "Alice Stores Credential in her Wallet", we are requested to call endpoint POST /credential-exchange/records/{id}/store but it does not exist. It should be POST /issue-credntial/records/{cred_ex_id}/store as is shown in the figure below the instructions.

[2020-04-03 20:27] nacerix commented on #438
sure, I will do

[2020-04-05 23:12] swcurran commented on #448
This has been addressed in a recent update to the demo - PR #450 .  Hopefully it will be merged soon after you get this.

Thanks for the note.

[2020-04-05 23:12] #448 closed

[2020-04-05 23:15] swcurran commented on #446
Thanks for the note.  As we've evolved the ACA-Py library, we've been keeping Alice and Faber up to date, but not focusing on poor old Acme.  A PR to fix this would be great (nudge, nudge).  We should move the "complete answer" into this repo vs. having it in the @ianco repo.

Glad to hear you got through it!

[2020-04-06 00:28] swcurran commented on #433
This is an epic (in ZenHub) term that captures the various issues and PRs needed to support revocation.  Small volume is indeed relative - I was thinking as opposed to 4.5M citizens receiving a credential from the government (or way more for larger jurisdictions).  I thing if we keep tails-files to the 2-4MB range that would be good. Just ran a couple of tests and a 5k credentials tail file is 1.6

[2020-04-06 16:14] euroledger commented on #446
Sure I can do that. :-)

[2020-04-07 08:25] euroledger commented on #446
Created a pull request, pending review for the above changes. I hope I followed the procedure correctly for forking, creating branches etc. I did remember to use the DCO signoff flag. Please let me know if there's anything fishy.

[2020-04-07 17:40] swcurran commented on #428
@sklump, @andrewwhitehead  - the other objects on the ledger (DIDs, schema, cred def) have an ACA-Py admin endpoint that is "list the <object> entities created on put on the ledger" that takes no arguments and returns a full list.  Should there be an endpoint like that for Revocation Regs?  I'm not sure there should, I was just noticing that when playing with the OpenAPI. It's easy to just get a C

[2020-04-08 12:41] nacerix commented on #438
Some proposals to start the discussion:
1- Print is not a good idea
2- Use Python standard logging module to:
  - You can control message level and filter out not important ones
  - You can decide where and how to output later
  - Write logging records everywhere with a proper level
3- Write logging record everywhere with appropriate level and configure them later.
  - What is the appropriate leve

[2020-04-08 16:15] swcurran commented on #438
Definitely agree on 1 :-) - that's one we want to be sure to eliminate.

I think the rest of your points are correct but leave it to the devs to both confirm and add guidance as to what is in place now and what we want to have.

@andrewwhitehead @nrempel -- can the two of you add your $0.02CDN to help kickoff this task?

[2020-04-08 16:46] swcurran commented on #446
@ianco - can you please review this and the PR that was provided related to this?

Thanks!

[2020-04-08 21:02] andrewwhitehead commented on #444
It's not clear that the Faber agent is receiving any requests from Alice at all. You could try increasing the log level for one or both of the agents using `--log-level debug`. What is it you're trying to do ultimately?

[2020-04-08 21:54] james-cohen commented on #444
The aim is to set my own agents up independent of the demo pre-configurations in order to develop a specific application for credential distribution.

Turned log-level debug on and acts in the same way as previously described. However, within a few seconds both agents show the same log:

[code]

Does this help explain anything?

[2020-04-08 21:59] andrewwhitehead commented on #444
That's all ledger-related and normal, there's a few seconds of keepalive for the ledger connection.

I just noticed that your endpoints don't have `http://` in front of them, that might make a difference.

[2020-04-08 22:13] james-cohen commented on #444
Ah, embarrasingly it did make a difference... After the same process both agents status' are at 'response' but not progressing to 'active' Interestingly they can both send messages to each other now even though their connection status isn't set as 'active'. Am I missing a step still?

[2020-04-08 22:32] andrewwhitehead commented on #444
The connection status should be automatically promoted to active after any incoming agent message. If you reload the connections list and it's not, that's probably a bug.

[2020-04-08 22:33] swcurran commented on #444
My favourite complaint about the Connections protocol.  There is no "ACK" after the "response" message, so there is no way to know if the connection is complete.  Sigh.

We're going to fix that with DID-Exchange!

[2020-04-08 22:35] james-cohen commented on #444
Indeed it has. Many thanks for your help

[2020-04-08 22:57] swcurran opened #454 "Add link to RFC commit used to implement the protocol; provide method to print"
Add to the protocol definition file a field to hold a link to the commit of the RFC upon which the protocol was implemented.

As well, provide a mechanism to print the list of protocol links - perhaps an admin UI call, or a startup option that prints the list of protocols, version information and RFC links.

[2020-04-11 15:41] nacerix commented on #418
I would like to work on this issue. This is to me a good excuse to understand the acapy code

[2020-04-11 16:50] swcurran commented on #418
You got it.

[2020-04-11 18:17] nacerix commented on #418
Thx

[2020-04-15 19:06] nrempel commented on #438
Thanks for picking this up @nacerix!

I agree with all of your points. We use the python logging module and normally make it available like this: https://github.com/hyperledger/aries-cloudagent-python/blob/master/aries_cloudagent/protocols/present_proof/v1_0/manager.py#L42

We allow setting of log level with a command-line parameter when you start the process but it is also possible to ingest a py

[2020-04-15 19:51] nrempel opened #459 "Enforce Black formatted code"

[2020-04-15 20:43] #459 closed

[2020-04-16 10:07] sklump commented on #428
I can write this up and submit it for review and we can decide then.

[2020-04-16 16:32] sklump commented on #428
https://github.com/hyperledger/aries-cloudagent-python/pull/461 provides. I think it's a good addition: the search can specify states too, in case an operator needs to audit full rev regs, canvass active rev regs etc.

[2020-04-18 10:09] james-cohen commented on #444
Sorry, new issue on this same topic!

I then tried the same setup with Dockerized agents and ran into the same error but this time with a different setup:

[code]
and
[code]

This creates the same error as before when trying to accept the invitation:
[code]

This time I managed to partially solve the issue by changing the endpoint to my local IP address, which now allows the status to go to active

[2020-04-18 11:18] james-cohen commented on #444
Apologies, just realised that the endpoint needs to be the Docker bridge network. Same issue persists though with endpoint set to 172.17.0.1 although now this error appears during the connection setup on both agents

[code]

Is this to do with no webhooks being established?

[2020-04-19 00:01] nacerix commented on #418
From the connection manager point of view, this case correspond to a request for a non existent invitation (either that invitation has already been used or it has never existed).

So my questions are the following:
- is it ok to return a 'request_not_accepted' error for a connection request with an invitation that has never existed? If yes then my proposal is to change the 'receive_request' method

[2020-04-21 05:29] andrewwhitehead commented on #444
There is no default behaviour when receiving a BasicMessage (what the send-message endpoint sends). The Alice and Faber agents have controllers that receive the webhook for that message and print it out, your controller would need to do the same.

[2020-04-21 10:47] sklump opened #468 "Restore credential admin-API functionality less credential-exchange"
Demo in particular cannot get credential to show details. Later this week I will restore get/list/delete functionality for credentials. The old credential-exchange (v0.1) stuff can stay away.

[2020-04-21 18:26] #468 closed

[2020-04-22 16:28] nrempel opened #471 "Run black --check as part of test local suite"

[2020-04-22 16:29] nrempel opened #472 "Update each of the versioned protocols with links in code to respective RFC"

[2020-04-22 16:29] nrempel opened #473 "Identify inter-protocol dependencies that require refactor/abstraction"

[2020-04-22 16:31] nrempel commented on #473
This search shows all the instances where specific protocol versions are being imported directly: https://github.com/hyperledger/aries-cloudagent-python/search?q=%23+FIXME%3A+We+shouldn%27t+rely&unscoped_q=%23+FIXME%3A+We+shouldn%27t+rely

[2020-04-23 22:04] swcurran opened #477 "Make the credential preview a required part of the issue credential/credential offer message"
ACA-Py's `issue-credential` implementation was written according to Aries RFC [0036](https://github.com/hyperledger/aries-rfcs/tree/master/features/0036-issue-credential). When we wrote it, we made the assumption that the `credential-preview` item in the `credential-offer` message was optional. In reading the RFC, there is no indication that the item is optional. We need to fix that.

Task: To ens

[2020-04-23 22:35] andrewwhitehead commented on #477
On a related note, the /offer endpoint currently requires a credential_preview parameter, but the preview should already be specified on the credential exchange at that point.

[2020-04-23 22:57] swcurran commented on #477
@andrewwhitehead - not sure I understand that:

- since `/offer` is often the first message in a credential exchange, how would it be specified at that point?
- Even if the `credential-proposal` has a `credential-preview`, it is the issuer that is the authority on what will be issued.  The 'offer' should never take what is in the `proposal`.  The controller might do that, but ACA-Py should never a

[2020-04-23 23:48] andrewwhitehead commented on #477
I meant /issue not /offer. The email verification controller was using /send-offer with no preview (and no auto-issue), then following up with /issue once the request was received.

[2020-04-24 11:17] james-cohen opened #478 "Ability to recognise original issuer of credential when stored?"
When credentials are stored in the wallet there doesn't seem to be a human-interpretable identifier of who originally issued it. This is present in the credential exchange record as the connection_id which can then be cross referenced with 'their_label' in active connections, but this record is purged when the credential is stored.

The public DID of the creator of the schema/credential definition

[2020-04-24 23:18] sklump commented on #477
I can look into this first thing Monday.

[2020-04-26 14:26] osancus opened #480 "No permission message on aca-py architectural deep dive video"
How can i access this video?

https://zoom.us/recording/play/Pr-gdxAUVciy7MtPE9tkNAuSLT_Pl_NEYMeW2XxQRitjXtQajl3X5y7L_A1CCRee?autoplay=true&startTime=1563894122000

[2020-04-26 14:46] swcurran commented on #480
Please try it again and let me know.  Zoom reverted all recordings to private unless explicitly shared, so I've reshared that one to be public.

Thanks!

[2020-04-26 14:54] osancus commented on #480
I just tried it again, Still not working.

[2020-04-26 15:11] swcurran commented on #480
I've published it on YouTube here: https://youtu.be/FXTQEtB4fto  The link works but the video is still being processed as I write this - stuck at 95%. Hopefully it will complete soon.  I'll check back in a bit.

I'll update the links soon.

[2020-04-26 15:13] osancus commented on #480
Thanks, Stephen. Cheers!

[2020-04-27 14:08] sklump commented on #477
I hate to be that guy, but I'm looking at the code in issue-credential/v1_0/routes.py and I don't see anything that goes against the spec. The preview is mandatory or optional where the RFC says so.

Where is the email verification controller? What should I be fixing please?

[2020-04-27 14:44] swcurran commented on #477
The email-verification server has been fixed.  We're trying to prevent controllers from making errors in the future.

The concern is with the "offer-credential" message, where the preview should be required but evidently is not (since the email-verification-service wasn't sending it).  Is there a verification check that the preview data is being included in the message?

I'm also concerned that th

[2020-04-27 19:02] sklump commented on #477
https://github.com/hyperledger/aries-cloudagent-python/blob/4290bda59fa255efb61a7d419c2d9c14013fb16c/aries_cloudagent/protocols/issue_credential/v1_0/routes.py#L147

https://github.com/hyperledger/aries-cloudagent-python/blob/4290bda59fa255efb61a7d419c2d9c14013fb16c/aries_cloudagent/protocols/issue_credential/v1_0/routes.py#L432

It's mandatory. My advice is to try again with the middleware patch,

[2020-04-27 19:02] sklump commented on #477
(Obviously the preview from the proposal should not be authoritative - it's effectively self-asserted)

[2020-04-27 19:26] sklump commented on #477
... there is some logic in the manager that could use a going-over. If the controller bypasses the routes and engages the manager directly, it could skip the preview. I think that logic is extant from days long gone by. I will take a look first thing in the morning.

[2020-04-27 23:47] swcurran commented on #477
I assume this is not much help, but here is the [PR 45](https://github.com/bcgov/indy-email-verification/pull/45) that fixed the issue in the indy-email-verification app.

My concern about the proposal -> offer flow is if a dev accidentally/lazily gets the cred preview from the proposal via the "cred_ex_object" rather than it having to come from the controller.  I don't want ACA-Py enabling that b

[2020-04-28 10:02] sklump commented on #477
Thanks - I will still go over the logic in the manager, it may be the case that it allows for optionality where the routes don't (anymore).

[2020-04-30 14:12] naman20sharma opened #488 "ConnectionRequest message validation error while connecting from mobile app"
### Trying to establish a connection using the instructions given in AliceGetsAPhone.md
Using https://github.com/hyperledger/aries-mobileagent-xamarin Application and **Play with Docker** for running web Agent(Faber).

After scanning the QR code from the mobile app, following error is thrown in docker-playground terminal and leaves the connection in 'Negotiating' state in the mobile application.

[2020-04-30 14:25] ianco commented on #488
Can you provide the connection request message that is sent from the mobile agent?  (Hint: if you run faber with the `--events` flag it will print all events)

The error seems to relate to a missing attribute (`label`) somewhere.

Here is the reference in the rfc:  https://github.com/hyperledger/aries-rfcs/tree/master/features/0160-connection-protocol#1-connection-request

[2020-05-02 23:20] Riff451 opened #489 "NotImplementedError when running aca-py start on windows (add_signal_handler)"
Hi all, I've installed the agent locally with pip and I'm now trying to run it with this command. I'm not sure this is the correct command as I've just started learning about the project. I'm using the genesis file for the Sovrin BuilderNet.

[code]

The error I've got is:

[code]
Apparently in Windows the `loop.add_signal_handler()` is not available:
https://docs.python.org/3/library/asyncio-plat

[2020-05-04 09:17] naman20sharma commented on #488
After using `--events` flag I'm getting following event (wrt reference of connection request)

`EVENT: Response from POST /connections/create-invitation received:
{
    "connection_id": "64a83f07-bd95-410c-a99f-7d710f3741c7",
    "invitation": {
        "@type": "did:sov:BzCbsNYhMrjHiqZDTUASHg;spec/connections/1.0/invitation",
        "@id": "ef27df42-1664-492f-add8-83554cb1d313",
        "service

[2020-05-05 15:03] sklump commented on #478
The data structure comes from indy-sdk.

If an application want to store supplemental metadata, I think this logic ought to go in the controller.

[2020-05-05 15:06] sklump commented on #477
https://github.com/hyperledger/aries-cloudagent-python/pull/484
addresses residual dead code that could have allowed bypassing the preview.

[2020-05-05 15:36] swcurran commented on #478
Interesting question and answer.

For data portability purposes, I think that @james-cohen is correct that this information is needed in the credential.  The community has not spent a lot of time on the portability issue -- other than to make it a required feature of the overall architecture.

I don't think whether Indy supports it or not should not be the driving principle in this case, because c

[2020-05-05 16:39] lucasmori opened #492 "Can't Access Administration API Route aca-py swagger"
Hi guys!

I tried to start an aries agent using aca-py command, with a very basic params like this:
[code]
I get the follow errors:

![image](https://user-images.githubusercontent.com/31638574/81091189-3ebd6800-8ed5-11ea-8fd8-e44756032377.png)

And when I try to access that `http://0.0.0.0:11000/api/docs/swagger.json` in browser i got connection reset.

I don't know how to solve that.

[2020-05-05 18:08] swcurran commented on #492
You are missing at least the `--wallet-type indy` to get an indy wallet (storage) in place.

[2020-05-05 18:11] lucasmori commented on #492
I included this param, and now this error:
![image](https://user-images.githubusercontent.com/31638574/81100330-be056880-8ee2-11ea-8105-de003f8cb696.png)

[2020-05-05 18:28] ianco commented on #492
If you're running local you need to `pip install libindy` plus whatever else is installed in the base docker image, there are lots of dependencies.

[2020-05-05 18:37] swcurran commented on #492
There are some "running locally" instructions, with this on getting the requirements - https://github.com/hyperledger/aries-cloudagent-python/tree/master/demo#installing-prerequisites

[2020-05-05 18:48] lucasmori commented on #492
Cool, I tried to run in docker running this command
[code]
And that was the result:
![image](https://user-images.githubusercontent.com/31638574/81103620-ae3c5300-8ee7-11ea-9547-25274f2d7d35.png)

But I can't access `http://0.0.0.0:5100`

[2020-05-05 19:13] guilherme-funchal commented on #492
Hello Lucas!

1)Initially you must start the von-network with the commands :

cd von-network
./manage build
./manage start

To see the von-network, you can access in the browser http://127.0.0.1:9000/

2)After that, you can execute the following command in the script directory of aca-py:

cd aries-cloudagent-python/scripts/

PORTS="8080:8080 7000:7000" ./run_docker start --wallet-type indy --seed

[2020-05-05 19:25] lucasmori commented on #492
Hey Guilherme!

Thank you very much, I follow your steps and I was successful. My agent is now running!

[2020-05-05 19:27] #492 closed

[2020-05-05 19:29] guilherme-funchal commented on #492
Oi Lucas, trabalho no SERPRO, tenho participado de algumas reuniões com o pessoal do CPqD. Se  precisar ajuda estou a disposição.

[2020-05-05 20:20] lucasmori commented on #492
Oi Guilherme, trabalho com soluções blockchain no CPQD. Obrigado pela ajuda!

[2020-05-05 22:03] swcurran commented on #418
Sorry for the lack of response.  We got deep into building a demo and then had the IIW conference. Just getting back to whatever the our current "normal" is :-).

My $0.02CDN is the following, but those with a deeper security bent might want to disagree (which I'm fine with!).  @andrewwhitehead @TelegramSam  Obviously, this could be a way to bombard the agent with bogus requests, each getting a re

[2020-05-08 01:09] martinporopat opened #496 "./run_demo faber Invalid library state"
Hi,
When I run "./run_demo faber", I got the error:

Faber      |   File "/home/indy/aries_cloudagent/wallet/indy.py", line 188, in create
Faber      |     ) from x_indy
Faber      | aries_cloudagent.wallet.error.WalletError: Exception while performing indy operation: Error: Invalid library state
Faber      |   Caused by: Can't derive key
Faber      |   Caused by: Sodium pwhash failed

"./run_demo

[2020-05-08 14:46] swcurran commented on #496
Very strange since the demo is running on docker.  Is your docker version up to date?  Space?  I just run it on the latest code in the repo (master branch) and all good.

[2020-05-08 21:55] Riff451 commented on #489
Hi, I realized that this is running on Windows only inside a docker linux container. So... yeah, that was a stupid question. Sorry about that :)

[2020-05-08 21:55] #489 closed

[2020-05-11 08:24] naman20sharma commented on #488
@ianco The issue was resolved, the mobile-agent wasn't registering the "agent name", and the "their-label" property of the python-agent was null. After I added the agent-name in mobile-agent, the issue was resolved and the connection was established.

[2020-05-11 08:24] #488 closed

[2020-05-13 12:28] Shweta-hlf opened #505 "aries-cloudagent-python - how revocation works?"
Using open rest api demo,Bank agent has created cred_def_id using "support revocation=true" and then created new revocation-registry and update it into tails file and publish this to ledger.Now bank agent  issues credential to customer.Credetial is saved into customer wallet with cred_Rev_id.Now  Bank wants to revoke issued credential from Customer.but cred_rev_id is with customer credential.
How

[2020-05-13 13:33] swcurran commented on #505
The Bank must save the ID somewhere that it decides.  This is data that the Controller would save in a database -- it shouldn't be kept in the Bank's agent storage. Typically, it would be stored in the bank's account tracking system.

[2020-05-13 15:20] Shweta-hlf commented on #505
Thanks a lot Stephen for your quick reply....!!!
Here Cred_rev_id is auto incremented when credential issue.I am not able to customize with new value by using "cred_rev_id" or "revocation_id" while sending credential.

[2020-05-13 17:50] sklump commented on #505
Cred rev id is not customizable. It is an index into a tails file.

[2020-05-13 17:54] sklump commented on #505
The issuer agent generates the Revocation registry identifier with the revocation registry. It is not customizable either.

[2020-05-13 17:56] swcurran commented on #505
Not sure about this, but should the algorithm for selection of a credential be more complex than incrementing from one?  E.g. are we potentially leaking metadata if we give out the indices in order.

I'm asking -- not sure.  Obviously tracking gets much more difficult if we don't just increment through the registry.

[2020-05-13 17:58] andrewwhitehead commented on #505
We don't have a choice given the interface in the current indy-sdk. It could be something to look at in future revocation designs.

[2020-05-13 19:11] sklump commented on #505
It is just an identifier. There is no reason why it should be anything other than an index. There is nothing wrong with an increment. Tails files are public, there is no sensitive data leaking here.

[2020-05-13 21:57] Alexis-Falquier opened #506 "Error: Credential definition is on ledger default but not in wallet default"
I got this error which I have not seen before. The cred def in question has been created before but I am not able to get it from the ledger. When calling schemas/created I get the schema id. But when I call the same on credential definitions it returns empty. If I try to create the credential definition again I get this error:

aries_cloudagent.ledger.error.LedgerError: Credential definition <cred

[2020-05-13 22:02] swcurran commented on #506
That's normal behaviour on Indy, I'm afraid.  You must keep the cred def in the wallet and in sync with the ledger entry to be able to use it.  As I understand it, there are private keys associated with the public keys on the cred def, and you can't recreate a cred def.

[2020-05-15 09:43] krzosa opened #508 "Is there a way to preview changes made to the code without restarting the agent?"
Is it possible to reload changes made to the plugin or code itself without restarting entire agent instance(live reload)? So far I had to restart the agent and reconnect every time I made a change in code which is not very efficient. Could someone perhaps lead me to a better workflow?

[2020-05-15 14:16] Alexis-Falquier commented on #506
Got it, so these keys that associate the wallet with the cred def are separate than the keys associated with the public DID? For some reason I thought that as long as the wallet held the public DID it could use the cred-def

[2020-05-15 14:38] swcurran commented on #506
Yes - they are separate and created at Cred Def creation time. It's often a source of frustration - you can recreate a DID from a seed, but no such luck with a Cred Def.  Once you create a Cred Def, the ledger and wallet must persist for it to continue to be useful.

[2020-05-15 14:53] Alexis-Falquier commented on #506
Got it, thanks for the info Stephen!

[2020-05-15 14:53] #506 closed

[2020-05-18 13:42] swcurran commented on #508
@andrewwhitehead @nrempel @sklump -- have any of you implemented live reload in your development flow?  Great to get some docs on that.

[2020-05-18 13:42] swcurran commented on #505
Closing this as answered.

[2020-05-18 13:42] #505 closed

[2020-05-18 13:45] swcurran commented on #496
Have you tried this again?  Any other information?  Googling doesn't give much on the error.  Perhaps providing how you started up the session - what you did to create the repo, build and deploy.

[2020-05-18 13:46] #480 closed

[2020-05-18 14:23] swcurran commented on #478
[Issue](https://github.com/hyperledger/aries-rfcs/issues/479) opened in the Aries RFCs repo about this. We could also open an issue to track this information in the new Aries Storage repo that is underway -- I'm not sure where that is though.  I don't think we should change the current indy-wallet-based implementation we have now, and as such, for now the only solution is that the controller track

[2020-05-18 14:23] #478 closed

[2020-05-18 14:24] swcurran commented on #477
Closing issue.

[2020-05-18 14:24] #477 closed

[2020-05-18 14:36] swcurran commented on #473
@nrempel -- could you outline what is the fix for these instances?  Can we dynamically import the correct version of the protocol?  Or is there some other way to maintain these?

@sklump -- any thoughts on this?  This is a byproduct of the "proper handling of major/minor" versions of protocols.  We now declare what version of a protocol we support via the plugin registry.  Can we use that to handl

[2020-05-18 14:44] swcurran commented on #472
@nrempel - please add some detail about where these changes are to be made in ACA-Py?  How do we mechanically apply this.  Would it be possible to have all of the links in a single place?

Also, I note that this is a comment.  I think it would be useful to have this as a data value, so that it could be referenced in code -- specifically in the Swagger API.  As part of reviewing the Swagger API, li

[2020-05-18 14:49] swcurran commented on #471
@nrempel -- has this been implemented?

[2020-05-18 14:50] swcurran commented on #454
Linked to #472

[2020-05-18 14:50] #454 closed

[2020-05-18 14:52] swcurran commented on #446
Merged

[2020-05-18 14:52] #446 closed

[2020-05-18 14:54] #444 closed

[2020-05-19 06:19] Shweta-hlf commented on #505
Thanks a lot for your answer.Cred_Rev_Id is stored into holder wallet while issuer has revocation id (same as cred_rev_id) will get from /issue-credential/records.

[2020-05-19 10:52] sklump commented on #473
I am taking few hours here to look into this and come up with a document.

[2020-05-19 13:15] jceb opened #512 "Internal Server Error when running the routing messages demo"
git version: 2e874b905d8626151ec61c02c9a7b687174c8849

I ran the performance demo with the following settings and it crashed with an internal server error. The demo runs successfully without the `--routing` switch:

[code]

[2020-05-19 13:20] swcurran commented on #512
@andrewwhitehead -- please take a look at this one.

[2020-05-19 16:12] nrempel commented on #473
There are a couple approaches I can think of:

Perhaps a particular protocol simply depends on another protocol of a certain version. In this case, we could keep the direct imports, or maybe go through some sort of protocol resolution abstraction, and add some validation around the protocol dependencies.

Or maybe every direct import could be bubbled up into its own abstraction. For example any re

[2020-05-19 16:29] nrempel commented on #471
Partially. Some PR notes I need to consider and look at a different implementation.

[2020-05-19 17:11] sklump commented on #473
https://drive.google.com/open?id=1_eA6FtMv-gqh0o8c8h6wskWR_DOE7PwB

Use symbolic links: per protocol for current version, per major version for current minor version. Link to current version from unversioned protocols, link to most recent minor version for major version matching versioned importer's reckoning (typically, v1->v1, but v0->v1 for introductions). Anyway, that's my thought.

[2020-05-20 13:41] sklump commented on #473
https://github.com/hyperledger/aries-cloudagent-python/pull/514 provides a working implementation.

[2020-05-20 13:43] sklump commented on #472
What would you think of putting this into `message_types.py` per version, as (say) `SPEC_URI`? This seems natural and least intrusive to me.

[2020-05-20 14:30] matgnt commented on #427
@swcurran I now created a pull request for option 1. Anything I can help with to get this merged?

[2020-05-20 16:49] nrempel commented on #427
Hi @matgnt, sorry about the delay.

Your implementation looks good as far as I can tell. However, I agree about the security concern with passing the api key in the url which is generally bad practice.

I think the best solution will be to open the connection and for the server to wait for an api key message. This isn't as easy as adding a query parameter though.

That being said, if you are using

[2020-05-20 21:28] martinporopat commented on #496
Hi,
Now its working after I added asyncio.sleep(3) in some places:

https://github.com/hyperledger/aries-cloudagent-python/blob/116ea5dc5ba750537ae74303d3b9322b97378f86/demo/runners/faber.py#L162

https://github.com/hyperledger/aries-cloudagent-python/blob/116ea5dc5ba750537ae74303d3b9322b97378f86/demo/runners/support/agent.py#L574

https://github.com/hyperledger/aries-cloudagent-python/blob/116ea5

[2020-05-21 14:49] sklump commented on #472
Working implementation: https://github.com/hyperledger/aries-cloudagent-python/pull/516

@swcurran could you click on the various links in the tags of the admin API and see that they're correct?

[2020-05-21 14:54] ducadellaforcoletta opened #517 "Connection Invitation parameter wrong handling"
A server error: "ConnectionManagerError: Cannot use public and multi_use at the same time" during the invocation of the admin api /connection/create-invitation with public=true and multi=false.

The invitation is correctly created if the multi parameter is not provided.

Looking to the code, seems that the input parameter is managed as string, when provided, and the checks always pass as true even

[2020-05-21 15:30] sklump commented on #517
OK, I can take a look at this

[2020-05-21 16:50] sklump commented on #517
Current master fixes, since commit 0c154494924adda2a3dd41eb7c98068009884f13

[2020-05-21 17:10] #517 closed

[2020-05-21 17:36] nrempel opened #518 "Internal server error when running without --wallet-type indy"
For example, I run the software like this:

`PORTS="5000:5000" ./scripts/run_docker start -it http 0.0.0.0 8000 -ot http --admin 0.0.0.0 5000 --admin-insecure-mode --seed 255h235iu2yg354uiyg234i5iu2yg54i --endpoint http://localhost:8000 --genesis-url http://test.bcovrin.vonx.io/genesis`

Then I call `POST` `/schemas`

The server response is:

[code]

The following error is produced in the logs:

[

[2020-05-21 17:43] nrempel opened #519 "Internal server error when running without --endpoint"
When running the software without an endpoint configured (no `--endpoint` option passed on startup), an unhelpful error is produced when trying to accept an invitation.

The following command is used to run the server:
`PORTS="5000:5000" ./scripts/run_docker start -it http 0.0.0.0 8000 -ot http --admin 0.0.0.0 5000 --admin-insecure-mode --seed 255h235iu2yg354uiyg234i5iu2yg54i --wallet-type indy --

[2020-05-21 17:48] nrempel opened #520 "Internal server error when creating schema with no attributes"
When trying to create a schema, if you send a data structure with no attributes the server will respond with:

[code]

Server logs:

[code]

It should instead catch the error and respond with a more helpful message and appropriate HTTP status code.

[2020-05-21 18:00] nrempel opened #521 "Improve response messages and http status codes in admin API"
With regards to aca-py error handling I've created a couple tickets as examples of the kinds of cases we should handle better:

https://github.com/hyperledger/aries-cloudagent-python/issues/520
https://github.com/hyperledger/aries-cloudagent-python/issues/519
https://github.com/hyperledger/aries-cloudagent-python/issues/518

These are just examples though. These sorts of cases are all over the pla

[2020-05-22 14:39] Howlla opened #522 "demo/runners/performance.py fails with --routing flag"
the error can be found in line 299
[code]
It can reproduced by running

$ LEDGER_URL=http://greenlight.bcovrin.vonx.io ./run_demo performance --routing

I think it should be replaced with json.dumps

[2020-05-22 15:22] sklump commented on #522
Sorry, my mistake. I'm on it.

[2020-05-22 15:41] nodlesh opened #524 "ACA-Py Admin API throwing 500 internal server error when issue-credential send-offer is sent with an incorrect cred_ex_id"
### Issue

When using the Issue Credential Protocol, the Admin API calls that take a cred_ex_id return a 400 internal server error when the id is not proper, that is either ill formed, or properly formed but invalid.

### Steps to Reproduce
Just simply run the issue-credential send-offer though the Admin API in code or even in the Swagger web interface

### Outcome

500 Internal Server Error\n\nSe

[2020-05-25 09:13] matgnt commented on #427
Hi @nrempel

thanks for the feedback! Yes, I'm using `WebSocket` from the browser.

I now created a [commit](https://github.com/boschresearch/aries-cloudagent-python/commit/d2dca06248362f15755e8d0145f76d3500eceb58) with a basic option 2 implementation - still with rough edges ;-)

It basically does the following things:
1. Exception for the /ws path from middleware logic that closes the connection

[2020-05-25 15:38] swcurran commented on #524
@sklump - could you take a look at this when you get a chance?  Given the work you did on the API, I'm thinking that you would be best to understand the scope of this issue.  Is this a one-off or at least a relatively rare issue, or is there a need for a systemic handling of these types of issues?  What's the best approach?

[2020-05-25 16:33] sklump commented on #524
I'll get to it later this week. It fits more generally into Nick's omnibus error audit.

[2020-05-26 13:37] #522 closed

[2020-05-26 17:47] sklump commented on #520
I'll take this among an overall error case polishing on messaging/schema/.

[2020-05-26 18:29] nrempel commented on #427
@matgnt so I think we should not support connections from a web browser by design. In any scenario, if a controller connects to the agent from the browser, the API key will be exposed to the end-user. Whether by a network call to retrieve the key or having the key hard-coded in the HTML or Javascript, it will always be exposed.

Can you share a bit more about what you are trying to accomplish?

[2020-05-26 20:24] matgnt commented on #427
@nrempel Good that you ask, yes, the api key is exposed to the user.

It started as a system like a "developer playground" where developers can easily spawn new agents and connect to them to e.g. issue credentials and "play" with SSI. Only thing missing is notifications when, e.g. new invitations are in the queue.

I see different options to solve this problem:
1. poll the agent (from the frontend

[2020-05-27 13:11] sklump commented on #520
Included in https://github.com/hyperledger/aries-cloudagent-python/pull/527

[2020-05-27 14:03] Alexis-Falquier opened #529 "acapy kills itself if it's not run in a shell where the TAA acceptance response can be typed via keyboard"
As the title says, when trying to run aca-py if the TAA cannot be accepted on startup via keyboard input it shuts down. Considering there is a way to accept the TAA via the admin API is there a way to make aca-py start without the TAA command line acceptance mechanism?

[code]

[2020-05-27 14:13] matgnt commented on #427
I've created a new pull request #528 with a message structure to send the api key and test cases for both cases: authentication via header and via websocket message content.

Let me know if I can help with anything.

[2020-05-27 18:20] lijiachuan1982 opened #530 "500 Error when store credential offer into wallet"
Hi all, I encountered one error when I tried to store the new issued credential(generated via /issue-credential/send) into the wallet via /issue-credential/records/{cred_ex_id}/store, below is the error in log:

[code]

[2020-05-28 10:20] RimAbdallah opened #532 "Error when constructing revocation state -Invalid len of bytes representation for PoingG2"
I am trying to present proof of a revoked credential, here is my proof presentation:
[code]

[2020-05-28 16:33] sklump commented on #518
The ledger provider depends on the wallet type to provide an indy ledger -- the fix is to specify the wallet type but the fundamental error is that there is no ledger available. There may be other ways (in future) to trigger this condition. Hmmm.

[2020-05-28 17:34] sklump commented on #518
https://github.com/hyperledger/aries-cloudagent-python/pull/533
addresses

[2020-05-31 19:09] mahendra-panchal opened #535 "unable to receive `state = credential_acked`"
I have issued credential to my subject.

On my subject webhook (agent), I have traced all the state till credential_received.. next I am waiting for state=credential_acked to get credential_id.

when and how I will get credential acknowledgement.?

[2020-05-31 19:31] mahendra-panchal commented on #530
Hi @lijiachuan1982,

You passing wrong `credential_exchange_id`

You have to pass `credential_exchange_id` received from `${AGENT_URL_DOCKER}/issue-credential/records/${credential_exchange_id}/send-request`.

Basically, I am tracing credential_exchange_id, when my webhook detect `state=credential_received`. then able to store the credential into wallet succesfully.

[2020-06-01 00:02] lijiachuan1982 commented on #530
hi @mahendra-panchal , thanks for your reply, firstly from the holder side, I used "/issue-credential/records" to query all of current available received credentials, then there is only the one offer received, and I used the credential_exchange_id `"credential_exchange_id": "f3ecc01c-e8b3-47e7-82e2-e3779d4b91b2"` in that object, and post it to holder's "http://OpenAPI/issue-credential/records/f3ec

[2020-06-01 08:46] msjeong482 commented on #535
Do you store the received credential?
You should store the credential in holder, then issuer and holder are communicate with ack.
Also you can set the agent option(--auto-store-credential, default: false), then the set agent is working to store the received credential after receive credential from issuer.

[2020-06-01 18:22] ianco opened #538 "Pool error: "Pool with the same name is already opened""
Agent gets into a state and fails with this error on every request.

Expectation:  Agent should be able to recover from this error.

2020-06-01 18:20:53,140 indy.libindy WARNING _indy_loop_callback: Function returned error
2020-06-01 18:20:53,140 aries_cloudagent.core.dispatcher ERROR Handler error: credential_exchange_store
Traceback (most recent call last):
  File "/home/indy/.pyenv/versions/3.6

[2020-06-01 18:35] sklump commented on #538
I can look into it tomorrow morning

[2020-06-01 23:14] swcurran commented on #532
This issue was resolved with PR #531 --- please confirm or reopen if still an issue.

[2020-06-01 23:14] #532 closed

[2020-06-01 23:16] swcurran commented on #529
@andrewwhitehead - thoughts on this?

[2020-06-02 03:19] msjeong482 commented on #532
Maybe you may enter the wrong input.
Check a format 'additionalProp1' in attribute 'requested_predicates'.
See your proof presentation:
  "requested_attributes": {
    "additionalProp1": {
      "revealed": true,
      "cred_id": "d3d34e11-dc0c-4e0f-89c9-725d5fcbf13c"
    }
  },
  "trace": true,
  "requested_predicates": {
    "additionalProp1": {
      "cred_id": "d3d34e11-dc0c-4e0f-89c9-725d5fcb

[2020-06-02 10:19] sklump commented on #532
For posterity:
Send GET /revocation/registry/{rev_reg_id}/tails-file to the issuer to download the tails file. Also, your proof request needs a non_revoked non-revocation interval as per https://github.com/hyperledger/indy-sdk/blob/6ecf3dded79fde74206ec0939d2dda179784768c/wrappers/python/indy/anoncreds.py#L1127.

[2020-06-02 12:24] sklump commented on #538
Could some external code run this call inside an `async with ledger:` block?

[2020-06-02 13:37] sklump commented on #535
The holder does not receive an acknowledgement. The holder sends an acknowledgement to the issuer. The end state for the credential exchange is,
* for the issuer: "credential_acked"
* for the holder: "credential_received".
Note that by default, aca-py deletes credential exchanges once the exchange completes - specify `--preserve-exchange-records` to retain them.

[2020-06-02 22:45] RimAbdallah commented on #532
thank you for your help

[2020-06-03 05:50] msjeong482 commented on #535
You can see that the state is set V10CredentialExchange.STAKE_ACKED (equals "credential_acked") after receive the credential ack from issuer.
In source: https://github.com/hyperledger/aries-cloudagent-python/blob/master/aries_cloudagent/protocols/issue_credential/v1_0/manager.py?#L678